Repository ministryofjustice/modernisation-platform, pull requests merged in 2020-11, with the labels that each got.

#78 Remove duplicate headings that GitHub creates
  docs/alliance.md
  docs/index.md
  docs/team.md
Labels: team

#79 Configure variable for homepage_url for repositories, and set it for the core repo
  terraform/github/main.tf
  terraform/github/modules/repository/main.tf
  terraform/github/modules/repository/variables.tf
Labels: enhancement

#82 Update repository descriptions to match README
  README.md
  terraform/github/main.tf
  terraform/github/modules/repository/main.tf
  terraform/github/modules/team/main.tf
Labels: documentation

#89 Add other GitHub team members into Terraform
  terraform/github/modules/team/main.tf
  terraform/github/versions.tf
Labels: enhancement

#90 Change check-environment-definitions to only run on PRs that change something in environments/**
  .github/workflows/check-environment-definitions.yml
Labels: enhancement

#92 Allow secrets to be set via Terraform
  terraform/github/main.tf
  terraform/github/modules/repository/main.tf
  terraform/github/modules/repository/variables.tf
Labels: enhancement

#96 Fix spelling mistake
  terraform/github/main.tf
Labels: bug

#97 Fix spelling (minutees -> minutes)
  README.md
Labels: documentation

#98 Add README for environment definitions
  environments/README.md
Labels: documentation

#100 Update READMEs
  README.md
  terraform/README.md
  terraform/templates/README.md
Labels: documentation

#101 Change public to core
  terraform/github/main.tf
Labels: documentation

#99 Rename global-resources to modernisation-platform-account
  terraform/github/main.tf
  terraform/global-resources/README.md
  terraform/modernisation-platform-account/README.md
  terraform/modernisation-platform-account/baselines.tf
  terraform/modernisation-platform-account/dynamodb.tf
  terraform/modernisation-platform-account/iam.tf
  terraform/modernisation-platform-account/locals.tf
  terraform/modernisation-platform-account/main.tf
  terraform/modernisation-platform-account/outputs.tf
  terraform/modernisation-platform-account/providers.tf
  terraform/modernisation-platform-account/route53.tf
  terraform/modernisation-platform-account/s3.tf
  terraform/modernisation-platform-account/secrets.tf
  terraform/modernisation-platform-account/versions.tf
  terraform/modernisation-platform-account/vpc.tf
Labels: documentation

#102 Update terraform-github-provider to 4.0.0
  terraform/github/modules/repository/main.tf
  terraform/github/versions.tf
Labels: enhancement

#103 Enable vulnerability alerts & include providers
  terraform/github/modules/repository/main.tf
  terraform/github/modules/repository/versions.tf
  terraform/github/modules/team/versions.tf
Labels: enhancement

#104 Add modernisation-platform-ci user
  terraform/github/main.tf
  terraform/github/modules/team/main.tf
Labels: enhancement

#106 Move S3 bucket state into module
  terraform/modernisation-platform-account/s3.tf
Labels: enhancement

#107 Add missing aws_caller_identity block
  terraform/modernisation-platform-account/locals.tf
Labels: bug

#108 Make CI users maintainers
  terraform/github/modules/team/main.tf
Labels: bug

#109 Add Phil Horrocks
  docs/team.md
  terraform/github/modules/team/main.tf
Labels: enhancement

#115 Mark AWS SSO ADR as accepted, and reject AWS IAM Federated Access ADR as rejected
  architecture-decision-record/0002-use-iam-federated-access.md
  architecture-decision-record/0003-use-aws-sso.md
  architecture-decision-record/README.md
Labels: documentation

#116 ADR: Use preferred languages
  architecture-decision-record/0004-use-bash-node-python-as-core-languages.md
  architecture-decision-record/README.md
Labels: documentation

#113 Add Remote Supervision team environments
  environments/remote-supervision.json
Labels: onboarding

#114 Create bichard7.json
  environments/bichard7.json
Labels: onboarding

#117 ADR for using GitHub Actions as our CI/CD runner
  architecture-decision-record/0005-use-github-actions.md
  architecture-decision-record/README.md
Labels: documentation

#136 Uncomment out Terraform apply
  scripts/create-accounts.sh
Labels: enhancement

#137 Set up Modernisation Platform core accounts
  environments/modernisation-platform-core.json
Labels: enhancement

#138 Rename Modernisation Platform core to core
  environments/core.json
Labels: bug

#139 Add missing Terraform init
  .github/workflows/create-accounts.yml
  scripts/create-accounts.sh
Labels: bug

#141 Restrict workflow to environments/ path and hide output for terraform init
  .github/workflows/create-accounts.yml
  scripts/create-accounts.sh
Labels: enhancement

#146 Remove IAM Federated Access
  terraform/modernisation-platform-account/iam.tf
  terraform/modernisation-platform-account/outputs.tf
  terraform/modernisation-platform-account/secrets.tf
Labels: deprecation

#147 Remove deprecated files for MP-managed account provisioning
  terraform/README.md
  terraform/modernisation-platform-account/baselines.tf
  terraform/modernisation-platform-account/providers.tf
  terraform/templates/README.md
  terraform/templates/providers.tmpl
Labels: deprecation

#150 Implement local and remote workspace creation for applications
  scripts/create-per-account-local-workspaces.sh
  terraform/environments/bichard7/backend.tf
  terraform/environments/bichard7/secrets.tf
  terraform/environments/bootstrap/main.tf
  terraform/environments/core/backend.tf
  terraform/environments/core/secrets.tf
  terraform/environments/remote-supervision/backend.tf
  terraform/environments/remote-supervision/secrets.tf
  terraform/environments/shared-services/backend.tf
  terraform/environments/shared-services/secrets.tf
  terraform/templates/backend.tf
  terraform/templates/secrets.tf
Labels: enhancement

#151 Add network-services-cidr-allocation repository
  terraform/github/main.tf
Labels: documentation

#152 Set minimum rather than static version for the GitHub provider
  terraform/github/versions.tf
Labels: bug

#153 Add the "hello-world" repository to Terraform
  terraform/github/main.tf
Labels: bug

#155 Split out core accounts and rename shared-services-dev to sandbox
  environments/core-logging.json
  environments/core-network-services.json
  environments/core-sandbox.json
  environments/core-security.json
  environments/core-shared-services.json
  scripts/create-per-account-local-workspaces.sh
  terraform/environments/core-logging/backend.tf
  terraform/environments/core-logging/secrets.tf
  terraform/environments/core-network-services/backend.tf
  terraform/environments/core-network-services/secrets.tf
  terraform/environments/core-sandbox/backend.tf
  terraform/environments/core-sandbox/secrets.tf
  terraform/environments/core-security/backend.tf
  terraform/environments/core-security/secrets.tf
  terraform/environments/core-shared-services/backend.tf
  terraform/environments/core-shared-services/secrets.tf
Labels: enhancement

#159 Changes tag key from global_resources to tags
  terraform/modernisation-platform-account/dynamodb.tf
  terraform/modernisation-platform-account/locals.tf
  terraform/modernisation-platform-account/providers.tf
  terraform/modernisation-platform-account/route53.tf
  terraform/modernisation-platform-account/s3.tf
  terraform/modernisation-platform-account/vpc.tf
Labels: documentation

#160 Move Route53 HZ from the landing zone account to core-network-services
  terraform/environments/core-network-services/locals.tf
  terraform/environments/core-network-services/route53.tf
Labels: bug
