Repository ministryofjustice/modernisation-platform, pull requests merged in 2021-06, with the labels that each got.

#771 Update permissions for dns role
  terraform/environments/core-network-services/iam.tf
Labels: core, networking

#776 Add github slug for the test environments
  environments/bench.json
  environments/heater.json
  environments/sprinkler.json
Labels: onboarding

#777 Add documentation for member CI/CD
  source/concepts/sdlc/core-workflow.html.md.erb
  source/concepts/sdlc/user-workflow.html.md.erb
  source/images/environment-configurations.png
  source/images/environment-workflow.png
  source/images/member-ci-cd.png
  source/index.html.md.erb
  source/user-guide/accessing-the-aws-console.html.md.erb
  source/user-guide/configuring-aws-credentials.html.md.erb
  source/user-guide/creating-resources.html.md.erb
  source/user-guide/deploying-your-infrastructure.html.md.erb
  source/user-guide/running-a-terraform-plan-locally.html.md.erb
Labels: documentation

#789 refactor-member-iam-role
  terraform/environments/core-vpc/vpc.tf
  terraform/modules/dns-zone/main.tf
Labels: core, networking

#814 Update alliance.html.md.erb
  source/team/alliance.html.md.erb
Labels: documentation

#815 change-account-type-for-several-accounts
  environments/analytical-platform-management.json
  environments/bichard7.json
  environments/justice-on-the-web.json
  environments/remote-supervision.json
Labels: onboarding

#825 Add ADR for encryption keys
  architecture-decision-record/0007-use-terratest-opa-and-go-for-testing.md
  architecture-decision-record/0008-use-kms-in-shared-services-for-cross-account-encryption.md
  architecture-decision-record/README.md
Labels: documentation

#829 Add ADR for using Secrets Manager
  architecture-decision-record/0009-use-secrets-manager-for-secrets.md
  architecture-decision-record/README.md
Labels: documentation

#834 Add ADR for module strategy decision
  architecture-decision-record/0010-terraform-module-strategy.md
  architecture-decision-record/README.md
Labels: documentation

#819 New documentation explaining what our workflows do
  source/concepts/sdlc/core-workflow.html.md.erb
Labels: documentation

#837 Add guidance for modifying SCPs
  source/index.html.md.erb
  source/team-guide/modifying-scps.html.md.erb
  terraform/environments/scp_mp_member_unrestricted.tf
Labels: documentation

#839 modified tag for baseline testing
  environments/sprinkler.json
Labels: onboarding

#840 Fix/git diff3
  environments/sprinkler.json
  scripts/setup-baseline.sh
Labels: onboarding

#841 fixed type in setup-baseline.sh
  environments/sprinkler.json
  scripts/setup-baseline.sh
Labels: onboarding

#842 fixed terraform group resouece attribute
  environments/sprinkler.json
  terraform/modules/iam_baseline/main.tf
Labels: onboarding

#843 added some echo commands to help debug
  .github/workflows/new-environment.yml
  environments/sprinkler.json
  scripts/setup-baseline.sh
Labels: onboarding

#845 added some echo commands to help debug
  environments/sprinkler.json
Labels: onboarding

#847 Fix/git diff3
  environments/sprinkler.json
  scripts/setup-baseline.sh
Labels: onboarding

#849 updated .json file
  environments/sprinkler.json
  scripts/setup-baseline.sh
Labels: onboarding

#850 update
  environments/sprinkler.json
  scripts/setup-baseline.sh
Labels: onboarding

#851 Fix/git diff3
  .github/workflows/new-environment.yml
  environments/sprinkler.json
  scripts/setup-baseline.sh
Labels: onboarding

#866 Update environment/performance-hub.json to create new development env
  environments/performance-hub.json
Labels: onboarding

#870 Change to trigger workflow
  environments/performance-hub.json
Labels: onboarding

#876 Remove interpolation warnings
  terraform/environments/bootstrap/single-sign-on/main.tf
  terraform/environments/core-vpc/vpc.tf
Labels: core, networking
