Repository ministryofjustice/modernisation-platform, pull requests merged in 2021-09, with the labels that each got.

#1042 Add tfsec exclusion for blocking public access to CRL ACM-PCA s3 bucket
  terraform/environments/core-network-services/acm-pca.tf
Labels: core, networking

#1052 Bump Nomis team access to admin
  environments/nomis.json
Labels: onboarding

#1053 Fix/exclude sca rule for xray tracing
  terraform/environments/core-logging/athena.tf
Labels: core

#1063 Add bastion user guide
  source/index.html.md.erb
  source/user-guide/accessing-ec2s.html.md.erb
  source/user-guide/creating-environments.html.md.erb
Labels: documentation

#1064 Exclude checkov warning regarding default SGs and full traffic restriction
  terraform/modules/member-vpc/main.tf
  terraform/modules/vpc-hub/main.tf
Labels: testing, code quality

#1067 Ignoring lack of cross-regional replication for acm-cma bucket
  terraform/environments/core-network-services/acm-pca.tf
Labels: core, networking

#1068 Create new environment for CICA Tariff
  environments/tariff.json
  policies/environments/expected.rego
Labels: onboarding, testing

#1072 Add VPC for cica
  cidr-allocation.md
  environments-networks/cica-development.json
  policies/networking/expected.rego
Labels: onboarding, testing, networking

#1075 Trigger a redeploy by changing bastion_linux to false which does not …
  environments-networks/cica-development.json
Labels: onboarding

#1077 Revert "Trigger a redeploy by changing bastion_linux to false which does not …"
  environments-networks/cica-development.json
Labels: onboarding

#1079 Adding SCA exclusion for ACM-PCA S3 bucket logging
  terraform/environments/core-network-services/acm-pca.tf
Labels: core, networking

#1037 limit encryption key access to s3 bucket
  terraform/environments/core-network-services/acm-pca.tf
Labels: core, networking

#1084 Fix and simplify ACM-PCA kms key policy
  terraform/environments/core-network-services/acm-pca.tf
Labels: core, networking

#1092 Add member-ci iam policy permissions
  terraform/modernisation-platform-account/dynamodb.tf
  terraform/modernisation-platform-account/iam.tf
Labels: bug, iam, Member CI/CD

#1094 Update readme to explain what mp is
  README.md
  source/index.html.md.erb
Labels: documentation

#1101 Adding performance hub production account.
  environments/performance-hub.json
Labels: onboarding

#1108 Add route53 record for github pages user guidance
  terraform/environments/core-network-services/route53.tf
Labels: core, networking

#1109 Update old user guidance urls accross the repo
  .github/ISSUE_TEMPLATE/new-environment.md
  README.md
  architecture-decision-record/0006-use-a-multi-account-strategy-for-applications.md
  config/tech-docs.yml
  environments/README.md
  terraform/github/main.tf
Labels: documentation, onboarding

#1112 Adding networking details for hmpps production
  cidr-allocation.md
  environments-networks/hmpps-production.json
  policies/networking/expected.rego
Labels: onboarding, testing, networking

#1113 Switch from hard coded environments reference
  terraform/environments/core-logging/athena.tf
Labels: core

#1120 Added new internal ecr repo module for shared services.
  terraform/environments/core-shared-services/base_variables.tf
  terraform/environments/core-shared-services/ecr_repos.tf
  terraform/modules/app-ecr-repo/main.tf
  terraform/modules/app-ecr-repo/outputs.tf
  terraform/modules/app-ecr-repo/variables.tf
  terraform/modules/app-ecr-repo/versions.tf
Labels: core

#1121 Add ADRs relating to outcomes of network testing spikes
  architecture-decision-record/0009-use-secrets-manager-for-secrets.md
  architecture-decision-record/0010-terraform-module-strategy.md
  architecture-decision-record/0011-use-vpc-flow-logs-to-gain-insight-into-network-state.md
  architecture-decision-record/0012-use-tgw-route-analyzer-to-check-desired-state-for-route-tables.md
  architecture-decision-record/0013-use-iac-network-tester-to-test-connectivity-rules.md
  architecture-decision-record/README.md
Labels: network test framework, testing, networking

#1126 Remove admin permissions on ops-eng account
  environments/ops-engineering.json
Labels: onboarding

#1127 ADR for creating ECR in shared-services-account
  architecture-decision-record/0014-create-ecr-in-the-shared-services-account.md
  architecture-decision-record/README.md
Labels: documentation

#1119 Working terraform plan in core-sandbox
  terraform/environments/core-sandbox/base_variables.tf
  terraform/environments/core-sandbox/bastion_linux.tf
  terraform/environments/core-sandbox/bastion_linux.tf.bak
  terraform/environments/core-sandbox/locals.tf
  terraform/environments/core-sandbox/playground.tf
  terraform/environments/core-sandbox/providers.tf
Labels: core

#1129 Remove bichard7-dev-next environment
  environments/bichard7.json
  scripts/internal/find-terraform-workspace.sh
  source/team-guide/deleting-an-environment.html.md.erb
Labels: documentation, onboarding

#1130 Removal of 784489036757,  bichard7-dev-current
  environments/bichard7.json
Labels: onboarding

#1131 Fix permissions with perf hub ECR repo
  terraform/environments/core-shared-services/ecr_repos.tf
  terraform/modules/app-ecr-repo/main.tf
  terraform/modules/app-ecr-repo/variables.tf
Labels: core

#1132 bug core-accounts-missing-default-routes
  terraform/environments/core-logging/vpc.tf
  terraform/environments/core-security/vpc.tf
  terraform/environments/core-shared-services/vpc.tf
  terraform/modules/app-ecr-repo/README.md
  terraform/modules/vpc-hub/README.md
  terraform/modules/vpc-hub/main.tf
  terraform/modules/vpc-hub/variables.tf
Labels: core, security

#1133 Networking for AMI building in shared services
  terraform/environments/core-shared-services/data.tf
  terraform/environments/core-shared-services/vpc.tf
  terraform/modules/vpc-hub/outputs.tf
Labels: core, core networking, networking, images

#1135 update-cidr-ranges-document
  cidr-allocation.md
Labels: networking
