Repository ministryofjustice/modernisation-platform, pull requests merged in 2021-05, with the labels that each got.

#634 Update alliance.html.md.erb
  source/team/alliance.html.md.erb
Labels: documentation

#637 Add file to create account for Performance Hub
  environments/performance-hub.json
  scripts/member-account-ram-association.sh
Labels: onboarding

#640 Test account file name change
  .github/workflows/new-environment.yml
  environments/bench.json.old
Labels: onboarding

#642 Point bootstrap backend s3 path to environments/bootstrap to fix env …
  .github/workflows/new-environment.yml
  environments/bench.json
  terraform/environments/bootstrap/delegate-access/backend.tf
  terraform/environments/bootstrap/secure-baselines/backend.tf
  terraform/environments/bootstrap/single-sign-on/backend.tf
Labels: onboarding

#644 Fix/sso
  environments/performance-hub.json
  terraform/environments/bootstrap/single-sign-on/locals.tf
  terraform/environments/bootstrap/single-sign-on/main.tf
Labels: onboarding

#654 Update team.html.md.erb
  source/team/team.html.md.erb
Labels: documentation

#655 Update joining-the-team.html.md.erb
  source/team-guide/joining-the-team.html.md.erb
Labels: documentation

#657 Update vision.html.md.erb
  source/team/vision.html.md.erb
Labels: documentation

#656 Update roadmap.html.md.erb
  source/team/roadmap.html.md.erb
Labels: documentation

#636 Create account creation and network files for Performance Hub.
  cidr-allocation.md
  environments-networks/hmpps-preproduction.json
Labels: networking, onboarding

#666 Fix bracket hmpps network file
  environments-networks/hmpps-preproduction.json
Labels: onboarding

#671 Set bastion option for hmpps network file to trigger workflow
  environments-networks/hmpps-preproduction.json
Labels: onboarding

#674 Change bastion option in hmpps network file
  environments-networks/hmpps-preproduction.json
Labels: onboarding

#676 Amend bastion option in hmpps network file
  environments-networks/hmpps-preproduction.json
Labels: onboarding

#669 Update new features we've added
  source/user-guide/our-offer-to-you.html.md.erb
Labels: documentation

#677 Update deleting-an-environment.html.md.erb
  source/team-guide/deleting-an-environment.html.md.erb
Labels: documentation

#679 updated .json
  environments-networks/hmpps-preproduction.json
Labels: onboarding

#681 test json
  environments-networks/hmpps-preproduction.json
Labels: onboarding

#683 Change bastion options to troubleshoot ram share
  environments-networks/hmpps-preproduction.json
Labels: onboarding

#685 Change bastion option
  environments-networks/hmpps-preproduction.json
Labels: onboarding

#687 .json update for test
  environments-networks/hmpps-preproduction.json
Labels: onboarding

#688 updated .json
  environments-networks/hmpps-preproduction.json
Labels: onboarding

#689 Comment out bastion test
  policies/networking/core-vpc.rego
Labels: testing

#700 environments-networks/garden-development.json
  environments-networks/garden-development.json
Labels: onboarding

#701 Update hmpps-preproduction.json
  environments-networks/hmpps-preproduction.json
Labels: onboarding

#703 Update hmpps-preproduction.json
  environments-networks/hmpps-preproduction.json
Labels: onboarding

#705 Update hmpps-preproduction.json
  environments-networks/hmpps-preproduction.json
Labels: onboarding

#708 Update hmpps-preproduction.json
  environments-networks/hmpps-preproduction.json
Labels: onboarding

#709 Update hmpps-preproduction.json
  environments-networks/hmpps-preproduction.json
Labels: onboarding

#717 Add file check tests for opa
  .github/workflows/opa-policies.yml
  policies/README.md
  policies/environments/expected.rego
  policies/networking/expected.rego
  scripts/tests/validate/opa.sh
  scripts/tests/validate/run-opa-tests.sh
Labels: testing

#716 Add new environments json file to add ops engineering account
  environments/ops-engineering.json
  policies/environments/expected.rego
  scripts/tests/validate/run-opa-tests.sh
Labels: onboarding, testing

#730 Add accessing the AWS console user guidance
  source/images/authorise-github.png
  source/images/single-sign-on-screen.png
  source/images/sso-account-options.png
  source/images/sso-authorisation-choice.png
  source/images/sso-main-menu.png
  source/index.html.md.erb
  source/user-guide/accessing-the-aws-console.html.md.erb
  source/user-guide/configuring-aws-credentials.html.md.erb
  source/user-guide/creating-environments.html.md.erb
  source/user-guide/running-a-terraform-plan-locally.html.md.erb
Labels: documentation

#728 Add ops engineering networking file and update cidr allocation document
  cidr-allocation.md
  environments-networks/platforms-development.json
  policies/networking/expected.rego
  scripts/terraform-plan.sh
Labels: networking, onboarding, testing

#738 Review pages and bring up-to-date
  source/concepts/environments/architecture.html.md.erb
  source/concepts/environments/security.html.md.erb
  source/team-guide/terraform.html.md.erb
  source/team-guide/useful-scripts.html.md.erb
Labels: documentation

#740 Change bastion options in env network file to trigger failing workflow
  environments-networks/platforms-development.json
Labels: onboarding

#742 Add networking documentation
  source/concepts/networking/index.html.md.erb
  source/concepts/networking/networking-approach.html.md.erb
  source/concepts/networking/networking-diagram.html.md.erb
  source/concepts/networking/subnet-allocation.html.md.erb
  source/images/environments-and-networking.png
  source/images/shared-vpc.png
  source/images/subnet-sets-allocation.png
  source/images/subnets-allocation.png
  source/images/subnets-example.png
  source/images/transit-gateway.png
  source/index.html.md.erb
  source/user-guide/creating-networking.html.md.erb
  source/user-guide/our-offer-to-you.html.md.erb
Labels: documentation

#743 Add DNS, Certificate and Bastion docs
  source/concepts/networking/certificate-services.html.md.erb
  source/concepts/networking/dns.html.md.erb
  source/concepts/networking/instance-access-and-bastions.html.md.erb
  source/images/certificate-services.png
  source/images/dns.png
  source/index.html.md.erb
Labels: documentation

#756 Change DNS role to be assumed by mp account
  terraform/environments/core-vpc/locals.tf
  terraform/environments/core-vpc/vpc.tf
  terraform/modules/dns-zone/main.tf
  terraform/modules/dns-zone/variables.tf
Labels: core, networking

#764 Remove us-east-1 endpoint
  environments-networks/platforms-development.json
Labels: onboarding

#765 Add policy for member ci user
  terraform/modernisation-platform-account/iam.tf
Labels: Member CI/CD, iam
