Repository ministryofjustice/modernisation-platform, pull requests merged in 2021-07, with the labels that each got.

#892 migrate-core-environments-to-vpc-hub-module
  terraform/environments/core-logging/vpc.tf
  terraform/environments/core-security/vpc.tf
  terraform/environments/core-shared-services/vpc.tf
  terraform/modules/core-vpc/README.md
  terraform/modules/core-vpc/main.tf
  terraform/modules/core-vpc/outputs.tf
  terraform/modules/core-vpc/variables.tf
  terraform/modules/core-vpc/versions.tf
  terraform/modules/vpc-hub/main.tf
Labels: core, security

#897 Terraform and AWS version changes
  .github/workflows/core-logging-deployment.yml
  terraform/environments/analytical-platform-management/versions.tf
  terraform/environments/bench/versions.tf
  terraform/environments/bichard7/versions.tf
  terraform/environments/cooker/versions.tf
  terraform/environments/core-logging/base_variables.tf
  terraform/environments/core-logging/versions.tf
  terraform/modules/ec2-tgw-attachment/main.tf
  terraform/modules/ec2-tgw-attachment/versions.tf
  terraform/modules/ram-ec2-retagging/main.tf
  terraform/modules/ram-ec2-retagging/versions.tf
  terraform/modules/ram-principal-association/main.tf
  terraform/modules/ram-principal-association/versions.tf
Labels: core

#898 Terraform and AWS version changes
  .github/workflows/core-network-services-deployment.yml
  .github/workflows/core-security-deployment.yml
  .github/workflows/core-shared-services-deployment.yml
  .github/workflows/core-vpc-development-deployment.yml
  .github/workflows/core-vpc-preproduction-deployment.yml
  .github/workflows/core-vpc-production-deployment.yml
  .github/workflows/core-vpc-test-deployment.yml
  .github/workflows/new-environment.yml
  .github/workflows/scheduled-baseline.yml
  .github/workflows/terraform-github.yml
  terraform/environments/bootstrap/delegate-access/versions.tf
  terraform/environments/bootstrap/secure-baselines/versions.tf
  terraform/environments/bootstrap/single-sign-on/versions.tf
  terraform/environments/core-network-services/base_variables.tf
  terraform/environments/core-network-services/locals.tf
  terraform/environments/core-network-services/versions.tf
  terraform/environments/core-sandbox/versions.tf
  terraform/environments/core-security/base_variables.tf
  terraform/environments/core-security/versions.tf
  terraform/environments/core-shared-services/base_variables.tf
  terraform/environments/core-shared-services/versions.tf
  terraform/environments/core-vpc/base_variables.tf
  terraform/environments/core-vpc/versions.tf
  terraform/environments/heater/versions.tf
  terraform/environments/justice-on-the-web/base_variables.tf
  terraform/environments/justice-on-the-web/versions.tf
  terraform/environments/ops-engineering/versions.tf
  terraform/environments/performance-hub/versions.tf
  terraform/environments/remote-supervision/base_variables.tf
  terraform/environments/remote-supervision/versions.tf
  terraform/environments/sprinkler/versions.tf
  terraform/environments/versions.tf
  terraform/github/main.tf
  terraform/github/providers.tf
  terraform/github/versions.tf
  terraform/modernisation-platform-account/versions.tf
  terraform/modules/bastion_linux/main.tf
  terraform/modules/bastion_linux/versions.tf
  terraform/modules/core-vpc-tgw-routes/versions.tf
  terraform/modules/dns-zone-extend/versions.tf
  terraform/modules/dns-zone/main.tf
  terraform/modules/dns-zone/versions.tf
  terraform/modules/member-vpc/versions.tf
  terraform/modules/ram-resource-share/versions.tf
  terraform/modules/vpc-hub/versions.tf
  terraform/modules/vpc-nacls/versions.tf
  terraform/modules/vpc-tgw-routing/versions.tf
  terraform/templates/versions.tf
Labels: core, networking, security

#905 Add page explaining changes in the env files
  source/index.html.md.erb
  source/team-guide/changing-environment-details.html.md.erb
Labels: documentation

#918 Create Testing Account
  environments/testing.json
  policies/environments/expected.rego
Labels: onboarding, testing

#923 Adding Network Rule
  cidr-allocation.md
  environments-networks/platforms-test.json
  policies/networking/expected.rego
Labels: networking, onboarding, testing

#935 Make perf hub team - AWS admins
  environments/performance-hub.json
Labels: onboarding

#910 Feature/extra logging configs
  terraform/environments/core-logging/providers.tf
  terraform/environments/core-logging/s3_logging.tf
Labels: core

#941 feature/add-logging-bucket-to-cloudtrail-bucket
  terraform/environments/core-logging/s3_logging.tf
Labels: core

#937 Separate out view and developer sso roles
  source/user-guide/creating-environments.html.md.erb
  terraform/environments/bootstrap/single-sign-on/main.tf
Labels: documentation

#943 Revert "Make perf hub team - AWS admins"
  environments/performance-hub.json
Labels: onboarding

#949 feature/modify-central-logging
  terraform/environments/bootstrap/secure-baselines/main.tf
  terraform/environments/bootstrap/secure-baselines/providers.tf
  terraform/environments/core-logging/s3_logging.tf
Labels: core
