Repository ministryofjustice/modernisation-platform, pull requests merged in 2021-10, with the labels that each got.

#1137 change-cidr-range-for-protected-subnets
  environments-networks/cica-development.json
  environments-networks/garden-development.json
  environments-networks/garden-production.json
  environments-networks/hmpps-development.json
  environments-networks/hmpps-preproduction.json
  environments-networks/hmpps-production.json
  environments-networks/hmpps-test.json
  environments-networks/house-development.json
  environments-networks/house-production.json
  environments-networks/platforms-development.json
  environments-networks/platforms-test.json
  environments-networks/template-only.txt
Labels: onboarding

#1144 Add grep flag to omit preproduction when adding RAM share
  .github/workflows/core-vpc-production-deployment.yml
  environments-networks/hmpps-production.json
Labels: onboarding

#1146 change-cidr-for-core-security-and-shared-services
  policies/networking/expected.rego
  terraform/environments/core-logging/vpc.tf
  terraform/environments/core-security/test/go_test.go
  terraform/environments/core-security/vpc.tf
  terraform/environments/core-shared-services/test/go_test.go
  terraform/environments/core-shared-services/vpc.tf
Labels: core, testing, security

#1157 Xhibit portal application onboarding
  environments/xhibit-portal.json
  policies/environments/expected.rego
Labels: onboarding, testing

#1162 CIDR allocation for Xhibit
  cidr-allocation.md
  environments-networks/hmcts-development.json
  environments-networks/hmcts-production.json
  policies/networking/expected.rego
Labels: onboarding, testing, networking
