Repository ministryofjustice/modernisation-platform, pull requests merged in 2021-01, with the labels that each got.

#194 Restrict baselines to certain regions for the Modernisation Platform account
  terraform/modernisation-platform-account/providers.tf
Labels: enhancement

#196 Deprecate eu-west-3 and eu-north-1 regional services
  terraform/modernisation-platform-account/.terraform.lock.hcl
  terraform/modernisation-platform-account/providers.tf
Labels: deprecation

#200 Deprecate regional services for restricted regions in the bootstrap step
  terraform/environments/bootstrap/.terraform.lock.hcl
  terraform/environments/bootstrap/locals.tf
  terraform/environments/bootstrap/main.tf
Labels: deprecation

#206 Clean-up EC2 Transit Gateway attachment module
  terraform/environments/core-vpc/transit-gateway-attachment.tf
  terraform/modules/ec2-tgw-attachment/main.tf
  terraform/modules/ec2-tgw-attachment/outputs.tf
  terraform/modules/ec2-tgw-attachment/variables.tf
Labels: enhancement

#207 Move the RAM principal association into the EC2 TGW attachment module
  terraform/environments/core-vpc/backend.tf
  terraform/environments/core-vpc/locals.tf
  terraform/environments/core-vpc/transit-gateway-attachment.tf
  terraform/modules/ec2-tgw-attachment/main.tf
  terraform/modules/ec2-tgw-attachment/variables.tf
Labels: enhancement

#209 Add Sean Privett to the team member pages
  docs/team/team.md
Labels: documentation

#212 Fixup core-network-services to use new VPC module model
  terraform/environments/core-network-services/.terraform.lock.hcl
  terraform/environments/core-network-services/transit-gateway.tf
  terraform/environments/core-network-services/vpc.tf
Labels: deprecation, enhancement

#215 Use alphagov/techdocs for Modernisation Platform documentation
  .github/workflows/publish.yml
  Gemfile
  Gemfile.lock
  config.rb
  config/tech-docs.yml
  docs/.gitkeep
  docs/concepts/index.md
  docs/index.md
  docs/team-guide/index.md
  docs/team/index.md
  docs/user-guide/index.md
  makefile
  source/concepts/index.html.md.erb
  source/concepts/networking/index.html.md.erb
  source/images/under-construction.gif
  source/index.html.md.erb
  source/javascripts/application.js
  source/stylesheets/print.css.scss
  source/stylesheets/screen-old-ie.css.scss
  source/stylesheets/screen.css.scss
  source/team-guide/index.html.md.erb
  source/team-guide/terraform.html.md.erb
  source/team-guide/useful-scripts.html.md.erb
  source/team/alliance.html.md.erb
  source/team/index.html.md.erb
  source/team/roadmap.html.md.erb
  source/team/team.html.md.erb
  source/team/vision.html.md.erb
  source/user-guide/cloud-platform-or-modernisation-platform.html.md.erb
  source/user-guide/creating-environments.html.md.erb
  source/user-guide/index.html.md.erb
  source/user-guide/our-offer-to-you.html.md.erb
Labels: documentation

#220 Revert lockfile changes to keep in line with the docker image
  Gemfile.lock
Labels: dependencies

#219 Fix techdocs hostname
  config/tech-docs.yml
Labels: documentation

#223 Remove broken nav links & fix canonical URLs
  config/tech-docs.yml
Labels: documentation

#224 Add CODEOWNERS file
  .github/CODEOWNERS
Labels: documentation

#225 Fix user guide formatting
  source/user-guide/creating-environments.html.md.erb
  source/user-guide/index.html.md.erb
  source/user-guide/our-offer-to-you.html.md.erb
Labels: documentation

#227 Associate subnets with a RAM resource share
  terraform/environments/core-sandbox/.terraform.lock.hcl
  terraform/environments/core-sandbox/playground.tf
  terraform/environments/core-vpc/vpc.tf
  terraform/modules/member-vpc/outputs.tf
  terraform/modules/ram-ec2-retagging/main.tf
  terraform/modules/ram-ec2-retagging/outputs.tf
  terraform/modules/ram-ec2-retagging/variables.tf
  terraform/modules/ram-principal-association/main.tf
  terraform/modules/ram-principal-association/variables.tf
  terraform/modules/ram-resource-share/main.tf
  terraform/modules/ram-resource-share/variables.tf
Labels: enhancement

#213 Enable VPC Flow Logs for the VPC modules
  terraform/environments/core-network-services/iam.tf
  terraform/environments/core-network-services/vpc.tf
  terraform/environments/core-shared-services/backend.tf
  terraform/environments/core-shared-services/iam.tf
  terraform/environments/core-shared-services/vpc.tf
  terraform/environments/core-vpc/iam.tf
  terraform/environments/core-vpc/vpc.tf
  terraform/modules/core-vpc/main.tf
  terraform/modules/core-vpc/outputs.tf
  terraform/modules/core-vpc/variables.tf
  terraform/modules/member-vpc/main.tf
  terraform/modules/member-vpc/variables.tf
Labels: enhancement

#229 Update tech-docs publishing to new docker image & remove superfluous files
  .github/workflows/publish.yml
  Gemfile
  Gemfile.lock
  config.rb
  makefile
Labels: documentation

#234 Split out bootstrap steps: delegate access, and baselines
  .github/workflows/create-accounts.yml
  scripts/create-accounts.sh
  scripts/provision-terraform-workspaces.sh
  terraform/environments/bootstrap/delegate-access/.terraform.lock.hcl
  terraform/environments/bootstrap/delegate-access/backend.tf
  terraform/environments/bootstrap/delegate-access/iam.tf
  terraform/environments/bootstrap/delegate-access/locals.tf
  terraform/environments/bootstrap/delegate-access/providers.tf
  terraform/environments/bootstrap/delegate-access/secrets.tf
  terraform/environments/bootstrap/secure-baselines/.terraform.lock.hcl
  terraform/environments/bootstrap/secure-baselines/README.md
  terraform/environments/bootstrap/secure-baselines/locals.tf
  terraform/environments/bootstrap/secure-baselines/main.tf
  terraform/environments/bootstrap/secure-baselines/providers.tf
  terraform/environments/bootstrap/secure-baselines/secrets.tf
  terraform/environments/bootstrap/secure-baselines/versions.tf
Labels: bug, enhancement

#237 Fix HTML linter issues for an incorrect link & URL for image
  source/concepts/networking/index.html.md.erb
  source/user-guide/creating-environments.html.md.erb
Labels: bug

#235 Add a 'joining the team' page
  source/team-guide/index.html.md.erb
  source/team/index.html.md.erb
  source/team/joining-the-team.html.md.erb
Labels: documentation

#236 Add concepts documentation for environments
  source/concepts/environments/index.html.md.erb
  source/concepts/index.html.md.erb
Labels: documentation

#241 Update link to site source
  README.md
Labels: bug

#243 Add ADR for our multi-account strategy
  architecture-decision-record/0005-use-github-actions.md
  architecture-decision-record/0006-use-a-multi-account-strategy-for-applications.md
  architecture-decision-record/README.md
Labels: documentation

#238 Move secure-baselines workspace_key_prefix to mimic folder structure
  terraform/environments/bootstrap/delegate-access/.terraform.lock.hcl
  terraform/environments/bootstrap/delegate-access/versions.tf
  terraform/environments/bootstrap/secure-baselines/backend.tf
  terraform/environments/bootstrap/secure-baselines/main.tf
Labels: bug, enhancement

#239 Fix syntax issues with provision-terraform-workspaces.sh
  scripts/provision-terraform-workspaces.sh
Labels: bug

#246 Add base Terraform scripts for workflows
  scripts/redact-output.sh
  scripts/terraform-apply.sh
  scripts/terraform-init.sh
  scripts/terraform-plan.sh
Labels: enhancement

#247 Add script to loop through Terraform workspaces and run plan, or apply
  scripts/loop-through-terraform-workspaces.sh
Labels: enhancement

#248 Replace create-accounts workflow with new-environment end-to-end workflow
  .github/workflows/create-accounts.yml
  .github/workflows/new-environment.yml
  scripts/create-accounts.sh
Labels: enhancement

#252 Add base scripts for creating pull requests through CI/CD
  scripts/git-commit.sh
  scripts/git-pull-request.sh
  scripts/git-setup.sh
Labels: enhancement

#253 Add script to automatically create terraform/environments/* directories when a new environment is defined
  .github/workflows/new-environment-files.yml
  scripts/provision-environment-directories.sh
Labels: enhancement

#245 ANPL-252 Add AWS account for analytical platform management tools
  environments/analytical-platform-management.json
Labels: onboarding

#254 Fix path for secure baselines in GitHub workflow
  .github/workflows/new-environment.yml
Labels: bug

#255 Joining the team: add 'your first sprint ceremonies'
  source/team/joining-the-team.html.md.erb
Labels: documentation

#256 Update useful scripts documentation to cover: git, terraform, and other new scripts
  source/team-guide/useful-scripts.html.md.erb
Labels: documentation

#257 Remove deprecated scripts
  scripts/create-per-account-local-workspaces.sh
  scripts/internal/loop-through-bootstrap-workspaces-and-plan.sh
Labels: deprecation

#259 Use a GitHub action to label pull requests automatically
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: enhancement

#261 Add Jack Stockley to the team
  source/team/team.html.md.erb
  terraform/github/modules/team/main.tf
Labels: team

#258 Separate template files into logical files
  scripts/provision-environment-directories.sh
  terraform/templates/backend.tf
  terraform/templates/locals.tf
  terraform/templates/providers.tf
Labels: enhancement

#263 Update justice-on-the-web templates to match new structure
  terraform/environments/justice-on-the-web/.terraform.lock.hcl
  terraform/environments/justice-on-the-web/backend.tf
  terraform/environments/justice-on-the-web/locals.tf
  terraform/environments/justice-on-the-web/versions.tf
Labels: enhancement

#265 Update core-network-services templates to match new structure
  terraform/environments/core-network-services/.terraform.lock.hcl
  terraform/environments/core-network-services/backend.tf
  terraform/environments/core-network-services/locals.tf
  terraform/environments/core-network-services/providers.tf
Labels: enhancement

#274 Restructure core-network-services Transit Gateways and VPC configuration to match core-vpc
  terraform/environments/core-network-services/transit-gateway.tf
  terraform/environments/core-network-services/vpc.tf
Labels: enhancement

#272 Separate out minimatch globs and add workflow_dispatch
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: bug

#270 Update core-shared-services templates to match new structure
  terraform/environments/core-shared-services/.terraform.lock.hcl
  terraform/environments/core-shared-services/backend.tf
  terraform/environments/core-shared-services/locals.tf
  terraform/environments/core-shared-services/providers.tf
  terraform/environments/core-shared-services/transit-gateway-attachment.tf
Labels: dependencies, enhancement

#269 Update core-vpc templates to match new structure
  terraform/environments/core-vpc/.terraform.lock.hcl
  terraform/environments/core-vpc/backend.tf
  terraform/environments/core-vpc/locals.tf
  terraform/environments/core-vpc/providers.tf
  terraform/environments/core-vpc/versions.tf
Labels: dependencies, enhancement

#268 Update core-sandbox templates to match new structure
  terraform/environments/core-sandbox/.terraform.lock.hcl
  terraform/environments/core-sandbox/backend.tf
  terraform/environments/core-sandbox/locals.tf
  terraform/environments/core-sandbox/playground.tf
  terraform/environments/core-sandbox/providers.tf
Labels: core, enhancement

#266 Update core-logging templates to match new structure
  terraform/environments/core-logging/.terraform.lock.hcl
  terraform/environments/core-logging/backend.tf
  terraform/environments/core-logging/locals.tf
  terraform/environments/core-logging/providers.tf
  terraform/environments/core-logging/versions.tf
Labels: core, enhancement

#264 Update core-security templates to match new structure
  terraform/environments/core-security/.terraform.lock.hcl
  terraform/environments/core-security/backend.tf
  terraform/environments/core-security/locals.tf
  terraform/environments/core-security/providers.tf
  terraform/environments/core-security/versions.tf
Labels: core, enhancement

#262 Update remote-supervision templates to match new structure
  terraform/environments/remote-supervision/.terraform.lock.hcl
  terraform/environments/remote-supervision/backend.tf
  terraform/environments/remote-supervision/locals.tf
  terraform/environments/remote-supervision/providers.tf
  terraform/environments/remote-supervision/versions.tf
Labels: enhancement

#260 Update branch reference for secure-baselines module
  terraform/environments/bootstrap/secure-baselines/main.tf
Labels: enhancement

#277 Transit Gateway attachments: correctly set providers and allow tagging of attachments
  terraform/environments/core-vpc/transit-gateway-attachment.tf
  terraform/modules/ec2-tgw-attachment/main.tf
  terraform/modules/ec2-tgw-attachment/variables.tf
Labels: core, enhancement, networking

#279 Update core-shared-services to retag TGW attachments in the TGW host & tenant
  terraform/environments/core-shared-services/transit-gateway-attachment.tf
  terraform/environments/core-shared-services/vpc.tf
Labels: core
