Repository ministryofjustice/modernisation-platform, pull requests merged in 2021-12, with the labels that each got.

#1319 Set up new mi-platform unrestricted account
  environments/mi-platform.json
  policies/environments/expected.rego
Labels: onboarding, testing

#1326 change-routing-configuration-for-tgw-peering
  terraform/environments/core-network-services/transit_gateway_connections.tf
Labels: core, networking

#1336 Add ADR for Monitoring and Alerting
  architecture-decision-record/0017-monitoring-and-alerting.md
  architecture-decision-record/README.md
  architecture-decision-record/images/monitoring-and-alerting.png
Labels: documentation

#1338 Cidr changes working branch
  .github/workflows/core-vpc-development-deployment.yml
  .github/workflows/core-vpc-preproduction-deployment.yml
  .github/workflows/core-vpc-production-deployment.yml
  .github/workflows/core-vpc-test-deployment.yml
  cidr-allocation.md
  environments-networks/cica-development.json
  environments-networks/garden-sandbox.json
  environments-networks/hmcts-development.json
  environments-networks/hmcts-production.json
  environments-networks/hmpps-development.json
  environments-networks/hmpps-preproduction.json
  environments-networks/hmpps-production.json
  environments-networks/hmpps-test.json
  environments-networks/house-sandbox.json
  environments-networks/platforms-development.json
  environments-networks/platforms-test.json
  policies/networking/expected.rego
  terraform/environments/core-vpc/transit-gateway-attachment.tf
  terraform/environments/core-vpc/vpc.tf
  terraform/modules/ec2-tgw-attachment/main.tf
  terraform/modules/ec2-tgw-attachment/variables.tf
Labels: onboarding, core, testing, networking

#1341 Remove unneeded variable
  terraform/environments/core-logging/transit-gateway-attachment.tf
  terraform/environments/core-security/transit-gateway-attachment.tf
  terraform/environments/core-shared-services/transit-gateway-attachment.tf
Labels: core, security

#1340 alter-HMPPS-ingress-nacls-for-test-env
  environments-networks/hmpps-test.json
Labels: onboarding

#1339 Tidy up cidr-allocation.md
  cidr-allocation.md
  terraform/modules/ec2-tgw-attachment/README.md
  terraform/modules/member-vpc/README.md
  terraform/modules/member-vpc/main.tf
  terraform/modules/member-vpc/outputs.tf
  terraform/modules/member-vpc/variables.tf
  terraform/modules/member-vpc/versions.tf
Labels: networking

#1345 Cidr cleanup
  environments-networks/cica-development.json
  environments-networks/garden-sandbox.json
  environments-networks/hmcts-development.json
  environments-networks/hmcts-production.json
  environments-networks/hmpps-development.json
  environments-networks/hmpps-preproduction.json
  environments-networks/hmpps-production.json
  environments-networks/hmpps-test.json
  environments-networks/house-sandbox.json
  environments-networks/platforms-development.json
  environments-networks/platforms-test.json
  policies/networking/core-vpc.rego
  policies/networking/core-vpc_test.rego
  terraform/environments/core-vpc/vpc.tf
Labels: onboarding, core, testing, networking

#1344 Integrate existing core alarms with pagerduty
  .github/workflows/core-vpc-development-deployment.yml
  .github/workflows/core-vpc-preproduction-deployment.yml
  .github/workflows/core-vpc-production-deployment.yml
  .github/workflows/core-vpc-test-deployment.yml
  terraform/environments/core-logging/locals.tf
  terraform/environments/core-logging/monitoring.tf
  terraform/environments/core-logging/secrets.tf
  terraform/environments/core-network-services/locals.tf
  terraform/environments/core-network-services/monitoring.tf
  terraform/environments/core-network-services/secrets.tf
  terraform/environments/core-security/locals.tf
  terraform/environments/core-security/monitoring.tf
  terraform/environments/core-security/secrets.tf
  terraform/environments/core-shared-services/locals.tf
  terraform/environments/core-shared-services/monitoring.tf
  terraform/environments/core-shared-services/secrets.tf
  terraform/environments/core-vpc/locals.tf
  terraform/environments/core-vpc/monitoring.tf
  terraform/environments/core-vpc/secrets.tf
  terraform/modernisation-platform-account/baselines.tf
  terraform/modernisation-platform-account/locals.tf
  terraform/modernisation-platform-account/monitoring.tf
  terraform/modernisation-platform-account/secrets.tf
  terraform/modules/pagerduty-integration/main.tf
  terraform/modules/pagerduty-integration/variables.tf
Labels: core, security, networking

#1348 Update index.html.md.erb
  source/getting-help/index.html.md.erb
Labels: documentation

#1347 Update our-offer-to-you.html.md.erb
  source/user-guide/our-offer-to-you.html.md.erb
Labels: documentation

#1350 Update our-offer-to-you.html.md.erb
  source/user-guide/our-offer-to-you.html.md.erb
Labels: documentation

#1359 feature/aws-firewall
  terraform/environments/core-network-services/firewall.tf
  terraform/environments/core-network-services/transit_gateway_connections.tf
  terraform/environments/core-vpc/vpc.tf
  terraform/modules/vpc-tgw-routing/main.tf
  terraform/modules/vpc-tgw-routing/variables.tf
Labels: core, networking

#1361 feat: Adding new member account dex-ta
  environments/dex-ta.json
  policies/environments/expected.rego
Labels: onboarding, testing

#1365 feat: Edit owener email address
  environments/dex-ta.json
Labels: onboarding

#1367 feat: Adding dex-ta to subnet set
  environments-networks/hmpps-development.json
Labels: onboarding

#1364 feature/simplify-adding-egress-tgw-routes
  terraform/environments/core-network-services/transit_gateway_connections.tf
Labels: core, networking
