Repository ministryofjustice/modernisation-platform, pull requests merged in 2021-08, with the labels that each got.

#948 Add naming validation to OPA tests
  policies/README.md
  policies/environments/environment-definitions.rego
  policies/environments/environment-definitions_test.rego
  policies/member/environment-definitions.rego
  policies/member/environment-definitions_test.rego
  policies/member/utilities.rego
  policies/networking/core-vpc_test.rego
  scripts/tests/validate/README.md
  scripts/tests/validate/run-opa-tests.sh
Labels: testing

#962 Update documentation
  source/concepts/sdlc/core-workflow.html.md.erb
  source/concepts/sdlc/repositories.html.md.erb
  source/concepts/sdlc/user-workflow.html.md.erb
  source/images/member-ci-cd.png
  source/images/repository-structure.png
  source/index.html.md.erb
  source/user-guide/accessing-the-aws-console.html.md.erb
  source/user-guide/cloud-platform-or-modernisation-platform.html.md.erb
  source/user-guide/creating-environments.html.md.erb
  source/user-guide/creating-networking.html.md.erb
  source/user-guide/creating-resources.html.md.erb
  source/user-guide/deploying-your-application.html.md.erb
  source/user-guide/deploying-your-infrastructure.html.md.erb
  source/user-guide/getting-aws-credentials.html.md.erb
  source/user-guide/obtaining-deployment-credentials.html.md.erb
  source/user-guide/our-offer-to-you.html.md.erb
Labels: documentation

#971 Add Nomis application.
  environments/nomis.json
  policies/environments/expected.rego
Labels: onboarding, testing

#975 Update team slug
  environments/nomis.json
  terraform/github/locals.tf
Labels: onboarding

#973 Add NOMIS account setup.
  cidr-allocation.md
  environments-networks/hmpps-test.json
  environments/nomis.json
  policies/networking/expected.rego
Labels: onboarding, networking, testing

#977 Fix nomis env
  environments-networks/hmpps-test.json
Labels: onboarding

#980 Another change to force the Ram share creation.
  environments-networks/hmpps-test.json
Labels: onboarding

#984 Update alliance.html.md.erb
  source/team/alliance.html.md.erb
Labels: documentation

#985 Add George to maintainers and to engineers list who need full AWS access
  source/team/team.html.md.erb
  terraform/github/locals.tf
Labels: documentation

#979 update-cloudtrail-s3-replication-configuration
  terraform/environments/core-logging/s3_logging.tf
Labels: core

#991 Athena automation
  environments-networks/hmpps-test.json
  environments/nomis.json
  terraform/environments/core-logging/athena.tf
  terraform/environments/core-logging/lambda/index.py
  terraform/environments/core-logging/lambda/lambda_function.zip
  terraform/environments/core-logging/s3_logging.tf
Labels: onboarding, core

#1004 Add adrian to GitHub team
  source/team/team.html.md.erb
  terraform/github/locals.tf
Labels: documentation

#1005 Add Seb Norris to GitHub team and temporarily remove Adrian
  source/team/team.html.md.erb
  terraform/github/locals.tf
Labels: documentation

#1006 add Piotr Grzeskowiak to GitHub team
  source/team/team.html.md.erb
  terraform/github/locals.tf
Labels: documentation

#1007 Adding adrian to github team
  source/team/team.html.md.erb
  terraform/github/locals.tf
Labels: documentation

#1010 Add new account for analytical platform.
  environments/analytical-platform-data.json
  policies/environments/expected.rego
Labels: onboarding, testing
