Repository ministryofjustice/modernisation-platform, pull requests merged in 2021-04, with the labels that each got.

#538 update template files and add two outputs for core-network-services
  terraform/environments/core-network-services/acm-pca.tf
  terraform/templates/locals.tf
  terraform/templates/subnet_share.tf
  terraform/templates/versions.tf
Labels: core, networking

#541 bugfix/correct-core-vpc-routing-issue
  terraform/environments/core-vpc/locals.tf
Labels: core, networking

#539 Added a fix to allowd cross VPC access to private DNS zones
  .github/workflows/core-vpc-preproduction-deployment.yml
  .github/workflows/core-vpc-production-deployment.yml
  .github/workflows/core-vpc-test-deployment.yml
  environments-networks/garden-development.json
  environments-networks/garden-production.json
  environments-networks/house-development.json
  environments-networks/house-production.json
  terraform/environments/core-vpc/.terraform.lock.hcl
  terraform/environments/core-vpc/variables.tf
  terraform/environments/core-vpc/vpc.tf
  terraform/modules/dns-zone-extend/README.md
  terraform/modules/dns-zone-extend/main.tf
  terraform/modules/dns-zone-extend/variables.tf
  terraform/modules/dns-zone-extend/versions.tf
  terraform/modules/dns-zone/main.tf
Labels: core, networking

#547 correct-terraform-data-lookup-issue
  terraform/environments/core-vpc/.terraform.lock.hcl
  terraform/environments/core-vpc/vpc.tf
  terraform/modules/dns-zone/main.tf
  terraform/modules/dns-zone/variables.tf
  terraform/modules/vpc-tgw-routing/main.tf
  terraform/modules/vpc-tgw-routing/variables.tf
  terraform/templates/providers.tf
Labels: core, networking

#550 Add networking user guide
  source/user-guide/creating-networking.html.md.erb
  source/user-guide/index.html.md.erb
Labels: documentation

#557 Add Christine to team list
  source/team/team.html.md.erb
Labels: documentation

#556 Fix/sso developer group
  environments/heater.json
  terraform/environments/bootstrap/single-sign-on/locals.tf
  terraform/environments/bootstrap/single-sign-on/main.tf
Labels: onboarding

#578 Add key to environment json files to determine whether an account is …
  environments/analytical-platform-management.json
  environments/bench.json
  environments/bichard7.json
  environments/cooker.json
  environments/core-logging.json
  environments/core-network-services.json
  environments/core-sandbox.json
  environments/core-security.json
  environments/core-shared-services.json
  environments/core-vpc.json
  environments/heater.json
  environments/justice-on-the-web.json
  environments/remote-supervision.json
  environments/sprinkler.json
Labels: onboarding

#588 Point backends to new state file location
  terraform/environments/analytical-platform-management/backend.tf
  terraform/environments/bench/backend.tf
  terraform/environments/bench/main.tf
  terraform/environments/bichard7/backend.tf
  terraform/environments/bootstrap/delegate-access/backend.tf
  terraform/environments/bootstrap/secure-baselines/backend.tf
  terraform/environments/bootstrap/single-sign-on/backend.tf
  terraform/environments/cooker/backend.tf
  terraform/environments/cooker/main.tf
  terraform/environments/core-logging/backend.tf
  terraform/environments/core-network-services/backend.tf
  terraform/environments/core-sandbox/backend.tf
  terraform/environments/core-security/backend.tf
  terraform/environments/core-shared-services/backend.tf
  terraform/environments/core-vpc/backend.tf
  terraform/environments/heater/backend.tf
  terraform/environments/heater/main.tf
  terraform/environments/justice-on-the-web/backend.tf
  terraform/environments/remote-supervision/backend.tf
  terraform/environments/sprinkler/backend.tf
  terraform/environments/sprinkler/main.tf
Labels: core, networking

#596 Rejig the user guidance
  source/concepts/index.html.md.erb
  source/getting-help/index.html.md.erb
  source/index.html.md.erb
  source/team-guide/index.html.md.erb
  source/team-guide/joining-the-team.html.md.erb
  source/team/index.html.md.erb
  source/user-guide/index.html.md.erb
Labels: documentation

#600 Update user guidance to reflect repo changes
  source/index.html.md.erb
  source/user-guide/creating-environments.html.md.erb
  source/user-guide/creating-networking.html.md.erb
  source/user-guide/creating-resources.html.md.erb
Labels: documentation

#603 Rejig concepts and add placeholder topics
  source/concepts/environments/problem-and-solution.html.md.erb
  source/index.html.md.erb
Labels: documentation

#606 Add repositories page to concepts
  README.md
  source/concepts/sdlc/repositories.html.md.erb
  source/images/repository-structure.png
  source/index.html.md.erb
Labels: documentation

#611 trigger-new-environments.yaml-script
  environments/bench.json
Labels: onboarding

#609 Add SSO documentation
  source/concepts/environments/single-sign-on.html.md.erb
  source/images/single-sign-on.png
  source/index.html.md.erb
Labels: documentation
