Repository ministryofjustice/modernisation-platform, pull requests merged in 2021-03, with the labels that each got.

#418 OPA example to test structures of environment definitions
  .github/workflows/opa-policies.yml
  policies/environments/environment-definitions.rego
  policies/environments/environment-definitions_test.rego
  policies/environments/utilities.rego
  policies/networking/core-vpc.rego
  policies/networking/core-vpc_test.rego
  scripts/tests/validate/opa.sh
Labels: enhancement

#413 Allow users to provide a GitHub slug to get access to AWS accounts
  .github/workflows/new-environment.yml
  environments/analytical-platform-management.json
  environments/bichard7.json
  environments/core-logging.json
  environments/core-network-services.json
  environments/core-sandbox.json
  environments/core-security.json
  environments/core-shared-services.json
  environments/core-vpc.json
  environments/justice-on-the-web.json
  environments/remote-supervision.json
  environments/sprinkler.json
  source/user-guide/creating-environments.html.md.erb
  terraform/environments/bootstrap/single-sign-on/.terraform.lock.hcl
  terraform/environments/bootstrap/single-sign-on/README.md
  terraform/environments/bootstrap/single-sign-on/backend.tf
  terraform/environments/bootstrap/single-sign-on/locals.tf
  terraform/environments/bootstrap/single-sign-on/main.tf
  terraform/environments/bootstrap/single-sign-on/providers.tf
  terraform/environments/bootstrap/single-sign-on/secrets.tf
  terraform/environments/bootstrap/single-sign-on/versions.tf
Labels: documentation, enhancement, onboarding

#430 Remove core-vpc-non-live-data
  environments/core-vpc.json
Labels: deprecation, onboarding

#431 Fix provision workspaces to use the new environments JSON structure
  scripts/provision-terraform-workspaces.sh
Labels: bug

#429 Add documentation and a helper script for deleting environments/AWS accounts
  scripts/internal/find-terraform-workspace.sh
  source/team-guide/deleting-an-environment.html.md.erb
  source/team-guide/index.html.md.erb
Labels: documentation

#419 Reduce required Terraform version for single sign-on
  terraform/environments/bootstrap/single-sign-on/versions.tf
Labels: bug

#423 GitHub creating a pull request: set method to POST explicitly
  scripts/git-pull-request.sh
Labels: bug

#448 feature/add-json-files-for-lab-accounts
  environments/bench.json
  environments/cooker.json
  environments/heater.json
Labels: onboarding

#451 feature/add-core-vpc-environments
  environments/core-vpc.json
Labels: onboarding

#457 feature/update-core-vpc-automation
  terraform/environments/core-vpc/vpc.tf
Labels: core, networking

#458 bugfix/update-core-vpc-automation
  terraform/environments/core-vpc/vpc.tf
Labels: core, networking

#420 Remove Node dependency for checking environment definitions
  .github/workflows/check-environment-definitions.yml
  scripts/check-environment-definitions.js
  scripts/utilities.js
  source/team-guide/useful-scripts.html.md.erb
Labels: deprecation, documentation

#447 Minor updates after following the process
  source/team-guide/adding-a-new-team-member.html.md.erb
Labels: documentation

#477 added RAM share fix and member VPC templates
  terraform/environments/core-network-services/acm-pca.tf
  terraform/modules/ram-ec2-retagging/main.tf
  terraform/modules/ram-principal-association/main.tf
  terraform/modules/ram-principal-association/variables.tf
  terraform/templates/locals.tf
  terraform/templates/providers.tf
  terraform/templates/subnet_share.tf
Labels: core, networking

#481 enhance/update-networking-auto-configuration
  .github/workflows/core-logging-deployment.yml
  .github/workflows/core-network-services-deployment.yml
  .github/workflows/core-security-deployment.yml
  .github/workflows/core-shared-services-deployment.yml
  .github/workflows/core-vpc-development-deployment.yml
  .github/workflows/core-vpc-preproduction-deployment.yml
  .github/workflows/core-vpc-production-deployment.yml
  .github/workflows/core-vpc-test-deployment.yml
  terraform/environments/analytical-platform-management/networking.auto.tfvars.json
  terraform/environments/bench/locals.tf
  terraform/environments/bench/networking.auto.tfvars.json
  terraform/environments/bench/providers.tf
  terraform/environments/bench/subnet_share.tf
  terraform/environments/bichard7/networking.auto.tfvars.json
  terraform/environments/cooker/locals.tf
  terraform/environments/cooker/networking.auto.tfvars.json
  terraform/environments/cooker/providers.tf
  terraform/environments/cooker/subnet_share.tf
  terraform/environments/core-logging/networking.auto.tfvars.json
  terraform/environments/core-network-services/.terraform.lock.hcl
  terraform/environments/core-network-services/locals.tf
  terraform/environments/core-network-services/networking.auto.tfvars.json
  terraform/environments/core-sandbox/networking.auto.tfvars.json
  terraform/environments/core-security/networking.auto.tfvars.json
  terraform/environments/core-shared-services/networking.auto.tfvars.json
  terraform/environments/core-vpc/networking.auto.tfvars.json
  terraform/environments/heater/locals.tf
  terraform/environments/heater/networking.auto.tfvars.json
  terraform/environments/heater/providers.tf
  terraform/environments/heater/subnet_share.tf
  terraform/environments/justice-on-the-web/networking.auto.tfvars.json
  terraform/environments/remote-supervision/networking.auto.tfvars.json
  terraform/environments/sprinkler/locals.tf
  terraform/environments/sprinkler/networking.auto.tfvars.json
  terraform/environments/sprinkler/providers.tf
  terraform/environments/sprinkler/subnet_share.tf
Labels: core, networking

#489 bugfix/core-network-services-routing
  terraform/environments/core-vpc/locals.tf
  terraform/environments/core-vpc/transit-gateway-attachment.tf
  terraform/environments/core-vpc/vpc.tf
  terraform/modules/vpc-tgw-routing/main.tf
  terraform/modules/vpc-tgw-routing/variables.tf
Labels: core, networking
