Repository ministryofjustice/modernisation-platform, pull requests merged in 2021-11, with the labels that each got.

#1236 Add ADR for image builder usage
  architecture-decision-record/0014-create-ecr-in-the-shared-services-account.md
  architecture-decision-record/0015-use-aws-image-builder-for-managing-amis.md
Labels: documentation

#1228 Documentation improvements following review
  .github/ISSUE_TEMPLATE/new-environment.md
  .github/workflows/new-member-environment-files.yml
  architecture-decision-record/0010-terraform-module-strategy.md
  source/concepts/environments/single-sign-on.html.md.erb
  source/concepts/networking/networking-approach.html.md.erb
  source/concepts/sdlc/core-workflow.html.md.erb
  source/concepts/sdlc/user-workflow.html.md.erb
  source/getting-help/index.html.md.erb
  source/images/environment-diagram.png
  source/index.html.md.erb
  source/team-guide/adding-a-new-team-member.html.md.erb
  source/team-guide/deleting-an-environment.html.md.erb
  source/user-guide/accessing-the-aws-console.html.md.erb
  source/user-guide/creating-environments.html.md.erb
  source/user-guide/creating-resources.html.md.erb
  source/user-guide/deploying-your-application.html.md.erb
  source/user-guide/deploying-your-infrastructure.html.md.erb
  source/user-guide/environment-diagram.html.md.erb
  source/user-guide/getting-aws-credentials.html.md.erb
  source/user-guide/running-terraform-plan-locally.html.md.erb
Labels: documentation

#1237 Add NACLs for hmpps-test
  environments-networks/hmpps-test.json
  terraform/modules/vpc-nacls/main.tf
Labels: onboarding

#1238 trigger change in aws_iam_policy_document
  environments/sprinkler.json
  terraform/environments/bootstrap/delegate-access/iam.tf
Labels: onboarding

#1241 Delete Ops Engineering env
  environments-networks/platforms-development.json
  environments/ops-engineering.json
  policies/environments/expected.rego
  policies/networking/expected.rego
  terraform/environments/ops-engineering/backend.tf
  terraform/environments/ops-engineering/base_variables.tf
  terraform/environments/ops-engineering/locals.tf
  terraform/environments/ops-engineering/networking.auto.tfvars.json
  terraform/environments/ops-engineering/providers.tf
  terraform/environments/ops-engineering/secrets.tf
  terraform/environments/ops-engineering/subnet_share.tf
  terraform/environments/ops-engineering/versions.tf
Labels: enhancement, onboarding, testing, cost saving, sustainability, offboarding

#1246 Ignore new SCA warnings
  terraform/environments/core-logging/athena.tf
  terraform/modules/app-ecr-repo/main.tf
Labels: core

#1225 add image builder security group
  terraform/environments/core-shared-services/output.tf
  terraform/environments/core-shared-services/vpc.tf
Labels: core

#1245 remove-specific-lab-environments
  cidr-allocation.md
  environments-networks/garden-development.json
  environments-networks/garden-production.json
  environments-networks/house-production.json
  environments/bench.json
  environments/cooker.json
  environments/heater.json
  environments/sprinkler.json
  policies/environments/expected.rego
  policies/networking/expected.rego
  terraform/environments/bench/backend.tf
  terraform/environments/bench/base_variables.tf
  terraform/environments/bench/locals.tf
  terraform/environments/bench/networking.auto.tfvars.json
  terraform/environments/bench/outputs.tf
  terraform/environments/bench/providers.tf
  terraform/environments/bench/secrets.tf
  terraform/environments/bench/subnet_share.tf
  terraform/environments/bench/versions.tf
  terraform/environments/heater/backend.tf
  terraform/environments/heater/base_variables.tf
  terraform/environments/heater/locals.tf
  terraform/environments/heater/networking.auto.tfvars.json
  terraform/environments/heater/providers.tf
  terraform/environments/heater/secrets.tf
  terraform/environments/heater/subnet_share.tf
  terraform/environments/heater/versions.tf
Labels: onboarding, testing, networking

#1248 Remove commented out files
  terraform/environments/core-vpc/ec2.tf
  terraform/environments/core-vpc/ram.tf
Labels: core, networking

#1249 Change NOMIS test account to developer role
  environments/nomis.json
Labels: onboarding

#1250 tfsec ignore image builder egress
  terraform/environments/core-shared-services/vpc.tf
Labels: core

#1255 Update Member Delegation role
  terraform/environments/core-vpc/vpc.tf
Labels: core, networking

#1261 Update member delegation role
  terraform/environments/core-vpc/vpc.tf
Labels: core, networking

#1269 Add security group permissions to member delegation role
  terraform/environments/core-vpc/vpc.tf
Labels: core, networking

#1270 Update member delegation role
  terraform/environments/core-vpc/vpc.tf
Labels: core, networking

#1271 Add more resolver permissions
  terraform/environments/core-vpc/vpc.tf
Labels: core, networking

#1272 Add permission route53resolver:ListTagsForResource
  terraform/environments/core-vpc/vpc.tf
Labels: core, networking

#1273 Add route53resolver:GetResolverRule
  terraform/environments/core-vpc/vpc.tf
Labels: core, networking

#1274 Add security group permissions
  terraform/environments/core-vpc/vpc.tf
Labels: core, networking

#1276 Add route53resolver:AssociateResolverRule
  terraform/environments/core-vpc/vpc.tf
Labels: core, networking

#1277 Add "route53resolver:GetAssociateResolverRule",
  terraform/environments/core-vpc/vpc.tf
Labels: core, networking

#1275 Added sandbox environment to core-vpc.json
  environments/core-vpc.json
Labels: onboarding

#1278 Add route53resolver:GetResolverRuleAssociation
  terraform/environments/core-vpc/vpc.tf
Labels: core, networking

#1280 core-vpc-sandbox-cidr-allocation-update
  cidr-allocation.md
Labels: networking

#1281 Give xhibit portal team adminstrator access in development env
  environments/xhibit-portal.json
Labels: onboarding

#1283 Add VPCs that sit within the core vpc sandbox account
  environments-networks/garden-development.json
  environments-networks/garden-sandbox.json
  environments-networks/house-development.json
  environments-networks/house-sandbox.json
  policies/networking/expected.rego
  terraform/environments/core-vpc/vpc.tf
Labels: onboarding, core, testing, networking

#1282 Add route53resolver:UpdateResolverRule
  terraform/environments/core-vpc/vpc.tf
Labels: core, networking

#1284 Add sustainability page
  source/index.html.md.erb
  source/user-guide/sustainability.html.md.erb
Labels: documentation

#1286 Revert console admin permissions for xhibit portal team
  environments/xhibit-portal.json
Labels: onboarding

#1287 Add administrator console access again for xhibit portal team
  environments/xhibit-portal.json
Labels: onboarding

#1294 open up the nacls between the garden and house sandbox
  environments-networks/garden-sandbox.json
  environments-networks/house-sandbox.json
Labels: onboarding

#1304 Moved core-security services to the new IP ranges
  cidr-allocation.md
  terraform/environments/core-security/test/go_test.go
  terraform/environments/core-security/vpc.tf
Labels: core, security, networking

#1305 Features/move core logging to new ip ranges
  cidr-allocation.md
  terraform/environments/core-logging/lambda/lambda_function.zip
  terraform/environments/core-logging/test/go_test.go
  terraform/environments/core-logging/vpc.tf
Labels: core, networking

#1306 Features/move core shared services to new ip ranges
  cidr-allocation.md
  terraform/environments/core-shared-services/test/go_test.go
  terraform/environments/core-shared-services/vpc.tf
Labels: core, networking

#1309 Moved core-network-services to the new IP ranges
  cidr-allocation.md
  terraform/environments/core-network-services/test/go_test.go
  terraform/environments/core-network-services/vpc.tf
Labels: core, networking

#1311 fix-dependency-issue-with-vpc.tf
  terraform/environments/core-vpc/vpc.tf
Labels: core, networking
