Repository ministryofjustice/modernisation-platform, pull requests merged in 2021-02, with the labels that each got.

#288 Expand acronyms and add missing tags
  terraform/modules/core-vpc/main.tf
  terraform/modules/core-vpc/outputs.tf
Labels: enhancement

#287 Rename shared-transit-gateway to transit-gateway
  terraform/environments/core-network-services/ram.tf
  terraform/environments/core-shared-services/transit-gateway-attachment.tf
  terraform/environments/core-vpc/transit-gateway-attachment.tf
Labels: core, networking

#289 Use *.tfvars.json files for network definitions within tenant accounts
  environments-networks/hmpps-production.json
  environments-networks/laa-production.json
  scripts/provision-environment-directories.sh
  terraform/environments/analytical-platform-management/networking.auto.tfvars.json
  terraform/environments/bichard7/networking.auto.tfvars.json
  terraform/environments/core-logging/networking.auto.tfvars.json
  terraform/environments/core-network-services/.terraform.lock.hcl
  terraform/environments/core-network-services/networking.auto.tfvars.json
  terraform/environments/core-sandbox/.terraform.lock.hcl
  terraform/environments/core-sandbox/networking.auto.tfvars.json
  terraform/environments/core-security/networking.auto.tfvars.json
  terraform/environments/core-shared-services/networking.auto.tfvars.json
  terraform/environments/core-vpc/.terraform.lock.hcl
  terraform/environments/core-vpc/networking.auto.tfvars.json
  terraform/environments/core-vpc/subnet-sets/hmpps-production.json
  terraform/environments/core-vpc/subnet-sets/laa-production.json
  terraform/environments/core-vpc/vpc.tf
  terraform/environments/justice-on-the-web/networking.auto.tfvars.json
  terraform/environments/remote-supervision/networking.auto.tfvars.json
  terraform/templates/base_variables.tf
Labels: core, networking

#286 initial bastion configuration
  terraform/environments/core-sandbox/base_variables.tf
  terraform/environments/core-sandbox/bastion_linux.tf
  terraform/modules/bastion_linux/main.tf
  terraform/modules/bastion_linux/user_data.sh
  terraform/modules/bastion_linux/variables.tf
Labels: core

#290 Move TGW routes into a separate module for explicit depends_on
  terraform/environments/core-shared-services/.terraform.lock.hcl
  terraform/environments/core-shared-services/vpc.tf
  terraform/modules/core-vpc-tgw-routes/main.tf
  terraform/modules/core-vpc-tgw-routes/variables.tf
  terraform/modules/core-vpc/main.tf
  terraform/modules/core-vpc/outputs.tf
Labels: core

#291 This PR adds core-vpc-tgw-routes module, core-network-services provider and tags to Core Logging and Core Security accounts.
  terraform/environments/core-logging/.terraform.lock.hcl
  terraform/environments/core-logging/iam.tf
  terraform/environments/core-logging/locals.tf
  terraform/environments/core-logging/networking.auto.tfvars.json
  terraform/environments/core-logging/providers.tf
  terraform/environments/core-logging/transit-gateway-attachment.tf
  terraform/environments/core-logging/versions.tf
  terraform/environments/core-logging/vpc.tf
  terraform/environments/core-security/.terraform.lock.hcl
  terraform/environments/core-security/iam.tf
  terraform/environments/core-security/locals.tf
  terraform/environments/core-security/networking.auto.tfvars.json
  terraform/environments/core-security/providers.tf
  terraform/environments/core-security/transit-gateway-attachment.tf
  terraform/environments/core-security/vpc.tf
Labels: core

#292 Refactor core-vpc module to use new JSON structure
  terraform/environments/core-network-services/.terraform.lock.hcl
  terraform/environments/core-vpc/.terraform.lock.hcl
  terraform/environments/core-vpc/networking.auto.tfvars.json
  terraform/environments/core-vpc/vpc.tf
  terraform/environments/core-vpc/vpcs/hmpps-vpc-non-live-data.json
  terraform/environments/core-vpc/vpcs/hmpps-vpc-production.json
  terraform/modules/member-vpc/main.tf
  terraform/modules/member-vpc/outputs.tf
Labels: core, enhancement, networking

#293 Fix member-vpc main.tf file and add core-vpc-tgw-routes to core-vpc VPC file.
  terraform/environments/core-vpc/vpc.tf
  terraform/modules/core-vpc/main.tf
  terraform/modules/ec2-tgw-attachment/main.tf
  terraform/modules/member-vpc/main.tf
Labels: core, networking

#294 Update vision.html.md.erb
  source/team/vision.html.md.erb
Labels: documentation

#300 Cleanup VPC Transit Gateway routing module
  terraform/environments/core-vpc/vpc.tf
  terraform/modules/vpc-tgw-routing/main.tf
  terraform/modules/vpc-tgw-routing/variables.tf
  terraform/modules/vpc-tgw-routing/versions.tf
Labels: bug, core, networking

#299 Update required providers to always specify a minimum AWS provider and Terraform version
  terraform/environments/analytical-platform-management/versions.tf
  terraform/environments/bichard7/versions.tf
  terraform/environments/core-logging/versions.tf
  terraform/environments/core-network-services/versions.tf
  terraform/environments/core-sandbox/versions.tf
  terraform/environments/core-security/versions.tf
  terraform/environments/core-shared-services/versions.tf
  terraform/environments/core-vpc/versions.tf
  terraform/environments/justice-on-the-web/versions.tf
  terraform/environments/remote-supervision/versions.tf
  terraform/environments/versions.tf
  terraform/modernisation-platform-account/versions.tf
  terraform/templates/versions.tf
Labels: bug, core, enhancement, networking

#301 Cleanup VPC custom NACLs module
  terraform/environments/core-vpc/vpc.tf
  terraform/modules/vpc-nacls/main.tf
  terraform/modules/vpc-nacls/variables.tf
  terraform/modules/vpc-nacls/versions.tf
Labels: core, enhancement, networking

#316 Bring GitHub terraform up to date to resolve drift issues
  terraform/github/.terraform.lock.hcl
  terraform/github/modules/repository/main.tf
Labels: bug, enhancement

#317 Split out backend and providers declarations, import orphaned repository resource
  terraform/github/backend.tf
  terraform/github/main.tf
  terraform/github/modules/repository/main.tf
  terraform/github/modules/repository/variables.tf
  terraform/github/modules/repository/versions.tf
  terraform/github/modules/team/versions.tf
  terraform/github/providers.tf
Labels: bug, enhancement

#324 GitHub team module: update to 4.40.0 and introduce variables for team members
  terraform/github/.terraform.lock.hcl
  terraform/github/locals.tf
  terraform/github/main.tf
  terraform/github/modules/team/main.tf
  terraform/github/modules/team/outputs.tf
  terraform/github/modules/team/variables.tf
  terraform/github/modules/team/versions.tf
  terraform/github/versions.tf
Labels: enhancement

#321 Fix labeller ignoring non-defined sync-labels option and ignoring .lock.hcl glob
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: bug

#326 Add an 'engineer' team and clean up pre-existing role determination
  terraform/github/locals.tf
  terraform/github/main.tf
  terraform/github/modules/team/main.tf
Labels: bug, enhancement

#336 NS delegation for bichard7
  terraform/environments/core-network-services/route53.tf
Labels: core, networking, onboarding

#330 Pin terraform-module-environments to v1.0.0
  terraform/environments/.terraform.lock.hcl
  terraform/environments/environments.tf
Labels: dependencies

#331 Pin modules used in modernisation-platform-account
  terraform/modernisation-platform-account/.terraform.lock.hcl
  terraform/modernisation-platform-account/baselines.tf
  terraform/modernisation-platform-account/iam.tf
  terraform/modernisation-platform-account/s3.tf
Labels: dependencies

#332 Pin terraform-cross-account-access to v1.0.0
  terraform/environments/bootstrap/delegate-access/.terraform.lock.hcl
  terraform/environments/bootstrap/delegate-access/iam.tf
Labels: dependencies

#334 Update terraform-baselines to 2.0.1
  terraform/environments/bootstrap/secure-baselines/.terraform.lock.hcl
  terraform/environments/bootstrap/secure-baselines/main.tf
  terraform/modernisation-platform-account/baselines.tf
Labels: dependencies

#337 Updated route_53 records for Bichard7
  terraform/environments/core-network-services/route53.tf
Labels: core, networking

#338 Add a CI user with a specific deny policy to allow us to run Terraform as part of a CI/CD pipeline
  terraform/modernisation-platform-account/iam.tf
Labels: enhancement

#340 Set GitHub repository secrets from AWS Secrets Manager
  .github/workflows/new-environment.yml
  terraform/github/.terraform.lock.hcl
  terraform/github/aws.tf
  terraform/github/main.tf
  terraform/github/providers.tf
  terraform/github/versions.tf
Labels: bug, dependencies, enhancement

#356 Test-core-network-services-automation
  terraform/environments/core-network-services/checkfile1.txt
Labels: core, networking

#358 Test-core-network-services-automation
  terraform/environments/core-network-services/checkfile1.txt
Labels: core, networking

#360 Test-core-network-services-automation
  terraform/environments/core-network-services/checkfile1.txt
Labels: core, networking

#362 Test-core-network-services-automation
  terraform/environments/core-network-services/checkfile1.txt
Labels: core, networking

#367 Update TerraTest testing
  .github/workflows/core-logging-deployment.yml
  .github/workflows/core-network-services-deployment.yml
  .github/workflows/core-security-deployment.yml
  .github/workflows/core-shared-services-deployment.yml
  scripts/update-pr-comments.sh
  terraform/environments/core-logging/output.tf
  terraform/environments/core-logging/test/go.mod
  terraform/environments/core-logging/test/go.sum
  terraform/environments/core-logging/test/go_test.go
  terraform/environments/core-network-services/networking.auto.tfvars.json
  terraform/environments/core-network-services/output.tf
  terraform/environments/core-network-services/test/go.mod
  terraform/environments/core-network-services/test/go.sum
  terraform/environments/core-network-services/test/go_test.go
  terraform/environments/core-sandbox/networking.auto.tfvars.json
  terraform/environments/core-security/output.tf
  terraform/environments/core-security/test/go.mod
  terraform/environments/core-security/test/go.sum
  terraform/environments/core-security/test/go_test.go
  terraform/environments/core-shared-services/output.tf
  terraform/environments/core-shared-services/test/go.mod
  terraform/environments/core-shared-services/test/go.sum
  terraform/environments/core-shared-services/test/go_test.go
  terraform/modules/core-vpc/outputs.tf
Labels: core, networking

#368 Add an architecture diagram for environments (AWS accounts) with an explanation
  source/concepts/environments/architecture.html.md.erb
  source/concepts/environments/index.html.md.erb
  source/concepts/index.html.md.erb
  source/user-guide/creating-environments.html.md.erb
  source/user-guide/index.html.md.erb
Labels: documentation

#370 Add documentation around the security of new environments
  source/concepts/environments/security.html.md.erb
  source/user-guide/our-offer-to-you.html.md.erb
Labels: documentation

#341 Add workflow to deploy GitHub resource changes via Terraform
  .github/workflows/terraform-github.yml
  terraform/github/providers.tf
  terraform/github/variables.tf
Labels: enhancement

#372 Refactor core-vpc module to be more explicit in its resource creation
  terraform/environments/core-network-services/.terraform.lock.hcl
  terraform/environments/core-network-services/output.tf
  terraform/modules/vpc-hub/main.tf
  terraform/modules/vpc-hub/variables.tf
Labels: core, enhancement, networking

#373 VPC Hub fixes: point NACL rules to the right resource, add missing tags
  terraform/environments/core-network-services/output.tf
  terraform/environments/core-network-services/vpc.tf
  terraform/modules/vpc-hub/main.tf
  terraform/modules/vpc-hub/outputs.tf
  terraform/modules/vpc-hub/variables.tf
  terraform/modules/vpc-hub/versions.tf
Labels: bug, core, enhancement, networking

#376 Add David Elliott and Fasih Rehman to our team page
  source/team/team.html.md.erb
Labels: documentation

#371 Add READMEs for ./modules and ./templates, and update the ./environments README
  terraform/README.md
  terraform/environments/README.md
  terraform/modules/README.md
  terraform/templates/README.md
Labels: documentation

#382 Add Fasih and David to the correct GitHub teams
  terraform/github/locals.tf
Labels: team

#380 Add README for VPC Hub
  terraform/modules/vpc-hub/README.md
  terraform/modules/vpc-hub/main.tf
Labels: documentation

#381 Update roadmap link
  source/team/roadmap.html.md.erb
Labels: documentation

#385 Update tech-docs-github-pages-publisher to 1.3
  .github/workflows/check-links.yml
  .github/workflows/publish.yml
  makefile
Labels: dependencies

#384 Add a guide for Adding a new team member
  source/team-guide/adding-a-new-team-member.html.md.erb
  source/team-guide/index.html.md.erb
Labels: documentation

#383 Use github.event.ref instead of github.event.pull_request for the GitHub workflow
  .github/workflows/terraform-github.yml
  terraform/github/.terraform.lock.hcl
Labels: bug

#386 Update alliance.html.md.erb
  source/team/alliance.html.md.erb
Labels: documentation

#387 Update adding-a-new-team-member.html.md.erb
  source/team-guide/adding-a-new-team-member.html.md.erb
Labels: documentation

#393 DNS Automation with IAM
  environments-networks/hmpps-production.json
  environments-networks/laa-production.json
  terraform/environments/core-network-services/.terraform.lock.hcl
  terraform/environments/core-network-services/output.tf
  terraform/environments/core-network-services/route53.tf
  terraform/environments/core-network-services/vpc.tf
  terraform/environments/core-vpc/.terraform.lock.hcl
  terraform/environments/core-vpc/vpc.tf
  terraform/modules/dns-zone/README.md
  terraform/modules/dns-zone/main.tf
  terraform/modules/dns-zone/variables.tf
  terraform/modules/dns-zone/versions.tf
  terraform/modules/member-vpc/main.tf
Labels: core, networking

#392 Update new environment workflow to run plan on PR and apply on merge
  .github/workflows/new-environment.yml
Labels: enhancement

#295 Remove the dependency for running secure baselines as an IAM user in the AWS root account
  .github/workflows/new-environment.yml
  terraform/environments/bootstrap/secure-baselines/.terraform.lock.hcl
  terraform/environments/bootstrap/secure-baselines/locals.tf
  terraform/environments/bootstrap/secure-baselines/main.tf
  terraform/environments/bootstrap/secure-baselines/providers.tf
  terraform/environments/bootstrap/secure-baselines/secrets.tf
Labels: enhancement

#401 Provide right AWS keys for the delegate-access workflow
  .github/workflows/new-environment.yml
Labels: bug

#400 Breaking change: users now need to provide key, values for environments
  environments/analytical-platform-management.json
  environments/bichard7.json
  environments/core-logging.json
  environments/core-network-services.json
  environments/core-sandbox.json
  environments/core-security.json
  environments/core-shared-services.json
  environments/core-vpc.json
  environments/justice-on-the-web.json
  environments/remote-supervision.json
  source/user-guide/creating-environments.html.md.erb
  terraform/environments/.terraform.lock.hcl
  terraform/environments/environments.tf
Labels: documentation, enhancement, onboarding

#414 added sprinkler.json file
  environments/sprinkler.json
Labels: onboarding
