Repository ministryofjustice/modernisation-platform, pull requests merged in 2022-12, with the labels that each got.

#2738 Adding missing network steps
  environments-networks/hmpps-preproduction.json
  policies/networking/expected.rego
Labels: onboarding, testing

#2743 added VPN for FNG, fixed typo.
  terraform/environments/core-network-services/vpn.tf
  terraform/environments/core-network-services/vpn_attachments.json
Labels: terraform, networking, member request

#2745 Feature/2721 jitbit accounts
  environments/delius-jitbit.json
  policies/environments/expected.rego
  source/runbooks/creating-accounts-for-end-users.html.md.erb
Labels: documentation, onboarding, testing

#2747 Fixing a link to the creating-vpcs runbook guide
  source/runbooks/creating-accounts-for-end-users.html.md.erb
Labels: documentation

#2748 Feature/2721 jitbit accounts
  environments-networks/hmpps-development.json
  environments-networks/hmpps-preproduction.json
  environments-networks/hmpps-production.json
  source/runbooks/creating-accounts-for-end-users.html.md.erb
Labels: documentation, onboarding

#2769 updated reviewed on date
  source/getting-help/index.html.md.erb
Labels: documentation

#2752 Feature/2721 jitbit accounts
  policies/networking/expected.rego
  source/runbooks/creating-accounts-for-end-users.html.md.erb
Labels: documentation, onboarding, testing

#2772 Environment file and environments terraform modifications for awsnuke
  environments/data-and-insights-wepi.json
  environments/delius-iaps.json
  environments/digital-prison-reporting.json
  environments/sprinkler.json
  terraform/environments/environments.tf
  terraform/environments/secrets.tf
Labels: onboarding

#2779 Change access level for ppud engineers to sandbox
  collaborators.json
  policies/collaborators/collaborators.rego
  policies/collaborators/collaborators_test.rego
Labels: testing

#2783 Amend routes on TGW external route table
  terraform/environments/core-network-services/transit_gateway_connections.tf
Labels: core, networking

#2786 Add guidance for pagerduty integration
  source/index.html.md.erb
  source/user-guide/integrating-alarms-with-pagerduty-with-slack.html.md.erb
Labels: documentation

#2789 Adjustments to VPN configuration
  terraform/environments/core-network-services/vpn.tf
  terraform/environments/core-network-services/vpn_attachments.json
Labels: core, networking

#2791 Updating nuke documentation.
  source/concepts/environments/auto-nuke.html.md.erb
  source/user-guide/creating-environments.html.md.erb
Labels: documentation

#2794 added optional flag to allow MP to start VPNs
  terraform/environments/core-network-services/vpn.tf
  terraform/environments/core-network-services/vpn_attachments.json
Labels: core, networking

#2797 use declarative approach to route traffic to NOMS via primary NOMS VPN
  terraform/environments/core-network-services/locals.tf
  terraform/environments/core-network-services/vpn.tf
  terraform/environments/core-network-services/vpn_attachments.json
Labels: core, networking

#2618 POC of using terratest for integration testing of lambda functions
  terraform/environments/core-shared-services/test/go_test.go
  terraform/environments/core-shared-services/test/test_terraform/locals.tf
  terraform/environments/core-shared-services/test/test_terraform/main.tf
  terraform/environments/core-shared-services/test/test_terraform/outputs.tf
  terraform/environments/core-shared-services/test/test_terraform/providers.tf
  terraform/environments/core-shared-services/test/test_terraform/secrets.tf
Labels: core

#2805 Add OPA tests to check nuke values
  policies/environments/environment-definitions.rego
  policies/environments/environment-definitions_test.rego
  source/concepts/environments/auto-nuke.html.md.erb
Labels: documentation, testing

#2818 Update team.html.md.erb
  source/team/team.html.md.erb
Labels: documentation

#2819 Change name from northgate to six degrees
  terraform/environments/core-network-services/vpn_attachments.json
Labels: core, networking

#2824 Enable local tests to be run with testing-test SSO
  scripts/internal/get-testing-ci-user-creds/README.MD
  scripts/internal/get-testing-ci-user-creds/get_testing_creds.go
  scripts/internal/get-testing-ci-user-creds/go.mod
  scripts/internal/get-testing-ci-user-creds/go.sum
  source/concepts/sdlc/testing-strategy.html.md.erb
  terraform/environments/bootstrap/delegate-access/iam.tf
Labels: documentation

#2826 Disabling rebuild after nuke for delius-iaps to avoid conflict with working branches.
  environments/delius-iaps.json
Labels: onboarding

#2827 Remove threat-and-vulnerability-mgmt accounts
  environments-networks/hq-development.json
  environments-networks/hq-production.json
  environments/threat-and-vulnerability-mgmt.json
  policies/environments/expected.rego
  policies/networking/expected.rego
  source/runbooks/deleting-an-environment.html.md.erb
  terraform/environments/threat-and-vulnerability-mgmt/backend.tf
  terraform/environments/threat-and-vulnerability-mgmt/base_variables.tf
  terraform/environments/threat-and-vulnerability-mgmt/locals.tf
  terraform/environments/threat-and-vulnerability-mgmt/networking.auto.tfvars.json
  terraform/environments/threat-and-vulnerability-mgmt/providers.tf
  terraform/environments/threat-and-vulnerability-mgmt/secrets.tf
  terraform/environments/threat-and-vulnerability-mgmt/subnet_share.tf
  terraform/environments/threat-and-vulnerability-mgmt/versions.tf
Labels: documentation, onboarding, testing

#2828 Final removal clean up and doc update
  source/runbooks/deleting-an-environment.html.md.erb
  terraform/github/locals.tf
Labels: documentation

#2830 Change from static to dynamic github app teams
  .github/workflows/terraform-github.yml
  source/runbooks/creating-accounts-for-end-users.html.md.erb
  terraform/github/locals.tf
  terraform/github/main.tf
Labels: documentation

#2835 Update alliance.html.md.erb
  source/team/alliance.html.md.erb
Labels: documentation

#2842 Adding testing account information and tags, workflow scheduling and updating docs.
  .github/workflows/terraform-github.yml
  source/concepts/sdlc/testing-strategy.html.md.erb
  terraform/github/README.md
  terraform/github/locals.tf
  terraform/github/testing-ci.tf
  terraform/github/versions.tf
Labels: documentation

#2843 Add new backup features
  source/concepts/environments/backups.html.md.erb
  terraform/environments/bootstrap/delegate-access/iam.tf
  terraform/environments/bootstrap/secure-baselines/main.tf
Labels: documentation

#2852 Update sandbox-testing-environments.html.md.erb
  source/concepts/sdlc/sandbox-testing-environments.html.md.erb
Labels: documentation

#2851 Add Xray VPC endpoint
  environments-networks/laa-development.json
  environments-networks/laa-preproduction.json
  environments-networks/laa-production.json
  environments-networks/laa-test.json
Labels: onboarding

#2859 Update delius-iaps.json
  environments/delius-iaps.json
Labels: onboarding

#2858 Wrong type in principal. Removed AWS for Federated.
  terraform/environments/core-shared-services/iam.tf
Labels: core

#2869 Add secrets manager vpc endpoints for LAA VPCs
  environments-networks/laa-development.json
  environments-networks/laa-preproduction.json
  environments-networks/laa-production.json
  environments-networks/laa-test.json
Labels: onboarding

#2870 Add endpoints the right way round
  environments-networks/laa-development.json
  environments-networks/laa-preproduction.json
  environments-networks/laa-production.json
  environments-networks/laa-test.json
Labels: onboarding

#2871 ARN required not json, missed by myself. Tested.
  terraform/environments/bootstrap/delegate-access/iam.tf
  terraform/environments/core-shared-services/iam.tf
Labels: core

#2876 Update iam.tf
  terraform/environments/core-shared-services/iam.tf
Labels: core

#2878 Creation of automation script with default variables.
  terraform/environments/core-shared-services/ssm.tf
Labels: core

#2885 Add ghost incident mgmt page
  source/runbooks/manage-an-incident.html.md.erb
Labels: documentation

#2888 Add migration role
  policies/collaborators/collaborators.rego
  policies/collaborators/collaborators_test.rego
  policies/environments/environment-definitions.rego
  policies/environments/environment-definitions_test.rego
  source/user-guide/creating-environments.html.md.erb
  source/user-guide/working-as-a-collaborator.html.md.erb
  terraform/environments/bootstrap/delegate-access/collaborators.tf
  terraform/environments/bootstrap/delegate-access/policies.tf
  terraform/environments/bootstrap/single-sign-on/main.tf
Labels: documentation, testing

#2908 New OAS application
  environments/oas.json
  policies/environments/expected.rego
  source/runbooks/creating-accounts-for-end-users.html.md.erb
Labels: documentation, onboarding, testing

#2910 Add networking for OAS and update networking docs
  environments-networks/laa-development.json
  policies/networking/expected.rego
  source/runbooks/creating-accounts-for-end-users.html.md.erb
  source/runbooks/creating-vpcs.html.md.erb
Labels: documentation, onboarding, testing
