Repository ministryofjustice/modernisation-platform, pull requests merged in 2022-01, with the labels that each got.

#1369 Remove Don, add David and Scott to team
  source/team/team.html.md.erb
  terraform/github/locals.tf
Labels: documentation

#1373 minor amendments to team onboarding guide for clarity
  source/team-guide/adding-a-new-team-member.html.md.erb
Labels: documentation

#1377 Docs/aws access
  source/index.html.md.erb
  source/team-guide/accessing-aws-accounts.html.md.erb
Labels: documentation

#1394 added bullet listing to references
  source/team-guide/accessing-aws-accounts.html.md.erb
Labels: documentation

#1396 Add networking for Azure to NOMIS test
  environments-networks/hmpps-test.json
  terraform/environments/core-network-services/firewall.tf
  terraform/environments/core-network-services/transit_gateway_connections.tf
Labels: onboarding, core, networking

#1398 Fix invalid firewall group name
  terraform/environments/core-network-services/firewall.tf
Labels: core, networking

#1400 Fix wrong subnet type
  environments-networks/hmpps-test.json
Labels: onboarding

#1401 Add networking for Cloud Platform to NOMIS test
  environments-networks/hmpps-test.json
  terraform/environments/core-network-services/firewall.tf
  terraform/environments/core-network-services/transit_gateway_connections.tf
Labels: onboarding, core, networking

#1402 added logging.s3.amazonaws.com to kms principals
  terraform/environments/core-logging/s3_logging.tf
Labels: core

#1412 Update alliance.html.md.erb
  source/team/alliance.html.md.erb
Labels: documentation

#1413 Feature/kms per business unit
  terraform/environments/core-shared-services/kms.tf
  terraform/environments/core-shared-services/locals.tf
  terraform/modules/kms/README.md
  terraform/modules/kms/main.tf
  terraform/modules/kms/variables.tf
  terraform/modules/read-only-users/README.md
Labels: core

#1418 replace / with : to fix invalid principal identifier for KMS policy
  terraform/modules/kms/main.tf
Labels: terraform

#1419 Feature/ppud production
  environments/ppud.json
  policies/environments/expected.rego
Labels: onboarding, testing

#1426 Revert temporary read only users for ITHC
  terraform/environments/core-logging/athena.tf
  terraform/environments/core-logging/iam.tf
  terraform/environments/core-network-services/iam.tf
  terraform/environments/core-security/iam.tf
  terraform/environments/core-shared-services/iam.tf
  terraform/environments/core-vpc/iam.tf
  terraform/environments/sprinkler/iam.tf
  terraform/modernisation-platform-account/iam.tf
  terraform/modules/read-only-users/README.md
  terraform/modules/read-only-users/main.tf
  terraform/modules/read-only-users/outputs.tf
  terraform/modules/read-only-users/variables.tf
  terraform/modules/read-only-users/versions.tf
Labels: core, security, networking

#1428 added ppud account to hmpps-production networking
  environments-networks/hmpps-production.json
Labels: onboarding
