Repository ministryofjustice/modernisation-platform, pull requests merged in 2022-10, with the labels that each got.

#2371 Begin TGW Code cleanup
  terraform/environments/core-network-services/transit_gateway_connections.tf
Labels: core, networking

#2373 Remove Zuri :(
  source/team/team.html.md.erb
Labels: documentation

#2377 removed vpc-tgw-routes module
  terraform/environments/core-vpc/vpc.tf
  terraform/modules/vpc-tgw-routing/README.md
  terraform/modules/vpc-tgw-routing/main.tf
  terraform/modules/vpc-tgw-routing/variables.tf
  terraform/modules/vpc-tgw-routing/versions.tf
Labels: core, networking

#2379 add route propagations to external-in TGW route table
  terraform/environments/core-network-services/transit_gateway_connections.tf
Labels: core, networking

#2346 Updating local plan docs in line with OIDC changes #2030
  source/user-guide/running-terraform-plan-locally.html.md.erb
Labels: documentation

#2381 Apply default routes via TGW in VPC module
  terraform/environments/core-vpc/vpc.tf
Labels: core, networking

#2387 Consolidate code for routes back to Transit Gateway
  terraform/environments/core-logging/athena.tf
  terraform/environments/core-logging/vpc.tf
  terraform/environments/core-network-services/vpc.tf
  terraform/environments/core-security/vpc.tf
  terraform/environments/core-shared-services/vpc.tf
  terraform/modules/core-vpc-tgw-routes/README.md
  terraform/modules/core-vpc-tgw-routes/main.tf
  terraform/modules/core-vpc-tgw-routes/variables.tf
  terraform/modules/core-vpc-tgw-routes/versions.tf
  terraform/modules/vpc-hub/README.md
  terraform/modules/vpc-hub/main.tf
  terraform/modules/vpc-hub/variables.tf
Labels: core, security, networking

#2388 added value for transit_gateway_id
  terraform/environments/core-network-services/vpc.tf
Labels: core, networking

#2391 feature/add oidc provider core shared services
  terraform/environments/bootstrap/delegate-access/iam.tf
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#2394 Enable appliance mode for Inspection VPC attachment
  terraform/environments/core-network-services/firewall.tf
  terraform/modules/vpc-hub/README.md
Labels: enhancement, core, networking, firewall

#2404 Create MAATDB development environment
  environments/maatdb.json
  policies/environments/expected.rego
Labels: onboarding, testing

#2390 Instance Scheduler resources
  terraform/environments/core-shared-services/iam.tf
  terraform/environments/core-shared-services/instance-scheduler-lambda-function.tf
Labels: core

#2416 added maatdb to laa-development
  environments-networks/laa-development.json
  policies/networking/expected.rego
Labels: onboarding, testing

#2419 Fix image_uri issue.
  terraform/environments/core-shared-services/iam.tf
  terraform/environments/core-shared-services/instance-scheduler-lambda-function.tf
Labels: core

#2417 Add patching ADR
  .github/workflows/format-code.yml
  architecture-decision-record/0022-patching-strategy.md
  architecture-decision-record/README.md
  source/concepts/sdlc/patching.html.md.erb
  source/index.html.md.erb
  source/user-guide/our-offer-to-you.html.md.erb
Labels: documentation

#2424 Using SSO credentials instead of superadmin
  .github/workflows/format-code.yml
  terraform/environments/bootstrap/delegate-access/iam.tf
  terraform/environments/bootstrap/delegate-access/locals.tf
  terraform/environments/core-network-services/iam.tf
  terraform/modernisation-platform-account/s3.tf
Labels: core, networking

#2425 Create a resource share for the environment management secret
  terraform/environments/core-shared-services/iam.tf
Labels: core

#2426 Removing handler and runtime from lambda function
  terraform/environments/core-shared-services/instance-scheduler-lambda-function.tf
Labels: core

#2435 Update TGW routes for Nomis
  terraform/environments/core-network-services/transit_gateway_connections.tf
Labels: core, networking

#2437 MP TGW routes for Nomis/Studiohosting
  terraform/environments/core-network-services/transit_gateway_connections.tf
Labels: core, networking

#2452 Allow KMS decryption and add env variables for instance scheduler lambda
  terraform/environments/core-shared-services/iam.tf
  terraform/environments/core-shared-services/instance-scheduler-lambda-function.tf
Labels: core

#2453 Remove env variable for secret ID
  terraform/environments/core-shared-services/instance-scheduler-lambda-function.tf
Labels: core

#2456 ccms-ebs account creation
  environments/ccms-ebs.json
  policies/environments/expected.rego
Labels: onboarding, testing

#2461 Add ccms-ebs account to laa-development
  environments-networks/laa-development.json
Labels: onboarding

#2463 Small doc fix
  source/user-guide/running-terraform-plan-locally.html.md.erb
Labels: documentation

#2485 added missing account to networking OPA tests
  policies/networking/expected.rego
Labels: testing

#2484 Skip the accounts from instance scheduling
  terraform/environments/core-shared-services/instance-scheduler-lambda-function.tf
Labels: core

#2486 Move new env guidance to correct location
  source/index.html.md.erb
  source/runbooks/creating-accounts-for-end-users.html.md.erb
Labels: documentation

#2487 Features/allow lambda assuming the right role
  terraform/environments/core-shared-services/iam.tf
Labels: core

#2488 Firewall policy module
  terraform/environments/core-network-services/firewall.tf
  terraform/environments/core-network-services/locals.tf
  terraform/environments/core-network-services/production_rules.json
  terraform/modules/firewall-policy/main.tf
  terraform/modules/firewall-policy/outputs.tf
  terraform/modules/firewall-policy/variables.tf
  terraform/modules/firewall-policy/versions.tf
Labels: core, networking

#2497 Update general-incident.html.md.erb
  source/runbooks/general-incident.html.md.erb
Labels: documentation

#2503 Migrating core-shared-services OIDC provider to environments/core-shared-services
  terraform/environments/bootstrap/delegate-access/iam.tf
  terraform/environments/core-shared-services/iam.tf
  terraform/environments/core-shared-services/instance-scheduler-lambda-function.tf
Labels: core

#2502 Adding perms to GH actions so that it can run lambda in go tests
  terraform/environments/bootstrap/delegate-access/iam.tf
  terraform/environments/core-shared-services/iam.tf
Labels: core

#2510 Reviewing Automated Terraform Docs doc
  source/user-guide/creating-automated-terraform-documentation.html.md.erb
Labels: documentation

#2511 Adding GH actions role principal to the lambda function role policy document
  terraform/environments/core-shared-services/iam.tf
Labels: core

#2508 Updating local plans guidance
  source/runbooks/terraform.html.md.erb
  source/user-guide/running-terraform-plan-locally.html.md.erb
Labels: documentation

#2514 Formatting fix.
  source/user-guide/running-terraform-plan-locally.html.md.erb
Labels: documentation

#2516 Network firewall adjustments
  terraform/environments/core-network-services/firewall.tf
  terraform/modules/firewall-policy/main.tf
  terraform/modules/firewall-policy/variables.tf
Labels: core, networking

#2519 Add documentation for shared KMS keys
  source/index.html.md.erb
  source/user-guide/how-to-use-shared-kms-keys.html.md.erb
  terraform/templates/data.tf
Labels: documentation

#2515 Add Stop/Start triggers for Instance Scheduler
  terraform/environments/core-shared-services/instance-scheduler-lambda-function.tf
Labels: core

#2517 Tweaks to documentation based on feedback
  source/runbooks/terraform.html.md.erb
Labels: documentation
