Repository ministryofjustice/modernisation-platform, pull requests merged in 2022-08, with the labels that each got.

#2058 Update team.html.md.erb
  source/team/team.html.md.erb
Labels: documentation

#2056 Add Apex development environment
  environments/apex.json
  policies/environments/expected.rego
  terraform/github/locals.tf
Labels: onboarding, testing

#2064 Temporarily giving administrator access to Apex
  environments/apex.json
Labels: onboarding

#2071 Fix/static code analysis
  terraform/environments/core-logging/athena.tf
  terraform/environments/core-logging/s3_logging.tf
  terraform/environments/core-shared-services/kms.tf
  terraform/environments/equip/iam.tf
  terraform/environments/testing/iam.tf
  terraform/modernisation-platform-account/iam.tf
  terraform/modules/collaborators/main.tf
Labels: core

#2074 Hacking the setup-baselines.sh script
  environments/apex.json
  scripts/setup-baseline.sh
Labels: onboarding

#2076 Revert "Hacking the setup-baselines.sh script"
  environments/apex.json
  scripts/setup-baseline.sh
Labels: onboarding

#2078 Reduce apex account access
  environments/apex.json
  scripts/setup-baseline.sh
  scripts/terraform-init.sh
  scripts/terraform-plan.sh
Labels: onboarding

#2081 Add debug toggle to apex.json trigger Delegate Access step
  environments/apex.json
Labels: onboarding

#2087 added content for LAA development VPC
  cidr-allocation.md
  environments-networks/laa-development.json
  policies/networking/expected.rego
Labels: onboarding, testing, networking

#2089 Trigger RAM share for Apex
  environments-networks/laa-development.json
Labels: onboarding

#2092 Add environments file data call to apex locals file
  environments-networks/laa-development.json
  terraform/environments/apex/locals.tf
Labels: onboarding

#2102 Fix MD table formatting
  cidr-allocation.md
Labels: networking

#2091 OIDC provider permissions
  terraform/environments/bootstrap/delegate-access/iam.tf
  terraform/environments/core-network-services/iam.tf
Labels: core, networking

#2113 Revert "OIDC provider permissions"
  terraform/environments/bootstrap/delegate-access/iam.tf
  terraform/environments/core-network-services/iam.tf
Labels: core, networking

#2114 Initial commit for the new env for data-insight
  environments/data-and-insight-wepi.json
Labels: onboarding

#2118 Removing file with wrong name
  environments/data-and-insight-wepi.json
Labels: onboarding

#2122 Added the correct file name and env
  environments/data-and-insights-wepi.json
  policies/environments/expected.rego
Labels: onboarding, testing

#2119 Update on account deletion process
  source/runbooks/deleting-an-environment.html.md.erb
Labels: documentation

#2121 Update developer access guidance
  source/user-guide/creating-environments.html.md.erb
Labels: documentation

#2127 Feature/adding environment networks data insights
  environments-networks/hq-development.json
  policies/networking/expected.rego
Labels: onboarding, testing

#2129 Added missing development part of team name
  environments-networks/hq-development.json
  policies/networking/expected.rego
Labels: onboarding, testing

#2159 Update to latest version of S3 module
  terraform/environments/core-logging/athena.tf
  terraform/environments/core-logging/s3_logging.tf
  terraform/environments/core-shared-services/bucket.tf
Labels: core

#2161 Add conditional statement for github-actions
  terraform/environments/core-network-services/iam.tf
Labels: core, networking

#2164 correctly populate IAM statement conditions
  terraform/environments/core-network-services/iam.tf
Labels: core, networking

#2165 Correctly state condition keys for IAM Policy
  terraform/environments/core-network-services/iam.tf
Labels: core, networking

#2168 Document review
  source/concepts/environments/architecture.html.md.erb
  source/concepts/environments/security.html.md.erb
  source/concepts/environments/single-sign-on.html.md.erb
  source/index.html.md.erb
  source/team/vision.html.md.erb
Labels: documentation

#2163 Feature/doc acc creation
  source/images/subnets.png
  source/index.html.md.erb
  source/user-guide/creating-accounts-for-end-users.html.md.erb
Labels: documentation

#2173 Initial add to create referrals, however I may need to break up the p…
  environments-networks/hmpps-development.json
  environments/poc-referrals-warehouse.json
  policies/environments/expected.rego
Labels: onboarding, testing

#2176 File name change
  environments/refer-and-monitor.json
Labels: onboarding

#2182 Removing the entire env to complete the removal process.
  environments/refer-and-monitor.json
  policies/environments/expected.rego
  terraform/environments/refer-and-monitor/backend.tf
  terraform/environments/refer-and-monitor/base_variables.tf
  terraform/environments/refer-and-monitor/locals.tf
  terraform/environments/refer-and-monitor/networking.auto.tfvars.json
  terraform/environments/refer-and-monitor/platform_secrets.tf
  terraform/environments/refer-and-monitor/providers.tf
  terraform/environments/refer-and-monitor/subnet_share.tf
  terraform/environments/refer-and-monitor/versions.tf
Labels: onboarding, testing

#2183 Take 2, adding only files required and correct names.
  environments/refer-and-monitor.json
  policies/environments/expected.rego
Labels: onboarding, testing

#2187 Name change for service, will tidy up when back old acc
  environments/refer-monitor.json
  policies/environments/expected.rego
Labels: onboarding, testing

#2189 Add developer access for Data and Insights
  environments/data-and-insights-wepi.json
Labels: onboarding

#2190 Revert developer access for Data and Insights
  environments/data-and-insights-wepi.json
Labels: onboarding

#2181 Resolve the bastion host key change warning
  source/user-guide/accessing-ec2s.html.md.erb
Labels: documentation

#2198 Reviewed documentation as per schedule
  source/user-guide/accessing-the-aws-console.html.md.erb
  source/user-guide/creating-resources.html.md.erb
  source/user-guide/deploying-your-application.html.md.erb
  source/user-guide/environment-diagram.html.md.erb
  source/user-guide/getting-aws-credentials.html.md.erb
Labels: documentation

#2202 Adding refer-monitor to networks, its already in policies expected.rego
  environments-networks/hmpps-development.json
Labels: onboarding

#2210 Review documents
  source/user-guide/accessing-ec2s.html.md.erb
  source/user-guide/cloud-platform-or-modernisation-platform.html.md.erb
  source/user-guide/creating-networking.html.md.erb
  source/user-guide/obtaining-deployment-credentials.html.md.erb
  source/user-guide/wider-moj-connectivity.html.md.erb
Labels: documentation

#2212 Added to test pipeline
  terraform/environments/refer-monitor/networking.auto.tfvars.json
Labels: onboarding

#2213 Fix typo in HMMPS account level access
  environments/refer-monitor.json
Labels: onboarding
