Repository ministryofjustice/modernisation-platform, pull requests merged in 2022-11, with the labels that each got.

#2528 Route to Analytics Platform via PTTP TGW
  terraform/environments/core-network-services/transit_gateway_connections.tf
Labels: core, networking

#2532 Increase lambda's reserved_concurrent_executions to 1
  terraform/environments/core-shared-services/instance-scheduler-lambda-function.tf
Labels: core

#2529 Add documentation page for Instance Scheduling
  source/concepts/environments/instance-scheduling.md.erb
  source/index.html.md.erb
Labels: documentation

#2534 fix doc file name
  source/concepts/environments/instance-scheduling.html.md.erb
Labels: documentation

#2536 Add "kms:CreateGrant" to instance scheduler role
  terraform/environments/core-shared-services/iam.tf
Labels: core

#2538 Add a note for auto scaling groups and RDS instances
  source/concepts/environments/instance-scheduling.html.md.erb
  source/index.html.md.erb
Labels: documentation

#2539 Minor markdown corrections
  source/concepts/environments/instance-scheduling.html.md.erb
Labels: documentation

#2543 Add "kms:CreateGrant" to instance scheduler role to try fixing the issue
  terraform/environments/bootstrap/delegate-access/iam.tf
  terraform/environments/core-shared-services/iam.tf
Labels: core

#2544 Ignore open KMS resource
  terraform/environments/core-shared-services/iam.tf
Labels: core

#2553 Fix the reference link
  source/concepts/environments/instance-scheduling.html.md.erb
Labels: documentation

#2554 Enable instance scheduling for equip and performance hub
  terraform/environments/core-shared-services/instance-scheduler-lambda-function.tf
Labels: core

#2558 Increase the lambda timeout to 10 min
  terraform/environments/core-shared-services/instance-scheduler-lambda-function.tf
Labels: core

#2561 Enable Instance Scheduling for remaining accounts except some
  terraform/environments/core-shared-services/instance-scheduler-lambda-function.tf
Labels: core

#2562 Enable Instance Scheduling for xhibit-portal
  terraform/environments/core-shared-services/instance-scheduler-lambda-function.tf
Labels: core

#2564 Review and update the auto-nuke doc
  source/concepts/environments/auto-nuke.html.md.erb
Labels: documentation

#2573 Update docs with instance scheduler info
  source/runbooks/dos-attack.html.md.erb
  source/runbooks/enabling-shield-advanced.html.md.erb
  source/user-guide/our-offer-to-you.html.md.erb
  source/user-guide/sustainability.html.md.erb
Labels: documentation

#2574 Turn on instance scheduling for nomis dev and test
  terraform/environments/core-shared-services/instance-scheduler-lambda-function.tf
Labels: core

#2575 Adding testing-test permissions to pull from ecr and assume lambda scheduling role.
  terraform/environments/bootstrap/delegate-access/iam.tf
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#2578 Change DPR to sandbox account
  environments/digital-prison-reporting.json
Labels: onboarding

#2581 Migrating lambda creation code to module.
  terraform/environments/core-shared-services/iam.tf
  terraform/environments/core-shared-services/instance-scheduler-lambda-function.tf
Labels: core

#2582 Update team tools to include alternatives
  source/runbooks/joining-the-team.html.md.erb
Labels: documentation

#2583 Fixing AWS user refs & adding detail to PR approvals
  source/concepts/sdlc/user-workflow.html.md.erb
Labels: documentation

#2605 SSO removal now happens in SCIM
  source/runbooks/removing-a-team-member.html.md.erb
Labels: documentation

#2606 Change review date
  source/runbooks/changing-environment-details.html.md.erb
Labels: documentation

#2552 S3 lock for core-vpc-sandbox
  terraform/environments/core-vpc/backend.tf
Labels: core, networking

#2589 Explicitly skip non-member accounts from Instance Scheduling
  terraform/environments/core-shared-services/instance-scheduler-lambda-function.tf
Labels: core

#2611 Decrease alert sensitivity
  terraform/environments/core-network-services/monitoring.tf
Labels: core, networking

#2615 Amend backup guidance to reflect what is backed up
  source/concepts/environments/backups.html.md.erb
Labels: documentation

#2616 Add ADR on backup strategy
  architecture-decision-record/0023-backup-strategy.md
  architecture-decision-record/README.md
Labels: documentation

#2624 This had been updated in the last sprint
  source/runbooks/terraform.html.md.erb
Labels: documentation

#2609 Changes to backend.tf to invoke S3/dynamodb locking
  terraform/environments/apex/backend.tf
  terraform/environments/bichard7/backend.tf
  terraform/environments/bootstrap/delegate-access/backend.tf
  terraform/environments/bootstrap/secure-baselines/backend.tf
  terraform/environments/ccms-ebs/backend.tf
  terraform/environments/cooker/backend.tf
  terraform/environments/core-logging/backend.tf
  terraform/environments/core-network-services/backend.tf
  terraform/environments/core-shared-services/backend.tf
  terraform/environments/data-and-insights-wepi/backend.tf
  terraform/environments/delius-iaps/backend.tf
  terraform/environments/digital-prison-reporting/backend.tf
  terraform/environments/equip/backend.tf
  terraform/environments/example/backend.tf
  terraform/environments/maatdb/backend.tf
  terraform/environments/mi-platform/backend.tf
  terraform/environments/mlra/backend.tf
  terraform/environments/nomis/backend.tf
  terraform/environments/oasys/backend.tf
  terraform/environments/performance-hub/backend.tf
  terraform/environments/ppud/backend.tf
  terraform/environments/refer-monitor/backend.tf
  terraform/environments/remote-supervision/backend.tf
  terraform/environments/sprinkler/backend.tf
  terraform/environments/tariff/backend.tf
  terraform/environments/testing/backend.tf
  terraform/environments/threat-and-vulnerability-mgmt/backend.tf
  terraform/environments/xhibit-portal/backend.tf
Labels: core, networking

#2633 Make alarm less sensitive
  terraform/environments/core-network-services/monitoring.tf
Labels: core, networking

#2630 Route traffic to/from MP lower environments via Network Firewall
  terraform/environments/core-network-services/transit_gateway_connections.tf
Labels: core, networking

#2645 Feature/data and insights wepi prp prd
  environments/data-and-insights-wepi.json
Labels: onboarding, testing

#2649 Added networking related changes for the new envs required.
  environments-networks/hq-preproduction.json
  environments-networks/hq-production.json
  policies/networking/expected.rego
Labels: onboarding, testing

#2650 Adding AMI builds repo to MP OIDC provider default role to allow OIDC conversion.
  terraform/environments/bootstrap/delegate-access/iam.tf
  terraform/environments/core-shared-services/iam.tf
  terraform/modernisation-platform-account/iam.tf
Labels: core

#2656 Added IP address to code for live data,
  terraform/environments/core-network-services/transit_gateway_connections.tf
Labels: core, networking

#2654 Runbook for cloudwatch networking alarms
  source/index.html.md.erb
  source/runbooks/cloudwatch-networking-alarms.html.md.erb
Labels: documentation

#2505 Add VPN attachments to TGW
  terraform/environments/core-network-services/locals.tf
  terraform/environments/core-network-services/vpn.tf
  terraform/environments/core-network-services/vpn_attachments.json
Labels: core, networking

#2688 Adding work and task management info into our ways of working guide.
  source/index.html.md.erb
  source/team/ways-of-working.html.md.erb
Labels: documentation

#2696 added delius-iaps account to hmpps-production environment
  environments-networks/hmpps-production.json
  policies/networking/expected.rego
Labels: onboarding, testing

#2698 Switch to our team email as Tatiana left
  environments/refer-monitor.json
Labels: onboarding

#2699 Feature/2641 waysofworking
  source/team/ways-of-working.html.md.erb
Labels: documentation

#2701 Expanding on ways of working guide
  source/team/ways-of-working.html.md.erb
Labels: documentation

#2706 Tiny update to the ways of working doc
  source/team/ways-of-working.html.md.erb
Labels: documentation

#2702 Amending routing for live environments as part of NWFW work
  terraform/environments/core-network-services/transit_gateway_connections.tf
Labels: core, networking

#2725 Review docs and make updates as required.
  source/concepts/environments/security.html.md.erb
  source/concepts/networking/certificate-services.html.md.erb
  source/concepts/networking/instance-access-and-bastions.html.md.erb
  source/concepts/networking/networking-approach.html.md.erb
  source/concepts/networking/networking-diagram.html.md.erb
  source/concepts/networking/subnet-allocation.html.md.erb
Labels: documentation

#2727 Documentation review and amendments
  source/concepts/environments/architecture.html.md.erb
  source/concepts/sdlc/core-workflow.html.md.erb
  source/concepts/sdlc/repositories.html.md.erb
  source/runbooks/adding-collaborators.html.md.erb
  source/runbooks/adding-wider-connectivity.html.md.erb
Labels: documentation

#2733 Adding pre-prod for iaps
  environments/delius-iaps.json
Labels: onboarding

#2735 added missing option to tunnel log options
  terraform/environments/core-network-services/vpn.tf
Labels: core, networking

#2734 New MLRA environments
  environments/mlra.json
Labels: onboarding

#2736 Feature/new mlra systems #2655
  environments-networks/laa-preproduction.json
  environments-networks/laa-production.json
  environments-networks/laa-test.json
  policies/networking/expected.rego
Labels: onboarding, testing
