Repository ministryofjustice/modernisation-platform, pull requests merged in 2022-07, with the labels that each got.

#1950 Change core-vpc member role to full read only
  source/images/dns-role-switch.png
  source/images/vpc-role-switch.png
  source/user-guide/member-read-only-core-accounts.html.md.erb
  terraform/environments/core-vpc/vpc.tf
Labels: documentation, core, networking

#1951 Scheduled review of certificate docs
  source/user-guide/certificate-import-windows.html.md.erb
  source/user-guide/certificate-import.html.md.erb
Labels: documentation

#1963 Update core security to TF 1.2.4
  .github/workflows/core-security-deployment.yml
  terraform/environments/core-security/versions.tf
Labels: core, security

#1966 Update to the latest version of Terraform
  .github/workflows/core-logging-deployment.yml
  .github/workflows/core-network-services-deployment.yml
  .github/workflows/core-security-deployment.yml
  .github/workflows/core-shared-services-deployment.yml
  .github/workflows/core-vpc-development-deployment.yml
  .github/workflows/core-vpc-preproduction-deployment.yml
  .github/workflows/core-vpc-production-deployment.yml
  .github/workflows/core-vpc-test-deployment.yml
  .github/workflows/modernisation-platform-account.yml
  .github/workflows/new-environment.yml
  .github/workflows/scheduled-baseline.yml
  .github/workflows/templates/workflow-template.yml
  .github/workflows/terraform-github.yml
  .github/workflows/terraform-pagerduty.yml
  terraform/environments/analytical-platform-data/versions.tf
  terraform/environments/analytical-platform-management/versions.tf
  terraform/environments/bichard7/versions.tf
  terraform/environments/bootstrap/delegate-access/versions.tf
  terraform/environments/bootstrap/secure-baselines/versions.tf
  terraform/environments/bootstrap/single-sign-on/versions.tf
  terraform/environments/cooker/versions.tf
  terraform/environments/core-logging/versions.tf
  terraform/environments/core-network-services/versions.tf
  terraform/environments/core-sandbox/versions.tf
  terraform/environments/core-shared-services/versions.tf
  terraform/environments/core-vpc/versions.tf
  terraform/environments/equip/versions.tf
  terraform/environments/example/versions.tf
  terraform/environments/mi-platform/versions.tf
  terraform/environments/nomis/versions.tf
  terraform/environments/performance-hub/versions.tf
  terraform/environments/ppud/versions.tf
  terraform/environments/remote-supervision/versions.tf
  terraform/environments/sprinkler/versions.tf
  terraform/environments/tariff/versions.tf
  terraform/environments/testing/versions.tf
  terraform/environments/threat-and-vulnerability-mgmt/versions.tf
  terraform/environments/versions.tf
  terraform/environments/xhibit-portal/versions.tf
  terraform/github/versions.tf
  terraform/modernisation-platform-account/versions.tf
Labels: core, networking

#1968 allow tcp/22 in to nomis data subnets from azure fix'n'go
  environments-networks/hmpps-production.json
  environments-networks/hmpps-test.json
Labels: onboarding

#1972 Add routes for Azure noms-mgmt-live
  terraform/environments/core-network-services/transit_gateway_connections.tf
Labels: core, networking

#1973 Open NACLs on hmpps-production
  environments-networks/hmpps-production.json
Labels: onboarding

#1977 Give modify dns permissions to testing-ci user
  terraform/environments/core-network-services/iam.tf
Labels: core, networking

#1985 added prevent_destroy to tgw and vpc attachment resources
  terraform/environments/core-network-services/firewall.tf
  terraform/environments/core-network-services/transit-gateway.tf
  terraform/environments/core-network-services/transit_gateway_connections.tf
  terraform/modules/ec2-tgw-attachment/main.tf
Labels: core, networking

#2000 Refactor TGW attachment tagging
  terraform/environments/core-logging/transit-gateway-attachment.tf
  terraform/environments/core-security/transit-gateway-attachment.tf
  terraform/environments/core-shared-services/transit-gateway-attachment.tf
  terraform/environments/core-vpc/transit-gateway-attachment.tf
  terraform/modules/ec2-tgw-attachment/main.tf
Labels: core, security, networking

#2001 Trim names when retagging VPC attachments
  terraform/environments/core-logging/transit-gateway-attachment.tf
  terraform/environments/core-security/transit-gateway-attachment.tf
  terraform/environments/core-shared-services/transit-gateway-attachment.tf
  terraform/environments/core-vpc/transit-gateway-attachment.tf
Labels: core, security, networking

#2002 Add Cloudwatch Alarm & PagerDuty integration for TGW Attachments
  terraform/environments/core-network-services/monitoring.tf
Labels: core, networking

#2004 fix/tgw-monitoring
  terraform/environments/core-network-services/monitoring.tf
Labels: core, networking

#2005 Corrected wrong case in alarm argument
  terraform/environments/core-network-services/monitoring.tf
Labels: core, networking

#2006 Correct CloudWatch alarm dimensions
  terraform/environments/core-network-services/monitoring.tf
Labels: core, networking

#2007 Create Out of Hours Support
  source/index.html.md.erb
  source/team/operational-processes.html.md.erb
  terraform/environments/core-sandbox/playground.tf
Labels: documentation, core

#2009 Add some missing steps to the setting up collaborator documentation
  source/runbooks/adding-collaborators.html.md.erb
Labels: documentation

#2011 improve naming for services VPC TGW attachments
  terraform/environments/core-logging/transit-gateway-attachment.tf
  terraform/environments/core-security/transit-gateway-attachment.tf
  terraform/environments/core-shared-services/transit-gateway-attachment.tf
Labels: core, security

#2014 User guidance review
  source/runbooks/accessing-aws-accounts.html.md.erb
  source/user-guide/how-to-configure-dns.html.md.erb
Labels: documentation

#2024 remove inspection vpc from monitoring
  terraform/environments/core-network-services/locals.tf
Labels: core, networking

#2025 Update on call hours
  source/team/operational-processes.html.md.erb
Labels: documentation

#2034 Add testing-ci creds script to useful scripts pages
  source/runbooks/useful-scripts.html.md.erb
Labels: documentation

#2043 Add TGW propagation statements
  terraform/environments/core-network-services/locals.tf
  terraform/environments/core-network-services/transit_gateway_connections.tf
Labels: core, networking

#2044 remove new propagation statements
  terraform/environments/core-network-services/locals.tf
  terraform/environments/core-network-services/transit_gateway_connections.tf
Labels: core, networking

#2045 Dynamic vpc route propagation
  terraform/environments/core-network-services/transit-gateway.tf
  terraform/environments/core-network-services/transit_gateway_connections.tf
Labels: core, networking

#2049 update name of firewall route table in data call
  terraform/environments/core-vpc/vpc.tf
Labels: core, networking

#2051 remove creation of static TGW routes from vpc-tgw-routing module
  terraform/environments/core-vpc/vpc.tf
  terraform/modules/vpc-tgw-routing/main.tf
  terraform/modules/vpc-tgw-routing/variables.tf
Labels: core, networking

#2055 removed Shakeel from team
  source/team/team.html.md.erb
  terraform/github/locals.tf
Labels: documentation
