Repository ministryofjustice/modernisation-platform, pull requests merged in 2022-02, with the labels that each got.

#1432 Add automation to create collaborator IAM users
  .github/workflows/modernisation-platform-account.yml
  collaborators.json
  policies/README.md
  policies/collaborators/collaborators.rego
  policies/collaborators/collaborators_test.rego
  policies/collaborators/utilities.rego
  scripts/git-create-environments.sh
  scripts/tests/validate/run-opa-tests.sh
  source/images/collaborators.png
  source/index.html.md.erb
  source/team-guide/adding-collaborators.html.md.erb
  terraform/environments/bootstrap/delegate-access/iam.tf
  terraform/modernisation-platform-account/iam.tf
  terraform/modernisation-platform-account/locals.tf
  terraform/modules/collaborators/README.md
  terraform/modules/collaborators/main.tf
  terraform/modules/collaborators/outputs.tf
  terraform/modules/collaborators/variables.tf
  terraform/modules/collaborators/versions.tf
Labels: documentation, testing

#1442 Feature/xp preprod
  cidr-allocation.md
  environments/xhibit-portal.json
Labels: onboarding, testing, networking

#1443 Delete unneeded OPA tests
  policies/networking/core-vpc.rego
  policies/networking/core-vpc_test.rego
  policies/networking/expected.rego
  scripts/tests/validate/run-opa-tests.sh
Labels: testing

#1445 Trigger environment workflow
  environments/xhibit-portal.json
Labels: onboarding

#1448 Create HMCTS Preproduction VPC
  cidr-allocation.md
  environments-networks/hmcts-preproduction.json
  policies/networking/expected.rego
Labels: onboarding, testing, networking

#1451 Add permissions needed to run plans as collab dev
  source/team-guide/adding-collaborators.html.md.erb
  source/user-guide/running-terraform-plan-locally.html.md.erb
  terraform/environments/bootstrap/delegate-access/iam.tf
  terraform/modernisation-platform-account/iam.tf
  terraform/modernisation-platform-account/s3.tf
Labels: documentation

#1468 Prevent auto upgrade to AWS provider 4.0.0
  terraform/environments/analytical-platform-data/versions.tf
  terraform/environments/analytical-platform-management/versions.tf
  terraform/environments/bichard7/versions.tf
  terraform/environments/bootstrap/delegate-access/versions.tf
  terraform/environments/bootstrap/secure-baselines/versions.tf
  terraform/environments/bootstrap/single-sign-on/versions.tf
  terraform/environments/cooker/versions.tf
  terraform/environments/core-logging/versions.tf
  terraform/environments/core-network-services/versions.tf
  terraform/environments/core-sandbox/versions.tf
  terraform/environments/core-security/versions.tf
  terraform/environments/core-shared-services/versions.tf
  terraform/environments/core-vpc/versions.tf
  terraform/environments/dex-ta/versions.tf
  terraform/environments/mi-platform/versions.tf
  terraform/environments/nomis/versions.tf
  terraform/environments/performance-hub/versions.tf
  terraform/environments/ppud/versions.tf
  terraform/environments/remote-supervision/versions.tf
  terraform/environments/sprinkler/versions.tf
  terraform/environments/tariff/versions.tf
  terraform/environments/testing/versions.tf
  terraform/environments/versions.tf
  terraform/environments/xhibit-portal/versions.tf
  terraform/github/versions.tf
  terraform/modernisation-platform-account/versions.tf
  terraform/modules/app-ecr-repo/versions.tf
  terraform/modules/core-vpc-tgw-return-routes/versions.tf
  terraform/modules/core-vpc-tgw-routes/versions.tf
  terraform/modules/dns-zone-extend/versions.tf
  terraform/modules/iam_baseline/versions.tf
  terraform/modules/pagerduty-integration/versions.tf
  terraform/modules/ram-resource-share/versions.tf
  terraform/modules/vpc-hub/versions.tf
  terraform/modules/vpc-nacls/versions.tf
  terraform/modules/vpc-tgw-routing/versions.tf
  terraform/pagerduty/versions.tf
  terraform/templates/versions.tf
Labels: core, security, networking

#1465 Resolve tfsec errors
  terraform/environments/bootstrap/delegate-access/iam.tf
  terraform/environments/core-network-services/acm-pca.tf
  terraform/environments/core-network-services/versions.tf
  terraform/environments/core-vpc/vpc.tf
  terraform/modules/pagerduty-integration/versions.tf
  terraform/modules/vpc-hub/versions.tf
Labels: core, networking

#1470 Documentation update
  source/concepts/environments/problem-and-solution.html.md.erb
  source/concepts/environments/security.html.md.erb
  source/concepts/environments/single-sign-on.html.md.erb
  source/index.html.md.erb
  source/user-guide/accessing-ec2s.html.md.erb
  source/user-guide/accessing-the-aws-console.html.md.erb
  source/user-guide/cloud-platform-or-modernisation-platform.html.md.erb
  source/user-guide/creating-environments.html.md.erb
  source/user-guide/creating-networking.html.md.erb
  source/user-guide/creating-resources.html.md.erb
  source/user-guide/deploying-your-application.html.md.erb
  source/user-guide/deploying-your-infrastructure.html.md.erb
  source/user-guide/environment-diagram.html.md.erb
  source/user-guide/getting-aws-credentials.html.md.erb
  source/user-guide/obtaining-deployment-credentials.html.md.erb
  source/user-guide/our-offer-to-you.html.md.erb
  source/user-guide/running-terraform-plan-locally.html.md.erb
  source/user-guide/sustainability.html.md.erb
  source/user-guide/wider-moj-connectivity.html.md.erb
Labels: documentation

#1471 Widen route to PSN on TGW
  terraform/environments/core-network-services/transit_gateway_connections.tf
Labels: core, networking

#1472 Add guidance for adding connectivity to mp
  source/index.html.md.erb
  source/team-guide/adding-wider-connectivity.html.md.erb
Labels: documentation

#1474 Add role for shared services account
  terraform/environments/core-shared-services/iam.tf
Labels: core

#1477 Fix Cloudtrail logs lambda and athena
  terraform/environments/core-logging/athena.tf
  terraform/environments/core-logging/lambda/index.py
  terraform/environments/core-logging/lambda/lambda_function.zip
Labels: core

#1485 Add NACL rules to allow inbound traffic
  environments-networks/hmcts-development.json
Labels: onboarding

#1486 Remove MP OUs SCP prevent root access policy
  source/team-guide/deleting-an-environment.html.md.erb
  terraform/environments/scp_mp_core.tf
  terraform/environments/scp_mp_member.tf
  terraform/environments/scp_mp_member_unrestricted.tf
Labels: documentation

#1482 Add security audit role to collaborator roles
  policies/collaborators/collaborators.rego
  terraform/environments/bootstrap/delegate-access/iam.tf
Labels: testing

#1489 Update guidance to reflect move of SCPs
  source/team-guide/modifying-scps.html.md.erb
Labels: documentation

#1495 Delete dex ta environment #1467
  environments-networks/hmpps-development.json
  environments/dex-ta.json
  policies/environments/expected.rego
  terraform/environments/dex-ta/backend.tf
  terraform/environments/dex-ta/base_variables.tf
  terraform/environments/dex-ta/locals.tf
  terraform/environments/dex-ta/networking.auto.tfvars.json
  terraform/environments/dex-ta/providers.tf
  terraform/environments/dex-ta/secrets.tf
  terraform/environments/dex-ta/subnet_share.tf
  terraform/environments/dex-ta/versions.tf
  terraform/github/locals.tf
Labels: onboarding, testing
