Repository ministryofjustice/modernisation-platform, pull requests merged in 2022-05, with the labels that each got.

#1730 Shared services workflow wasnt triggering on apply
  .github/workflows/core-shared-services-deployment.yml
  terraform/environments/core-shared-services/bucket.tf
Labels: core

#1733 New example account to use for example code
  environments/example.json
  policies/environments/expected.rego
Labels: onboarding, testing

#1735 Adding the CIDR for example-development account
  environments-networks/platforms-development.json
  policies/networking/expected.rego
Labels: onboarding, testing, networking

#1751 Add runbook for dos or ddos attack
  source/index.html.md.erb
  source/runbooks/dos-attack.html.md.erb
Labels: documentation

#1753 Triggering RAM share for platform development
  environments-networks/platforms-development.json
Labels: onboarding

#1752 Go test dependencies update
  terraform/environments/core-logging/test/go.mod
  terraform/environments/core-logging/test/go.sum
  terraform/environments/core-network-services/test/go.mod
  terraform/environments/core-network-services/test/go.sum
  terraform/environments/core-security/test/go.mod
  terraform/environments/core-security/test/go.sum
  terraform/environments/core-shared-services/test/go.mod
  terraform/environments/core-shared-services/test/go.sum
Labels: dependencies, core, security, networking, go

#1758 Add documentation on how to enable shield advanced
  source/index.html.md.erb
  source/runbooks/enabling-shield-advanced.html.md.erb
Labels: documentation

#1759 Add high and low priority SNS alarm topics in core
  terraform/environments/core-logging/monitoring.tf
  terraform/environments/core-network-services/monitoring.tf
  terraform/environments/core-security/monitoring.tf
  terraform/environments/core-shared-services/monitoring.tf
  terraform/environments/core-vpc/monitoring.tf
  terraform/modernisation-platform-account/monitoring.tf
  terraform/modules/core-monitoring/README.md
  terraform/modules/core-monitoring/main.tf
  terraform/modules/core-monitoring/variables.tf
Labels: core, security, networking

#1762 Add an egress route for nomis production
  terraform/environments/core-network-services/transit_gateway_connections.tf
Labels: core, networking

#1761 Updated documentation for the Auto-nuke rework
  source/concepts/environments/auto-nuke.html.md.erb
Labels: documentation

#1769 Add shield advanced and DDoS monitoring to mp zone
  .github/workflows/core-logging-deployment.yml
  .github/workflows/core-network-services-deployment.yml
  .github/workflows/core-security-deployment.yml
  .github/workflows/core-shared-services-deployment.yml
  .github/workflows/core-vpc-development-deployment.yml
  .github/workflows/core-vpc-preproduction-deployment.yml
  .github/workflows/core-vpc-production-deployment.yml
  .github/workflows/core-vpc-test-deployment.yml
  terraform/environments/core-network-services/monitoring.tf
  terraform/environments/core-network-services/providers.tf
  terraform/environments/core-network-services/route53.tf
  terraform/environments/core-vpc/monitoring.tf
  terraform/modules/core-monitoring/main.tf
Labels: core, networking

#1771 Add slack alerts when our docs are out of date
  source/concepts/environments/architecture.html.md.erb
  source/concepts/environments/auto-nuke.html.md.erb
  source/concepts/environments/backups.html.md.erb
  source/concepts/environments/problem-and-solution.html.md.erb
  source/concepts/environments/security.html.md.erb
  source/concepts/environments/single-sign-on.html.md.erb
  source/concepts/networking/certificate-services.html.md.erb
  source/concepts/networking/dns.html.md.erb
  source/concepts/networking/instance-access-and-bastions.html.md.erb
  source/concepts/networking/networking-approach.html.md.erb
  source/concepts/networking/networking-diagram.html.md.erb
  source/concepts/networking/subnet-allocation.html.md.erb
  source/concepts/sdlc/core-workflow.html.md.erb
  source/concepts/sdlc/repositories.html.md.erb
  source/concepts/sdlc/user-workflow.html.md.erb
  source/getting-help/index.html.md.erb
  source/index.html.md.erb
  source/runbooks/accessing-aws-accounts.html.md.erb
  source/runbooks/adding-a-new-team-member.html.md.erb
  source/runbooks/adding-collaborators.html.md.erb
  source/runbooks/adding-wider-connectivity.html.md.erb
  source/runbooks/changing-environment-details.html.md.erb
  source/runbooks/deleting-an-environment.html.md.erb
  source/runbooks/disaster-recovery.html.md.erb
  source/runbooks/dos-attack.html.md.erb
  source/runbooks/enabling-shield-advanced.html.md.erb
  source/runbooks/general-incident.html.md.erb
  source/runbooks/joining-the-team.html.md.erb
  source/runbooks/modifying-scps.html.md.erb
  source/runbooks/querying-vpc-flow-logs.html.md.erb
  source/runbooks/removing-a-team-member.html.md.erb
  source/runbooks/runbook.html.md.erb
  source/runbooks/terraform.html.md.erb
  source/runbooks/useful-scripts.html.md.erb
  source/team/alliance.html.md.erb
  source/team/roadmap.html.md.erb
  source/team/team.html.md.erb
  source/team/vision.html.md.erb
  source/user-guide/accessing-ec2s.html.md.erb
  source/user-guide/accessing-the-aws-console.html.md.erb
  source/user-guide/certificate-import-windows.html.md.erb
  source/user-guide/certificate-import.html.md.erb
  source/user-guide/cloud-platform-or-modernisation-platform.html.md.erb
  source/user-guide/creating-automated-terraform-documentation.html.md.erb
  source/user-guide/creating-environments.html.md.erb
  source/user-guide/creating-networking.html.md.erb
  source/user-guide/creating-resources.html.md.erb
  source/user-guide/deploying-your-application.html.md.erb
  source/user-guide/deploying-your-infrastructure.html.md.erb
  source/user-guide/environment-diagram.html.md.erb
  source/user-guide/getting-aws-credentials.html.md.erb
  source/user-guide/how-to-configure-dns.html.md.erb
  source/user-guide/obtaining-deployment-credentials.html.md.erb
  source/user-guide/our-offer-to-you.html.md.erb
  source/user-guide/running-terraform-plan-locally.html.md.erb
  source/user-guide/sustainability.html.md.erb
  source/user-guide/wider-moj-connectivity.html.md.erb
  source/user-guide/working-as-a-collaborator.html.md.erb
Labels: documentation

#1772 Add missing review dates to docs
  source/runbooks/adding-a-new-team-member.html.md.erb
  source/runbooks/changing-environment-details.html.md.erb
Labels: documentation

#1780 Add Route53 hosted zones to Shield advanced docs
  source/runbooks/enabling-shield-advanced.html.md.erb
Labels: documentation

#1781 Update vision.html.md.erb
  source/team/vision.html.md.erb
Labels: documentation

#1782 Update architecture and Terraform docs
  source/concepts/environments/architecture.html.md.erb
  source/images/ous-and-scps.png
  source/runbooks/terraform.html.md.erb
Labels: documentation

#1784 Update DNS concepts page
  source/concepts/networking/certificate-services.html.md.erb
Labels: documentation

#1786 Update useful scripts document
  source/runbooks/useful-scripts.html.md.erb
Labels: documentation

#1790 Doc reviews
  source/concepts/networking/networking-diagram.html.md.erb
  source/concepts/sdlc/user-workflow.html.md.erb
  source/images/environments-and-networking.png
Labels: documentation

#1798 Update repo, network and instance connection docs
  source/concepts/networking/instance-access-and-bastions.html.md.erb
  source/concepts/networking/networking-approach.html.md.erb
  source/concepts/sdlc/repositories.html.md.erb
  source/images/shared-responsibility-model.png
  source/user-guide/our-offer-to-you.html.md.erb
Labels: documentation

#1803 Update index.html.md.erb
  source/getting-help/index.html.md.erb
Labels: documentation

#1804 Update joining-the-team.html.md.erb
  source/runbooks/joining-the-team.html.md.erb
Labels: documentation

#1789 updated review date for subnet allocation
  source/concepts/networking/subnet-allocation.html.md.erb
  source/images/subnet-sets-allocation.png
  source/images/subnets-allocation.png
  source/images/subnets-example.png
Labels: documentation

#1805 Fix spelling mistakes in Shield Advanced documentation
  source/runbooks/enabling-shield-advanced.html.md.erb
Labels: documentation

#1806 Documentation review and updates
  source/concepts/sdlc/core-workflow.html.md.erb
  source/runbooks/adding-collaborators.html.md.erb
  source/runbooks/adding-wider-connectivity.html.md.erb
  source/user-guide/sustainability.html.md.erb
Labels: documentation

#1809 Fixing code to remove "name" from example.json - duplicate tages when…
  environments/example.json
Labels: onboarding

#1810 Update alliance.html.md.erb
  source/team/alliance.html.md.erb
Labels: documentation

#1812 Reviewed docs
  source/team/alliance.html.md.erb
  source/user-guide/running-terraform-plan-locally.html.md.erb
Labels: documentation

#1819 Add Security accounts
  environments/threat-and-vulnerability-mgmt.json
  policies/environments/expected.rego
Labels: onboarding, testing

#1821 Add security team to repos
  terraform/github/locals.tf
Labels: onboarding, testing, networking

#1822 Add HQ VPCs and general subnet sets
  .github/workflows/core-vpc-development-deployment.yml
  .github/workflows/core-vpc-preproduction-deployment.yml
  .github/workflows/core-vpc-production-deployment.yml
  .github/workflows/core-vpc-test-deployment.yml
  cidr-allocation.md
  environments-networks/hq-development.json
  environments-networks/hq-production.json
  policies/networking/expected.rego
Labels: onboarding, testing, networking

#1833 Adds user guide for Member Developers to view core/shared resources
  source/images/dns-role-switch.png
  source/images/shared-services-role-switch.png
  source/images/vpc-role-switch.png
  source/index.html.md.erb
  source/user-guide/member-read-only-core-accounts.html.md.erb
Labels: documentation
