Repository ministryofjustice/modernisation-platform, pull requests merged in 2022-06, with the labels that each got.

#1837 Fix failing local plans for dns
  terraform/environments/core-network-services/iam.tf
Labels: core, networking

#1843 Restrict athena permissions
  terraform/environments/core-logging/athena.tf
Labels: core

#1845 Add PPUD sandbox environment
  environments/ppud.json
Labels: onboarding, testing

#1846 Add PPUD development networking
  environments-networks/hmpps-development.json
  policies/networking/expected.rego
Labels: onboarding, testing

#1860 Changes to templates based on example code work
  scripts/provision-terraform-workspaces.sh
  source/user-guide/running-terraform-plan-locally.html.md.erb
  terraform/templates/data.tf
  terraform/templates/locals.tf
  terraform/templates/platform_secrets.tf
Labels: documentation

#1867 Add ADR for using Go as main platform language
  architecture-decision-record/0004-use-bash-node-python-as-core-languages.md
  architecture-decision-record/0019-use-bash-go-as-core-languages.md
  architecture-decision-record/README.md
  source/user-guide/sustainability.html.md.erb
Labels: documentation

#1869 Update vision.html.md.erb
  source/team/vision.html.md.erb
Labels: documentation

#1874 Add testing strategy documentation
  source/concepts/sdlc/testing-strategy.html.md.erb
  source/index.html.md.erb
Labels: documentation

#1903 Update offer to include Github team reponsibility
  source/user-guide/our-offer-to-you.html.md.erb
Labels: documentation

#1875 Add documentation on our sandbox and testing accs
  source/concepts/sdlc/sandbox-testing-environments.html.md.erb
  source/index.html.md.erb
Labels: documentation

#1924 Change ppud access to developer
  environments/ppud.json
Labels: onboarding

#1926 trimmed endpoint list for hmpps
  environments-networks/hmpps-development.json
  environments-networks/hmpps-production.json
Labels: onboarding

#1928 Remove uneeded record
  terraform/environments/core-network-services/route53.tf
Labels: core, networking

#1930 update reference to VPC module tagged version
  terraform/environments/core-vpc/vpc.tf
Labels: core, networking

#1939 Update team.html.md.erb
  source/team/team.html.md.erb
Labels: documentation

#1940 Update team.html.md.erb
  source/team/team.html.md.erb
Labels: documentation
