Repository ministryofjustice/modernisation-platform, pull requests merged in 2022-09, with the labels that each got.

#2218 Add new OPA test to check valid Access level
  policies/collaborators/collaborators_test.rego
  policies/environments/environment-definitions.rego
  policies/environments/environment-definitions_test.rego
Labels: testing

#2225 Updated docs for stages acc creation
  source/user-guide/creating-accounts-for-end-users.html.md.erb
Labels: documentation

#2216 Added development and preproduction for nomis under enviornments.
  environments/nomis.json
Labels: onboarding

#2228 Update makefile for docs
  makefile
  source/user-guide/accessing-ec2s.html.md.erb
  source/user-guide/creating-networking.html.md.erb
  source/user-guide/wider-moj-connectivity.html.md.erb
Labels: documentation

#2229 Remove duplicate refer-and-monitor account
  environments/refer-and-monitor.json
  policies/environments/expected.rego
  source/runbooks/deleting-an-environment.html.md.erb
Labels: documentation, onboarding, testing

#2227 Adding nomis to preprod and dev
  environments-networks/hmpps-development.json
  environments-networks/hmpps-preproduction.json
  terraform/environments/bootstrap/delegate-access/locals.tf
Labels: onboarding

#2234 Reviewed docs and updated dates
  source/getting-help/index.html.md.erb
  source/runbooks/modifying-scps.html.md.erb
  source/team/roadmap.html.md.erb
  source/user-guide/deploying-your-infrastructure.html.md.erb
Labels: documentation

#2231 Digital Prisons Reporting account
  environments/digital-prison-reporting.json
  policies/environments/expected.rego
Labels: onboarding, testing

#2237 added digital prison reporting to hmpps-development json
  environments-networks/hmpps-development.json
Labels: onboarding

#2242 Feature/new account
  environments/oasys.json
  policies/environments/expected.rego
Labels: onboarding, testing

#2244 Added second github slug for team
  environments/refer-monitor.json
  terraform/github/locals.tf
Labels: onboarding

#2245 Add envronment-networks for oasys
  environments-networks/hmpps-development.json
  environments-networks/hmpps-preproduction.json
  environments-networks/hmpps-production.json
  environments-networks/hmpps-test.json
  policies/networking/expected.rego
Labels: onboarding, testing

#2257 Remove classic link options
  terraform/environments/core-network-services/firewall.tf
  terraform/modules/vpc-hub/main.tf
Labels: core, networking

#2261 Changed permission type
  environments/refer-monitor.json
Labels: onboarding

#2266 Added missing accounts in networking expected.rego
  policies/networking/expected.rego
Labels: testing

#2265 Create Athena user guide
  source/images/athena-figure1.png
  source/images/athena-figure2.png
  source/images/environments-and-networking.png
  source/images/shared-services-role-switch.png
  source/images/subnet-sets-allocation.png
  source/images/subnets-allocation.png
  source/images/subnets-example.png
  source/user-guide/using-Athena.html.md.erb
Labels: documentation

#2268 Add athena description to index
  source/index.html.md.erb
Labels: documentation

#2271 Incorrect brackets on athena user guide
  source/index.html.md.erb
Labels: documentation

#2273 Feature/athena guide
  source/images/athena-figure3.png
  source/index.html.md.erb
  source/runbooks/using-Athena.html.md.erb
Labels: documentation

#2274 Add ADR on how we document things
  architecture-decision-record/0020-how-we-create-and-maintain-documentation.md
  architecture-decision-record/README.md
Labels: documentation

#2276 Adding OPG development and test vpc to test the process first, befor…
  cidr-allocation.md
  environments-networks/opg-development.json
  environments-networks/opg-test.json
  policies/networking/expected.rego
Labels: onboarding, testing, networking

#2277 Added all development and test VPCs.
  cidr-allocation.md
  environments-networks/cica-test.json
  environments-networks/cjse-development.json
  environments-networks/cjse-test.json
  environments-networks/hmcts-test.json
  environments-networks/hq-test.json
  environments-networks/laa-test.json
  policies/networking/expected.rego
Labels: onboarding, testing, networking

#2285 Feature/#2260 adding new team members.
  source/team/team.html.md.erb
  terraform/github/locals.tf
Labels: documentation

#2288 Initial commit for delius, single sandbox environment
  environments/delius-iaps.json
  policies/environments/expected.rego
  terraform/github/locals.tf
Labels: onboarding, testing

#2290 Added networking stage for delius
  environments-networks/hmpps-development.json
  policies/networking/expected.rego
Labels: onboarding, testing

#2296 Small fixes to fix OIDC role assumption
  terraform/environments/bootstrap/delegate-access/iam.tf
  terraform/environments/core-network-services/iam.tf
Labels: core, networking

#2294 Initial commit to create mlra
  environments/mlra.json
  policies/environments/expected.rego
Labels: onboarding, testing

#2298 Added second stage of account creation in networks
  environments-networks/laa-development.json
  policies/networking/expected.rego
Labels: onboarding, testing

#2301 Add Shared ECR repository for MLRA app
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#2292 Refactor Network ACL statements
  environments-networks/cica-development.json
  environments-networks/cica-preproduction.json
  environments-networks/cica-production.json
  environments-networks/cica-test.json
  environments-networks/cjse-development.json
  environments-networks/cjse-preproduction.json
  environments-networks/cjse-production.json
  environments-networks/cjse-test.json
  environments-networks/garden-sandbox.json
  environments-networks/hmcts-development.json
  environments-networks/hmcts-preproduction.json
  environments-networks/hmcts-production.json
  environments-networks/hmcts-test.json
  environments-networks/hmpps-development.json
  environments-networks/hmpps-preproduction.json
  environments-networks/hmpps-production.json
  environments-networks/hmpps-test.json
  environments-networks/house-sandbox.json
  environments-networks/hq-development.json
  environments-networks/hq-preproduction.json
  environments-networks/hq-production.json
  environments-networks/hq-test.json
  environments-networks/laa-development.json
  environments-networks/laa-preproduction.json
  environments-networks/laa-production.json
  environments-networks/laa-test.json
  environments-networks/opg-development.json
  environments-networks/opg-preproduction.json
  environments-networks/opg-production.json
  environments-networks/opg-test.json
  environments-networks/platforms-development.json
  environments-networks/platforms-preproduction.json
  environments-networks/platforms-production.json
  environments-networks/platforms-test.json
  environments-networks/template-only.txt
  terraform/environments/core-vpc/vpc.tf
  terraform/modules/vpc-nacls/data.tf
  terraform/modules/vpc-nacls/main.tf
  terraform/modules/vpc-nacls/variables.tf
Labels: documentation, onboarding, core, testing, security, networking

#2303 Fix the issue with the SSO profiles for bastion
  source/user-guide/accessing-ec2s.html.md.erb
Labels: documentation

#2320 Update alliance.html.md.erb
  source/team/alliance.html.md.erb
Labels: documentation

#2286 VPC Creation documentation
  source/user-guide/creating-accounts-for-end-users.html.md.erb
  source/user-guide/creating-vpcs.html.md.erb
Labels: documentation

#2329 Removing interventions-reporting-discovery as not a MOJ team.
  environments/refer-monitor.json
  policies/networking/core-vpc.rego
  terraform/github/locals.tf
Labels: onboarding, testing

#2328 Updated docs for out of date spaniel warning. Two pages changed.
  source/runbooks/removing-a-team-member.html.md.erb
  source/user-guide/working-as-a-collaborator.html.md.erb
Labels: documentation

#2330 Adding the egress routing for LAA development, required for the migra…
  terraform/environments/core-network-services/transit_gateway_connections.tf
Labels: core, networking

#2331 TFLINT remediation for the terraform/environments directory
  terraform/environments/apex/versions.tf
  terraform/environments/cooker/versions.tf
  terraform/environments/core-logging/versions.tf
  terraform/environments/data-and-insights-wepi/versions.tf
  terraform/environments/delius-iaps/versions.tf
  terraform/environments/digital-prison-reporting/versions.tf
  terraform/environments/equip/versions.tf
  terraform/environments/example/versions.tf
  terraform/environments/mi-platform/versions.tf
  terraform/environments/mlra/versions.tf
  terraform/environments/nomis/versions.tf
  terraform/environments/oasys/versions.tf
  terraform/environments/performance-hub/versions.tf
  terraform/environments/ppud/versions.tf
  terraform/environments/refer-monitor/versions.tf
  terraform/environments/sprinkler/versions.tf
  terraform/environments/tariff/versions.tf
  terraform/environments/testing/versions.tf
  terraform/environments/threat-and-vulnerability-mgmt/versions.tf
  terraform/environments/xhibit-portal/versions.tf
Labels: core

#2339 Document reviews
  source/concepts/environments/backups.html.md.erb
  source/runbooks/disaster-recovery.html.md.erb
  source/runbooks/querying-vpc-flow-logs.html.md.erb
  source/runbooks/runbook.html.md.erb
Labels: documentation

#2345 Skip the firewall for LAA traffic
  terraform/environments/core-network-services/transit_gateway_connections.tf
Labels: core, networking

#2351 Ignore code signing for lambda
  terraform/environments/core-logging/athena.tf
  terraform/modernisation-platform-account/lambda.tf
Labels: core

#2354 Update roadmap.html.md.erb
  source/team/roadmap.html.md.erb
Labels: documentation

#2355 Add production ready checklist
  source/index.html.md.erb
  source/runbooks/creating-vpcs.html.md.erb
  source/user-guide/production-ready-checklist.html.md.erb
Labels: documentation
