Repository ministryofjustice/modernisation-platform, pull requests merged in 2023-09, with the labels that each got.

#4917 Remove private hoste zone assoc with Laa Dev
  environments-networks/laa-development.json
Labels: onboarding

#4921 Remove laa private hosted zone
  terraform/environments/core-network-services/route53.tf
Labels: core, networking

#4915 Update alliance following Connor joining
  source/team/alliance.html.md.erb
Labels: documentation

#4925 Changed OIDC docs
  source/concepts/sdlc/user-workflow.html.md.erb
  source/user-guide/deploying-your-application.html.md.erb
Labels: documentation

#4926 adding ecr repo for data product create metadata lambda
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#4939 observability-platform creation.
  environments/observability-platform.json
  policies/environments/expected.rego
Labels: onboarding, testing

#4941 Networking stage for observability-platform
  environments-networks/platforms-development.json
  environments-networks/platforms-production.json
  policies/networking/expected.rego
Labels: onboarding, testing

#4943 🛂 Add Data Platform Core Infra team to new Data Platform environments
  environments/data-platform.json
Labels: onboarding

#4945 :sparkles: Add Additional Reviewers
  environments/cooker.json
  scripts/git-create-environments.sh
Labels: onboarding

#4946 add new data platform accounts to ecr repo permissions
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#4949 Add MLRA go live date
  environments/mlra.json
Labels: onboarding

#4950 🐛 Fixing issues with adding additional reviewers function
  environments/sprinkler.json
  scripts/git-create-environments.sh
Labels: onboarding

#4973 Added ecr repos
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#4979 Update sprinkler.json
  environments/sprinkler.json
Labels: onboarding

#4981 Corrected retrieval policies for ECR repos
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#4964 Update Data Platform CIDR allocation
  cidr-allocation.md
Labels: networking

#4980 Additional reviewers testing
  environments/cooker.json
  environments/sprinkler.json
Labels: onboarding

#4983 Update cooker.json
  environments/cooker.json
Labels: onboarding

#4988 Switch to OIDC for MLRA
  environments/mlra.json
Labels: onboarding

#4989 explain 2nd oncall engineer role
  source/team/operational-processes.html.md.erb
Labels: documentation

#4993 Doc updates
  source/getting-help/index.html.md.erb
  source/runbooks/modifying-scps.html.md.erb
  source/runbooks/using-athena.html.md.erb
  source/user-guide/accessing-the-aws-console.html.md.erb
  source/user-guide/deploying-your-application.html.md.erb
Labels: documentation

#4995 🐶 Update accessing-ec2s.html.md.erb
  source/user-guide/accessing-ec2s.html.md.erb
Labels: documentation

#4994 Allow DE sandbox to pull image for testing POC
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#4997 tentative *-development env changes allow EC2 connections to fixngo ad
  terraform/environments/core-network-services/firewall-rules/development_rules.json
Labels: core, networking

#5007 with apologies - getting the rule names right
  terraform/environments/core-network-services/firewall-rules/preproduction_rules.json
  terraform/environments/core-network-services/firewall-rules/production_rules.json
  terraform/environments/core-network-services/firewall-rules/test_rules.json
Labels: core, networking

#5009 OPG acc creation.
  environments/opg-lpa-data-store.json
  policies/environments/expected.rego
Labels: onboarding, testing

#5013 Documentation updated
  source/concepts/environments/instance-scheduling.html.md.erb
Labels: documentation

#5018 Additional Endpoints Request
  environments-networks/hmpps-development.json
Labels: onboarding

#5020 Correct kinesis endpoint
  environments-networks/hmpps-development.json
Labels: onboarding

#5014 ✨ : Add Additional Reviewers Functionality
  environments/sprinkler.json
  scripts/git-create-environments.sh
Labels: onboarding

#5022 Add PPUD Additional Reviewers
  environments/ppud.json
  scripts/git-create-environments.sh
Labels: onboarding

#5023 📝 Update Creating-Environments Documentation
  source/user-guide/creating-environments.html.md.erb
Labels: documentation

#5026 📝 Update Collaborators Documentation
  source/runbooks/adding-collaborators.html.md.erb
Labels: documentation

#5037 Update delius-jitbit go-live date
  environments/delius-jitbit.json
Labels: onboarding

#5044 DSO-2150: Give DSO data-engineer role in nomis
  environments/nomis.json
Labels: onboarding

#5047 📝 Fix Broken Link in Adding-Collabarators
  source/runbooks/adding-collaborators.html.md.erb
Labels: documentation

#5052 Update CCMS EBS support address
  environments/ccms-ebs.json
Labels: onboarding

#5053 Update dacp.json for OIDC
  environments/dacp.json
Labels: onboarding

#5027 Add repo name for performance-hub
  environments/performance-hub.json
Labels: onboarding

#5055 📝 Update deploying-your-application.html.md.erb
  environments/example.json
  source/user-guide/deploying-your-application.html.md.erb
Labels: documentation, onboarding

#5065 Update dacp.json
  environments/dacp.json
Labels: onboarding

#5071 Allow use of AWS managed firewall rule groups
  terraform/modules/firewall-policy/main.tf
  terraform/modules/firewall-policy/variables.tf
  terraform/modules/vpc-inspection/firewall.tf
  terraform/modules/vpc-inspection/variables.tf
Labels: terraform, terraform-module, firewall, firebreak

#5073 New iam user for planetfm
  terraform/environments/planetfm/iam.tf
Labels: onboarding

#5075 adding migration to planetfm
  environments/planetfm.json
Labels: onboarding

#5082 allow TCP all from mp to related fixngo destinations
  terraform/environments/core-network-services/firewall-rules/development_rules.json
  terraform/environments/core-network-services/firewall-rules/fqdn_rules.json
  terraform/environments/core-network-services/firewall-rules/inline_fqdn_rules.json
  terraform/environments/core-network-services/firewall-rules/preproduction_rules.json
  terraform/environments/core-network-services/firewall-rules/production_rules.json
  terraform/environments/core-network-services/firewall-rules/test_rules.json
Labels: core, networking

#5078 HMPPS-TEST: Add Additional VPC Endpoints for DPR Project
  environments-networks/hmpps-test.json
Labels: onboarding

#5079 HMPPS-PREPROD: Add Additional VPC Endpoints for DPR Project
  environments-networks/hmpps-preproduction.json
Labels: onboarding

#5081 HMPPS-PROD: Add Additional VPC Endpoints for DPR Project
  environments-networks/hmpps-production.json
Labels: onboarding

#5092 Update ncas.json
  environments/ncas.json
Labels: onboarding

#5100 Refactor core-shared-services VPC endpoints
  terraform/environments/core-shared-services/output.tf
  terraform/environments/core-shared-services/test/go.mod
  terraform/environments/core-shared-services/test/go.sum
  terraform/environments/core-shared-services/vpc.tf
  terraform/modules/vpc-hub/main.tf
Labels: core

#5101 📝 User guide reviews
  source/runbooks/disaster-recovery.html.md.erb
  source/runbooks/querying-vpc-flow-logs.html.md.erb
  source/user-guide/working-as-a-collaborator.html.md.erb
Labels: documentation

#5103 🗑️ Removed unused routes for sixdg
  terraform/environments/core-network-services/locals.tf
Labels: core, networking

#5106 FQDN Request
  terraform/environments/core-network-services/firewall-rules/fqdn_rules.json
  terraform/environments/core-network-services/firewall-rules/inline_fqdn_rules.json
Labels: core, networking

#5109 Update pra-register.json to add oidc
  environments/pra-register.json
Labels: onboarding

#5110 add github-oidc-team-repositories value for Wardship
  environments/wardship.json
Labels: onboarding

#5108 Added ECR repo
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#5112 Add firewall rule for CP to Laa Test
  terraform/environments/core-network-services/firewall-rules/test_rules.json
Labels: core, networking

#5113 Update test_rules.json
  terraform/environments/core-network-services/firewall-rules/test_rules.json
Labels: core, networking
