Repository ministryofjustice/modernisation-platform, pull requests merged in 2023-02, with the labels that each got.

#3034 initial rules code update
  terraform/environments/core-network-services/development_rules.json
  terraform/environments/core-network-services/preproduction_rules.json
  terraform/environments/core-network-services/production_rules.json
  terraform/environments/core-network-services/test_rules.json
Labels: core, networking

#3052 Disable auto-nuke on delius-jitbit dev environment
  environments/delius-jitbit.json
Labels: onboarding

#3055 Update s3.tf in core-shared-services for ami s3 bucket.
  terraform/environments/core-shared-services/s3.tf
Labels: core

#3062 Revert "Update s3.tf in core-shared-services for ami s3 bucket."
  terraform/environments/core-shared-services/s3.tf
Labels: core

#3063 Added missing resource line.
  terraform/environments/core-shared-services/s3.tf
Labels: core

#3064 Update s3 ami bucket to new name.
  terraform/environments/core-shared-services/s3.tf
Labels: core

#3065 Update s3.tf
  terraform/environments/core-shared-services/s3.tf
Labels: core

#3091 Adjusting AP access
  environments/analytical-platform-data-engineering.json
  environments/analytical-platform-data.json
  environments/analytical-platform.json
Labels: onboarding

#3093 Add CloudWatch log group and Route53 resolver logs module
  terraform/environments/core-logging/route53_resolver_logs.tf
  terraform/modules/r53-resolver-logs/main.tf
  terraform/modules/r53-resolver-logs/variables.tf
  terraform/modules/r53-resolver-logs/versions.tf
Labels: core, terraform, logging, terraform-module

#3094 Turn on resolver logs in each customer VPC
  terraform/environments/core-vpc/providers.tf
  terraform/environments/core-vpc/vpc.tf
  terraform/modules/r53-resolver-logs/main.tf
Labels: core, terraform, logging, terraform-module, networking

#3098 Fix logging location for route53 log files
  terraform/environments/core-logging/route53_resolver_logs.tf
Labels: core

#3092 Update manage-an-incident.html.md.erb
  source/runbooks/manage-an-incident.html.md.erb
Labels: documentation

#3099 Import analytical-platform-data-production
  environments/analytical-platform-data.json
Labels: onboarding

#3076 Network Firewall documentation
  source/concepts/networking/network-firewall.html.md.erb
  source/index.html.md.erb
Labels: documentation, core, networking

#3100 Import analytical platform landing account to mp
  environments/analytical-platform-landing.json
  policies/environments/expected.rego
Labels: onboarding, testing

#3102 Import analytical platform production account
  environments/analytical-platform.json
Labels: onboarding

#3114 Refactor R53 resolver logs
  terraform/environments/core-logging/route53_resolver_logs.tf
  terraform/environments/core-vpc/providers.tf
  terraform/environments/core-vpc/vpc.tf
  terraform/modules/r53-resolver-logs/main.tf
  terraform/modules/r53-resolver-logs/variables.tf
Labels: core, terraform, logging, terraform-module, networking

#3087 Database user / policy.
  policies/collaborators/collaborators.rego
  policies/collaborators/collaborators_test.rego
  policies/environments/environment-definitions.rego
  policies/environments/environment-definitions_test.rego
  source/user-guide/creating-environments.html.md.erb
  source/user-guide/working-as-a-collaborator.html.md.erb
  terraform/environments/bootstrap/delegate-access/collaborators.tf
  terraform/environments/bootstrap/delegate-access/policies.tf
  terraform/environments/bootstrap/single-sign-on/main.tf
Labels: documentation, testing

#3133 New ppud preproduction
  environments/ppud.json
Labels: onboarding

#3138 Ram Share update for ppud
  environments-networks/hmpps-preproduction.json
  policies/networking/expected.rego
Labels: onboarding, testing

#3139 Give members of data-engineering-aws team developer access in analytical-platfrom-data-prod
  environments/analytical-platform-data.json
Labels: onboarding

#3156 Update infrastructure support tag for environments
  environments/analytical-platform-data-engineering.json
  environments/analytical-platform-data.json
  environments/analytical-platform-landing.json
  environments/analytical-platform-management.json
  environments/analytical-platform.json
  environments/apex.json
  environments/bichard7.json
  environments/cooker.json
  environments/core-logging.json
  environments/core-network-services.json
  environments/core-sandbox.json
  environments/core-security.json
  environments/core-shared-services.json
  environments/core-vpc.json
  environments/data-and-insights-wepi.json
  environments/delius-iaps.json
  environments/delius-jitbit.json
  environments/digital-prison-reporting.json
  environments/example.json
  environments/maatdb.json
  environments/mi-platform.json
  environments/mlra.json
  environments/nomis.json
  environments/oas.json
  environments/oasys.json
  environments/performance-hub.json
  environments/refer-monitor.json
  environments/remote-supervision.json
  environments/sprinkler.json
  environments/testing.json
  environments/xhibit-portal.json
Labels: onboarding

#3166 Update infrastructure support contacts
  environments/ccms-ebs.json
  environments/ppud.json
Labels: onboarding

#3115 Network Firewall Traffic Block
  terraform/environments/core-network-services/development_rules.json
  terraform/modules/firewall-policy/main.tf
Labels: core, networking

#3178 Updated docs for daniel.
  source/concepts/environments/problem-and-solution.html.md.erb
  source/concepts/environments/single-sign-on.html.md.erb
  source/index.html.md.erb
  source/team/ways-of-working.html.md.erb
Labels: documentation

#3179 New account for tipstaff
  environments/tipstaff.json
  policies/environments/expected.rego
Labels: onboarding, testing

#3181 Add duty rota documentation
  source/index.html.md.erb
  source/runbooks/duty-rota.html.md.erb
Labels: documentation

#3183 Amended the github-slug to point to the correct space
  environments/tipstaff.json
Labels: onboarding

#3196 Change in rule group name
  terraform/environments/core-network-services/firewall.tf
  terraform/modules/firewall-policy/main.tf
Labels: core, networking

#3193 Adding network connection for tipstaff
  environments-networks/hmcts-development.json
  environments-networks/hmcts-production.json
  policies/networking/expected.rego
Labels: onboarding, testing

#3206 Update dependabot docs to include bulk-merger tool
  source/runbooks/reviewing-dependabot-prs.html.md.erb
Labels: documentation

#3212 Network changes
  environments-networks/laa-development.json
  environments-networks/laa-test.json
  policies/networking/expected.rego
Labels: onboarding, testing

#3197 Initial commit for new env for nomis-combined-reporting
  environments/nomis-combined-reporting.json
  policies/environments/expected.rego
Labels: onboarding, testing

#3219 New S3 bucket for software installs
  terraform/environments/core-shared-services/s3.tf
Labels: core

#3221 Feature/nomis combined reporting network
  environments-networks/hmpps-development.json
  environments-networks/hmpps-preproduction.json
  environments-networks/hmpps-production.json
  environments-networks/hmpps-test.json
  policies/networking/expected.rego
Labels: onboarding, testing

#3230 Expand scope of permissions for Migration role
  terraform/environments/bootstrap/delegate-access/collaborators.tf
  terraform/environments/bootstrap/delegate-access/policies.tf
Labels: security

#3231 Change our vision review date
  source/team/vision.html.md.erb
Labels: documentation

#3232 Testing networking changes with a dummy commit to sprinkler
  environments/sprinkler.json
Labels: onboarding

#3237 Fix the bucket policy
  terraform/environments/core-shared-services/s3.tf
Labels: core

#3247 S3 software bucket policy
  terraform/environments/core-shared-services/s3.tf
Labels: core

#3255 Update cloud-platform-or-modernisation-platform.html.md.erb
  source/user-guide/cloud-platform-or-modernisation-platform.html.md.erb
Labels: documentation

#3256 Added comment about CODEOWNERS in ami-builds
  source/concepts/sdlc/user-workflow.html.md.erb
Labels: documentation
