Repository ministryofjustice/modernisation-platform, pull requests merged in 2023-11, with the labels that each got.

#5343 Add section giving details of infrastructure review
  source/user-guide/production-ready-checklist.html.md.erb
Labels: documentation

#5342 cname entry's for custom pagerduty url
  terraform/environments/core-network-services/route53.tf
Labels: core, monitoring, networking, alerting

#5344 Addtional cname for tls
  terraform/environments/core-network-services/route53.tf
Labels: core, networking

#5360 DSO-2309 | Remove data migration role from nomis
  environments/nomis.json
Labels: onboarding

#5364 Added preview data repo
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#5374 Document Reviewed
  source/runbooks/changing-environment-details.html.md.erb
Labels: documentation

#5378 Adding Rich Green to team members page
  source/team/team.html.md.erb
Labels: documentation

#5387 :sparkles: Create new delete table ecr repo
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#5401 add data platform push-to-catalogue ecr
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#5412 Adding a new ecr repo for future lambda image
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#5413 Removed cicd refrences
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#5388 Docs/pager duty status documentation
  source/index.html.md.erb
  source/user-guide/how-to-update-pagerduty-status-page.html.md.erb
Labels: documentation

#5405 mojo access to csr app in pre-prod
  terraform/environments/core-network-services/cidr-ranges.tf
  terraform/environments/core-network-services/firewall-rules/preproduction_rules.json
Labels: core, networking

#5441 Change of the time for instance schedular
  terraform/environments/core-shared-services/instance-scheduler-lambda-function.tf
Labels: core, networking

#5444 Document review changes
  source/runbooks/dos-attack.html.md.erb
  source/runbooks/enabling-shield-advanced.html.md.erb
  source/user-guide/creating-automated-terraform-documentation.html.md.erb
  source/user-guide/our-offer-to-you.html.md.erb
  source/user-guide/sustainability.html.md.erb
Labels: documentation

#5442 added rules for DOM1 devices to access mp dev
  terraform/environments/core-network-services/firewall-rules/development_rules.json
Labels: core, networking

#5447 Correcting incorrect general-incident.html that was in use on these d…
  source/runbooks/disaster-recovery.html.md.erb
  source/runbooks/dos-attack.html.md.erb
Labels: documentation

#5456 add FilterLogEvents permission
  terraform/environments/core-network-services/iam.tf
Labels: core, networking

#5459 add ability to read transit-gateway flow logs
  terraform/environments/core-network-services/iam.tf
Labels: core, networking

#5366 Add Regal for linting Rego
  .github/workflows/opa-policies.yml
  policies/.regal/config.yaml
  policies/collaborators/collaborators.rego
  policies/collaborators/utilities.rego
  policies/environments/environment-definitions.rego
  policies/environments/expected.rego
  policies/environments/utilities.rego
  policies/member/environment-definitions.rego
  policies/member/utilities.rego
  policies/networking/core-vpc.rego
  policies/networking/expected.rego
  policies/networking/utilities.rego
Labels: testing

#5472 Add firewall rules for DPAT to DOM1 (development)
  terraform/environments/core-network-services/firewall-rules/development_rules.json
Labels: core, networking

#5493 Daniel the manual spaniel reviews
  source/concepts/environments/backups.html.md.erb
  source/runbooks/adding-a-new-team-member.html.md.erb
  source/runbooks/removing-a-team-member.html.md.erb
  source/runbooks/terraform.html.md.erb
  source/user-guide/how-to-use-shared-kms-keys.html.md.erb
Labels: documentation

#5495 Changing scheduled time power on / off
  terraform/environments/core-shared-services/instance-scheduler-lambda-function.tf
Labels: core

#5499 allow UDP 1434 in from noms_mgmt_live_vnet in azure
  terraform/environments/core-network-services/cidr-ranges.tf
  terraform/environments/core-network-services/firewall-rules/preproduction_rules.json
  terraform/environments/core-network-services/firewall-rules/production_rules.json
Labels: core, networking

#5502 update to incident process and network alarm docs
  source/runbooks/cloudwatch-networking-alarms.html.md.erb
  source/runbooks/manage-an-incident.html.md.erb
Labels: documentation

#5515 Add team to Delius-Core env
  environments/delius-core.json
Labels: onboarding

#5520 Enables access to prod from cloud platform over port 443 (https)
  terraform/environments/core-network-services/firewall-rules/production_rules.json
Labels: core, networking

#5533 Docs/21 11 23
  source/concepts/environments/single-sign-on.html.md.erb
  source/runbooks/how-vpcs-access-the-internet.html.md.erb
  source/team/roadmap.html.md.erb
Labels: documentation

#5536 add application owner access to planetfm
  environments/planetfm.json
Labels: onboarding

#5287 🛂 Update Analytical and Data Platform permissions model
  environments/analytical-platform-data-engineering.json
  environments/analytical-platform-data.json
  environments/analytical-platform-landing.json
  environments/analytical-platform-management.json
  environments/analytical-platform.json
  environments/data-platform-apps-and-tools.json
  environments/data-platform.json
  environments/mi-platform.json
Labels: onboarding

#5549 🛂 Update `analytical-platform-management`
  environments/analytical-platform-management.json
Labels: onboarding

#5550 🛂 Update `analytical-platform-data-engineering`
  environments/analytical-platform-data-engineering.json
Labels: onboarding

#5552 Allow traffic from alpha vpn to platforms-dev
  terraform/environments/core-network-services/firewall-rules/development_rules.json
Labels: core, networking

#5553 🛂 Update `analytical-platform-data`
  environments/analytical-platform-data.json
Labels: onboarding

#5554 🛂 Update `analytical-platform-landing`
  environments/analytical-platform-landing.json
Labels: onboarding

#5556 🛂 Update `analytical-platform`
  environments/analytical-platform.json
Labels: onboarding

#5557 🛂 Update `data-platform-apps-and-tools`
  environments/data-platform-apps-and-tools.json
Labels: onboarding

#5558 🛂 Update `data-platform`
  environments/data-platform.json
Labels: onboarding

#5496 Amending code to list all secrets in MP
  source/runbooks/rotating-secrets.html.md.erb
  terraform/pagerduty/aws.tf
Labels: documentation

#5564 create cdpt-chaps accounts
  environments/cdpt-chaps.json
  policies/environments/expected.rego
Labels: onboarding, testing

#5551 GitHub member environments Plan feature
  .github/workflows/terraform-github.yml
  scripts/git-create-environments.sh
Labels: onboarding

#5568 Update sprinkler.json
  environments/sprinkler.json
Labels: onboarding

#5570 Feature/5539 create chaps networks
  environments-networks/hq-development.json
  environments-networks/hq-preproduction.json
  environments-networks/hq-production.json
  policies/networking/expected.rego
Labels: onboarding, testing

#5469 Add ADR for change of platform scope
  architecture-decision-record/0028-expand-the-scope-of-the-platform.md
  architecture-decision-record/README.md
Labels: documentation

#5585 Add ecr for cdpt-chaps
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#5587 Add OIDC role for CHAPS
  environments/cdpt-chaps.json
Labels: onboarding

#5598 Removed rule for alpha VPN traffic
  terraform/environments/core-network-services/cidr-ranges.tf
  terraform/environments/core-network-services/firewall-rules/development_rules.json
Labels: core, networking

#5629 Document review
  source/concepts/networking/certificate-services.html.md.erb
  source/concepts/networking/instance-access-and-bastions.html.md.erb
  source/concepts/networking/networking-diagram.html.md.erb
Labels: documentation
