Repository ministryofjustice/modernisation-platform, pull requests merged in 2023-08, with the labels that each got.

#4726 update allowed_domains inline fqdn list to include archive.ubuntu.com
  terraform/environments/core-network-services/firewall-rules/inline_fqdn_rules.json
Labels: core, networking

#4728 Add security.ubuntu.com to allowed_domains
  terraform/environments/core-network-services/firewall-rules/inline_fqdn_rules.json
Labels: core, networking

#4731 Temporarily add aws dev legalservices hostedzone to dns iam policy
  terraform/environments/core-network-services/iam.tf
Labels: core, networking

#4732 Add Ubuntu to firewall rules
  terraform/environments/core-network-services/firewall-rules/fqdn_rules.json
Labels: core, networking

#4734 Fix ubuntu typo in firewall rules
  terraform/environments/core-network-services/firewall-rules/fqdn_rules.json
  terraform/environments/core-network-services/firewall-rules/inline_fqdn_rules.json
Labels: core, networking

#4733 feat: adding new application support github group to CSR envs
  environments/corporate-staff-rostering.json
Labels: onboarding

#4735 Add firewall rules to allow PPUD server docker build
  terraform/environments/core-network-services/firewall-rules/fqdn_rules.json
Labels: core, networking

#4737 add data platform python base repo
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#4742 LAWS-3315: change of MP Portal Dev private hoisted zone domain name
  environments-networks/laa-development.json
Labels: onboarding

#4743 Conditionally generate tfvars for non-core accounts
  scripts/provision-environment-directories.sh
  scripts/provision-member-directories.sh
  terraform/environments/core-logging/base_variables.tf
  terraform/environments/core-logging/networking.auto.tfvars.json
  terraform/environments/core-network-services/base_variables.tf
  terraform/environments/core-network-services/networking.auto.tfvars.json
  terraform/environments/core-sandbox/base_variables.tf
  terraform/environments/core-sandbox/locals.tf
  terraform/environments/core-sandbox/networking.auto.tfvars.json
  terraform/environments/core-sandbox/playground.tf
  terraform/environments/core-security/base_variables.tf
  terraform/environments/core-security/networking.auto.tfvars.json
  terraform/environments/core-shared-services/base_variables.tf
  terraform/environments/core-shared-services/networking.auto.tfvars.json
  terraform/environments/core-vpc/base_variables.tf
  terraform/environments/core-vpc/networking.auto.tfvars.json
  terraform/environments/sprinkler/base_variables.old
Labels: core, security, networking

#4754 Update dev legalservices hostedzone id in dns iam policy
  terraform/environments/core-network-services/iam.tf
Labels: core, networking

#4760 ✨Add Connor to the team page
  source/team/team.html.md.erb
Labels: documentation

#4784 add domain name for pra-register
  terraform/environments/core-network-services/route53.tf
Labels: core, networking

#4785 ❇️ Add Data Platform Apps and Tools Production environment
  environments/data-platform-apps-and-tools.json
Labels: onboarding

#4757 Add data block for use in portal-dev dns IAM policy
  terraform/environments/core-network-services/iam.tf
Labels: core, networking

#4793 📖 Clarify new zones process
  source/runbooks/creating-new-dns-zones.html.md.erb
Labels: documentation

#4804 👀 Review documentation as per schedule
  source/runbooks/accessing-aws-accounts.html.md.erb
  source/team/alliance.html.md.erb
  source/user-guide/certificate-import-windows.html.md.erb
  source/user-guide/getting-aws-credentials.html.md.erb
  source/user-guide/how-to-configure-dns.html.md.erb
Labels: documentation

#4809 added static routes across both NOMS vpns for testing
  terraform/environments/core-network-services/vpn.tf
Labels: core, networking

#4808 Documents reviewed
  source/runbooks/manage-an-incident.html.md.erb
  source/runbooks/rotating-secrets.html.md.erb
  source/user-guide/add-an-ecr-for-docker-images.html.md.erb
  source/user-guide/certificate-import.html.md.erb
Labels: documentation

#4812 Delius Jitbit Production Migration: add jitbit.cr hosted zone
  terraform/environments/core-network-services/route53.tf
Labels: core, networking

#4810 Remove NOMS test routes
  terraform/environments/core-network-services/vpn.tf
Labels: core, networking

#4815 Data platform apps and tools production tidy
  environments-networks/platforms-production.json
  policies/networking/expected.rego
Labels: onboarding, testing

#4827 NIT-795 allow delius mgmt infra access to delius DBs hosted in MP
  terraform/environments/core-network-services/cidr-ranges.tf
  terraform/environments/core-network-services/firewall-rules/development_rules.json
  terraform/environments/core-network-services/firewall-rules/preproduction_rules.json
  terraform/environments/core-network-services/firewall-rules/production_rules.json
  terraform/environments/core-network-services/firewall-rules/test_rules.json
Labels: core, networking

#4828 Feature/docs 18 08 23
  source/runbooks/useful-scripts.html.md.erb
  source/team/roadmap.html.md.erb
Labels: documentation

#4843 updated docs, added Annual Leave to Ways of Working
  source/concepts/networking/subnet-nacls.html.md.erb
  source/runbooks/duty-rota.html.md.erb
  source/team/ways-of-working.html.md.erb
Labels: documentation

#4844 🔧 Fix spelling mistake in docs
  source/user-guide/our-offer-to-you.html.md.erb
  source/user-guide/sustainability.html.md.erb
Labels: documentation

#4847 Allow AP access to MP LAA Dev for MojFin
  terraform/environments/core-network-services/firewall-rules/development_rules.json
Labels: core, networking

#4848 NIT-795 allow delius DBs hosted in MP access to delius mgmt infra
  terraform/environments/core-network-services/firewall-rules/development_rules.json
  terraform/environments/core-network-services/firewall-rules/preproduction_rules.json
  terraform/environments/core-network-services/firewall-rules/production_rules.json
  terraform/environments/core-network-services/firewall-rules/test_rules.json
Labels: core, networking

#4862 ✨ Add `hmpps-domain-services` environment file
  environments/hmpps-domain-services.json
  policies/environments/expected.rego
Labels: onboarding, testing

#4864 added Alpha VPN address range, alphabetised CIDR ranges
  terraform/environments/core-network-services/cidr-ranges.tf
  terraform/environments/core-network-services/firewall-rules/development_rules.json
Labels: core, networking

#4865 ✨ Add `hmpps-domain-services` to environment-networks
  environments-networks/hmpps-development.json
  environments-networks/hmpps-preproduction.json
  environments-networks/hmpps-production.json
  environments-networks/hmpps-test.json
  policies/networking/expected.rego
Labels: onboarding, testing

#4860 Allow RDP from LAA LZ to MP LAA
  terraform/environments/core-network-services/firewall-rules/development_rules.json
Labels: core, networking

#4871 New accounts for data-platform
  environments/data-platform.json
Labels: onboarding

#4874 OIDC Change for example json
  environments/example.json
Labels: onboarding

#4876 RAM sharing for data-platform
  environments-networks/platforms-preproduction.json
  environments-networks/platforms-production.json
  environments-networks/platforms-test.json
Labels: onboarding

#4877 Adding missing file
  policies/networking/expected.rego
Labels: testing

#4875 OIDC Update cooker.json
  environments/cooker.json
Labels: onboarding

#4879 review of dependabot document
  source/runbooks/reviewing-dependabot-prs.html.md.erb
Labels: documentation

#4890 Update testing.json
  environments/testing.json
Labels: onboarding

#4861 Add details of how we do spikes
  source/team/ways-of-working.html.md.erb
Labels: documentation

#4893 Update sprinkler.json
  environments/sprinkler.json
Labels: onboarding

#4892 Add new private hosted zone for portal laa dev
  terraform/environments/core-network-services/route53.tf
Labels: core, networking

#4895 Associated new private zone with laa dev
  environments-networks/laa-development.json
Labels: onboarding

#4896 Permissions issue when creating records in new private hosted zone
  terraform/environments/core-network-services/iam.tf
Labels: core, networking

#4900 Dynamically populate list of private zones
  terraform/environments/core-network-services/iam.tf
Labels: core, technical debt, terraform, code quality, networking

#4901 Add hmpps jitbit dev team to production environment
  environments/delius-jitbit.json
Labels: onboarding

#4846 OIDC Step 2
  environments/sprinkler.json
  terraform/environments/bootstrap/member-bootstrap/iam.tf
  terraform/environments/bootstrap/member-bootstrap/locals.tf
Labels: onboarding

#4902 Date changes for Daniel the manual spaniel
  source/concepts/sdlc/user-workflow.html.md.erb
  source/user-guide/cloud-platform-or-modernisation-platform.html.md.erb
  source/user-guide/deploying-your-infrastructure.html.md.erb
Labels: documentation

#4903 Add extra network to access dih redshift
  terraform/environments/core-network-services/firewall-rules/development_rules.json
Labels: core, networking

#4911 🛂 Switch to MP's OIDC role for Data Platform ECR
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#4913 Remove hosted zone assoc with laa dev
  environments-networks/laa-development.json
Labels: onboarding

#4914 Remove the private hosted zone
  terraform/environments/core-network-services/route53.tf
Labels: core, networking

#4918 Update OIDC role module version
  environments/data-platform.json
  terraform/environments/bootstrap/member-bootstrap/iam.tf
  terraform/environments/data-platform/data-platform-oidc.tf
Labels: onboarding
