Repository ministryofjustice/modernisation-platform, pull requests merged in 2023-04, with the labels that each got.

#3554 Update hmpps-test connectivity
  terraform/environments/core-network-services/test_rules.json
Labels: core, networking

#3560 Enabling security-audit and read-only permission sets
  environments/analytical-platform-data-engineering.json
  environments/analytical-platform-data.json
  environments/analytical-platform-landing.json
  environments/analytical-platform-management.json
  environments/analytical-platform.json
  environments/data-platform.json
  policies/environments/environment-definitions.rego
  policies/environments/environment-definitions_test.rego
  source/user-guide/creating-environments.html.md.erb
  source/user-guide/working-as-a-collaborator.html.md.erb
  terraform/environments/bootstrap/single-sign-on/main.tf
Labels: documentation, onboarding, testing

#3565 Giving Security & Audit team read-only permissions in addition to security-audit
  environments/analytical-platform-data-engineering.json
  environments/analytical-platform-data.json
  environments/analytical-platform-landing.json
  environments/analytical-platform-management.json
  environments/analytical-platform.json
  environments/data-platform.json
Labels: onboarding

#3533 Update provider templates for better local plans
  source/user-guide/running-terraform-plan-locally.html.md.erb
  source/user-guide/working-as-a-collaborator.html.md.erb
  terraform/templates/modernisation-platform-environments/platform_base_variables.tf
  terraform/templates/modernisation-platform-environments/platform_providers.tf
  terraform/templates/modernisation-platform-environments/platform_secrets.tf
Labels: documentation

#3573 New account for MOJFIN database
  environments/mojfin.json
  policies/environments/expected.rego
Labels: onboarding, testing

#3577 Fix template location on workspace script
  scripts/provision-terraform-workspaces.sh
  source/user-guide/creating-resources.html.md.erb
Labels: documentation

#3632 Network settings for new accounts
  environments-networks/hmpps-development.json
  environments-networks/hmpps-production.json
  policies/networking/expected.rego
Labels: onboarding, testing

#3629 Updating workflow template to include the reusable pipelines
  .github/workflows/templates/workflow-template.yml
  source/runbooks/rotating-secrets.html.md.erb
  terraform/github/aws.tf
  terraform/github/repositories.tf
  terraform/modernisation-platform-account/secrets.tf
Labels: documentation, onboarding, core, testing, security, networking

#3635 Switch DDOS and TGW alarms to use new services
  terraform/environments/core-network-services/monitoring.tf
  terraform/environments/core-vpc/monitoring.tf
Labels: core, networking

#3640 Setting up data-engineering-aws team with data-engineer access.
  environments/analytical-platform-data-engineering.json
  environments/analytical-platform-data.json
Labels: onboarding

#3637 Add Simon to the team
  source/team/team.html.md.erb
  terraform/github/locals.tf
  terraform/pagerduty/locals.tf
Labels: documentation

#3644 Setting up data-engineering-aws team with data-engineer access in data account.
  environments/analytical-platform-data.json
Labels: onboarding

#3649 Data Engineering Prod: Giving a new team developer access
  environments/analytical-platform-data-engineering.json
Labels: onboarding

#3651 Change review dates
  source/concepts/sdlc/patching.html.md.erb
  source/user-guide/running-terraform-plan-locally.html.md.erb
Labels: documentation

#3654 Allow traffic from I2N to HMPPS prod and preprod
  terraform/environments/core-network-services/production_rules.json
Labels: core, networking

#3662 Add ccms-ebs delegated hosted zone
  terraform/environments/core-network-services/route53.tf
Labels: core, networking

#3666 Fix numbering for ADRs
  architecture-decision-record/0023-backup-strategy.md
  architecture-decision-record/0024-egress-traffic-inspection.md
Labels: documentation

#3668 Fixing creation/update of environments settings
  environments/cooker.json
  scripts/git-create-environments.sh
Labels: onboarding

#3671 added laa-crime-apps team to mlra access
  environments/mlra.json
Labels: onboarding

#3676 Amend LAA rule to ANY port rather than 80
  terraform/environments/core-network-services/production_rules.json
Labels: core, networking

#3684 Updates to incident management
  source/index.html.md.erb
  source/runbooks/general-incident.html.md.erb
  source/runbooks/manage-an-incident.html.md.erb
Labels: documentation

#3689 Create initial resources for inline inspection
  terraform/environments/core-network-services/vpc.tf
  terraform/modules/vpc-hub/main.tf
  terraform/modules/vpc-hub/outputs.tf
  terraform/modules/vpc-hub/variables.tf
Labels: core, networking

#3697 Changes to the data platform
  environments/data-platform.json
Labels: onboarding

#3698 Adding Delius Core openldap ECR
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#3700 Move logging out of firewall policy module
  terraform/environments/core-network-services/firewall.tf
  terraform/modules/firewall-logging/main.tf
  terraform/modules/firewall-logging/variables.tf
  terraform/modules/firewall-policy/main.tf
  terraform/modules/firewall-policy/variables.tf
Labels: core, networking

#3703 create inline firewalls and map endpoints to inspection subnets
  terraform/environments/core-network-services/firewall-rules/development_rules.json
  terraform/environments/core-network-services/firewall-rules/fqdn_rules.json
  terraform/environments/core-network-services/firewall-rules/inline_fqdn_rules.json
  terraform/environments/core-network-services/firewall-rules/inline_rules.json
  terraform/environments/core-network-services/firewall-rules/preproduction_rules.json
  terraform/environments/core-network-services/firewall-rules/production_rules.json
  terraform/environments/core-network-services/firewall-rules/test_rules.json
  terraform/environments/core-network-services/firewall.tf
  terraform/environments/core-network-services/locals.tf
  terraform/environments/core-network-services/test/go_test.go
  terraform/modules/vpc-hub/outputs.tf
Labels: core, networking

#3719 Fix naming of inline inspection firewalls
  terraform/environments/core-network-services/firewall.tf
  terraform/modules/firewall-logging/main.tf
Labels: core, networking

#3720 New PR for Firewall changes
  terraform/environments/core-network-services/firewall-rules/preproduction_rules.json
  terraform/environments/core-network-services/firewall-rules/production_rules.json
Labels: core, networking

#3724 Update address in firewall rule
  terraform/environments/core-network-services/firewall-rules/inline_rules.json
Labels: core, networking

#3729 Update incorrect ranges
  terraform/environments/core-network-services/firewall-rules/production_rules.json
Labels: core, networking

#3748 Grant access for Jitbit dev team to hmpps jitbit dev environment
  environments/delius-jitbit.json
Labels: onboarding

#3749 Amendment to windows import certificate instructions
  source/user-guide/certificate-import-windows.html.md.erb
Labels: documentation
