Repository ministryofjustice/modernisation-platform, pull requests merged in 2023-01, with the labels that each got.

#2917 Runbook for emergency patching added, with details on each step needed.
  source/runbooks/running-emergency-patching.html.md.erb
  terraform/environments/core-shared-services/ssm.tf
Labels: documentation, core

#2918 Fixed formatting issue in documentation
  source/runbooks/running-emergency-patching.html.md.erb
  terraform/environments/core-shared-services/ssm.tf
Labels: documentation, core

#2923 Remove traffic selector for NOMS VPNs
  terraform/environments/core-network-services/vpn_attachments.json
Labels: core, networking

#2937 Changing development to sandbox for laa-ccms-migration-team
  environments/ccms-ebs.json
Labels: onboarding

#2919 Update running-emergency-patching.html.md.erb
  source/runbooks/running-emergency-patching.html.md.erb
Labels: documentation

#2939 Update alliance.html.md.erb
  source/team/alliance.html.md.erb
Labels: documentation

#2945 Add new long-term-storage account
  environments/long-term-storage.json
  policies/environments/expected.rego
Labels: onboarding, testing

#2948 Add networking for long-term-storage
  environments-networks/platforms-production.json
  policies/networking/expected.rego
Labels: onboarding, testing

#2952 Fix incorrect networking vars for OAS
  terraform/environments/oas/networking.auto.tfvars.json
Labels: onboarding

#2951 Improve docs after creating an account
  source/runbooks/creating-accounts-for-end-users.html.md.erb
Labels: documentation

#2959 Document review
  source/user-guide/certificate-import-windows.html.md.erb
  source/user-guide/certificate-import.html.md.erb
Labels: documentation

#2960 Corrected review dates to 2023
  source/user-guide/certificate-import-windows.html.md.erb
  source/user-guide/certificate-import.html.md.erb
Labels: documentation

#2950 Initial code for TGW Flow logs
  terraform/environments/core-network-services/monitoring.tf
  terraform/environments/core-network-services/secrets.tf
Labels: core, logging, monitoring, networking

#2962 updated getting-aws-credentials to reflect relevance
  source/user-guide/getting-aws-credentials.html.md.erb
Labels: documentation

#2971 updated user-guide documents
  source/runbooks/accessing-aws-accounts.html.md.erb
  source/team/operational-processes.html.md.erb
  source/user-guide/how-to-configure-dns.html.md.erb
Labels: documentation

#2978 New Branch
  terraform/environments/core-network-services/monitoring.tf
Labels: core, networking

#2979 changes to the depenency and also adding destination type
  terraform/environments/core-network-services/monitoring.tf
Labels: core, networking

#2985 Prevent VPN resource thrashing
  terraform/environments/core-network-services/vpn.tf
Labels: bug, terraform

#2984 Set max aggregation interval
  terraform/environments/core-network-services/monitoring.tf
Labels: core, networking

#2987 new ccms ebs account
  environments/ccms-ebs.json
Labels: onboarding

#2991 Ccms ram share
  environments-networks/laa-preproduction.json
  environments-networks/laa-production.json
  environments-networks/laa-test.json
  policies/networking/expected.rego
Labels: onboarding, core, testing, networking

#2977 Feature/s3 ami bucket iam
  terraform/environments/core-shared-services/iam.tf
  terraform/environments/core-shared-services/s3.tf
Labels: core

#2994 Add view-only and administrator access for management account.
  environments/analytical-platform-management.json
Labels: onboarding

#3006 Add documentation on shared ECR repos
  source/index.html.md.erb
  source/user-guide/add-an-ecr-for-docker-images.html.md.erb
Labels: documentation

#2996 Shared AMI bucket permissions.
  terraform/environments/core-shared-services/s3.tf
Labels: core

#3010 Add documentation for reviewing dependabot prs
  source/index.html.md.erb
  source/runbooks/reviewing-dependabot-prs.html.md.erb
Labels: documentation

#3012 Added VPN configuration for NOMS Live VPNs
  terraform/environments/core-network-services/vpn_attachments.json
Labels: core, networking

#3020 Static routes for 6DG
  terraform/environments/core-network-services/locals.tf
  terraform/environments/core-network-services/vpn.tf
Labels: core, terraform, networking

#3021 add delius-jitbit ecr
  terraform/environments/core-shared-services/ecr_repos.tf
  terraform/environments/core-shared-services/locals.tf
Labels: core

#3011 Revert "Shared AMI bucket permissions."
  terraform/environments/core-shared-services/s3.tf
Labels: core

#3022 NOMS Live routes
  terraform/environments/core-network-services/locals.tf
  terraform/environments/core-network-services/vpn.tf
  terraform/environments/core-network-services/vpn_attachments.json
Labels: nomis, core, terraform, networking, other-team-dependency

#3029 Set VPN connections to 6DG to use static addresses only
  terraform/environments/core-network-services/vpn.tf
  terraform/environments/core-network-services/vpn_attachments.json
Labels: core, networking

#3030 James Borwick request to add IP addressses to noms_dr and noms_live
  terraform/environments/core-network-services/locals.tf
Labels: core, networking

#3018 Fix's implemeneted
  terraform/environments/bootstrap/delegate-access/iam.tf
  terraform/environments/bootstrap/delegate-access/policies.tf
  terraform/environments/core-shared-services/test/test_terraform/providers.tf
  terraform/environments/equip/iam.tf
  terraform/environments/ppud/iam.tf
  terraform/github/testing-ci.tf
  terraform/modules/iam_baseline/main.tf
Labels: core

#3035 Add docs on NACL rules
  source/concepts/networking/subnet-nacls.html.md.erb
  source/index.html.md.erb
Labels: documentation

#3038 Add secret rotation docs and move secrets to SM
  source/index.html.md.erb
  source/runbooks/rotating-secrets.html.md.erb
  terraform/modernisation-platform-account/secrets.tf
Labels: documentation

#3040 Add pagerduty dead-end user to docs
  source/runbooks/rotating-secrets.html.md.erb
Labels: documentation
