Repository ministryofjustice/modernisation-platform, pull requests merged in 2023-05, with the labels that each got.

#3759 Changed Github Slug for laa-ccms
  environments/laa-ccms-infra-azure-ad-sso.json
Labels: onboarding

#3760 Tipstaff preproduction environment
  environments/tipstaff.json
Labels: onboarding

#3761 Add nuke to changing environments docs
  source/runbooks/changing-environment-details.html.md.erb
Labels: documentation

#3771 Update route53.tf for mojfin and mlra.
  terraform/environments/core-network-services/route53.tf
Labels: core, networking

#3776 new fqdn rule for equip
  terraform/environments/core-network-services/firewall-rules/fqdn_rules.json
Labels: core, networking

#3778 Adding ECR repo for data platform.
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#3783 Update route53.tf laa-finance-data.service.justice.gov.uk
  terraform/environments/core-network-services/route53.tf
Labels: core, networking

#3785 Update instance-scheduling.html.md.erb
  source/concepts/environments/instance-scheduling.html.md.erb
Labels: documentation

#3786 allow Mojo and DOM1 end user compute access to preprod and prod hmpps
  terraform/environments/core-network-services/cidr-ranges.tf
  terraform/environments/core-network-services/firewall-rules/preproduction_rules.json
  terraform/environments/core-network-services/firewall-rules/production_rules.json
Labels: core, networking

#3798 Change github slug for tipstaff and tribunals (all environments)
  environments/tipstaff.json
  environments/tribunals.json
Labels: onboarding

#3799 Unwind inspection changes
  terraform/environments/core-network-services/firewall.tf
  terraform/environments/core-network-services/test/go_test.go
  terraform/environments/core-network-services/vpc.tf
  terraform/modules/vpc-hub/main.tf
  terraform/modules/vpc-hub/outputs.tf
  terraform/modules/vpc-hub/variables.tf
Labels: core, networking

#3800 NIT-655 enable aws nuke on iaps dev
  environments/delius-iaps.json
Labels: onboarding

#3815 Doc update
  source/team/roadmap.html.md.erb
  source/user-guide/creating-automated-terraform-documentation.html.md.erb
  source/user-guide/our-offer-to-you.html.md.erb
  source/user-guide/sustainability.html.md.erb
Labels: documentation

#3820 Exclude Data Platform Development from AWS Nuke
  environments/data-platform.json
Labels: onboarding

#3824 Create VPN to Parole Board
  terraform/environments/core-network-services/vpn_attachments.json
Labels: core, networking

#3831 NIT-655 allow env access for DBAs
  environments/delius-iaps.json
Labels: onboarding

#3835 Updated docs.
  source/runbooks/dos-attack.html.md.erb
  source/runbooks/enabling-shield-advanced.html.md.erb
Labels: documentation

#3839 Move inspection VPC TGW attachment into module
  terraform/environments/core-network-services/transit-gateway.tf
  terraform/modules/vpc-inspection/outputs.tf
  terraform/modules/vpc-inspection/transit_gateway.tf
  terraform/modules/vpc-inspection/versions.tf
Labels: core, networking

#3833 Update route53.tf for mlra
  terraform/environments/core-network-services/route53.tf
Labels: core, networking

#3848 Associate inspection VPCs with TGW route tables
  terraform/environments/core-network-services/transit-gateway.tf
  terraform/modules/vpc-inspection/outputs.tf
  terraform/modules/vpc-inspection/transit_gateway.tf
Labels: core, networking

#3849 Route traffic to internet through new inline-inspection VPCs
  terraform/environments/core-network-services/transit-gateway.tf
Labels: core, networking

#3851 Update tipstaff.json to migration level.
  environments/tipstaff.json
Labels: onboarding

#3852 Update mojfin.json to include laa-mojfin-developers
  environments/mojfin.json
Labels: onboarding

#3853 Code Changes for equip networking
  terraform/environments/core-network-services/firewall-rules/development_rules.json
  terraform/environments/core-network-services/firewall-rules/inline_fqdn_rules.json
  terraform/environments/core-network-services/firewall-rules/preproduction_rules.json
  terraform/environments/core-network-services/firewall-rules/production_rules.json
  terraform/environments/core-network-services/firewall-rules/test_rules.json
  terraform/modules/vpc-nacls/data.tf
Labels: core, networking

#3854 Inline-Inspection VPC secure code analysis mitigations
  terraform/environments/core-network-services/acm-pca.tf
  terraform/environments/core-network-services/transit-gateway.tf
  terraform/modules/vpc-inspection/main.tf
  terraform/modules/vpc-inspection/variables.tf
Labels: core, networking

#3855 Resolve issues in core-shared-services
  terraform/environments/core-network-services/acm-pca.tf
  terraform/modules/vpc-inspection/main.tf
  terraform/modules/vpc-inspection/variables.tf
Labels: core, networking

#3856 CloudWatch Logs VPC Endpoint
  terraform/environments/core-shared-services/vpc.tf
Labels: core

#3857 Route traffic back to MP core ranges
  terraform/environments/core-network-services/cidr-ranges.tf
  terraform/environments/core-network-services/firewall-rules/inline_rules.json
  terraform/modules/vpc-inspection/main.tf
Labels: core, networking

#3861 Add jitbit test environment
  environments/delius-jitbit.json
Labels: onboarding

#3862 Creation of jitbit test
  environments-networks/hmpps-test.json
  policies/networking/expected.rego
Labels: onboarding, testing

#3867 User guidance review dates
  source/concepts/environments/backups.html.md.erb
  source/runbooks/adding-a-new-team-member.html.md.erb
  source/runbooks/removing-a-team-member.html.md.erb
  source/runbooks/terraform.html.md.erb
  source/user-guide/how-to-use-shared-kms-keys.html.md.erb
Labels: documentation

#3872 Add SMTP endpoint to LAA VPCs
  environments-networks/laa-development.json
  environments-networks/laa-preproduction.json
  environments-networks/laa-production.json
  environments-networks/laa-test.json
Labels: onboarding

#3874 Update cloudwatch-networking-alarms.html.md.erb
  source/runbooks/cloudwatch-networking-alarms.html.md.erb
Labels: documentation

#3884 Tests for new inspection VPCs
  terraform/environments/core-network-services/data.tf
  terraform/environments/core-network-services/output.tf
  terraform/environments/core-network-services/test/go_test.go
Labels: core, networking

#3887 Review of SSO docs page
  source/concepts/environments/single-sign-on.html.md.erb
Labels: documentation

#3888 Nuke request
  environments/digital-prison-reporting.json
Labels: onboarding

#3877 go-live-date added to env
  environments/ccms-ebs.json
  environments/delius-iaps.json
  environments/equip.json
  environments/example.json
  environments/nomis.json
  environments/performance-hub.json
  environments/ppud.json
  environments/xhibit-portal.json
Labels: onboarding

#3912 update golang version used in tests
  .github/workflows/core-logging-deployment.yml
  .github/workflows/core-network-services-deployment.yml
  .github/workflows/core-security-deployment.yml
  .github/workflows/core-shared-services-deployment.yml
Labels: github_actions, testing, technical debt, go

#3914 Prune code relating to old egress VPCs
  terraform/environments/core-network-services/output.tf
  terraform/environments/core-network-services/route53.tf
  terraform/environments/core-network-services/test/go_test.go
  terraform/environments/core-network-services/vpc.tf
Labels: core, networking

#3916 Add script to pull dates from environment files
  environments/equip.json
  environments/nomis.json
  environments/performance-hub.json
  environments/xhibit-portal.json
  scripts/internal/get-application-data-summary/main.go
Labels: onboarding

#3932 Split out hmpps dev and test firewall rules
  terraform/environments/core-network-services/firewall-rules/development_rules.json
  terraform/environments/core-network-services/firewall-rules/preproduction_rules.json
  terraform/environments/core-network-services/firewall-rules/production_rules.json
  terraform/environments/core-network-services/firewall-rules/test_rules.json
Labels: core, networking

#3920 Update ways-of-working.html.md.erb
  source/team/ways-of-working.html.md.erb
Labels: documentation

#3917 Application zone for tipstaff.service.justice.gov.uk
  terraform/environments/core-network-services/route53.tf
Labels: core, networking

#3924 Resolve Checkov issues with firewalls
  terraform/environments/core-network-services/data.tf
  terraform/environments/core-network-services/firewall.tf
  terraform/environments/core-network-services/networking.auto.tfvars.json
  terraform/environments/core-network-services/vpc.tf
  terraform/modules/firewall-policy/main.tf
  terraform/modules/firewall-policy/variables.tf
  terraform/modules/vpc-inspection/firewall.tf
  terraform/modules/vpc-inspection/main.tf
  terraform/modules/vpc-inspection/variables.tf
Labels: core, networking

#3925 Revert Change
  environments/digital-prison-reporting.json
Labels: onboarding

#3942 Parole Board VPN settings
  terraform/environments/core-network-services/cidr-ranges.tf
  terraform/environments/core-network-services/firewall-rules/production_rules.json
  terraform/environments/core-network-services/locals.tf
  terraform/environments/core-network-services/vpn.tf
  terraform/environments/core-network-services/vpn_attachments.json
Labels: core, networking

#3952 Update roadmap.html.md.erb
  source/team/roadmap.html.md.erb
Labels: documentation

#3954 SCA ignores and fixes
  terraform/environments/core-vpc/vpc.tf
  terraform/modules/firewall-logging/versions.tf
  terraform/modules/vpc-inspection/variables.tf
Labels: core, networking

#3955 Update roadmap.html.md.erb
  source/team/roadmap.html.md.erb
Labels: documentation

#3956 More SCA fixes and ignores
  terraform/environments/bootstrap/member-bootstrap/instance-scheduler.tf
  terraform/environments/bootstrap/member-bootstrap/ssm.tf
  terraform/environments/ccms-ebs/iam.tf
  terraform/environments/core-logging/athena.tf
  terraform/environments/core-logging/s3_logging.tf
  terraform/environments/core-network-services/acm-pca.tf
  terraform/environments/core-network-services/iam.tf
  terraform/environments/core-shared-services/iam.tf
  terraform/environments/equip/data.tf
  terraform/environments/ppud/iam.tf
  terraform/github/testing-ci.tf
  terraform/modernisation-platform-account/dynamodb.tf
  terraform/modernisation-platform-account/iam.tf
  terraform/modules/iam_baseline/main.tf
  terraform/modules/kms/main.tf
  terraform/modules/vpc-hub/main.tf
  terraform/pagerduty/data.tf
Labels: core, networking

#3958 SCA ignores for open policies
  terraform/environments/bootstrap/delegate-access/iam.tf
  terraform/environments/bootstrap/delegate-access/policies.tf
  terraform/environments/bootstrap/member-bootstrap/iam.tf
  terraform/environments/ccms-ebs/iam.tf
  terraform/environments/core-logging/s3_logging.tf
  terraform/environments/core-network-services/firewall.tf
  terraform/environments/core-network-services/iam.tf
  terraform/environments/core-shared-services/iam.tf
  terraform/environments/core-shared-services/kms.tf
  terraform/environments/secrets.tf
  terraform/modernisation-platform-account/s3.tf
  terraform/modules/kms/main.tf
Labels: core, networking

#3966 Allow Cloud Platform JDBC calls into HMPPS VPCs
  terraform/environments/core-network-services/firewall-rules/development_rules.json
  terraform/environments/core-network-services/firewall-rules/preproduction_rules.json
  terraform/environments/core-network-services/firewall-rules/production_rules.json
  terraform/environments/core-network-services/firewall-rules/test_rules.json
Labels: core, networking

#3963 Set BucketOwnerEnforced for core-shared-services image-artefact bucket
  terraform/environments/core-shared-services/s3.tf
Labels: core

#3964 SCA Ignore corrections
  terraform/environments/bootstrap/member-bootstrap/iam.tf
  terraform/environments/core-network-services/firewall.tf
  terraform/environments/secrets.tf
Labels: core, networking

#3972 Firewall Alarm Dropped Packets
  terraform/environments/core-network-services/monitoring.tf
Labels: core, networking

#4046 Feature/pagerduty firewall dropped
  terraform/environments/core-network-services/monitoring.tf
Labels: core, networking

#4059 Adding preproduction environment for DPR
  environments/digital-prison-reporting.json
Labels: onboarding

#4062 Adding networking for preproduction env of DPR
  environments-networks/hmpps-preproduction.json
  policies/networking/expected.rego
Labels: onboarding, testing

#4065 RAM setup for account data-platform-apps-and-tools-development
  environments-networks/platforms-development.json
  policies/networking/expected.rego
Labels: onboarding, testing

#4067 Adding new accounts for CSR and PlanetFM
  environments/corporate-staff-rostering.json
  environments/planetfm.json
  policies/environments/expected.rego
Labels: onboarding, testing

#4071 Dummy change to trigger the pipeline for planetfm in secure baseline
  environments/planetfm.json
Labels: onboarding

#4079 document updates
  source/concepts/networking/certificate-services.html.md.erb
  source/concepts/networking/instance-access-and-bastions.html.md.erb
  source/concepts/networking/networking-diagram.html.md.erb
Labels: documentation

#4082 Creating networking for planetfm accounts
  environments-networks/hmpps-development.json
  environments-networks/hmpps-preproduction.json
  environments-networks/hmpps-production.json
  environments-networks/hmpps-test.json
  policies/networking/expected.rego
Labels: onboarding, testing
