Repository ministryofjustice/modernisation-platform, pull requests merged in 2023-06, with the labels that each got.

#4085 Add hosted zone for jitbit migration test
  terraform/environments/core-network-services/route53.tf
Labels: core, networking

#4086 :memo: Update Team Page
  config/tech-docs.yml
  source/team/team.html.md.erb
  terraform/github/locals.tf
Labels: documentation

#4096 Suppressing tfsec sns topic encryption message
  terraform/environments/core-network-services/monitoring.tf
Labels: core, networking

#4115 update nomis-combined-reporting.json to give access to NART team
  environments/nomis-combined-reporting.json
Labels: onboarding

#4114 New environment creation
  environments/hmpps-oem.json
  policies/environments/expected.rego
Labels: onboarding, testing

#4123 changed to single e-mail address
  environments/hmpps-oem.json
Labels: onboarding

#4129 SCA ignores for new rule
  terraform/environments/core-shared-services/iam.tf
  terraform/environments/core-vpc/vpc.tf
Labels: core, networking

#4144 adding in extra owner
  environments/hmpps-oem.json
Labels: onboarding

#4147 Allow SMTP Submission traffic to CJSM
  terraform/environments/core-network-services/firewall-rules/inline_fqdn_rules.json
  terraform/environments/core-network-services/firewall-rules/inline_rules.json
  terraform/modules/firewall-policy/main.tf
  terraform/modules/vpc-nacls/data.tf
Labels: core, networking

#4153 Documentation updates following review
  source/concepts/sdlc/core-workflow.html.md.erb
  source/concepts/sdlc/repositories.html.md.erb
  source/runbooks/adding-collaborators.html.md.erb
  source/runbooks/adding-wider-connectivity.html.md.erb
  source/runbooks/joining-the-team.html.md.erb
  source/runbooks/runbook.html.md.erb
  source/team/operational-processes.html.md.erb
Labels: documentation

#4156 Remove SMTP Submission changes
  terraform/environments/core-network-services/firewall-rules/inline_fqdn_rules.json
  terraform/environments/core-network-services/firewall-rules/inline_rules.json
  terraform/modules/vpc-nacls/data.tf
Labels: core, networking

#4157 Allocate /21 CIDR range to data platforming
  cidr-allocation.md
Labels: networking

#4163 Remove 6DG vpns
  terraform/environments/core-network-services/vpn.tf
  terraform/environments/core-network-services/vpn_attachments.json
Labels: core, networking

#4159 Nomis access for Syscon initiatives team
  environments/nomis.json
Labels: onboarding

#4168 add data platform athena load ecr
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#4172 Add DBA group to instance-management in delius-core development
  environments/delius-core.json
Labels: onboarding

#4202 Review Automated Patching Page
  source/user-guide/automated-patching.html.md.erb
Labels: documentation

#4161 ❇️ Add Data Platform Apps and Tools VPC and SES supporting resources
  environments/data-platform-apps-and-tools.json
  terraform/environments/data-platform-apps-and-tools/data.tf
  terraform/environments/data-platform-apps-and-tools/environment-configuration.tf
  terraform/environments/data-platform-apps-and-tools/iam-policies.tf
  terraform/environments/data-platform-apps-and-tools/iam-user-policy-attachments.tf
  terraform/environments/data-platform-apps-and-tools/iam-users.tf
  terraform/environments/data-platform-apps-and-tools/secrets.tf
  terraform/environments/data-platform-apps-and-tools/security-groups.tf
  terraform/environments/data-platform-apps-and-tools/vpc-endpoints.tf
  terraform/environments/data-platform-apps-and-tools/vpcs.tf
Labels: onboarding

#4209 Add glue trigger jobs permissions and terraform fmt.
  terraform/environments/bootstrap/delegate-access/policies.tf
  terraform/environments/bootstrap/member-bootstrap/iam.tf
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#4223 LAA appstream rules
  terraform/environments/core-network-services/cidr-ranges.tf
  terraform/environments/core-network-services/firewall-rules/production_rules.json
Labels: core, networking

#4224 LAA shared services firewall rules
  terraform/environments/core-network-services/cidr-ranges.tf
  terraform/environments/core-network-services/firewall-rules/development_rules.json
  terraform/environments/core-network-services/firewall-rules/production_rules.json
Labels: core, networking

#4210 Feature/reporting operations added role
  policies/environments/environment-definitions.rego
  policies/environments/environment-definitions_test.rego
  terraform/environments/bootstrap/single-sign-on/main.tf
Labels: testing

#4253 add lambda function to retrieval policy for repo
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#4254 Doc updates following review
  source/concepts/sdlc/testing-strategy.html.md.erb
  source/runbooks/joining-the-team.html.md.erb
  source/team/team.html.md.erb
  source/user-guide/creating-environments.html.md.erb
Labels: documentation

#4259 Update digital-prison-reporting to use reporting-operations role.
  environments/digital-prison-reporting.json
Labels: onboarding

#4255 New moj-official preproduction account
  environments/moj-official.json
  policies/environments/expected.rego
Labels: onboarding, testing

#4260 Allowing ICMP from CP to platforms-development in FW
  terraform/environments/core-network-services/firewall-rules/development_rules.json
  terraform/environments/core-network-services/firewall-rules/production_rules.json
Labels: core, networking

#4264 Elevate permissions for hmpps jitbit devs
  environments/delius-jitbit.json
Labels: onboarding

#4266 RAM share section of moj-official-preproduction
  environments-networks/hq-preproduction.json
  policies/networking/expected.rego
Labels: onboarding, testing

#4269 Revert "RAM share section of moj-official-preproduction"
  environments-networks/hq-preproduction.json
  policies/networking/expected.rego
Labels: onboarding, testing

#4273 Change to creating-accounts-for-end-users.html.nd.erb
  source/runbooks/creating-accounts-for-end-users.html.md.erb
Labels: documentation

#4272 Update digital-prison-reporting.json
  environments/digital-prison-reporting.json
Labels: onboarding

#4280 Removing account as it will be renamed
  environments/moj-official.json
  policies/environments/expected.rego
Labels: onboarding, testing

#4318 Update deleting-an-environment.html.md.erb
  source/runbooks/deleting-an-environment.html.md.erb
Labels: documentation

#4321 New account moj-network-operations-centre
  environments/moj-network-operations-centre.json
  policies/environments/expected.rego
Labels: onboarding, testing

#4350 Fix typo
  source/concepts/sdlc/patching.html.md.erb
Labels: documentation

#4361 pagerduty documentation update
  source/user-guide/integrating-alarms-with-pagerduty-with-slack.html.md.erb
Labels: documentation

#4355 Delius Firewall Rule Request
  terraform/environments/core-network-services/cidr-ranges.tf
  terraform/environments/core-network-services/firewall-rules/development_rules.json
Labels: core, networking

#4366 Update to modules and core-* accounts to v5.
  terraform/environments/analytical-platform-data/versions.tf
  terraform/environments/analytical-platform-management/versions.tf
  terraform/environments/bootstrap/delegate-access/iam.tf
  terraform/environments/bootstrap/delegate-access/versions.tf
  terraform/environments/bootstrap/member-bootstrap/iam.tf
  terraform/environments/bootstrap/member-bootstrap/instance-scheduler.tf
  terraform/environments/bootstrap/member-bootstrap/ssm.tf
  terraform/environments/bootstrap/member-bootstrap/versions.tf
  terraform/environments/bootstrap/secure-baselines/main.tf
  terraform/environments/bootstrap/secure-baselines/versions.tf
  terraform/environments/bootstrap/single-sign-on/versions.tf
  terraform/environments/ccms-ebs/versions.tf
  terraform/environments/cooker/versions.tf
  terraform/environments/core-logging/athena.tf
  terraform/environments/core-logging/s3_logging.tf
  terraform/environments/core-logging/versions.tf
  terraform/environments/core-network-services/monitoring.tf
  terraform/environments/core-network-services/versions.tf
  terraform/environments/core-sandbox/playground.tf
  terraform/environments/core-sandbox/versions.tf
  terraform/environments/core-security/versions.tf
  terraform/environments/core-shared-services/bucket.tf
  terraform/environments/core-shared-services/iam.tf
  terraform/environments/core-shared-services/instance-scheduler-lambda-function.tf
  terraform/environments/core-shared-services/s3.tf
  terraform/environments/core-shared-services/test/test_terraform/providers.tf
  terraform/environments/core-shared-services/versions.tf
  terraform/environments/core-vpc/monitoring.tf
  terraform/environments/core-vpc/versions.tf
  terraform/environments/core-vpc/vpc.tf
  terraform/environments/data-platform-apps-and-tools/versions.tf
  terraform/environments/data-platform/versions.tf
  terraform/environments/versions.tf
  terraform/modules/app-ecr-repo/versions.tf
  terraform/modules/collaborators/versions.tf
  terraform/modules/core-monitoring/main.tf
  terraform/modules/core-monitoring/versions.tf
  terraform/modules/dns-zone-extend/versions.tf
  terraform/modules/dns-zone/versions.tf
  terraform/modules/ec2-tgw-attachment/versions.tf
  terraform/modules/firewall-logging/versions.tf
  terraform/modules/firewall-policy/versions.tf
  terraform/modules/iam_baseline/versions.tf
  terraform/modules/kms/versions.tf
  terraform/modules/r53-resolver-logs/versions.tf
  terraform/modules/ram-resource-share/versions.tf
  terraform/modules/vpc-hub/versions.tf
  terraform/modules/vpc-inspection/versions.tf
  terraform/modules/vpc-nacls/versions.tf
Labels: core, security, networking

#4375 Missed upgrades for v5
  terraform/environments/core-logging/s3_logging.tf
  terraform/environments/data-platform/data-platform-oidc.tf
  terraform/environments/environments.tf
  terraform/github/versions.tf
  terraform/modernisation-platform-account/baselines.tf
  terraform/modernisation-platform-account/iam.tf
  terraform/modernisation-platform-account/s3.tf
  terraform/modernisation-platform-account/versions.tf
  terraform/pagerduty/versions.tf
Labels: core

#4383 Allow shared VPCs to be associated with private zones
  terraform/environments/core-vpc/vpc.tf
Labels: core, networking

#4384 Allow jitbit test account principle to pull and push jitbit ecr images
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#4387 Revert "Allow shared VPCs to be associated with private zones"
  terraform/environments/core-vpc/vpc.tf
Labels: core, networking

#4382 Update PPUD go live date
  environments/ppud.json
Labels: onboarding

#4391 Add MP to CP PG Traffic, and Other way
  terraform/environments/core-network-services/firewall-rules/development_rules.json
Labels: core, networking

#4393 Trim traffic permitted through inspection VPCs
  terraform/environments/core-network-services/firewall-rules/inline_rules.json
Labels: core, networking

#4396 Documents reviewed
  source/concepts/sdlc/sandbox-testing-environments.html.md.erb
  source/runbooks/running-emergency-patching.html.md.erb
Labels: documentation

#4401 NIT-725 add delius network ranges to FW code
  terraform/environments/core-network-services/cidr-ranges.tf
  terraform/environments/core-network-services/firewall-rules/development_rules.json
Labels: core, networking

#4403 NIT-725 allow legacy delius resources to reach LDAP hosted in MP
  terraform/environments/core-network-services/firewall-rules/development_rules.json
  terraform/environments/core-network-services/firewall-rules/preproduction_rules.json
  terraform/environments/core-network-services/firewall-rules/production_rules.json
  terraform/environments/core-network-services/firewall-rules/test_rules.json
Labels: core, networking

#4406 New Account - MAAT Networking Setup
  environments-networks/laa-development.json
  environments-networks/laa-preproduction.json
  environments-networks/laa-production.json
  environments-networks/laa-test.json
  policies/networking/expected.rego
Labels: onboarding, testing

#4418 SCA fixes for core-network-services
  terraform/environments/core-network-services/secrets.tf
Labels: core, networking

#4420 add edge download update url to allow list in mod-platform firewall
  terraform/environments/core-network-services/firewall-rules/inline_fqdn_rules.json
Labels: core, networking

#4427 Add cp to mp oracle port rules for hmpps dev
  terraform/environments/core-network-services/firewall-rules/development_rules.json
Labels: core, networking

#4434 Add production environment for digital-prison-reporting
  environments/digital-prison-reporting.json
Labels: onboarding

#4446 Fix Checkov warnings
  terraform/environments/core-logging/vpc.tf
  terraform/environments/core-security/vpc.tf
  terraform/environments/core-shared-services/instance-scheduler-lambda-function.tf
  terraform/environments/core-shared-services/vpc.tf
  terraform/environments/core-vpc/vpc.tf
  terraform/environments/data-platform-apps-and-tools/security-groups.tf
  terraform/environments/data-platform-apps-and-tools/vpc-endpoints.tf
  terraform/environments/data-platform-apps-and-tools/vpcs.tf
  terraform/modernisation-platform-account/iam.tf
Labels: core, security, networking

#4445 Add Data Platform OIDC role to Data Platform repos
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#4454 Allow push principal to describe ECR images
  terraform/environments/core-shared-services/ecr_repos.tf
  terraform/modules/app-ecr-repo/main.tf
Labels: core

#4439 DPR Networking Setup
  environments-networks/hmpps-production.json
  policies/networking/expected.rego
  terraform/environments/core-network-services/firewall-rules/production_rules.json
Labels: onboarding, core, testing, networking
