Repository ministryofjustice/modernisation-platform, pull requests merged in 2023-10, with the labels that each got.

#5111 Add Azure static routes to inspection route table
  terraform/environments/core-network-services/locals.tf
  terraform/environments/core-network-services/transit_gateway_connections.tf
Labels: core, networking

#5118 Feature/docs 02 10 23
  source/team/vision.html.md.erb
  source/user-guide/production-ready-checklist.html.md.erb
Labels: documentation

#5120 🧱 Propagate advertised routes into Inspection route table
  terraform/environments/core-network-services/locals.tf
  terraform/environments/core-network-services/transit_gateway_connections.tf
  terraform/environments/core-network-services/vpn.tf
Labels: nomis, core, terraform, networking

#5119 Updating contact details for Tipstaff
  environments/tipstaff.json
Labels: onboarding

#5121 Developer to migration role.
  environments/apex.json
Labels: onboarding

#5132 Allow http traffic to amazontrust.com
  terraform/environments/core-network-services/firewall-rules/inline_fqdn_rules.json
Labels: core, networking

#5134 removed legacy references to inline_fqdn_rules, updated allowlist
  terraform/environments/core-network-services/firewall-rules/fqdn_rules.json
  terraform/environments/core-network-services/firewall-rules/inline_fqdn_rules.json
  terraform/environments/core-network-services/locals.tf
Labels: core, networking

#5137 New Account request for ERIC
  environments/eric.json
  policies/environments/expected.rego
Labels: onboarding, testing

#5142 Eric ram share setup
  environments-networks/laa-production.json
  environments-networks/laa-test.json
  policies/networking/expected.rego
Labels: onboarding, testing

#5156 Update ecr_repos permitted pull lambdas
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#5158 Reintroduce read-dns role
  terraform/environments/core-network-services/iam.tf
Labels: core, networking

#5159 New upgrade account for ccms-ebs.
  environments/ccms-ebs-upgrade.json
  policies/environments/expected.rego
Labels: onboarding, testing

#5165 RAM share changes for ccms-ebs-upgrade-development
  environments-networks/laa-development.json
  policies/networking/expected.rego
Labels: onboarding, testing

#5155 Add ECR repo for new lambda
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#5188 RAM changes for new apex accounts
  environments-networks/laa-preproduction.json
  environments-networks/laa-production.json
  environments-networks/laa-test.json
  policies/networking/expected.rego
Labels: onboarding, testing

#5192 Moving from cicd to modernisation-platform-oidc-cicd
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#5200 Add oidc repo for delius-core
  environments/delius-core.json
Labels: onboarding

#5201 🔧 Allow member-delegation and read-log-records ability to read flow logs
  terraform/environments/core-network-services/iam.tf
  terraform/environments/core-vpc/vpc.tf
Labels: core, networking

#5206 add ecr repo for data platform create schema lambda
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#5207 📝 Add Mac Quick Start Guide
  source/user-guide/quick-start-mac-guide.html.md.erb
Labels: documentation

#5211 tribunal decisions repositories added for oidc
  environments/tribunals.json
Labels: onboarding

#5218 Add delius-core test environment
  environments/delius-core.json
Labels: onboarding

#5219 repository name fixed for lands registry tribunal
  environments/tribunals.json
Labels: onboarding

#5222 add delius-core test networking configuration
  environments-networks/hmpps-test.json
  policies/networking/expected.rego
Labels: onboarding, testing

#5234 🗑️ Remove read-dns-records role
  terraform/environments/core-network-services/iam.tf
Labels: core, networking

#5239 Shared ECR repo for Apex
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#5240 Version change within the example
  source/user-guide/integrating-alarms-with-pagerduty-with-slack.html.md.erb
Labels: documentation

#5248 🐶 Review Spaniel Updates
  source/user-guide/running-terraform-plan-locally.html.md.erb
Labels: documentation

#5251 Add jitbit app repo to delius-jitbit environment
  environments/delius-jitbit.json
Labels: onboarding

#5250 Add openldap container app repo to delius-core environment
  environments/delius-core.json
Labels: onboarding

#5235 🛂 Add MWAA User access for Data Platform Apps and Tools
  environments/data-platform-apps-and-tools.json
  policies/environments/environment-definitions.rego
  policies/environments/environment-definitions_test.rego
  terraform/environments/bootstrap/single-sign-on/main.tf
Labels: onboarding, testing

#5271 Change to top level modernisation platform documentation
  source/index.html.md.erb
Labels: documentation

#5276 NIT-906 Add OIDC role to Jitbit ECR repo push principals
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#5277 Added new discovery team to xhibit portal dev environment
  environments/xhibit-portal.json
Labels: onboarding

#5281 Add ECR repo for new data platform endpoint
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#5282 Add delius-core OIDC role to OpenLDAP ECR repo
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#5296 Update data-platform.json
  environments/data-platform.json
Labels: onboarding

#5308 set tipstaff preprod permissions level to developer
  environments/tipstaff.json
Labels: onboarding

#5309 ✨ Add docs for `Tags and Releases` in GitHub
  source/team/ways-of-working.html.md.erb
Labels: documentation

#5310 Set tipstaff prod permissions level to developer
  environments/tipstaff.json
Labels: onboarding

#5311 add ecr repo for data platform update schema
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#5313 🔧 Fix broken and missing links in ADRs README.md
  architecture-decision-record/README.md
Labels: documentation

#5320 Adding OIDC repo for Apex
  environments/apex.json
Labels: onboarding
