Repository ministryofjustice/modernisation-platform, pull requests merged in 2023-07, with the labels that each got.

#4464 ITHC doc for user guide
  source/index.html.md.erb
  source/team/vision.html.md.erb
  source/user-guide/security-testing-and-ithc.html.md.erb
Labels: documentation

#4472 Temp rule for access to ppud-production
  terraform/environments/core-network-services/firewall-rules/production_rules.json
Labels: core, networking

#4477 addressed checkov failures
  terraform/environments/data-platform-apps-and-tools/iam-policies.tf
  terraform/environments/data-platform-apps-and-tools/iam-roles.tf
  terraform/modules/vpc-inspection/main.tf
Labels: security, code quality

#4479 Add go live date for MoJFin
  environments/mojfin.json
Labels: onboarding

#4481 Granting Hackathon Team Sandbox Access
  environments/data-platform.json
Labels: onboarding

#4480 Architectural Decision record following DNS discussion
  architecture-decision-record/0025-non-standard-user-infrastructure.md
  architecture-decision-record/0026-use-network-services-account-for-dns.md
  architecture-decision-record/README.md
Labels: documentation

#4483 Add hmpps delius core ansible aws image to shared service ecr
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#4488 Allow access to PPUD UAT environment
  terraform/environments/core-network-services/firewall-rules/preproduction_rules.json
  terraform/environments/core-network-services/firewall-rules/production_rules.json
Labels: core, networking

#4491 Fix terraform/environments/cooker
  terraform/environments/cooker/variables.tf
  terraform/environments/sprinkler/secrets.old
Labels: terraform, code quality

#4499 Allow Analytic Platform access LAA Production
  terraform/environments/core-network-services/firewall-rules/production_rules.json
Labels: core, networking

#4527 Adding networking step for dacp
  environments-networks/hmcts-development.json
  environments-networks/hmcts-preproduction.json
  environments-networks/hmcts-production.json
  policies/networking/expected.rego
Labels: onboarding, testing

#4529 Update access for long term storage account
  environments/long-term-storage.json
Labels: onboarding

#4533 Delete remote supervision account
  environments/remote-supervision.json
  policies/environments/expected.rego
  source/runbooks/deleting-an-environment.html.md.erb
Labels: documentation, onboarding, testing

#4536 Ram Share new PR
  environments-networks/hmcts-development.json
  environments-networks/hmcts-preproduction.json
  environments-networks/hmcts-production.json
  policies/networking/expected.rego
Labels: onboarding, testing

#4520 Initial OIDC changes to be tested.
  environments/example.json
  terraform/environments/bootstrap/delegate-access/iam.tf
  terraform/environments/bootstrap/member-bootstrap/iam.tf
Labels: onboarding

#4552 Update ways-of-working.html.md.erb
  source/team/ways-of-working.html.md.erb
Labels: documentation

#4544 NCAS update owner email address
  environments/ncas.json
Labels: onboarding

#4545 📝 Update to creating new environments for end users
  source/runbooks/creating-accounts-for-end-users.html.md.erb
Labels: documentation

#4568 Add rule allowing ldap from cp to hmpps dev
  terraform/environments/core-network-services/firewall-rules/development_rules.json
Labels: core, networking

#4569 Excluding from nuke.
  environments/data-and-insights-wepi.json
Labels: onboarding

#4575 New environment for wardship
  environments/wardship.json
  policies/environments/expected.rego
Labels: onboarding, testing

#4584 Doc/amend vision - correct typos
  source/team/vision.html.md.erb
Labels: documentation

#4588 add ecr repo for get_glue_metadata lambda function
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#4589 Add VPC Endpoint to HMPPS VPCs
  environments-networks/hmpps-development.json
  environments-networks/hmpps-preproduction.json
  environments-networks/hmpps-production.json
Labels: onboarding

#4598 add repos for 3 more lambda functions
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#4600 Update corporate-staff-rostering level to migration
  environments/corporate-staff-rostering.json
Labels: onboarding

#4596 updating access info in ITHC doc
  source/user-guide/security-testing-and-ithc.html.md.erb
Labels: documentation

#4606 fixed a small typo in duty-rota doc
  source/runbooks/duty-rota.html.md.erb
Labels: documentation

#4610 Allow customers to send outbound email through egress VPCs
  terraform/environments/core-network-services/firewall-rules/inline_fqdn_rules.json
  terraform/environments/delius-jitbit/iam.tf
  terraform/modules/vpc-nacls/data.tf
Labels: core, networking

#4619 Update ppud.json go live date
  environments/ppud.json
Labels: onboarding

#4609 DPR-601 support access to non-production environments
  environments/digital-prison-reporting.json
Labels: onboarding

#4620 Updated firewall docs
  source/concepts/networking/network-firewall.html.md.erb
Labels: documentation

#4625 DNS Docs refresh
  source/concepts/networking/dns.html.md.erb
  source/runbooks/creating-new-dns-zones.html.md.erb
Labels: documentation

#4627 User guide index update
  source/index.html.md.erb
Labels: documentation

#4628 Allow traffic to wider range of office365 addresses
  terraform/environments/core-network-services/firewall-rules/inline_fqdn_rules.json
Labels: core, networking

#4632 add inline firewall rule and update nacls vpc
  terraform/environments/core-network-services/firewall-rules/inline_rules.json
  terraform/modules/vpc-nacls/data.tf
Labels: core, networking

#4636 Add migration level access to CSR development
  environments/corporate-staff-rostering.json
Labels: onboarding

#4635 Allow access to Redshift VPC endpoint from Global Protect users
  environments-networks/hq-development.json
  environments-networks/hq-preproduction.json
  environments-networks/hq-production.json
  terraform/environments/core-network-services/firewall-rules/development_rules.json
  terraform/environments/core-network-services/firewall-rules/preproduction_rules.json
  terraform/environments/core-network-services/firewall-rules/production_rules.json
  terraform/modules/vpc-nacls/data.tf
Labels: onboarding, core, networking

#4637 Update redshift VPC endpoint type
  environments-networks/hq-development.json
  environments-networks/hq-preproduction.json
  environments-networks/hq-production.json
Labels: onboarding

#4644 correctly referenced endpoint names
  environments-networks/hq-development.json
  environments-networks/hq-preproduction.json
  environments-networks/hq-production.json
Labels: onboarding

#4650 Add hmpps dbas to delius dev sandbox
  environments/delius-core.json
Labels: onboarding

#4653 New Private zone documentation
  source/index.html.md.erb
  source/runbooks/creating-new-private-dns-zones.html.md.erb
Labels: documentation

#4654 Additional changes for private VPC zone docs
  source/runbooks/creating-new-private-dns-zones.html.md.erb
Labels: documentation

#4656 Allow Redshift access to Redshift endpoints
  terraform/environments/core-vpc/vpc.tf
Labels: core, networking

#4604 New Module and private dns code
  terraform/environments/core-network-services/route53.tf
  terraform/environments/core-vpc/vpc.tf
  terraform/modules/private-dns-zone-extend/main.tf
  terraform/modules/private-dns-zone-extend/variables.tf
  terraform/modules/private-dns-zone-extend/versions.tf
Labels: core, networking

#4665 Add application zone for dacp
  terraform/environments/core-network-services/route53.tf
Labels: networking, member request

#4666 LAWS-3284: added portal dev private hosted zone
  terraform/environments/core-network-services/route53.tf
Labels: core, networking

#4667 LAWS-3284-extend-dns-zone: locals private application zones and priva…
  terraform/environments/core-vpc/vpc.tf
Labels: core, networking

#4668 added output to see what is being passed
  terraform/environments/core-vpc/vpc.tf
  terraform/modules/private-dns-zone-extend/main.tf
Labels: core, networking

#4674 Updated private route53 zone example
  source/runbooks/creating-new-private-dns-zones.html.md.erb
Labels: documentation

#4694 Reworked private zone association module
  environments-networks/cica-development.json
  environments-networks/cica-preproduction.json
  environments-networks/cica-production.json
  environments-networks/cica-test.json
  environments-networks/cjse-development.json
  environments-networks/cjse-preproduction.json
  environments-networks/cjse-production.json
  environments-networks/cjse-test.json
  environments-networks/garden-sandbox.json
  environments-networks/hmcts-development.json
  environments-networks/hmcts-preproduction.json
  environments-networks/hmcts-production.json
  environments-networks/hmcts-test.json
  environments-networks/hmpps-development.json
  environments-networks/hmpps-preproduction.json
  environments-networks/hmpps-production.json
  environments-networks/hmpps-test.json
  environments-networks/house-sandbox.json
  environments-networks/hq-development.json
  environments-networks/hq-preproduction.json
  environments-networks/hq-production.json
  environments-networks/hq-test.json
  environments-networks/laa-development.json
  environments-networks/laa-preproduction.json
  environments-networks/laa-production.json
  environments-networks/laa-test.json
  environments-networks/opg-development.json
  environments-networks/opg-preproduction.json
  environments-networks/opg-production.json
  environments-networks/opg-test.json
  environments-networks/platforms-development.json
  environments-networks/platforms-preproduction.json
  environments-networks/platforms-production.json
  environments-networks/platforms-test.json
  environments-networks/template-only.txt
  terraform/environments/core-vpc/vpc.tf
  terraform/modules/dns-zone-extend-private/main.tf
  terraform/modules/dns-zone-extend-private/variables.tf
  terraform/modules/dns-zone-extend-private/versions.tf
  terraform/modules/private-dns-zone-extend/main.tf
  terraform/modules/private-dns-zone-extend/variables.tf
Labels: onboarding, core, networking

#4697 Updated docs for private zone association
  source/runbooks/creating-new-private-dns-zones.html.md.erb
Labels: documentation

#4698 Add jitbit dev access to Jitbit preprod
  environments/delius-jitbit.json
Labels: onboarding
