Repository ministryofjustice/modernisation-platform, pull requests merged in 2023-03, with the labels that each got.

#3266 Production and preproduction block
  terraform/environments/core-network-services/preproduction_rules.json
Labels: core, networking

#3278 Update performance hub infrastructure email
  environments/performance-hub.json
Labels: onboarding

#3285 Review date changes
  source/user-guide/creating-networking.html.md.erb
  source/user-guide/creating-resources.html.md.erb
  source/user-guide/environment-diagram.html.md.erb
  source/user-guide/obtaining-deployment-credentials.html.md.erb
  source/user-guide/wider-moj-connectivity.html.md.erb
Labels: documentation

#3288 Firewall changes
  terraform/environments/core-network-services/development_rules.json
  terraform/environments/core-network-services/preproduction_rules.json
  terraform/environments/core-network-services/production_rules.json
  terraform/environments/core-network-services/test_rules.json
Labels: core, networking

#3289 Rules move around
  terraform/environments/core-network-services/development_rules.json
  terraform/environments/core-network-services/preproduction_rules.json
  terraform/environments/core-network-services/production_rules.json
  terraform/environments/core-network-services/test_rules.json
Labels: core, networking

#3273 MP Network Firewall rules
  terraform/environments/core-network-services/development_rules.json
Labels: core, networking

#3303 Production block
  terraform/environments/core-network-services/preproduction_rules.json
  terraform/environments/core-network-services/production_rules.json
Labels: core, networking

#3308 Update index.html.md.erb
  source/getting-help/index.html.md.erb
Labels: documentation

#3315 New test account for digital-prison-reporting
  environments/digital-prison-reporting.json
Labels: onboarding

#3330 New nomis-data-hub account
  environments/nomis-data-hub.json
  policies/environments/expected.rego
Labels: onboarding, testing

#3332 Give view only access to security
  environments/ccms-ebs.json
Labels: onboarding

#3122 Initial Code for FQDN
  terraform/environments/core-network-services/firewall.tf
  terraform/environments/core-network-services/fqdn_rules.json
  terraform/environments/core-network-services/locals.tf
  terraform/modules/firewall-policy/main.tf
  terraform/modules/firewall-policy/variables.tf
Labels: core, networking

#3333 Network changes for nomis-data-hub
  environments-networks/hmpps-development.json
  environments-networks/hmpps-preproduction.json
  environments-networks/hmpps-production.json
  environments-networks/hmpps-test.json
  policies/networking/expected.rego
Labels: onboarding, testing

#3334 Firewall group name change
  terraform/environments/core-network-services/firewall.tf
  terraform/modules/firewall-policy/main.tf
  terraform/modules/firewall-policy/variables.tf
Labels: core, networking

#3338 Fix incorrect input
  terraform/environments/core-logging/s3_logging.tf
Labels: core

#3350 Delius core networking
  environments-networks/hmpps-development.json
  policies/networking/expected.rego
Labels: onboarding, testing

#3364 Update to permissions to push to ecr
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#3365 Additional OAS environmnents
  environments/oas.json
Labels: onboarding

#3369 Account/laa oas
  environments/oas.json
  terraform/environments/bootstrap/delegate-access/locals.tf
Labels: onboarding

#3370 Improvements to new env docs
  source/runbooks/creating-accounts-for-end-users.html.md.erb
Labels: documentation

#3372 Network settings for oas
  environments-networks/laa-preproduction.json
  environments-networks/laa-production.json
  environments-networks/laa-test.json
  policies/networking/expected.rego
Labels: onboarding, testing

#3374 LAA portal account called portal
  environments/portal.json
  policies/environments/expected.rego
Labels: onboarding, testing

#3398 Allowing cicd member pull permissions on the mlra ecr repo
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#3325 Documentation/fqdn firewall documentation
  source/concepts/networking/network-firewall.html.md.erb
  terraform/modules/firewall-policy/README.md
  terraform/modules/firewall-policy/outputs.tf
  terraform/modules/r53-resolver-logs/README.md
Labels: documentation

#3406 Update team.html.md.erb
  source/team/team.html.md.erb
Labels: documentation

#3413 New tribunals account
  environments/tribunals.json
  policies/environments/expected.rego
Labels: onboarding, testing

#3415 Amended the github_slug name
  environments/tribunals.json
Labels: onboarding

#3427 Network changes for tribunals
  environments-networks/hmcts-development.json
  environments-networks/hmcts-preproduction.json
  environments-networks/hmcts-production.json
  policies/networking/expected.rego
Labels: onboarding, testing

#3430 added additional endpoint for SMTP/SES to hmpps for ppud preprod
  environments-networks/hmpps-preproduction.json
Labels: onboarding

#3433 New data-platform environment
  environments/data-platform.json
  policies/environments/expected.rego
Labels: onboarding, testing

#3435 Adding hmpps delius ui and testing db ECR repos
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#3438 Data platform network settings
  environments-networks/platforms-development.json
  policies/networking/expected.rego
Labels: onboarding, testing

#3446 New laa-oem environments
  environments/laa-oem.json
Labels: onboarding

#3445 Name tweak to delius-core ecr repo names for consistency
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#3447 PPUD firewall rules
  terraform/environments/core-network-services/preproduction_rules.json
  terraform/environments/core-network-services/production_rules.json
Labels: core, networking

#3450 laa-oem network changes
  environments-networks/laa-preproduction.json
  environments-networks/laa-production.json
  policies/networking/expected.rego
Labels: onboarding, testing

#3465 Add data-tech-archs GitHub team for access
  environments/data-platform.json
Labels: onboarding

#3464 Add extra pull permissions for delius ecr repos
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#3469 networking stage PR for laa-ccms-infra-azure-ad-sso
  environments-networks/laa-development.json
  policies/networking/expected.rego
Labels: onboarding, testing

#3474 Add missing number and closing bracket
  scripts/provision-member-directories.sh
  source/user-guide/integrating-alarms-with-pagerduty-with-slack.html.md.erb
Labels: documentation

#3475 Adding servicediscovery to the cicd memebr permissions
  terraform/environments/bootstrap/member-bootstrap/iam.tf
Labels: onboarding

#3484 amend CCMS Azure AD SSO permissions
  environments/laa-ccms-infra-azure-ad-sso.json
Labels: onboarding

#3504 added firewall rules for traffic from LAA landing zones to mp-laa-test
  terraform/environments/core-network-services/test_rules.json
Labels: core, networking

#3503 Update data-platform.json
  environments/data-platform.json
Labels: onboarding

#3501 Initial firewall changes for laa-oem prod and preprod
  terraform/environments/core-network-services/preproduction_rules.json
  terraform/environments/core-network-services/production_rules.json
Labels: core, networking

#3512 Updated docs
  source/concepts/sdlc/patching.html.md.erb
  source/user-guide/automated-patching.html.md.erb
Labels: documentation

#3517 Amended port on firewall rules for preprod and prod
  terraform/environments/core-network-services/preproduction_rules.json
  terraform/environments/core-network-services/production_rules.json
Labels: core, networking

#3526 Update preproduction_rules.json
  terraform/environments/core-network-services/preproduction_rules.json
Labels: core, networking

#3527 Change delius-core-dev to sandbox while testing out dms
  environments/delius-core.json
Labels: onboarding

#3528 Add workflow cancellation warning
  source/user-guide/deploying-your-infrastructure.html.md.erb
Labels: documentation

#3529 Create Tags on Security Groups
  terraform/environments/core-vpc/vpc.tf
Labels: core, networking

#3545 created ADR for egress traffic inspection
  architecture-decision-record/0024-egress-traffic-inspection.md
  architecture-decision-record/README.md
Labels: documentation

#3548 Feature/docs 30/03/23
  source/concepts/networking/dns.html.md.erb
  source/user-guide/production-ready-checklist.html.md.erb
Labels: documentation

#3552 Feature/laa ccms firewall
  terraform/environments/core-network-services/development_rules.json
Labels: core, networking
