Repository ministryofjustice/modernisation-platform, pull requests merged in 2023-12, with the labels that each got.

#5671 Updated docs for AWS shield
  source/runbooks/enabling-shield-advanced.html.md.erb
Labels: documentation

#5679 Creating SNS topics and updating IAM policy for instance scheduler
  terraform/environments/core-shared-services/iam.tf
  terraform/environments/core-shared-services/instance-scheduler-lambda-function.tf
Labels: core

#5688 New environment for cdpt-ifs
  environments/cdpt-ifs.json
  policies/environments/expected.rego
Labels: onboarding, testing

#5690 Networking for New cdpt-ifs
  environments-networks/hq-development.json
  environments-networks/hq-preproduction.json
  environments-networks/hq-production.json
  policies/networking/expected.rego
Labels: onboarding, testing

#5693 Corrected github.issues.create to make it github.rest.issues.create
  .github/workflows/notify-user-new-environment-created.yml
Labels: github-workflow

#5705 newmember
  source/team/team.html.md.erb
  terraform/github/locals.tf
Labels: documentation

#5706 Update notify-user-new-environment-created.yml
  .github/workflows/notify-user-new-environment-created.yml
Labels: github-workflow

#5707 Update notify-user-new-environment-created.yml
  .github/workflows/notify-user-new-environment-created.yml
Labels: github-workflow

#5708 Revert "Update notify-user-new-environment-created.yml"
  .github/workflows/notify-user-new-environment-created.yml
Labels: github-workflow

#5709 Update notify-user-new-environment-created.yml
  .github/workflows/notify-user-new-environment-created.yml
Labels: github-workflow

#5711 Bug/notify user new environment created test
  .github/workflows/notify-user-new-environment-created.yml
Labels: github-workflow

#5712 Bug/notify user new environment created test
  .github/workflows/notify-user-new-environment-created.yml
Labels: github-workflow

#5694 Bug/add issues to project
  .github/workflows/secrets-rotation-reminder.yml
Labels: github-workflow

#5718 Feature/notify onboarders #3451
  .github/workflows/notify-user-new-environment-created.yml
Labels: github-workflow

#5720 Update notify-user-new-environment-created.yml
  .github/workflows/notify-user-new-environment-created.yml
Labels: github-workflow

#5738 Addressing checkov failures
  terraform/environments/core-shared-services/instance-scheduler-lambda-function.tf
Labels: core

#5742 Fixing tfsec errors
  terraform/environments/core-shared-services/instance-scheduler-lambda-function.tf
Labels: core

#5774 amended sustainability docs to correctly reference nightly RDS instan…
  source/user-guide/sustainability.html.md.erb
Labels: documentation

#5776 Update networking-approach.html.md.erb
  source/concepts/networking/networking-approach.html.md.erb
Labels: documentation

#5781 Acc aws bedrock access for cica copilot
  environments/cica-copilot.json
  policies/environments/expected.rego
Labels: onboarding, testing

#5784 Add infrastructure-support tag in cica-copilot.json
  environments/cica-copilot.json
Labels: onboarding

#5783 update-user-creation-documentation
  source/user-guide/creating-environments.html.md.erb
Labels: documentation

#5787 Add networking for copilot
  environments-networks/cica-development.json
  policies/networking/expected.rego
Labels: onboarding, testing

#5789 Update repositories.html.md.erb
  source/concepts/networking/subnet-allocation.html.md.erb
  source/concepts/sdlc/repositories.html.md.erb
Labels: documentation

#5790 Update access from developer to sandbox
  environments/cica-copilot.json
Labels: onboarding

#5775 Update documentation and templates for state locking
  source/user-guide/running-terraform-plan-locally.html.md.erb
  terraform/templates/modernisation-platform-environments/platform_backend.tf
Labels: documentation

#5793 Amending dates and adding a comment to one piece of documentation
  source/concepts/environments/architecture.html.md.erb
  source/concepts/environments/security.html.md.erb
  source/runbooks/adding-wider-connectivity.html.md.erb
  source/runbooks/runbook.html.md.erb
  source/user-guide/member-read-only-core-accounts.html.md.erb
Labels: documentation

#5794 Update docs about running a local plan
  source/user-guide/running-terraform-plan-locally.html.md.erb
Labels: documentation

#5797 New firewall rules to allow access to Nomis
  terraform/environments/core-network-services/cidr-ranges.tf
  terraform/environments/core-network-services/firewall-rules/development_rules.json
  terraform/environments/core-network-services/firewall-rules/production_rules.json
Labels: core, networking

#5800 Minor improvements to user notification action
  .github/workflows/notify-user-new-environment-created.yml
Labels: github-workflow

#5801 Improve docs on running terraform plan locally
  source/user-guide/running-terraform-plan-locally.html.md.erb
Labels: documentation

#5803 Rename delius-core env application tag
  environments/delius-core.json
Labels: onboarding

#5805 :memo: Update Team Page
  source/team/team.html.md.erb
Labels: documentation

#5807 ADR 29 - AWS Managed Microsoft AD
  architecture-decision-record/0029-how-we-deploy-shared-active-directory-controllers.md
  architecture-decision-record/README.md
Labels: documentation

#5811 Revised the review dates to keep documentation up-to-date
  source/concepts/environments/auto-nuke.html.md.erb
  source/concepts/sdlc/testing-strategy.html.md.erb
  source/getting-help/index.html.md.erb
  source/runbooks/joining-the-team.html.md.erb
  source/user-guide/automated-patching.html.md.erb
Labels: documentation

#5813 Make name of artifact unique based on GitHub action run
  .github/workflows/publish-gh-pages.yml
Labels: github-workflow

#5814 override default artifact name for pages deployment
  .github/workflows/publish-gh-pages.yml
Labels: github-workflow

#5815 Revert back to v3 of upload-artifact
  .github/workflows/publish-gh-pages.yml
Labels: github-workflow

#5819 Update team Review date
  source/team/team.html.md.erb
Labels: documentation

#5823 Fix linting in page for running a local terraform plan
  source/user-guide/running-terraform-plan-locally.html.md.erb
Labels: documentation

#5827 Update alliance.html.md.erb
  source/team/alliance.html.md.erb
Labels: documentation

#5828 Amended review date of patching document
  source/concepts/sdlc/patching.html.md.erb
Labels: documentation

#5832 Introducting cloud watch alarms for the instance scheduler
  terraform/environments/core-shared-services/instance-scheduler-lambda-function.tf
Labels: core

#5829 Docs/5646 rotate GitHub ci user pat
  source/runbooks/rotating-secrets.html.md.erb
Labels: documentation

#5834 Aggregating lambda cloudwatch alarms for instance-scheduler
  terraform/environments/core-shared-services/instance-scheduler-lambda-function.tf
Labels: core

#5836 Add directory management for sprinkler
  environments/sprinkler.json
  policies/environments/environment-definitions.rego
  policies/environments/environment-definitions_test.rego
Labels: onboarding, testing

#5822 secret manager replica test
  terraform/environments/secrets.tf
  terraform/modernisation-platform-account/locals.tf
  terraform/modernisation-platform-account/secrets.tf
  terraform/pagerduty/aws.tf
  terraform/pagerduty/locals.tf
Labels: github-workflow

#5845 Amended document review dates
  source/user-guide/creating-resources.html.md.erb
  source/user-guide/integrating-alarms-with-pagerduty-with-slack.html.md.erb
Labels: documentation

#5841 Add additional user for Chaps
  environments/cdpt-chaps.json
Labels: onboarding

#5863 🧪 testing artifact and deploy pages v4
  source/runbooks/accessing-aws-accounts.html.md.erb
Labels: documentation

#5864 Account creation for electronic monitoring
  environments/electronic-monitoring-data.json
  policies/environments/expected.rego
Labels: onboarding, testing

#5866 Added networking for electronic-monitoring
  environments-networks/hmpps-development.json
  environments-networks/hmpps-preproduction.json
  environments-networks/hmpps-production.json
  policies/networking/expected.rego
Labels: onboarding, testing

#5860 Allow sandbox VPCs access to internet
  cidr-allocation.md
  terraform/environments/core-network-services/cidr-ranges.tf
  terraform/environments/core-network-services/firewall-rules/inline_rules.json
Labels: core, networking

#5874 Adds myself (Mike Reid) to the team list page.
  source/team/team.html.md.erb
Labels: documentation

#5875 Updated documents scheduled for a review
  source/concepts/sdlc/sandbox-testing-environments.html.md.erb
  source/runbooks/running-emergency-patching.html.md.erb
Labels: documentation

#5880 Account creation for data platform compute
  environments/data-platform-compute.json
  policies/environments/expected.rego
Labels: onboarding, testing

#5882 Updated data-platform-compute
  environments/data-platform-compute.json
Labels: onboarding

#5886 LAWS-3579: Add OIDC permissions for GHA in repos
  environments/maat.json
Labels: onboarding

#5891 Setting tflint_call_module_type to none
  .github/workflows/terraform-static-analysis.yml
Labels: github-workflow
