Repository ministryofjustice/modernisation-platform, pull requests merged in 2024-10, with the labels that each got.

#8126 Remove broken links from firehose documentation
  source/runbooks/integration-with-protective-monitoring.html.md.erb
Labels: documentation

#8130 Feature/6767 create runbook for core vpc $environment accounts
  README.md
  source/index.html.md.erb
  source/runbooks/recreate-core-vpc-$environment-accounts.html.md.erb
Labels: documentation

#8131 feature/6763-fix-for-publish-gh-pages
  source/index.html.md.erb
Labels: documentation

#8134 Remove firehose for firewall logging
  terraform/environments/core-network-services/logging.tf
Labels: core, networking

#8135 Remove bucket policy statements for firehose access
  terraform/environments/core-logging/cortex.tf
Labels: core

#8136 🪣 Update bucket permissions ready for replication
  terraform/environments/core-logging/observability.tf
Labels: core

#8137 Improve use of `firewall_policy` module
  terraform/modules/firewall-policy/main.tf
Labels: core

#8138 fixup - remove } from bucket policy
  terraform/environments/core-logging/observability.tf
Labels: core

#8139 fix resource invalid bucket resource
  terraform/environments/core-logging/observability.tf
Labels: core

#8150 Added top-level domain for apex service
  terraform/environments/core-network-services/route53.tf
Labels: core, networking

#8153 Add team to CIS
  environments/corporate-information-system.json
Labels: onboarding

#8157 Amend tld to suitable suggested name
  terraform/environments/core-network-services/route53.tf
Labels: core, networking

#8167 🐶 Daniel the spaniel reviews
  source/user-guide/production-ready-checklist.html.md.erb
  source/user-guide/quick-start-mac-guide.html.md.erb
Labels: documentation

#8159 Update NOMIS vpn sns topic access policy
  terraform/environments/core-network-services/vpn.tf
Labels: core, networking

#8183 User Guide doc review
  source/user-guide/deploying-your-infrastructure.html.md.erb
Labels: documentation

#8184 Add EM account access for AP ingestion scan ECR repo
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#8190 ecr access for ldap pre and prod
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#8210 Stream firewall logs to XSIAM endpoint
  terraform/environments/core-network-services/logging.tf
  terraform/environments/core-network-services/ssm.tf
Labels: core, networking

#8225 Trimmed protective monitoring runbook
  source/runbooks/integration-with-protective-monitoring.html.md.erb
Labels: documentation

#8227 Fix skip-alias link in documentation
  source/runbooks/creating-accounts-for-end-users.html.md.erb
Labels: documentation

#8228 Update dr-process.html.md.erb
  source/runbooks/dr-process.html.md.erb
Labels: documentation

#8229 Core Network Runbook
  source/index.html.md.erb
  source/runbooks/recreate-core-network-services-account.html.md.erb
Labels: documentation

#8235 Remove Steve Linden
  source/team/team.html.md.erb
  terraform/github/locals.tf
  terraform/modernisation-platform-account/iam.tf
  terraform/modernisation-platform-account/outputs.tf
  terraform/pagerduty/locals.tf
Labels: documentation

#8239 Cortex cleanup
  source/runbooks/integration-with-protective-monitoring.html.md.erb
  terraform/environments/core-logging/cortex.tf
Labels: documentation, core

#8241 Correct reference to firewall log group
  terraform/environments/core-network-services/logging.tf
Labels: core, networking

#8240 🔐 Create KMS Key for S3 replication
  terraform/environments/core-logging/observability.tf
Labels: core

#8243 Add kms key alias
  terraform/environments/core-logging/observability.tf
Labels: core

#8249 Add custom key to s3 bucket
  terraform/environments/core-logging/observability.tf
Labels: core

#8250 Add KMS permssions for replication role
  terraform/environments/core-logging/observability.tf
Labels: core

#8251 Fix Policy Permissions
  terraform/environments/core-logging/observability.tf
Labels: core

#8252 Add Object and Bucket level Resources
  terraform/environments/core-logging/observability.tf
Labels: core

#8264 Add access for `electronic-monitoring-data` accounts ITHC
  environments/electronic-monitoring-data.json
Labels: onboarding

#8262 Trivy ignore AVD-AWS-0102 for subnet NACLs
  terraform/modules/vpc-nacls/main.tf
Labels: core, networking

#8271 [TM-423] changed nuke action for CIS sandbox env
  environments/corporate-information-system.json
Labels: onboarding

#8284 Update set-up-macie.html.md.erb
  source/runbooks/set-up-macie.html.md.erb
Labels: documentation

#8288 Runbook review
  source/runbooks/deleting-an-environment.html.md.erb
Labels: documentation

#8286 ✨ Add Athena CUR Pipeline with Glue and Lambda Integration
  terraform/environments/core-logging/lambda_cur/cur-crawler-initializer.py
  terraform/environments/core-logging/observability.tf
Labels: core

#8291 TM-612 Correct email for owner tag
  environments/apex.json
Labels: onboarding

#8292 Fix KMS access for logs service
  terraform/environments/core-logging/observability.tf
Labels: core

#8296 Fixup - Lambda path and snake case 🐍
  terraform/environments/core-logging/lambda_cur/cur_crawler_initializer.py
  terraform/environments/core-logging/lambda_cur/moj_cur_crawler_lambda.zip
  terraform/environments/core-logging/observability.tf
Labels: core

#8297 New runbook documentation
  source/runbooks/creating-accounts-for-end-users.html.md.erb
Labels: documentation

#8298 Fix lambda kms arn
  terraform/environments/core-logging/observability.tf
Labels: core

#8299 remove tag
  environments/analytical-platform-compute.json
  environments/analytical-platform-data-engineering.json
  environments/analytical-platform-data.json
  environments/analytical-platform-ingestion.json
  environments/analytical-platform-landing.json
  environments/analytical-platform-management.json
  environments/analytical-platform.json
Labels: onboarding

#8301 Correct Lambda trigger bucket
  terraform/environments/core-logging/observability.tf
Labels: core

#8304 Use Bucket Name not ARN
  terraform/environments/core-logging/observability.tf
Labels: core

#8305 TM-593 Remove nuke for laa-mail account
  environments/laa-mail-relay.json
Labels: onboarding

#8308 Consolidate S3 Bucket Configuration for CUR Athena Setup
  terraform/environments/core-logging/observability.tf
Labels: core

#8315 revert tag for performance hub
  environments/performance-hub.json
Labels: onboarding

#8318 Adds script and workflow for ECS/EKS AMI monitoring
  .github/workflows/monitor-ecs-eks-amis.yml
  scripts/check-ecs-eks-amis.sh
Labels: github-workflow

#8316 ♻️ Refactor / tidy up
  terraform/environments/core-logging/lambda_cur/moj_cur_crawler_lambda.py
  terraform/environments/core-logging/observability.tf
Labels: core

#8320 Enable use_trivy_ecr_database - TOOMANYREQUESTS 🔥
  .github/workflows/terraform-static-analysis.yml
Labels: github-workflow

#8321 Revert workgroup KMS
  terraform/environments/core-logging/observability.tf
Labels: core

#8339 🐶 Review team vision
  source/team/vision.html.md.erb
Labels: documentation

#8344 Remove data call from `core-logging`
  terraform/environments/core-logging/cortex.tf
Labels: core

#8346 Athena/glue permissions - logs:AssociateKmsKey
  terraform/environments/core-logging/observability.tf
Labels: core

#8348 add upgrade repo
  environments/cdpt-chaps.json
Labels: onboarding

#8358 Update version of tech docs publisher
  .github/workflows/publish-gh-pages.yml
Labels: github-workflow

#8351 Working version following testing & feedback with Ops Eng team.
  .github/workflows/confirm-contacts-for-environments.yml
  scripts/confirm-environment-owner/create-confirm-owner-issue.sh
  scripts/confirm-environment-owner/get-environment-owners.sh
  scripts/confirm-environment-owner/owner-notification.py
Labels: github-workflow

#8361 Updates user-guide man pages for issue/7047
  scripts/confirm-environment-owner/get-environment-owners.sh
  source/user-guide/creating-environments.html.md.erb
  source/user-guide/workflow-status.html.md.erb
Labels: documentation

#8368 📝 User documentation for cost metrics
  source/images/cur-dashboard.png
  source/user-guide/cost-metrics.html.md.erb
Labels: documentation

#8374 Adding standard networking to APC Test
  environments-networks/platforms-test.json
Labels: onboarding

#8373 Adding standard networking to APC Production
  environments-networks/platforms-production.json
Labels: onboarding

#8377 Remove isolated value from APC json
  environments/analytical-platform-compute.json
Labels: onboarding

#8353 Add Electronic Monitoring Data Store preprod env
  environments/electronic-monitoring-data.json
Labels: onboarding

#8379 Formatting changes
  source/user-guide/platform-user-roles.html.md.erb
  source/user-guide/working-as-a-collaborator.html.md.erb
  terraform/environments/core-logging/athena.tf
  terraform/environments/core-logging/cortex.tf
Labels: documentation, core

#8385 Set up RAM shares for `electronic-monitoring-data-preproduction`
  environments-networks/hmcts-preproduction.json
  environments-networks/hmpps-preproduction.json
  policies/networking/expected.rego
Labels: onboarding, testing
