Repository ministryofjustice/modernisation-platform, pull requests merged in 2024-12, with the labels that each got.

#8657 Sync newly added PAT secret from secrets manager to GitHub
  source/runbooks/rotating-secrets.html.md.erb
  terraform/github/aws.tf
  terraform/github/repositories.tf
Labels: documentation

#8658 Update collaborator user-guide to include S3-upload role
  source/user-guide/working-as-a-collaborator.html.md.erb
Labels: documentation

#8662 Doc review
  source/concepts/networking/networking-diagram.html.md.erb
Labels: documentation

#8661 Update electronic-monitoring-data.json
  environments/electronic-monitoring-data.json
Labels: onboarding

#8663 Adr/cloud map
  architecture-decision-record/0034-use-cloud-map.md
Labels: documentation

#8690 TM-782: test entra ID access for DSO in nomis-development
  environments/nomis.json
Labels: onboarding

#8676 Updated VPC flow log formats for full verbosity
  terraform/environments/core-network-services/firewall.tf
  terraform/environments/core-vpc/vpc.tf
  terraform/modules/vpc-hub/main.tf
  terraform/modules/vpc-inspection/main.tf
Labels: core, networking

#8694 Update Instance Scheduling Skip List to Include Missing Accounts
  terraform/environments/core-shared-services/instance-scheduler-lambda-function.tf
Labels: core

#8701 🔐 Add `MoJRedTeam` to `cooker`
  environments/cooker.json
Labels: onboarding

#8703 Update links to domain naming standard
  source/concepts/networking/dns.html.md.erb
  source/user-guide/how-to-configure-dns.html.md.erb
Labels: documentation

#8702 🙈 Exclude Cooker From Nuke
  environments/cooker.json
Labels: onboarding

#8704 Update instance-scheduler-lambda-function.tf
  terraform/environments/core-shared-services/instance-scheduler-lambda-function.tf
Labels: core

#8708 add azure-aws-sso-cdpt group name for sso
  environments/cdpt-ifs.json
Labels: onboarding

#8709 add azure-aws-sso-cdpt group name for Chaps sso
  environments/cdpt-chaps.json
Labels: onboarding

#8711 🐶 Enabling AWS Shield Advanced Review
  source/runbooks/enabling-shield-advanced.html.md.erb
Labels: documentation

#8713 Add networking configuration statements for `mojfin-preproduction`
  environments-networks/laa-preproduction.json
  policies/networking/expected.rego
Labels: onboarding, testing

#8715 link correction
  source/index.html.md.erb
Labels: documentation

#8716 Add Azure URL
  source/concepts/environments/single-sign-on.html.md.erb
Labels: documentation

#8725 Update ministryofjustice/github-actions to `v18.6.0`
  .github/workflows/terraform-static-analysis.yml
Labels: github-workflow

#8734 Fix missing comma in `expected.rego`
  policies/networking/expected.rego
Labels: testing

#8736 Allow LDAP to HMPPS Preproduction VPC from CP
  terraform/environments/core-network-services/firewall-rules/preproduction_rules.json
Labels: core, networking

#8737 Allow LDAP to HMPPS Production VPC from CP
  terraform/environments/core-network-services/firewall-rules/production_rules.json
Labels: core, networking

#8743 added json and application for youth-justice-app-framework
  environments/youth-justice-app-framework.json
  policies/environments/expected.rego
Labels: onboarding, testing

#8747 Revert to using old TERRAFORM_GITHUB_TOKEN due to commit failures with MODERNISATION_PAT_MULTIREPO
  .github/workflows/new-member-environment-files.yml
Labels: github-workflow

#8762 Docs update
  source/runbooks/adding-wider-connectivity.html.md.erb
  source/runbooks/runbook.html.md.erb
  source/user-guide/running-terraform-plan-locally.html.md.erb
  source/user-guide/sustainability.html.md.erb
Labels: documentation

#8763 TM-772 Update APEX go live date and roles
  environments/apex.json
Labels: onboarding

#8765 Add analytical-platform-common
  environments/analytical-platform-common.json
  policies/environments/expected.rego
Labels: onboarding, testing

#8767 Add `analytical-platform-common` to networking resources
  environments-networks/platforms-production.json
  policies/networking/expected.rego
Labels: onboarding, testing

#8771 Add setup terraform step to ram association jobs
  .github/workflows/core-vpc-development-deployment.yml
  .github/workflows/core-vpc-preproduction-deployment.yml
  .github/workflows/core-vpc-production-deployment.yml
  .github/workflows/core-vpc-test-deployment.yml
Labels: github-workflow

#8773 Change `analytical-platform-compute-common` to `member` account type
  environments/analytical-platform-common.json
Labels: onboarding

#8777 [TM-829] added access for LAA-CIS-DBAs team to MP CIS Dev env
  environments/corporate-information-system.json
Labels: onboarding

#8720 New PR and Branch for test
  .github/workflows/core-logging-deployment.yml
  .github/workflows/core-network-services-deployment.yml
  .github/workflows/core-security-deployment.yml
  .github/workflows/core-shared-services-deployment.yml
  .github/workflows/core-vpc-development-deployment.yml
  .github/workflows/core-vpc-preproduction-deployment.yml
  .github/workflows/core-vpc-production-deployment.yml
  .github/workflows/core-vpc-test-deployment.yml
  .github/workflows/modernisation-platform-account.yml
  .github/workflows/reusable_terraform_plan_apply.yml
  .github/workflows/terraform-github.yml
  .github/workflows/terraform-pagerduty.yml
  .github/workflows/terraform-single-sign-on.yml
  scripts/redact-output.sh
  scripts/terraform-plan.sh
Labels: onboarding, core, testing, security, networking, github-workflow

#8774 New way to process firewall rules
  terraform/environments/core-network-services/locals.tf
Labels: core, networking

#8791 Joining the team doc review and updates
  source/runbooks/joining-the-team.html.md.erb
Labels: documentation

#8794 Temporarily suppress `CKV_TF_3` Ensure state files are locked
  terraform/environments/bootstrap/delegate-access/backend.tf
  terraform/environments/bootstrap/member-bootstrap/backend.tf
  terraform/environments/bootstrap/secure-baselines/backend.tf
  terraform/environments/bootstrap/single-sign-on/backend.tf
  terraform/environments/core-sandbox/backend.tf
  terraform/environments/main.tf
  terraform/github/backend.tf
  terraform/pagerduty/backend.tf
Labels: core

#8800 Update golang.org/x/net to v0.33.0
  terraform/environments/core-logging/test/go.mod
  terraform/environments/core-logging/test/go.sum
  terraform/environments/core-network-services/test/go.mod
  terraform/environments/core-network-services/test/go.sum
  terraform/environments/core-security/test/go.mod
  terraform/environments/core-security/test/go.sum
  terraform/environments/core-shared-services/test/go.mod
  terraform/environments/core-shared-services/test/go.sum
Labels: core, security, networking

#8803 bump go version to 1.23
  scripts/internal/get-security-hub-findings/go.mod
  scripts/internal/get-testing-ci-user-creds/go.mod
  terraform/environments/core-logging/test/go.mod
  terraform/environments/core-network-services/test/go.mod
  terraform/environments/core-security/test/go.mod
  terraform/environments/core-shared-services/test/go.mod
Labels: core, security, networking

#8808 User Guide page reviews.
  source/user-guide/creating-resources.html.md.erb
  source/user-guide/integrating-alarms-with-pagerduty-with-slack.html.md.erb
Labels: documentation

#8812 User Guide & Runbook Reviews on 27/12
  source/concepts/sdlc/sandbox-testing-environments.html.md.erb
  source/getting-help/index.html.md.erb
  source/runbooks/accessing-aws-accounts.html.md.erb
  source/runbooks/revoke-network-access.html.md.erb
  source/user-guide/workflow-status.html.md.erb
Labels: documentation

#8788 Updated to manage-an-incident doc
  source/runbooks/manage-an-incident.html.md.erb
Labels: documentation

#8815 Review dates for documents
  source/concepts/networking/certificate-services.html.md.erb
  source/concepts/networking/instance-access-and-bastions.html.md.erb
  source/concepts/networking/networking-approach.html.md.erb
  source/concepts/networking/subnet-allocation.html.md.erb
  source/runbooks/running-emergency-patching.html.md.erb
Labels: documentation

#8817 Tidy up `.rego` file
  policies/networking/expected.rego
Labels: testing

#8818 New feature to fetch the member information
  .github/workflows/modernisation-member-information.yml
  scripts/internal/modernisation-member-information.sh
Labels: github-workflow
