Repository ministryofjustice/modernisation-platform, pull requests merged in 2024-09, with the labels that each got.

#7810 add http://*.csr.service.justice.gov.uk to AWS firewall allow list
  terraform/environments/core-network-services/firewall-rules/fqdn_rules.json
Labels: core, networking

#7827 Fix broken links in doc
  source/user-guide/cloud-platform-or-modernisation-platform.html.md.erb
Labels: documentation

#7832 :fire: Delete core-billing account
  environments/core-billing.json
  policies/environments/expected.rego
  terraform/environments/core-billing/backend.tf
  terraform/environments/core-billing/base_variables.tf
  terraform/environments/core-billing/data.tf
  terraform/environments/core-billing/locals.tf
  terraform/environments/core-billing/observability.tf
  terraform/environments/core-billing/providers.tf
  terraform/environments/core-billing/secrets.tf
  terraform/environments/core-billing/versions.tf
Labels: onboarding, core, testing

#7846 :bug: Delete Account Script Update
  scripts/account-deletion/delete-files.sh
  source/runbooks/deleting-an-environment.html.md.erb
Labels: documentation

#7848 Enable NOMS VPN tunnel endpoint lifecycle control & health alerting
  terraform/environments/core-network-services/vpn.tf
  terraform/environments/core-network-services/vpn_attachments.json
Labels: core, networking

#7862 Use new data firehose module in separate repo
  terraform/environments/core-logging/cortex.tf
  terraform/environments/core-network-services/logging.tf
  terraform/environments/core-vpc/logging.tf
  terraform/modules/cloudwatch-firehose/data.tf
  terraform/modules/cloudwatch-firehose/main.tf
  terraform/modules/cloudwatch-firehose/variables.tf
  terraform/modules/cloudwatch-firehose/versions.tf
Labels: core, networking

#7864 Fix regal liniting errors
  policies/collaborators/collaborators.rego
  policies/collaborators/collaborators_test.rego
  policies/collaborators/utilities.rego
  policies/environments/environment-definitions.rego
  policies/environments/environment-definitions_test.rego
  policies/environments/expected.rego
  policies/environments/utilities.rego
  policies/member/environment-definitions.rego
  policies/member/environment-definitions_test.rego
  policies/member/utilities.rego
  policies/networking/core-vpc.rego
  policies/networking/core-vpc_test.rego
  policies/networking/expected.rego
  policies/networking/utilities.rego
Labels: testing

#7865 Docs update
  source/user-guide/environment-diagram.html.md.erb
  source/user-guide/obtaining-deployment-credentials.html.md.erb
  source/user-guide/wider-moj-connectivity.html.md.erb
Labels: documentation

#7867 Data Engineering Access Level Enabled for DPR-Prod
  environments/digital-prison-reporting.json
Labels: onboarding

#7869 S3 State Bucket ADR
  architecture-decision-record/0033-s3-state-bucket-condition-security.md
Labels: documentation

#7876 QS Admin Permissions Set Assignment
  environments/analytical-platform-compute.json
  environments/sprinkler.json
  policies/environments/environment-definitions.rego
  policies/environments/environment-definitions_test.rego
  terraform/environments/bootstrap/single-sign-on/main.tf
Labels: onboarding, testing

#7877 Point to v2.0.0 of aws chatbot module in `core-network-services`
  terraform/environments/core-network-services/vpn.tf
Labels: core, networking

#7880 Address SCA alert
  terraform/environments/core-logging/cortex.tf
Labels: core

#7888 :dog: Review Alliance Doc
  source/team/alliance.html.md.erb
Labels: documentation

#7889 Fix typo in checklist
  source/user-guide/production-ready-checklist.html.md.erb
Labels: documentation

#7891 Updated nuke to exclude for panda-cyber-appsec-lab
  environments/panda-cyber-appsec-lab.json
Labels: onboarding

#7895 add hosting-migrations to DSO environments
  environments/corporate-staff-rostering.json
  environments/hmpps-domain-services.json
  environments/hmpps-oem.json
  environments/nomis-combined-reporting.json
  environments/nomis-data-hub.json
  environments/nomis.json
  environments/oasys-national-reporting.json
  environments/oasys.json
  environments/planetfm.json
Labels: onboarding

#7901 Docs/11 09 24
  source/runbooks/dos-attack.html.md.erb
  source/runbooks/migrating-an-account-into-the-modernisation-platform.html.md.erb
Labels: documentation

#7906 New documentation for running scans locally
  source/index.html.md.erb
  source/user-guide/how-to-setup-code-scanning-locally.html.md.erb
Labels: documentation

#7913 🛂 CICA Development FW rules
  terraform/environments/core-network-services/cidr-ranges.tf
  terraform/environments/core-network-services/firewall-rules/development_rules.json
Labels: core, networking

#7914 s3 bucket and iam roles for grafana-athena
  terraform/environments/core-logging/observability.tf
Labels: core

#7918 Enhance access key cleanup for superadmins and collaborators
  .github/workflows/access-keys-monitoring.yml
  scripts/iam-monitoring/access-key-monitoring/delete_access_keys.sh
  scripts/iam-monitoring/access-key-monitoring/notify_access_key_deletion.py
Labels: github-workflow

#7920 Fix policy arn AmazonGrafanaAthenaAccess
  terraform/environments/core-logging/observability.tf
Labels: core

#7923 Add documentation for access key management
  source/user-guide/access-key-management.html.md.erb
Labels: documentation

#7924 Document review
  source/runbooks/modifying-scps.html.md.erb
  source/runbooks/using-athena.html.md.erb
  source/user-guide/accessing-ec2s.html.md.erb
  source/user-guide/accessing-the-aws-console.html.md.erb
Labels: documentation

#7925 Add documentation for S3 upload role to existing roles
  source/user-guide/platform-user-roles.html.md.erb
Labels: documentation

#7935 Update team ways of working
  source/runbooks/duty-rota.html.md.erb
  source/team/ways-of-working.html.md.erb
  source/user-guide/deploying-your-application.html.md.erb
Labels: documentation

#7936 bump one use of the firehose to assess impact of uncompressed logs
  terraform/environments/core-network-services/logging.tf
Labels: core, networking

#7937 Removed Steve M, added Sean P
  source/runbooks/dr-process.html.md.erb
  terraform/github/locals.tf
Labels: documentation

#7938 Create Athena workgroup
  terraform/environments/core-logging/observability.tf
Labels: core

#7945 Update `aws-data-firehose` module version
  terraform/environments/core-network-services/logging.tf
  terraform/environments/core-vpc/logging.tf
Labels: core, networking

#7950 Secure commit documentation
  source/index.html.md.erb
  source/user-guide/how-to-setup-secure-commit.html.md.erb
Labels: documentation

#7966 Recreating the MP account runbook
  source/index.html.md.erb
  source/runbooks/recreate-core-shared-services-production.html.md.erb
  source/runbooks/recreate-modernisation-platform-account.html.md.erb
Labels: documentation

#7969 New NAT Alarms core network services
  terraform/environments/core-network-services/data.tf
  terraform/environments/core-network-services/monitoring.tf
Labels: core, networking

#7972 🛂 Allow CICA UAT on-prem to dev
  terraform/environments/core-network-services/cidr-ranges.tf
  terraform/environments/core-network-services/firewall-rules/development_rules.json
Labels: core, networking

#7973 remove oasys migration role
  environments/oasys.json
Labels: onboarding

#7982 Bump VPC module version to latest
  terraform/environments/core-vpc/vpc.tf
Labels: core, networking

#7954 feature/6763-create-runbook-for-core-logging-production-account
  source/index.html.md.erb
  source/runbooks/recreate-core-logging-production-account.html.md.erb
Labels: documentation

#7988 Allow VPC flow logs to be written directly to Cortex buckets
  terraform/environments/core-logging/cortex.tf
Labels: core

#7991 Refined the MP account verification steps
  source/runbooks/recreate-modernisation-platform-account.html.md.erb
Labels: documentation

#7994 Remove firehose logging of vpc flow logs
  terraform/environments/core-vpc/logging.tf
Labels: core, networking

#7995 Send flow logs to S3
  terraform/environments/core-vpc/locals.tf
  terraform/environments/core-vpc/vpc.tf
Labels: core, networking

#7996 Issue 7689 - Bug fixes from testing.
  .github/workflows/format-code.yml
  terraform/environments/sprinkler/locals.tf
Labels: github-workflow

#7999 Issue/7689-testing
  .github/workflows/format-code.yml
Labels: github-workflow

#8000 Update bucket policy to use correct condition
  terraform/environments/core-logging/cortex.tf
Labels: core

#8001 Add condition to only stream flow logs from production VPCs to S3
  terraform/environments/core-vpc/vpc.tf
Labels: core, networking

#7998 Add test account to the electronic-monitoring-data account
  environments/electronic-monitoring-data.json
Labels: onboarding

#7990 Add detail on reopening account to runbook
  source/runbooks/recreate-modernisation-platform-account.html.md.erb
Labels: documentation

#8005 Remove config to send `core-network-services` flow logs via data firehose
  terraform/environments/core-network-services/locals.tf
  terraform/environments/core-network-services/logging.tf
Labels: core, networking

#8003 Updated `core-logging` DR runbook with some more details
  source/runbooks/recreate-core-logging-production-account.html.md.erb
Labels: documentation

#8007 Send `live_data` flow logs go s3
  terraform/environments/core-network-services/locals.tf
  terraform/environments/core-network-services/vpc.tf
Labels: core, networking

#8009 Add networking for emd-test env
  environments-networks/hmpps-test.json
Labels: onboarding

#8015 Add flow logs from transit gateway to s3
  terraform/environments/core-network-services/locals.tf
  terraform/environments/core-network-services/monitoring.tf
Labels: core, networking

#8016 Revert "Add flow logs from transit gateway to s3"
  terraform/environments/core-network-services/locals.tf
  terraform/environments/core-network-services/monitoring.tf
Labels: core, networking

#8018 Send flow logs from TGW to S3 for Cortex XSIAM
  terraform/environments/core-network-services/locals.tf
  terraform/environments/core-network-services/monitoring.tf
Labels: core, networking

#8019 Add TGW-specific custom flow log format
  terraform/environments/core-network-services/locals.tf
  terraform/environments/core-network-services/monitoring.tf
Labels: core, networking

#8020 Output flow logs from inspection VPC to S3
  terraform/environments/core-network-services/firewall.tf
Labels: core, networking

#8021 Add Test environment perms to EM ECR repo
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#8022 Remove logging to firehose via VPC module
  terraform/environments/core-vpc/locals.tf
  terraform/environments/core-vpc/vpc.tf
Labels: core, networking

#8026 Remove legacy firehose configuration from core-shared-services
  terraform/environments/core-shared-services/firehose.tf
  terraform/environments/core-shared-services/locals.tf
  terraform/environments/core-shared-services/secrets.tf
  terraform/environments/core-shared-services/versions.tf
Labels: core

#8028 Remove provider from `core-shared-services`
  terraform/environments/core-shared-services/versions.tf
Labels: core

#8029 Remove firehose logging from `core-network-services`
  terraform/environments/core-network-services/firehose.tf
  terraform/environments/core-network-services/locals.tf
  terraform/environments/core-network-services/secrets.tf
Labels: core, networking

#8035 Removed legacy firehose configuration from `core-vpc`
  terraform/environments/core-vpc/firehose.tf
  terraform/environments/core-vpc/locals.tf
  terraform/environments/core-vpc/secrets.tf
Labels: core, networking

#8037 Remove firehose config from `core-security`
  terraform/environments/core-security/firehose.tf
  terraform/environments/core-security/locals.tf
  terraform/environments/core-security/secrets.tf
  terraform/environments/core-security/versions.tf
Labels: core, security

#8038 Remove random provider from `core-security`
  terraform/environments/core-security/versions.tf
Labels: core, security

#8039 Remove legacy firehose configuration from `core-logging`
  terraform/environments/core-logging/firehose.tf
  terraform/environments/core-logging/locals.tf
  terraform/environments/core-logging/secrets.tf
  terraform/environments/core-logging/versions.tf
Labels: core

#8041 Remove random provider from `core-logging`
  terraform/environments/core-logging/versions.tf
Labels: core

#8049 Issue/7689 - Reverts code-formatter.yml to its pre-graphql version to allow time to fix the branch issue & so prevent the workflow from failing.
  .github/workflows/format-code.yml
Labels: github-workflow

#8053 add hosting-migrations team to codeowners
  environments/hmpps-domain-services.json
  environments/hmpps-oem.json
  environments/nomis-combined-reporting.json
  environments/nomis-data-hub.json
  environments/nomis.json
  environments/oasys-national-reporting.json
  environments/oasys.json
Labels: onboarding

#8056 Allow events service to trigger SNS topic
  terraform/environments/core-network-services/vpn.tf
Labels: core, networking

#8057 Issue/7689-bugfixing.
  .github/workflows/format-code.yml
Labels: github-workflow

#8059 Create resolver query logs and new cloudwatch destination
  terraform/environments/core-logging/r53_logs.tf
Labels: core

#8065 Associate R53 Resolver QLC RAM share across MP OU
  terraform/environments/core-logging/locals.tf
  terraform/environments/core-logging/r53_logs.tf
Labels: core

#8069 Fix principal for `core-logging`
  terraform/environments/core-logging/r53_logs.tf
Labels: core

#8066 🌐 Add Platforms General shared VPC to Analytical Platform Ingestion
  environments-networks/platforms-development.json
  environments-networks/platforms-production.json
  policies/networking/expected.rego
  terraform/environments/analytical-platform-ingestion/networking.auto.tfvars.json
Labels: onboarding, testing

#8080 Create data calls and local values to associate production VPCs with …
  terraform/environments/core-vpc/logging.tf
Labels: core, networking

#8081 remove old account-local resolver logging
  terraform/environments/core-vpc/locals.tf
  terraform/environments/core-vpc/logging.tf
  terraform/environments/core-vpc/vpc.tf
Labels: core, networking

#8083 Doc reviews.
  source/getting-help/index.html.md.erb
  source/runbooks/adding-collaborators.html.md.erb
  source/runbooks/creating-accounts-for-end-users.html.md.erb
  source/team/alliance.html.md.erb
  source/user-guide/creating-networking.html.md.erb
Labels: documentation

#8084 Reschedule cost collection to run on second day to include full month's data
  .github/workflows/upload-cost-explorer-to-s3.yml
Labels: github-workflow

#8086 Delete delius-mis-test account
  environments-networks/hmpps-test.json
  environments/delius-mis.json
  policies/networking/expected.rego
Labels: onboarding, testing

#8085 User guide & runbook reviews.
  source/runbooks/manage-an-incident.html.md.erb
  source/runbooks/revoke-network-access.html.md.erb
  source/user-guide/deploying-your-application.html.md.erb
  source/user-guide/working-as-a-collaborator.html.md.erb
Labels: documentation

#8087 Encrypt Route53 Resolver Logs
  terraform/environments/core-logging/r53_logs.tf
Labels: core

#8068 filter to main branch on workflow links
  source/user-guide/workflow-status.html.md.erb
Labels: documentation, onboarding, core, testing, networking

#8088 Formatcode Bot update to use signed commits
  .github/workflows/format-code.yml
  terraform/environments/sprinkler/locals.tf
Labels: github-workflow

#8091 ARN of key required to encrypt cloudwatch log group
  terraform/environments/core-logging/r53_logs.tf
Labels: core

#8093 Log R53 resolver queries for `core-logging`
  terraform/environments/core-logging/locals.tf
  terraform/environments/core-logging/logging.tf
  terraform/environments/core-logging/vpc.tf
Labels: core

#8094 Log R53 resolver queries for `core-network-services`
  terraform/environments/core-network-services/logging.tf
Labels: core, networking

#8095 Log R53 resolver queries for `core-security`
  terraform/environments/core-security/locals.tf
  terraform/environments/core-security/logging.tf
  terraform/environments/core-security/vpc.tf
Labels: core, security

#8096 Log R53 resolver queries for `core-shared-services`
  terraform/environments/core-shared-services/logging.tf
Labels: core

#8113 Adds checks to confirm progress can happen.
  .github/workflows/format-code.yml
Labels: github-workflow

#8114 Removes the /n newline from file_content as this was causing issues w…
  .github/workflows/format-code.yml
Labels: github-workflow

#8111 Assumable role for Cortex XSIAM
  terraform/environments/core-logging/cortex.tf
  terraform/environments/core-logging/ssm.tf
  terraform/environments/core-logging/versions.tf
Labels: core

#8115 Docs Review 300924
  source/runbooks/disaster-recovery.html.md.erb
  source/runbooks/querying-vpc-flow-logs.html.md.erb
Labels: documentation

#8117 Create SSM Parameter to use in preference of secret store value for bucket ARNs
  terraform/environments/core-logging/ssm.tf
Labels: core

#8118 Retrieve core-logging bucket arns for cortex through SSM
  terraform/environments/core-network-services/ssm.tf
  terraform/environments/core-security/ssm.tf
  terraform/environments/core-shared-services/ssm.tf
  terraform/environments/core-vpc/ssm.tf
Labels: core, security, networking

#8120 Switch to insecure_value for nonsensitive values
  terraform/environments/core-logging/ssm.tf
Labels: core

#8122 More fixes for ssm params
  terraform/environments/core-logging/cortex.tf
  terraform/environments/core-logging/ssm.tf
Labels: core

#8123 Use SSM parameter to retrieve bucket ARNs
  terraform/environments/core-logging/locals.tf
  terraform/environments/core-logging/vpc.tf
  terraform/environments/core-network-services/firewall.tf
  terraform/environments/core-network-services/locals.tf
  terraform/environments/core-network-services/logging.tf
  terraform/environments/core-network-services/monitoring.tf
  terraform/environments/core-network-services/vpc.tf
  terraform/environments/core-security/locals.tf
  terraform/environments/core-security/vpc.tf
  terraform/environments/core-shared-services/locals.tf
  terraform/environments/core-shared-services/vpc.tf
  terraform/environments/core-vpc/locals.tf
  terraform/environments/core-vpc/vpc.tf
Labels: core, security, networking

#8121 🧪 Refine athena policy and add cur reports bucket
  terraform/environments/core-logging/observability.tf
Labels: core
