Repository ministryofjustice/modernisation-platform, pull requests merged in 2024-03, with the labels that each got.

#6371 Add workflow for notifying inactive collaborators
  .github/workflows/check-inactive-collaborators.yml
  scripts/internal/collaborators-inactivity-notification/check_inactive_users.sh
  scripts/internal/collaborators-inactivity-notification/notification.py
Labels: github-workflow

#6370 DSOS-2635: ad fixngo more fixes
  terraform/environments/core-shared-services/ad-fixngo.tf
  terraform/environments/core-shared-services/files/ad-fixngo-ec2-user-data.yaml
Labels: core

#6366 Update ad-fixngo.tf
  terraform/environments/core-shared-services/ad-fixngo.tf
Labels: core

#6383 adding google analytics
  source/index.html.md.erb
Labels: documentation

#6385 changes to google tags
  source/index.html.md.erb
  source/team/roadmap.html.md.erb
  source/user-guide/certificate-import.html.md.erb
Labels: documentation

#6386 Added GOV.UK Notify Integration for Enhanced Notification Functionality
  .github/workflows/check-inactive-collaborators.yml
  scripts/internal/collaborators-inactivity-notification/notification.py
Labels: github-workflow

#6281 Add OPA status check and PR Warnings
  .github/workflows/opa-policies.yml
  policies/pr-messages.json
  scripts/pr-warning-comments.sh
  terraform/github/repositories.tf
Labels: onboarding, core, testing, networking, github-workflow

#6399 Documentation changes based on the slack message from Daniel
  source/user-guide/creating-networking.html.md.erb
  source/user-guide/deploying-your-infrastructure.html.md.erb
  source/user-guide/environment-diagram.html.md.erb
  source/user-guide/obtaining-deployment-credentials.html.md.erb
  source/user-guide/wider-moj-connectivity.html.md.erb
Labels: documentation

#6405 Update delius-core.json - new oidc repo
  environments/delius-core.json
Labels: onboarding

#6415 Switch scheduled baseline to sunday night after weekly nuke run
  .github/workflows/scheduled-baseline.yml
Labels: github-workflow

#6418 Remove ECRs
  terraform/environments/core-shared-services/ecr_repos.tf
  terraform/modules/app-ecr-repo/main.tf
Labels: core

#6419 Add ECRs back for delius-core
  terraform/environments/core-shared-services/ecr_repos.tf
  terraform/modules/app-ecr-repo/main.tf
Labels: core

#6421 Removing electronic-monitoring-data-preproduction Account
  environments-networks/hmpps-preproduction.json
  environments/electronic-monitoring-data.json
  policies/networking/expected.rego
Labels: onboarding, testing

#6423 Update alliance.html.md.erb
  source/team/alliance.html.md.erb
Labels: documentation

#6442 DSOS-2635: add second devtest DC for FixNGo migration
  terraform/environments/core-shared-services/ad-fixngo.tf
Labels: core

#6443 updating csr support to developer access and removing migration acces…
  environments/corporate-staff-rostering.json
Labels: onboarding

#6413 6298-removing-cortex-siam-account
  environments-networks/hq-development.json
  environments-networks/hq-production.json
  environments/cortex-xsiam.json
  policies/environments/expected.rego
  policies/networking/expected.rego
  source/runbooks/deleting-an-environment.html.md.erb
  terraform/environments/cortex-xsiam/backend.tf
  terraform/environments/cortex-xsiam/base_variables.tf
  terraform/environments/cortex-xsiam/data.tf
  terraform/environments/cortex-xsiam/locals.tf
  terraform/environments/cortex-xsiam/networking.auto.tfvars.json
  terraform/environments/cortex-xsiam/providers.tf
  terraform/environments/cortex-xsiam/secrets.tf
  terraform/environments/cortex-xsiam/subnet_share.tf
  terraform/environments/cortex-xsiam/versions.tf
Labels: documentation, onboarding, testing

#6444 Amended document review dates
  source/runbooks/dos-attack.html.md.erb
  source/team/operational-processes.html.md.erb
Labels: documentation

#6445 Amended document review dates
  source/runbooks/dos-attack.html.md.erb
  source/team/operational-processes.html.md.erb
Labels: documentation

#6453 :octocat: Add `ministryofjustice/analytical-platform-jml-report` to DPAT's OIDC
  environments/data-platform-apps-and-tools.json
Labels: onboarding

#6455 🛂 Add DPAT to JML ECR push prinicpals
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#6414 Create new Analytical Platform Ingestion environment
  environments/analytical-platform-ingestion.json
  policies/environments/expected.rego
Labels: onboarding, testing

#6463 Add account permission to ECR repo
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#6449 Issue 6163 - Add Firehose Resources
  terraform/environments/core-vpc/locals.tf
  terraform/environments/core-vpc/secrets.tf
  terraform/environments/core-vpc/vpc.tf
Labels: core, networking

#6465 🛂 Add Analytical Platform Ingestion repositories to account OIDC
  environments/analytical-platform-ingestion.json
Labels: onboarding

#6466 🐋 Add ECR repositories for Analytical Platform Ingestion
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#6469 Docs/more delete environment updates
  source/runbooks/deleting-an-environment.html.md.erb
Labels: documentation

#6470 New Domain Request
  terraform/environments/core-network-services/route53.tf
Labels: core, networking

#6471 Update domain name for cdpt-ifs
  terraform/environments/core-network-services/route53.tf
Labels: core, networking

#6475 Revised the review dates to keep documentation up-to-date
  source/runbooks/modifying-scps.html.md.erb
  source/runbooks/using-athena.html.md.erb
  source/user-guide/accessing-ec2s.html.md.erb
  source/user-guide/accessing-the-aws-console.html.md.erb
Labels: documentation

#6478 allow oas migration team instance management permissions to oas development
  environments/oas.json
Labels: onboarding

#6484 DSOS-2635: enable first prod fixngo DC
  terraform/environments/core-shared-services/ad-fixngo.tf
Labels: core

#6487 Add fleet manager access in PPUD
  environments/ppud.json
Labels: onboarding

#6495 Reviews of user guide pages.
  source/concepts/environments/instance-scheduling.html.md.erb
  source/getting-help/index.html.md.erb
Labels: documentation

#6502 DSOS-2635: enable second prod FixNGo DC
  terraform/environments/core-shared-services/ad-fixngo.tf
Labels: core

#6504 DSOS-2635: re-enable first prod fixngo DC
  terraform/environments/core-shared-services/ad-fixngo.tf
Labels: core

#6493 Isolated Network Environment Creation
  environments/analytical-platform-ingestion.json
  scripts/provision-member-directories.sh
  terraform/templates/modernisation-platform-environments-isolated/README.md
  terraform/templates/modernisation-platform-environments-isolated/application_variables.json
  terraform/templates/modernisation-platform-environments-isolated/data.tf
  terraform/templates/modernisation-platform-environments-isolated/locals.tf
  terraform/templates/modernisation-platform-environments-isolated/platform_backend.tf
  terraform/templates/modernisation-platform-environments-isolated/platform_base_variables.tf
  terraform/templates/modernisation-platform-environments-isolated/platform_data.tf
  terraform/templates/modernisation-platform-environments-isolated/platform_locals.tf
  terraform/templates/modernisation-platform-environments-isolated/platform_providers.tf
  terraform/templates/modernisation-platform-environments-isolated/platform_secrets.tf
  terraform/templates/modernisation-platform-environments-isolated/platform_versions.tf
  terraform/templates/modernisation-platform-environments-isolated/secrets.tf
  terraform/templates/modernisation-platform-environments-isolated/vpc.tf
Labels: onboarding

#6509 🐶 Review for Daniel the spaniel
  source/runbooks/adding-collaborators.html.md.erb
Labels: documentation

#6510 Feature/dr update
  source/index.html.md.erb
  source/runbooks/disaster-recovery.html.md.erb
  source/runbooks/dr-process.html.md.erb
Labels: documentation

#6380 Instructions for revoking network access
  source/index.html.md.erb
  source/runbooks/revoke-network-access.html.md.erb
Labels: documentation

#6530 Allow IP & port sets for nwfw
  terraform/environments/core-network-services/firewall-rules/sets.json
  terraform/environments/core-network-services/firewall.tf
  terraform/environments/core-network-services/locals.tf
  terraform/modules/firewall-policy/main.tf
  terraform/modules/firewall-policy/variables.tf
Labels: core, networking

#6508 DSOS-2635: add firewall rules for FixNGo DCs
  terraform/environments/core-network-services/cidr-ranges.tf
  terraform/environments/core-network-services/firewall-rules/live_data_rules.json
  terraform/environments/core-network-services/firewall-rules/sets.json
  terraform/environments/core-network-services/locals.tf
  terraform/environments/core-shared-services/ad-fixngo.tf
Labels: core, networking

#6532 Feature/6467 new app delius nextcloud
  environments/delius-nextcloud.json
  policies/environments/expected.rego
Labels: onboarding, testing

#6485 Adds a new local module (firehose) that builds the firehose delivery stream & associated resources.
  terraform/environments/core-network-services/firehose.tf
  terraform/environments/core-network-services/locals.tf
  terraform/environments/core-network-services/secrets.tf
  terraform/environments/core-network-services/vpc.tf
  terraform/modules/firehose/README.md
  terraform/modules/firehose/main.tf
  terraform/modules/firehose/variables.tf
  terraform/modules/firehose/versions.tf
  terraform/modules/firewall-logging/README.md
  terraform/modules/firewall-logging/main.tf
  terraform/modules/firewall-logging/variables.tf
  terraform/modules/firewall-policy/README.md
  terraform/modules/kms/README.md
  terraform/modules/vpc-inspection/README.md
  terraform/modules/vpc-inspection/main.tf
  terraform/modules/vpc-inspection/outputs.tf
Labels: core, networking

#6535 Issue with values assigned to resource_prefix being too long.
  terraform/environments/core-network-services/firehose.tf
Labels: core, networking

#6538 Fixes issue whereby the non-prod secrets were not being correctly referenced.
  terraform/environments/core-network-services/firehose.tf
Labels: core, networking

#6539 6467-networking-stage-delius-nextcloud
  environments-networks/hmpps-development.json
  environments-networks/hmpps-preproduction.json
  environments-networks/hmpps-production.json
  environments-networks/hmpps-test.json
  policies/networking/expected.rego
Labels: onboarding, testing

#6536 Changed review date
  source/concepts/sdlc/user-workflow.html.md.erb
Labels: documentation

#6545 Firehose Data Transfers - Adds an additional module call but for the firewall vpc flow logs.
  terraform/environments/core-network-services/firehose.tf
Labels: core, networking

#6546 Update to account creation runbook - Informing Customer
  source/runbooks/creating-accounts-for-end-users.html.md.erb
Labels: documentation

#6548 Module renaming. Part 1 of 2.
  terraform/environments/core-network-services/firehose.tf
Labels: core, networking

#6551 New account for analytical-platform-compute
  environments/analytical-platform-compute.json
  policies/environments/expected.rego
Labels: onboarding, testing

#6549 📝 Isolated Network Documentation Update
  source/runbooks/creating-accounts-for-end-users.html.md.erb
  source/user-guide/creating-environments.html.md.erb
  source/user-guide/creating-networking.html.md.erb
Labels: documentation

#6554 📝 Fix document links
  source/runbooks/creating-accounts-for-end-users.html.md.erb
Labels: documentation

#6550 Refactor Module Names - Part 2 of 2
  terraform/environments/core-network-services/firehose.tf
Labels: core, networking

#6555 Missing code at then end caused an error - re-run needed
  environments/analytical-platform-compute.json
Labels: onboarding

#6557 Add test to check for missing github-oidc-team-repositories field
  policies/environments/environment-definitions.rego
Labels: testing

#6558 update go live dates for dacp, tipstaff, wardship environments
  environments/dacp.json
  environments/tipstaff.json
  environments/wardship.json
Labels: onboarding

#6560 Add go live dates for ncas and pra-register
  environments/ncas.json
  environments/pra-register.json
Labels: onboarding

#6563 :wrench: Enable Retrieval for Lambdas - AP Ingestion
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#6564 Update status page guidance
  source/runbooks/manage-an-incident.html.md.erb
Labels: documentation

#6567 Oasys-National-Reporting Account Creation Networking Stage
  environments-networks/hmpps-development.json
  environments-networks/hmpps-preproduction.json
  environments-networks/hmpps-production.json
  environments-networks/hmpps-test.json
  policies/networking/expected.rego
Labels: onboarding, testing

#6576 Changed review date
  source/user-guide/deploying-your-application.html.md.erb
Labels: documentation

#6579 Creates firehose stream resources for the core security VPC flow log
  terraform/environments/core-security/firehose.tf
  terraform/environments/core-security/locals.tf
  terraform/environments/core-security/secrets.tf
  terraform/modules/vpc-hub/outputs.tf
Labels: core, security

#6580 Amended length of name for the firehose resource_prefix
  terraform/environments/core-security/firehose.tf
Labels: core, security

#6581 Adds firehose resources for vpc flow logs in core-shared-services and core-logging.
  terraform/environments/core-logging/firehose.tf
  terraform/environments/core-logging/locals.tf
  terraform/environments/core-logging/secrets.tf
  terraform/environments/core-shared-services/firehose.tf
  terraform/environments/core-shared-services/locals.tf
  terraform/environments/core-shared-services/secrets.tf
Labels: core

#6589 Refacte core vpc firehose
  terraform/environments/core-vpc/locals.tf
  terraform/environments/core-vpc/secrets.tf
  terraform/environments/core-vpc/vpc.tf
Labels: core, networking

#6599 Add vpc endpoints to HMCTS dev env
  environments-networks/hmcts-development.json
Labels: onboarding

#6600 Add secrets manager to additional_endpoints on hmcts dev
  environments-networks/hmcts-development.json
Labels: onboarding

#6601 add elasticloadbalancing to hmcts dev
  environments-networks/hmcts-development.json
Labels: onboarding

#6606 add vpc endpoints for hmcts preprod and prod
  environments-networks/hmcts-preproduction.json
  environments-networks/hmcts-production.json
Labels: onboarding

#6609 🏗️ WIP GitHub Workflow Status Badges
  source/user-guide/workflow-status.html.md.erb
Labels: documentation

#6610 Adds firehose stream resources for R53 resolver logs plus other minor changes.
  terraform/environments/core-logging/firehose.tf
  terraform/environments/core-network-services/firehose.tf
  terraform/environments/core-security/firehose.tf
  terraform/environments/core-shared-services/firehose.tf
  terraform/environments/core-vpc/firehose.tf
  terraform/environments/core-vpc/locals.tf
  terraform/modules/firehose/main.tf
  terraform/modules/firehose/variables.tf
  terraform/modules/r53-resolver-logs/main.tf
Labels: core, security, networking

#6611 Fixes two bugs in the firehose stream for route53 resolver log transfers.
  terraform/environments/core-vpc/firehose.tf
Labels: core, networking

#6613 Forces updates from the source module.
  terraform/environments/core-logging/firehose.tf
  terraform/environments/core-network-services/firehose.tf
  terraform/environments/core-security/firehose.tf
  terraform/environments/core-shared-services/firehose.tf
Labels: core, security, networking

#6616 allow nart team access to test, preproduction and production onr envs
  environments/oasys-national-reporting.json
Labels: onboarding

#6621 added golive date
  environments/cdpt-ifs.json
Labels: onboarding

#6622 Updated documents scheduled for a review
  source/runbooks/querying-vpc-flow-logs.html.md.erb
  source/user-guide/working-as-a-collaborator.html.md.erb
Labels: documentation

#6632 DSOS-2635: mothball FixNGo DC
  terraform/environments/core-shared-services/ad-fixngo.tf
Labels: core

#6620 Adding NOC production account
  environments/moj-network-operations-centre.json
Labels: onboarding

#6634 🆙 Update `terraform-static-analysis` to `v17.0.1`
  .github/workflows/terraform-static-analysis.yml
Labels: github-workflow
