Repository ministryofjustice/modernisation-platform, pull requests merged in 2024-11, with the labels that each got.

#8394 Resolve resource deprecation warning for read-only role
  terraform/environments/core-vpc/vpc.tf
Labels: technical debt, terraform, code quality

#8407 Update electronic-monitoring-data.json
  environments/electronic-monitoring-data.json
Labels: onboarding

#8409 Docs update.
  source/runbooks/changing-environment-details.html.md.erb
  source/runbooks/reviewing-mp-environments-prs.html.md.erb
Labels: documentation

#8414 Issue/7902
  .github/workflows/failed-workflows-report.yml
  scripts/failed-workflows-report/create-slack-report.sh
  scripts/failed-workflows-report/get-failed-workflows.sh
  scripts/failed-workflows-report/send-report-via-slack.sh
Labels: github-workflow

#8413 allow delius core weblogic to pull from ecr
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#8417 add delius core accounts to weblogic ecr principals
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#8426 Add ecr access for electronic-monitoring-data-preproduction account
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#8434 Update comments referring to action version
  .github/workflows/monitor-ecs-eks-amis.yml
  .github/workflows/publish-gh-pages.yml
  .github/workflows/scorecards.yml
Labels: github-workflow

#8452 Update performance-hub.json
  environments/performance-hub.json
Labels: onboarding

#8453 Minor updates to pd status page doc
  source/user-guide/how-to-update-pagerduty-status-page.html.md.erb
Labels: documentation

#8457 Update electronic-monitoring-data.json to remove roles
  environments/electronic-monitoring-data.json
Labels: onboarding

#8461 add pull access for password manager ecr
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#8467 📝 Docs/cost metrics per account
  source/images/costs1.gif
  source/images/costs2.gif
  source/user-guide/cost-metrics.html.md.erb
Labels: documentation

#8474 🙅 Exclude Analytical Platform Compute accounts from instance scheduler
  terraform/environments/core-shared-services/instance-scheduler-lambda-function.tf
Labels: core

#8471 Feature/3058-update-refs-to-github-ci-user-pat-token
  .github/workflows/modernisation-platform-account.yml
  .github/workflows/terraform-pagerduty.yml
  .github/workflows/terraform-single-sign-on.yml
  source/runbooks/rotating-secrets.html.md.erb
Labels: documentation, github-workflow

#8475 Alphabetise list of skippable accounts
  terraform/environments/core-shared-services/instance-scheduler-lambda-function.tf
Labels: core

#8469 Adding LZ TST to MP Dev Connection
  terraform/environments/core-network-services/firewall-rules/development_rules.json
Labels: core, networking

#8482 Security Monitoring doc update
  source/runbooks/security-monitoring.html.md.erb
Labels: documentation

#8491 change application tag to be consistent
  environments/oasys-national-reporting.json
Labels: onboarding

#8504 Adding a security-read-only role for collaborators as requested by external partner
  policies/collaborators/collaborators.rego
  policies/collaborators/collaborators_test.rego
  terraform/environments/bootstrap/member-bootstrap/collaborators.tf
Labels: testing

#8489 📝 Update single sign on documentation
  source/concepts/environments/single-sign-on.html.md.erb
Labels: documentation

#8503 Issue/8248
  terraform/environments/core-logging/cortex_alarms.tf
Labels: core

#8508 fixup numbering
  source/concepts/environments/single-sign-on.html.md.erb
Labels: documentation

#8518 Restrict GitHub OIDC role permissions to main branch
  .github/workflows/remove-default-vpc.yml
Labels: github-workflow

#8516 Docs updated
  source/concepts/environments/backups.html.md.erb
  source/runbooks/adding-a-new-team-member.html.md.erb
  source/runbooks/removing-a-team-member.html.md.erb
  source/runbooks/terraform.html.md.erb
  source/user-guide/how-to-use-shared-kms-keys.html.md.erb
Labels: documentation

#8529 Add conditional OIDC role switching for Terraform plan and apply jobs
  .github/workflows/reusable_terraform_plan_apply.yml
  .github/workflows/scheduled-baseline.yml
Labels: github-workflow

#8537 Documents update
  source/runbooks/cloudwatch-networking-alarms.html.md.erb
Labels: documentation

#8486 Feature/dr vpc test
  environments-networks/dr-recovery.json
  environments/cooker.json
  policies/networking/expected.rego
  terraform/environments/core-vpc/providers.tf
  terraform/environments/core-vpc/vpc.tf
Labels: onboarding, core, testing, networking

#8565 Runbook doc review
  source/runbooks/how-vpcs-access-the-internet.html.md.erb
  source/runbooks/rotating-secrets.html.md.erb
Labels: documentation

#8570 Removing security-read-only access: PR 2 of 2
  policies/collaborators/collaborators.rego
  policies/collaborators/collaborators_test.rego
  terraform/environments/bootstrap/member-bootstrap/collaborators.tf
Labels: testing

#8573 Updated roadmap review date
  source/team/roadmap.html.md.erb
Labels: documentation

#8582 Update rotating secrets for AWS SSO Entra ID
  source/runbooks/rotating-secrets.html.md.erb
Labels: documentation

#8586 issue/8248
  terraform/environments/core-logging/cortex_alarms.tf
Labels: core

#8587 EntraID for sprinkler.json
  environments/sprinkler.json
Labels: onboarding

#8592 Revert "Revert "EntraID for sprinkler.json""
  environments/sprinkler.json
Labels: onboarding

#8593 Revert "Revert "Revert "EntraID for sprinkler.json"""
  environments/sprinkler.json
Labels: onboarding

#8599 S3 malware protection implementation guide
  source/runbooks/enabling-s3-malware-protection.html.md.erb
Labels: documentation

#8600 Add Asylum Support GitHub Repo to tribunals.json
  environments/tribunals.json
Labels: onboarding

#8602 Added the channel ID as provided by SecOps.
  terraform/environments/core-logging/cortex_alarms.tf
Labels: core

#8603 CCMS Instance Mgmt
  environments/ccms-ebs-upgrade.json
  environments/ccms-ebs.json
Labels: onboarding

#8604 Remove Conditional logic to switch OIDC role
  .github/workflows/reusable_terraform_plan_apply.yml
Labels: github-workflow

#8610 Update workflow to use GitHub Actions role from Sprinkler account
  .github/workflows/bootstrap-sprinkler.yml
  terraform/environments/sprinkler/iam.tf
Labels: github-workflow

#8612 Fix slack failure notifications in MP workflows
  .github/workflows/core-vpc-development-deployment.yml
  .github/workflows/core-vpc-preproduction-deployment.yml
  .github/workflows/core-vpc-production-deployment.yml
  .github/workflows/core-vpc-test-deployment.yml
  .github/workflows/failed-workflows-report.yml
  .github/workflows/generate-dependabot-file.yml
  .github/workflows/new-environment-files.yml
  .github/workflows/new-environment.yml
  .github/workflows/new-member-environment-files.yml
  .github/workflows/publish-gh-pages.yml
  .github/workflows/reusable_terraform_plan_apply.yml
  .github/workflows/scheduled-baseline.yml
  .github/workflows/terraform-github.yml
  .github/workflows/terraform-member-environment.yml
  .github/workflows/terraform-static-analysis.yml
Labels: github-workflow

#8616 remove header
  source/runbooks/enabling-s3-malware-protection.html.md.erb
Labels: documentation

#8615 feature/8408-adding admin data lake formation permissions
  source/runbooks/adding-admin-data-lake-formation-permissions.html.md.erb
Labels: documentation

#8618 Use multi-region KMS key for environment management
  terraform/environments/core-logging/athena.tf
Labels: core

#8620 Minor Change to lake formation admin user run book
  source/runbooks/adding-admin-data-lake-formation-permissions.html.md.erb
Labels: documentation

#8622 Add EntraID Modernisation Team
  environments/sprinkler.json
Labels: onboarding

#8626 Add workflow_dispatch to enable manual trigger in GitHub workflow
  .github/workflows/collaborator-inactivity-monitoring.yml
  .github/workflows/secrets-rotation-reminder.yml
  .github/workflows/terraform-member-environment.yml
Labels: github-workflow
