Repository ministryofjustice/modernisation-platform, pull requests merged in 2024-04, with the labels that each got.

#6658 Update additional address range for core-shared-services VPC to production range
  terraform/environments/core-shared-services/vpc_additional_cidr.tf
Labels: core

#6659 Create new 'delete-account' for testing deletion scripts
  environments/delete-account.json
  policies/environments/expected.rego
Labels: onboarding, testing

#6660 Updating documentation for production ready checklist
  source/user-guide/production-ready-checklist.html.md.erb
Labels: documentation

#6663 add networking files for delete-account
  environments-networks/platforms-development.json
  environments-networks/platforms-test.json
  policies/networking/expected.rego
Labels: onboarding, testing

#6657 Create `operations-engineering` account
  environments/operations-engineering.json
  policies/environments/expected.rego
Labels: onboarding, testing

#6668 Adds tag to new NACL in core-shared-services resources
  terraform/environments/core-shared-services/vpc_additional_cidr.tf
Labels: core

#6674 add cicd repos to DSO accounts
  environments/corporate-staff-rostering.json
  environments/hmpps-domain-services.json
  environments/hmpps-oem.json
  environments/nomis-combined-reporting.json
  environments/nomis-data-hub.json
  environments/nomis.json
  environments/oasys-national-reporting.json
  environments/oasys.json
  environments/planetfm.json
Labels: onboarding

#6672 Allow new `core-shared-services` CIDR range to communicate with VPC endpoints
  terraform/environments/core-shared-services/vpc_additional_cidr.tf
Labels: core

#6678 DSOS-2668: new-environment pipeline fix
  .github/workflows/new-environment.yml
  environments/corporate-staff-rostering.json
  environments/hmpps-domain-services.json
  environments/hmpps-oem.json
  environments/nomis-combined-reporting.json
  environments/nomis-data-hub.json
  environments/nomis.json
  environments/oasys-national-reporting.json
  environments/oasys.json
  environments/planetfm.json
Labels: onboarding, github-workflow

#6681 🚧 Demostration Purposes Only - update badge style and add links for tools & checks section
  source/user-guide/workflow-status.html.md.erb
Labels: documentation

#6682 Review Mac Quick Start Guide
  source/user-guide/quick-start-mac-guide.html.md.erb
Labels: documentation

#6684 🔧 Modify ECR to allow Lambda retrieval
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#6683 DSOS-2711: rebuild azure hmpp root dc
  terraform/environments/core-network-services/cidr-ranges.tf
  terraform/environments/core-shared-services/ad-fixngo.tf
Labels: core, networking

#6685 Unwind slack failure notification change
  .github/workflows/scheduled-baseline.yml
Labels: github-workflow

#6666 Added local value for extra core-shared-services VPC cidr assignment
  terraform/environments/core-network-services/cidr-ranges.tf
Labels: core, networking

#6691 Update quick-start-mac-guide.html.md.erb
  source/user-guide/quick-start-mac-guide.html.md.erb
Labels: documentation

#6689 🛠️ Create ECR for Observability Platform Key rotation lambda
  environments/observability-platform.json
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: onboarding, core

#6693 Add runbook for account migration
  source/index.html.md.erb
  source/runbooks/migrating-an-account-into-the-modernisation-platform.html.md.erb
Labels: documentation

#6694 Improving the Incident Process runbook
  source/images/pd-incident-actions.png
  source/images/pd-incident-page.png
  source/images/pd-incident-slack-channel.png
  source/images/pd-new-incident.png
  source/runbooks/manage-an-incident.html.md.erb
Labels: documentation

#6698 Add cica-data-extraction application
  environments/cica-data-extraction.json
  policies/environments/expected.rego
Labels: onboarding, testing

#6700 Update github slug for cica-data-extraction application
  environments/cica-data-extraction.json
Labels: onboarding

#6703 add cica-data-extraction to networking
  environments-networks/cica-development.json
  policies/networking/expected.rego
Labels: onboarding, testing

#6705 Fix typo in new account runbook
  source/runbooks/creating-accounts-for-end-users.html.md.erb
Labels: documentation

#6710 Set cica-data-extraction development access to sandbox with rebuild flag
  environments/cica-data-extraction.json
Labels: onboarding

#6719 Revert "DSOS-2668: new-environment pipeline fix"
  .github/workflows/new-environment.yml
  environments/corporate-staff-rostering.json
  environments/hmpps-domain-services.json
  environments/hmpps-oem.json
  environments/nomis-combined-reporting.json
  environments/nomis-data-hub.json
  environments/nomis.json
  environments/oasys-national-reporting.json
  environments/oasys.json
  environments/planetfm.json
Labels: onboarding, github-workflow

#6720 Refactor how `Terraform: New environments` gets changed files
  .github/workflows/new-environment.yml
Labels: github-workflow

#6724 Fix step output expansion
  .github/workflows/new-environment.yml
Labels: github-workflow

#6722 Issue 6614
  terraform/environments/core-logging/s3_logging.tf
Labels: core

#6727 Adding merge group for merge queue
  .github/workflows/opa-policies.yml
Labels: github-workflow

#6729 Issue 6614
  terraform/environments/core-logging/s3_logging.tf
  terraform/environments/core-logging/sqs.tf
Labels: core

#6733 Issue 6614
  terraform/environments/core-logging/sqs.tf
Labels: core

#6737 Issue/6614
  terraform/environments/core-logging/s3_logging.tf
  terraform/environments/core-logging/sqs.tf
Labels: core

#6738 Ensure correct bucket is referenced.
  terraform/environments/core-logging/sqs.tf
Labels: core

#6741 Update to Runbooks for cortex_xsiam_user key rotation.
  source/runbooks/rotating-secrets.html.md.erb
Labels: documentation

#6743 Implement Feature to Disable Console Login and Access Keys for `Inactive Collaborator Users`
  .github/workflows/check-inactive-collaborators.yml
  scripts/internal/collaborators-inactivity-notification/check_inactive_users.sh
  scripts/internal/collaborators-inactivity-notification/disable_user_credentials.sh
Labels: github-workflow

#6746 Add Conditional Logic for Notification Script and Error Handling for Access Keys
  .github/workflows/check-inactive-collaborators.yml
  scripts/internal/collaborators-inactivity-notification/disable_user_credentials.sh
Labels: github-workflow

#6747 oasys: DSOS-2736: allow data engineering ip ranges to hmpps production
  terraform/environments/core-network-services/cidr-ranges.tf
  terraform/environments/core-network-services/firewall-rules/production_rules.json
  terraform/environments/core-network-services/firewall-rules/sets.json
Labels: core, networking

#6750 oasys operator prod access
  environments/oasys.json
Labels: onboarding

#6751 Rule change for ms edge
  terraform/environments/core-network-services/firewall-rules/fqdn_rules.json
Labels: core, networking

#6752 DSOS-2736: tweak data engineering firewall rules
  terraform/environments/core-network-services/firewall-rules/preproduction_rules.json
  terraform/environments/core-network-services/firewall-rules/production_rules.json
Labels: core, networking

#6754 added a newline to create a test PR
  architecture-decision-record/README.md
Labels: documentation

#6764 Implement User Deletion Workflow for Inactive Collaborators
  .github/workflows/collaborator-inactivity-monitoring.yml
  scripts/internal/collaborators-inactivity-notification/collaborator_user_deletion_issue.sh
Labels: github-workflow

#6768 Fix issue with inactive user issue creation script
  .github/workflows/collaborator-inactivity-monitoring.yml
  scripts/internal/collaborators-inactivity-notification/collaborator_user_deletion_issue.sh
Labels: github-workflow

#6800 environments/electronic-monitoring-data.json updated
  environments/electronic-monitoring-data.json
Labels: onboarding

#6806 DSO: turn on sandboxing for development environment
  environments/hmpps-oem.json
Labels: onboarding

#6812 Update oasys.json to include go live date
  environments/oasys.json
Labels: onboarding

#6820 Adding new roles to sprinkler sso
  environments/sprinkler.json
Labels: onboarding

#6822 Delete delete-account environments on MP
  environments-networks/platforms-development.json
  environments-networks/platforms-test.json
  environments/delete-account.json
  policies/environments/expected.rego
  policies/networking/expected.rego
Labels: documentation, onboarding, testing

#6829 Add ministryofjustice/hmpps-delius-operational-automation to OIDC team repos
  environments/delius-iaps.json
Labels: onboarding

#6799 Account Deletion Scripts
  .gitignore
  scripts/account-deletion/delete-accounts.sh
  scripts/account-deletion/delete-files.sh
  scripts/account-deletion/delete-tf-resources.sh
  scripts/account-deletion/delete-tf-state.sh
  scripts/account-deletion/delete-tf-workspaces.sh
  scripts/account-deletion/example-config.txt
  scripts/account-deletion/update-files.sh
  source/runbooks/deleting-an-environment.html.md.erb
Labels: documentation

#6834 📝 fix markdown lint error's
  README.md
  architecture-decision-record/0016-ip-address-range-allocation.md
  architecture-decision-record/0021-use-a-go-lambda-for-instance-scheduling.md
  architecture-decision-record/0023-backup-strategy.md
  cidr-allocation.md
  terraform/environments/bootstrap/secure-baselines/README.md
  terraform/github/README.md
  terraform/modules/core-monitoring/README.md
  terraform/modules/dns-zone-extend-private/README.md
  terraform/modules/firehose/README.md
  terraform/modules/firewall-logging/README.md
  terraform/modules/firewall-policy/README.md
  terraform/modules/r53-resolver-logs/README.md
  terraform/modules/vpc-inspection/README.md
Labels: documentation, networking

#6839 DSOS-2720: try out instance access role in nomis-development
  environments/nomis.json
  policies/environments/environment-definitions.rego
Labels: onboarding, testing

#6840 Fix new account logic in New Environment Workflow
  .github/workflows/new-environment.yml
Labels: github-workflow

#6843 Updated documents scheduled for a review
  source/index.html.md.erb
Labels: documentation

#6844 DSOS-2720: revised DSO account access
  environments/hmpps-oem.json
  environments/nomis-combined-reporting.json
  environments/nomis-data-hub.json
  environments/nomis.json
Labels: onboarding

#6856 📝 Excluded Terraform Docs from Code Formatter
  .github/workflows/format-code.yml
Labels: github-workflow

#6855 DSOS-2711: add second azure.hmpp.root domain controller
  terraform/environments/core-shared-services/ad-fixngo.tf
  terraform/environments/core-shared-services/files/ad-fixngo-ec2-user-data.yaml
Labels: core

#6858 📝 fix markdown lint warnings
  cidr-allocation.md
  scripts/tests/validate/README.md
Labels: networking

#6859 DSOS-2711: temporarily commenting out second azure.hmpp.root DC
  terraform/environments/core-shared-services/ad-fixngo.tf
Labels: core

#6869 Test to confirm the core-vpc-development-deployment plan runs correctly without the -target flags.
  .github/workflows/core-vpc-development-deployment.yml
Labels: github-workflow

#6870 Format-code Fix Varible for terraform flavour
  .github/workflows/format-code.yml
Labels: github-workflow

#6874 Fixup Megalinter regex expression
  .github/workflows/format-code.yml
Labels: github-workflow

#6823 Update portal.json
  environments/portal.json
Labels: onboarding

#6875 Added workflow and script to remove default VPC
  .github/workflows/remove-default-vpc.yml
  scripts/internal/remove_default_vpc.sh
Labels: github-workflow

#6878 Add AWSVPCLog role and related resources for VPC logging
  terraform/environments/core-logging/iam.tf
  terraform/environments/core-logging/vpc.tf
  terraform/environments/core-network-services/firewall.tf
  terraform/environments/core-network-services/iam.tf
  terraform/environments/core-network-services/monitoring.tf
  terraform/environments/core-network-services/vpc.tf
  terraform/environments/core-security/iam.tf
  terraform/environments/core-security/vpc.tf
  terraform/environments/core-shared-services/iam.tf
  terraform/environments/core-shared-services/vpc.tf
  terraform/environments/core-vpc/iam.tf
  terraform/environments/core-vpc/vpc.tf
Labels: core, security, networking

#6880 Update tribunals.json
  environments/tribunals.json
Labels: onboarding

#6881 Add `remove default vpc` job to `new-environment`workflow and corresponding script
  .github/workflows/new-environment.yml
  .github/workflows/remove-default-vpc.yml
  scripts/internal/remove-default-vpc/remove_default_vpc_all_accounts.sh
  scripts/internal/remove-default-vpc/remove_default_vpc_new_account.sh
Labels: github-workflow

#6883 Implement error handling for subnet deletion and update cron job schedule
  .github/workflows/collaborator-inactivity-monitoring.yml
  .github/workflows/remove-default-vpc.yml
  scripts/internal/remove-default-vpc/remove_default_vpc_all_accounts.sh
  scripts/internal/remove-default-vpc/remove_default_vpc_new_account.sh
Labels: github-workflow

#6876 Update vision.html.md.erb
  source/team/vision.html.md.erb
Labels: documentation

#6886 Added firebreak section to Ways of Working
  source/team/ways-of-working.html.md.erb
Labels: documentation

#6891 `EDW` account networking
  environments-networks/laa-development.json
  environments-networks/laa-preproduction.json
  environments-networks/laa-production.json
  environments-networks/laa-test.json
  policies/networking/expected.rego
Labels: onboarding, testing

#6890 DSOS-2748: give DSO team instance-management and access roles for nomis combined reporting
  environments/nomis-combined-reporting.json
Labels: onboarding

#6893 feature/6753 new test environment ccms-ebs-upgrade-account
  environments/ccms-ebs-upgrade.json
Labels: onboarding

#6879 Update python runtime to 3.12
  terraform/environments/core-logging/athena.tf
Labels: core

#6898 Add glue endpoints to vpcs shared with electronic-monitoring-data
  environments-networks/hmpps-development.json
  environments-networks/hmpps-production.json
Labels: onboarding

#6899 New account for contract-work-administration (cwa)
  environments/contract-work-administration.json
  policies/environments/expected.rego
Labels: onboarding, testing

#6903 Build additional subnets in correct availability zones
  terraform/environments/core-shared-services/vpc_additional_cidr.tf
Labels: core

#6901 🧹 Tidy go modules with `go mod tidy`
  terraform/environments/core-logging/test/go.mod
  terraform/environments/core-logging/test/go.sum
  terraform/environments/core-network-services/test/go.mod
  terraform/environments/core-network-services/test/go.sum
  terraform/environments/core-security/test/go.mod
  terraform/environments/core-security/test/go.sum
Labels: core, security, networking

#6908 Fixing VPC Flow Logs Permissions
  terraform/environments/core-logging/iam.tf
  terraform/environments/core-network-services/iam.tf
  terraform/environments/core-security/iam.tf
  terraform/environments/core-shared-services/iam.tf
  terraform/environments/core-vpc/iam.tf
Labels: core, security, networking

#6910 feature/6753 - firewall rule to allow traffic between laa LZ account and new test account
  terraform/environments/core-network-services/firewall-rules/test_rules.json
Labels: core, networking

#6907 CWA networking
  environments-networks/laa-development.json
  environments-networks/laa-preproduction.json
  environments-networks/laa-production.json
  environments-networks/laa-test.json
  policies/networking/expected.rego
Labels: onboarding, testing
