Repository ministryofjustice/modernisation-platform, pull requests merged in 2024-05, with the labels that each got.

#6920 Issue/6676
  source/user-guide/workflow-status.html.md.erb
Labels: documentation

#6923 issue/6676
  source/user-guide/workflow-status.html.md.erb
Labels: documentation

#6925 DSOS-2711: ad-fixngo: add 2nd HMPP domain controller
  terraform/environments/core-shared-services/ad-fixngo.tf
Labels: core

#6945 New runbook for reviewing MP environments PRs
  source/images/requested-changes.png
  source/index.html.md.erb
  source/runbooks/reviewing-mp-environments-prs.html.md.erb
Labels: documentation

#6949 Docs/spaniel updates 07 05 24
  source/runbooks/duty-rota.html.md.erb
  source/user-guide/how-to-update-pagerduty-status-page.html.md.erb
Labels: documentation

#6937 Update how-to-update-pagerduty-status-page.html.md.erb
  source/user-guide/how-to-update-pagerduty-status-page.html.md.erb
Labels: documentation

#6957 Update Workflow to Retrieve Secrets from AWS Secrets Manager
  .github/actions/decrypt-secrets/action.yml
  .github/workflows/scheduled-baseline.yml
  .github/workflows/secrets-retrieval.yml
Labels: github-workflow

#6947 Update delius-core.json
  environments/delius-core.json
Labels: onboarding

#6958 Update `remove-default-vpc` job to retrieve secrets from Secrets Manager
  .github/workflows/new-environment.yml
Labels: github-workflow

#6960 Fix Issue with Renaming Environment Variable
  .github/workflows/new-environment.yml
Labels: github-workflow

#6974 feature/6815-delius core preprod and prod
  environments/delius-core.json
Labels: onboarding

#6975 feature/6815- delius core preprod and prod networking
  environments-networks/hmpps-preproduction.json
  environments-networks/hmpps-production.json
  policies/networking/expected.rego
Labels: onboarding, testing

#6977 updating review date
  source/runbooks/enabling-shield-advanced.html.md.erb
  source/user-guide/creating-automated-terraform-documentation.html.md.erb
  source/user-guide/our-offer-to-you.html.md.erb
Labels: documentation

#6981 oasys support permissions
  environments/oasys.json
Labels: onboarding

#6995 Docs/security/monitoring
  makefile
  source/index.html.md.erb
  source/runbooks/security-monitoring.html.md.erb
Labels: documentation

#6997 Delete .github/workflows/add-issues-to-project.yml
  .github/workflows/add-issues-to-project.yml
Labels: github-workflow

#7000 Migration access revoked
  environments/corporate-staff-rostering.json
  environments/ppud.json
Labels: onboarding

#7005 Instance management tag put secret permissions
  source/user-guide/working-as-a-collaborator.html.md.erb
  terraform/environments/bootstrap/single-sign-on/policies.tf
Labels: documentation

#6833 Initial setup macie instructions
  source/index.html.md.erb
  source/runbooks/set-up-macie.html.md.erb
Labels: documentation

#7009 Fix typographical errors
  source/user-guide/workflow-status.html.md.erb
Labels: documentation

#7022 Updating the user guide documentation
  source/concepts/environments/backups.html.md.erb
  source/runbooks/adding-a-new-team-member.html.md.erb
  source/runbooks/removing-a-team-member.html.md.erb
  source/runbooks/terraform.html.md.erb
  source/user-guide/how-to-use-shared-kms-keys.html.md.erb
Labels: documentation

#7026 Updating GH slug for hmpps-intelligence-management
  environments/hmpps-intelligence-management.json
Labels: onboarding

#7044 New review date for cloudwatch-networing-alarms
  source/runbooks/cloudwatch-networking-alarms.html.md.erb
Labels: documentation

#7048 Updating hmpps-intelligence-management GH slug for the account cleanup
  environments/hmpps-intelligence-management.json
Labels: onboarding

#7057 Add Workflow and Scripts for Superadmin Access Key Management and Notifications
  .github/workflows/collaborator-inactivity-monitoring.yml
  .github/workflows/superadmin-access-key-monitoring.yml
  scripts/iam-monitoring/collaborators-inactivity-monitoring/check_inactive_users.sh
  scripts/iam-monitoring/collaborators-inactivity-monitoring/collaborator_user_deletion_issue.sh
  scripts/iam-monitoring/collaborators-inactivity-monitoring/disable_user_credentials.sh
  scripts/iam-monitoring/collaborators-inactivity-monitoring/notification.py
  scripts/iam-monitoring/superadmin-access-key-monitoring/delete_superadmin_access_keys.sh
  scripts/iam-monitoring/superadmin-access-key-monitoring/notify_access_key_deletion.py
Labels: github-workflow

#7060 Doc Updates
  source/concepts/environments/single-sign-on.html.md.erb
  source/runbooks/how-vpcs-access-the-internet.html.md.erb
  source/team/roadmap.html.md.erb
Labels: documentation

#7061 DSOS: remove hmpps-oem and hmpps-domain-services sandbox access
  environments/hmpps-domain-services.json
  environments/hmpps-oem.json
Labels: onboarding

#7065 Clean up some whitespaces
  terraform/environments/core-network-services/firewall-rules/preproduction_rules.json
  terraform/environments/core-network-services/firewall-rules/production_rules.json
Labels: core, networking

#7069 Runbook review.
  source/runbooks/rotating-secrets.html.md.erb
Labels: documentation

#7058 Update tribunals.json to exclude nuking
  environments/tribunals.json
Labels: onboarding

#7074 Resolve asymmetric routing for new sites in Azure
  terraform/environments/core-network-services/locals.tf
Labels: core, networking

#7083 Updates owner & contact for data-and-insights-wepi
  environments/data-and-insights-wepi.json
Labels: onboarding

#7084 DSOS: temporarily decom HMPP DCs
  terraform/environments/core-shared-services/ad-fixngo.tf
Labels: core

#7007 Modify jq query to check for `github_action_reviewer` flag
  environments/delius-core.json
  environments/delius-nextcloud.json
  scripts/git-create-environments.sh
  source/runbooks/creating-accounts-for-end-users.html.md.erb
  source/user-guide/creating-environments.html.md.erb
Labels: documentation, onboarding

#7086 DST-17030 - Grant UMT repo permission to push images
  environments/delius-core.json
Labels: onboarding

#7090 Macie User Guide change
  source/runbooks/set-up-macie.html.md.erb
Labels: documentation

#7102 create nextcloud ECR repo
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#7103 DSOS: give nomis-access github team instance-access level
  environments/nomis.json
Labels: onboarding

#7110 Add container repo to delius-nextcloud oidc list
  environments/delius-nextcloud.json
Labels: onboarding

#7114 DSOS-2822: add fqdn for ms office http install traffic
  terraform/environments/core-network-services/firewall-rules/fqdn_rules.json
Labels: core, networking

#7113 Decommission data-platform-compute
  environments/data-platform-compute.json
  policies/environments/expected.rego
Labels: onboarding, testing

#7119 Amending review dates for documentation. No other changes
  source/concepts/networking/certificate-services.html.md.erb
  source/concepts/networking/instance-access-and-bastions.html.md.erb
  source/concepts/networking/networking-diagram.html.md.erb
Labels: documentation

#7116 DSOS-2541: update DSO environment file codeowners and GHA reviewer
  environments/hmpps-domain-services.json
  environments/hmpps-oem.json
  environments/nomis-combined-reporting.json
  environments/nomis-data-hub.json
  environments/nomis.json
  environments/oasys-national-reporting.json
  environments/oasys.json
Labels: onboarding

#7120 DSOS-2822: allow outbound CRL http checks
  terraform/environments/core-network-services/firewall-rules/fqdn_rules.json
Labels: core, networking

#7128 New environment for CICA - cica-tariff
  environments/cica-tariff.json
  policies/environments/expected.rego
Labels: onboarding, testing

#7130 Documents update
  source/concepts/networking/certificate-services.html.md.erb
  source/concepts/networking/instance-access-and-bastions.html.md.erb
Labels: documentation

#7132 Networking for cica-tariff-development
  environments-networks/cica-development.json
  policies/networking/expected.rego
Labels: onboarding, testing

#7134 Flexible Schedules section added to the User Guide
  source/concepts/environments/instance-scheduling.html.md.erb
Labels: documentation
