Repository ministryofjustice/modernisation-platform, pull requests merged in 2024-08, with the labels that each got.

#7615 Runbook Review - Private DNS Zones.
  source/runbooks/creating-new-private-dns-zones.html.md.erb
Labels: documentation

#7616 Quick tidy up of `ways of working` document
  source/team/ways-of-working.html.md.erb
Labels: documentation

#7624 adding create a data task repo
  environments/electronic-monitoring-data.json
Labels: onboarding

#7626 Add Sandbox role to cooker
  environments/cooker.json
Labels: onboarding

#7627 Fix broken internal link by updating hash from `github-team-slug` to `sso-group-name`
  source/runbooks/adding-collaborators.html.md.erb
  source/user-guide/accessing-the-aws-console.html.md.erb
  source/user-guide/getting-aws-credentials.html.md.erb
Labels: documentation

#7631 Backup and restore process
  source/runbooks/backup-restore-process.html.md.erb
Labels: documentation

#7633 Adding runbooks to the main index
  source/index.html.md.erb
Labels: documentation

#7634 Issue-7592. New Account laa-mail-relay-development
  environments/laa-mail-relay.json
  policies/environments/expected.rego
Labels: onboarding, testing

#7638 Issue-7592
  environments-networks/laa-development.json
  policies/networking/expected.rego
Labels: onboarding, testing

#7641 Update scripts to use TF_ENV for environment removal from account names
  .github/workflows/core-vpc-development-deployment.yml
  .github/workflows/core-vpc-preproduction-deployment.yml
  .github/workflows/core-vpc-production-deployment.yml
  .github/workflows/core-vpc-test-deployment.yml
  scripts/get-applications-and-run-ram.sh
Labels: github-workflow

#7640 Revert "Issue-7592"
  environments-networks/laa-development.json
  policies/networking/expected.rego
Labels: onboarding, testing

#7643 `laa-mail-relay` account networking
  environments-networks/laa-development.json
  policies/networking/expected.rego
Labels: onboarding, testing

#7648 Removes laa-mail-relay account.
  environments-networks/laa-development.json
  environments/laa-mail-relay.json
  policies/environments/expected.rego
  policies/networking/expected.rego
Labels: onboarding, testing

#7651 Step 1 for the new environment laa-mail-relay-development.
  environments/laa-mail-relay.json
  policies/environments/expected.rego
Labels: onboarding, testing

#7656 EM: Add permissions to pull from ECR for different accounts
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#7660 Update delius-core.json
  environments/delius-core.json
Labels: onboarding

#7661 Adds laa-mail-relay-development to the networking.json.
  environments-networks/laa-development.json
  policies/networking/expected.rego
Labels: onboarding, testing

#7665 Creates laa-mail-relay-test
  environments/laa-mail-relay.json
Labels: onboarding

#7666 Networking changes for new account laa-mail-relay-test
  environments-networks/laa-test.json
  policies/networking/expected.rego
Labels: onboarding, testing

#7669 Creates preproduction and production environments for laa-mail-relay
  environments/laa-mail-relay.json
Labels: onboarding

#7671 Networking for laa-mail-relay preprod and prod
  environments-networks/laa-preproduction.json
  environments-networks/laa-production.json
  policies/networking/expected.rego
Labels: onboarding, testing

#7675 Document review
  source/runbooks/revoking-user-access.html.md.erb
Labels: documentation

#7674 ways-of-working - add for review column and prioritisation
  source/team/ways-of-working.html.md.erb
Labels: documentation

#7676 Ways of working - update available project board status options
  source/team/ways-of-working.html.md.erb
Labels: documentation

#7677 Updates our repositories page to reference mandatory signed commits.
  source/concepts/sdlc/repositories.html.md.erb
Labels: documentation

#7688 Review docs on DNS zones
  source/runbooks/creating-new-dns-zones.html.md.erb
Labels: documentation

#7705 Stream logs from CloudWatch to S3 bucket in `core-logging` account
  terraform/environments/core-logging/cortex.tf
  terraform/environments/core-logging/locals.tf
  terraform/modules/cloudwatch-firehose/data.tf
  terraform/modules/cloudwatch-firehose/main.tf
  terraform/modules/cloudwatch-firehose/variables.tf
  terraform/modules/cloudwatch-firehose/versions.tf
Labels: core

#7710 Fix terraform for `core-logging` bucket
  terraform/environments/core-logging/cortex.tf
Labels: core

#7717 DSOS-2919: build azure.noms.root RD Licensing server
  terraform/environments/core-shared-services/ad-fixngo.tf
Labels: core

#7722 DSOS-2919: build azure.hmpp.root RD Licensing server
  terraform/environments/core-shared-services/ad-fixngo.tf
Labels: core

#7728 Fix variable shadowing in utilities.rego to resolve Regal linting error
  policies/collaborators/utilities.rego
  policies/environments/utilities.rego
  policies/member/utilities.rego
  policies/networking/utilities.rego
Labels: testing

#7731 :wrench: Add LDAPS port for delius core
  terraform/environments/core-network-services/firewall-rules/development_rules.json
  terraform/environments/core-network-services/firewall-rules/test_rules.json
Labels: core, networking

#7732 Add new environment files
  environments/test-bugfix.json
  policies/environments/expected.rego
Labels: onboarding, testing

#7723 Docs Update
  source/user-guide/add-an-ecr-for-docker-images.html.md.erb
  source/user-guide/certificate-import-windows.html.md.erb
  source/user-guide/getting-aws-credentials.html.md.erb
  source/user-guide/how-to-configure-dns.html.md.erb
Labels: documentation

#7739 Delete test-bugfix account
  environments-networks/platforms-development.json
  environments/test-bugfix.json
  policies/environments/expected.rego
  policies/networking/expected.rego
Labels: onboarding, testing

#7737 DSOS-2919: add rd licensing firewall rules
  terraform/environments/core-network-services/cidr-ranges.tf
  terraform/environments/core-network-services/firewall-rules/live_data_rules.json
  terraform/environments/core-network-services/firewall-rules/sets.json
Labels: core, networking

#7742 Resolve issues with log streaming module
  terraform/environments/core-logging/cortex.tf
  terraform/modules/cloudwatch-firehose/data.tf
  terraform/modules/cloudwatch-firehose/main.tf
Labels: core

#7745 DSOS-2919: add rd licensing firewall rules part2
  terraform/environments/core-network-services/cidr-ranges.tf
  terraform/environments/core-network-services/firewall-rules/live_data_rules.json
  terraform/environments/core-network-services/firewall-rules/non_live_data_rules.json
  terraform/environments/core-network-services/firewall-rules/sets.json
  terraform/environments/core-network-services/locals.tf
Labels: core, networking

#7746 Store `core-logging` S3 bucket arn as secret in `modernisation platform` account
  terraform/environments/core-logging/cortex.tf
Labels: core

#7750 Incident Security
  source/runbooks/manage-an-incident.html.md.erb
Labels: documentation

#7751 Stream logs to core logging
  terraform/environments/core-network-services/locals.tf
  terraform/environments/core-network-services/logging.tf
  terraform/environments/core-network-services/secrets.tf
  terraform/environments/core-vpc/locals.tf
  terraform/environments/core-vpc/logging.tf
  terraform/environments/core-vpc/secrets.tf
  terraform/modules/firewall-logging/main.tf
  terraform/modules/firewall-logging/outputs.tf
  terraform/modules/vpc-inspection/outputs.tf
Labels: core, networking

#7755 Docs Update
  source/concepts/networking/subnet-nacls.html.md.erb
  source/runbooks/useful-scripts.html.md.erb
  source/team/roadmap.html.md.erb
  source/user-guide/certificate-import.html.md.erb
Labels: documentation

#7762 Runbook review
  source/runbooks/reviewing-dependabot-prs.html.md.erb
Labels: documentation

#7753 Stream logs to separate buckets
  terraform/environments/core-logging/cortex.tf
  terraform/environments/core-network-services/logging.tf
  terraform/environments/core-vpc/logging.tf
Labels: core, networking

#7763 Create core-billing account
  environments/core-billing.json
  policies/environments/expected.rego
Labels: onboarding, testing

#7771 for_each the policies for buckets so they match each bucket
  terraform/environments/core-logging/cortex.tf
Labels: core

#7772 Stream logs to separate buckets
  terraform/environments/core-network-services/locals.tf
  terraform/environments/core-network-services/logging.tf
  terraform/environments/core-network-services/secrets.tf
  terraform/environments/core-vpc/locals.tf
  terraform/environments/core-vpc/logging.tf
  terraform/environments/core-vpc/secrets.tf
Labels: core, networking

#7775 Add Observability Platform to core-billing
  terraform/environments/core-billing/observability.tf
Labels: core

#7787 LAWS-3871 - Add edw tester group access
  environments/edw.json
Labels: onboarding

#7790 Enhance existing workflow to add Slack notifications on JSON file changes
  .github/workflows/new-environment.yml
  environments/cooker.json
  environments/example.json
  environments/sprinkler.json
  terraform/modernisation-platform-account/secrets.tf
Labels: onboarding, github-workflow

#7794 Issue/7698
  .github/workflows/format-code.yml
Labels: github-workflow

#7797 add guide for setting up Slack notifications for JSON file changes
  source/runbooks/slack-webhook-setup-guide.html.md.erb
Labels: documentation

#7798 Revert "Issue/7698"
  .github/workflows/format-code.yml
Labels: github-workflow

#7799 XSIAM housekeeping
  terraform/environments/core-logging/cortex.tf
  terraform/environments/core-logging/sqs.tf
Labels: core

#7801 :passport_control: Add `hosting-migrations` to codeowners for delius related projects
  environments/delius-core.json
  environments/delius-iaps.json
  environments/delius-jitbit.json
  environments/delius-mis.json
  environments/delius-nextcloud.json
Labels: onboarding

#7805 Revert ":passport_control: Add `hosting-migrations` to codeowners for delius related projects"
  environments/delius-core.json
  environments/delius-iaps.json
  environments/delius-jitbit.json
  environments/delius-mis.json
  environments/delius-nextcloud.json
Labels: onboarding

#7806 :bug: convert files to single line array rather than b64 encoded multiline output
  .github/workflows/new-environment.yml
Labels: onboarding, github-workflow

#7809 :passport_control: add to codeowners for delius related projects
  environments/delius-core.json
  environments/delius-iaps.json
  environments/delius-jitbit.json
  environments/delius-mis.json
  environments/delius-nextcloud.json
Labels: onboarding

#7811 :ambulance: Fix space typo in new-environment workflow
  .github/workflows/new-environment.yml
Labels: github-workflow
