Repository ministryofjustice/modernisation-platform, pull requests merged in 2024-01, with the labels that each got.

#5896 Terraform Static Code Analysis - fix commit hash
  .github/workflows/terraform-static-analysis.yml
  terraform/environments/bootstrap/member-bootstrap/iam.tf
Labels: github-workflow

#5900 Updated contact details for Slack Webhooks
  source/runbooks/rotating-secrets.html.md.erb
Labels: documentation

#5885 LAWS-3581: Adding maat-api ECR repo in core-shared-services/ecr-repos.tf
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: enhancement, core

#5904 Firewall rule: allow cloud platform to hmpps-preprod for Oracle DB port
  terraform/environments/core-network-services/firewall-rules/preproduction_rules.json
Labels: core, networking

#5906 Dsos/firewall rule naming improvements
  terraform/environments/core-network-services/firewall-rules/development_rules.json
  terraform/environments/core-network-services/firewall-rules/preproduction_rules.json
  terraform/environments/core-network-services/firewall-rules/production_rules.json
  terraform/environments/core-network-services/firewall-rules/test_rules.json
Labels: core, networking

#5909 add fw rules for planetfm endusers access
  terraform/environments/core-network-services/cidr-ranges.tf
  terraform/environments/core-network-services/firewall-rules/preproduction_rules.json
  terraform/environments/core-network-services/firewall-rules/production_rules.json
Labels: core, networking

#5910 Suggested Review Criteria for Module Feature Changes.,
  source/team/ways-of-working.html.md.erb
Labels: documentation

#5901 removing dns records that are no longer required
  terraform/environments/core-network-services/route53.tf
Labels: core, networking

#5925 Fixes an issue whereby the GH slug wasn't correctly formatted to take account of more than one team per env.
  environments/data-platform-compute.json
Labels: onboarding

#5930 Route traffic for sandbox VPCs back to TGW
  terraform/environments/core-network-services/cidr-ranges.tf
  terraform/environments/core-network-services/firewall-rules/inline_rules.json
  terraform/modules/vpc-inspection/main.tf
Labels: core, networking

#5955 Docs/fix firewall code links
  source/concepts/networking/network-firewall.html.md.erb
Labels: documentation

#5951 Separating GitHub codeowners and aws access #5908
  scripts/provision-member-directories.sh
Labels: proof of concept

#5953 Issue #5899
  .github/workflows/terraform-static-analysis.yml
Labels: github-workflow

#5957 Amended the delius-code json to add codeowner false to the dba group
  environments/delius-core.json
Labels: onboarding

#5954 added top-level permissions to fix code scanning vuln
  .github/workflows/notify-user-new-environment-created.yml
Labels: github-workflow

#5959 Remove configuration for AWS Managed Microsoft Active Directory
  architecture-decision-record/0029-how-we-deploy-shared-active-directory-controllers.md
  architecture-decision-record/README.md
  environments/sprinkler.json
  policies/environments/environment-definitions.rego
  policies/environments/environment-definitions_test.rego
  terraform/environments/bootstrap/delegate-access/policies.tf
  terraform/environments/bootstrap/single-sign-on/main.tf
Labels: documentation, onboarding, testing

#5966 Code Scanning Alert- pin dependency by hash
  .github/workflows/notify-user-new-environment-created.yml
Labels: github-workflow

#5968 Add transfer.server endpoint to hmpps
  environments-networks/hmpps-development.json
  environments-networks/hmpps-preproduction.json
  environments-networks/hmpps-production.json
Labels: onboarding

#5978 Trivy update
  .github/workflows/code-scanning.yml
Labels: github-workflow

#5977 Amended code to include limiting change approvals
  source/runbooks/creating-accounts-for-end-users.html.md.erb
Labels: documentation

#5984 DSOS-2537: give csr app support team access to hmpps domain services
  environments/hmpps-domain-services.json
Labels: onboarding

#5989 Reduce number of parallel jobs
  .github/workflows/scheduled-baseline.yml
Labels: github-workflow

#5988 replacecd <owner-name> with \<owner-name\> to prevent missing item in documentation
  source/runbooks/creating-accounts-for-end-users.html.md.erb
Labels: documentation

#5986 Update collaborators.json
  collaborators.json
  policies/collaborators/collaborators.rego
Labels: testing

#5999 Enabling trace logs in the scheduled baseline workflow
  .github/workflows/scheduled-baseline.yml
Labels: github-workflow

#5994 Additional changes to correct a spelling and amend owner-name comments
  source/runbooks/creating-accounts-for-end-users.html.md.erb
Labels: documentation

#5965 LAWS-3581: Updating maat app_name on the shared ecr_repo.tf
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#6020 State push fix for state persistance error
  .github/workflows/scheduled-baseline.yml
  scripts/terraform-apply-and-state-push.sh
  scripts/terraform-state-push.sh
Labels: github-workflow

#6021 Add hmpps-delius-operational-automation as oidc repo
  environments/hmpps-oem.json
Labels: onboarding

#6022 Suppressing alerting when state push is successful and running terraform plan after state push
  .github/workflows/scheduled-baseline.yml
  scripts/terraform-state-push.sh
Labels: github-workflow

#6030 updated data platform codeowners
  environments/data-platform-apps-and-tools.json
  environments/data-platform-compute.json
  environments/data-platform.json
Labels: onboarding

#6032 Update electronic-monitoring-data.json
  environments/electronic-monitoring-data.json
Labels: onboarding

#6036 New environment request for delius-mis
  environments/delius-mis.json
  policies/environments/expected.rego
Labels: onboarding, testing

#6034 ADR on cross environment network access
  architecture-decision-record/0030-cross-environment-network-access.md
  architecture-decision-record/README.md
Labels: documentation

#6040 Set ADR30 as accepted
  architecture-decision-record/0030-cross-environment-network-access.md
  architecture-decision-record/README.md
Labels: documentation

#6044 Added networking for delius-mis
  environments-networks/hmpps-development.json
  environments-networks/hmpps-preproduction.json
  environments-networks/hmpps-production.json
  environments-networks/hmpps-test.json
  policies/networking/expected.rego
Labels: onboarding, testing

#6046 Add runbook of how to rotate MP CI User Environments Repo PAT
  source/runbooks/rotating-secrets.html.md.erb
Labels: documentation

#6050 Add ECR for MAAT
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#6051 Vulnerability patch for CVE-2024-22048
  .github/workflows/publish-gh-pages.yml
Labels: github-workflow

#6054 IAM role and policy for lambda invoke
  terraform/environments/core-shared-services/iam.tf
Labels: core

#6057 Updated role and policy resource arn
  terraform/environments/core-shared-services/iam.tf
Labels: core

#6059 updated docs in need of review
  source/runbooks/creating-accounts-for-end-users.html.md.erb
  source/runbooks/creating-vpcs.html.md.erb
  source/runbooks/deleting-an-environment.html.md.erb
  source/team/vision.html.md.erb
  source/user-guide/security-testing-and-ithc.html.md.erb
Labels: documentation

#6060 Modified trust relationship in IAM role
  terraform/environments/core-shared-services/iam.tf
Labels: core

#6061 Fix breaking changes in tech-docs-github-pages-publisher v3
  .github/workflows/publish-gh-pages.yml
Labels: github-workflow

#6062 Updated links identified by deploy pages action
  source/concepts/networking/subnet-allocation.html.md.erb
  source/runbooks/dos-attack.html.md.erb
  source/runbooks/how-vpcs-access-the-internet.html.md.erb
  source/runbooks/joining-the-team.html.md.erb
  source/runbooks/runbook.html.md.erb
Labels: documentation

#6056 create new delius core ecrs
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#6063 Moving Instance scheduler to event bridge scheduling
  terraform/environments/core-shared-services/instance-scheduler-lambda-function.tf
Labels: core

#6064 add git codeowner option to new env issue template
  .github/ISSUE_TEMPLATE/new-environment.yml
  source/user-guide/creating-environments.html.md.erb
Labels: documentation

#6067 Feature/sprinkler access for security
  environments/sprinkler.json
  terraform/github/locals.tf
Labels: onboarding

#6065 adding in preprod and prod rules from planet FM
  terraform/environments/core-network-services/cidr-ranges.tf
  terraform/environments/core-network-services/firewall-rules/preproduction_rules.json
  terraform/environments/core-network-services/firewall-rules/production_rules.json
Labels: core, networking

#6079 added KMS encryption to eventbridge schedule
  terraform/environments/core-shared-services/data.tf
  terraform/environments/core-shared-services/instance-scheduler-lambda-function.tf
Labels: core

#6081 Reference mp state for sso perm set
  .github/workflows/scheduled-baseline.yml
  terraform/environments/bootstrap/single-sign-on/main.tf
Labels: github-workflow

#6084 add extra delius core ECRs
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#6091 New Domain Request
  terraform/environments/core-network-services/route53.tf
Labels: core, networking

#6090 Revised the review dates to keep documentation up-to-date
  source/concepts/networking/dns.html.md.erb
  source/runbooks/creating-new-private-dns-zones.html.md.erb
Labels: documentation

#6095 Arranged application zones in alphabetical order
  terraform/environments/core-network-services/route53.tf
Labels: core, networking

#6097 add sso workflow
  .github/workflows/terraform-single-sign-on.yml
Labels: github-workflow
