Repository ministryofjustice/modernisation-platform, pull requests merged in 2024-02, with the labels that each got.

#6102 Updated ADR25 as now superseded
  architecture-decision-record/0025-non-standard-user-infrastructure.md
  architecture-decision-record/README.md
Labels: documentation

#6113 removed KMS key references
  terraform/environments/core-shared-services/instance-scheduler-lambda-function.tf
Labels: core

#6115 Fix EventBridge Scheduler issue with customer-managed KMS key
  terraform/environments/core-shared-services/iam.tf
  terraform/environments/core-shared-services/instance-scheduler-lambda-function.tf
Labels: core

#6116 Update accessing-ec2s.html.md.erb: filter to running instances
  source/user-guide/accessing-ec2s.html.md.erb
Labels: documentation

#6120 Adding PowerBI User permission set and policy
  policies/environments/environment-definitions.rego
  policies/environments/environment-definitions_test.rego
  terraform/environments/bootstrap/delegate-access/policies.tf
  terraform/environments/bootstrap/single-sign-on/main.tf
  terraform/single-sign-on/outputs.tf
  terraform/single-sign-on/sso-permission-sets.tf
Labels: onboarding, testing

#6122 Add DBAs and Unlink to delius-core-test
  environments/delius-core.json
  environments/delius-mis.json
Labels: onboarding

#6123 github-oidc-team-repo
  environments/cdpt-ifs.json
Labels: onboarding

#6132 create cdpt-ifs-ecr-repo
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#6131 NIT-1038 allow traffic between MP hmpps and legacy delius networks
  terraform/environments/core-network-services/firewall-rules/development_rules.json
Labels: core, networking

#6138 Create `cortex-xsiam` accounts
  environments/cortex-xsiam.json
  policies/environments/expected.rego
Labels: onboarding, testing

#6141 Adding PowerBI Access level for users.
  environments/analytical-platform-data.json
Labels: onboarding

#6053 Test of new trivy scan
  .github/workflows/code-scanning.yml
  .github/workflows/terraform-static-analysis.yml
  .trivyignore.yaml
Labels: github-workflow

#6153 Fixed a small typo in alert message
  terraform/environments/core-shared-services/instance-scheduler-lambda-function.tf
Labels: core

#6159 Removing Jake from pagerduty and team page
  source/runbooks/removing-a-team-member.html.md.erb
  source/team/team.html.md.erb
  terraform/pagerduty/locals.tf
Labels: documentation

#6164 Adding data engineering access level to AP-DEV account.
  environments/analytical-platform.json
Labels: onboarding

#6165 Added fleet-manager role to sprinkler
  environments/sprinkler.json
  policies/environments/environment-definitions.rego
Labels: onboarding, testing

#6156 Migrate fleet manager role from delegate access
  terraform/environments/bootstrap/delegate-access/collaborators.tf
  terraform/environments/bootstrap/delegate-access/policies.tf
  terraform/environments/bootstrap/member-bootstrap/collaborators.tf
  terraform/environments/bootstrap/single-sign-on/locals.tf
  terraform/environments/bootstrap/single-sign-on/policies.tf
  terraform/environments/bootstrap/single-sign-on/providers.tf
Labels: onboarding, testing

#6168 Added fleet-manager role to sprinkler
  environments/sprinkler.json
Labels: onboarding

#6154 Code Clean up and hash update
  .github/workflows/terraform-static-analysis.yml
Labels: github-workflow

#6180 Update sprinkler.json
  environments/sprinkler.json
Labels: onboarding

#6179 dom 1 domain controller FW rules
  terraform/environments/core-network-services/cidr-ranges.tf
  terraform/environments/core-network-services/firewall-rules/preproduction_rules.json
  terraform/environments/core-network-services/firewall-rules/production_rules.json
Labels: core, networking

#6197 Update terraform-static-analysis.yml
  .github/workflows/terraform-static-analysis.yml
Labels: github-workflow

#6201 add firewall rule for RPC to dom1 domain controllers
  terraform/environments/core-network-services/firewall-rules/preproduction_rules.json
  terraform/environments/core-network-services/firewall-rules/production_rules.json
Labels: core, networking

#6181 Revoking user access runbook
  source/index.html.md.erb
  source/runbooks/revoking-user-access.html.md.erb
Labels: documentation

#6218 Update test_rules.json for delius test ldap traffic
  terraform/environments/core-network-services/firewall-rules/test_rules.json
Labels: core, networking

#6217 Updated documents scheduled for a review
  source/runbooks/creating-new-dns-zones.html.md.erb
Labels: documentation

#6221 Provides developer access to oasys-operator github team
  environments/oasys.json
Labels: onboarding

#6224 DSOS-2615: initial terraform for fixngo domain controllers
  terraform/environments/core-shared-services/ad-fixngo.tf
  terraform/environments/core-shared-services/files/ad-fixngo-ec2-user-data.yaml
  terraform/modules/kms/outputs.tf
Labels: core

#6226 fix to terraform static code analyst
  .github/workflows/terraform-static-analysis.yml
Labels: github-workflow

#6228 removed document upload
  .github/workflows/terraform-static-analysis.yml
Labels: github-workflow

#6230 DSOS-2615: enable ad-azure-dc-a EC2 in core-shared-services-production
  terraform/environments/core-shared-services/ad-fixngo.tf
Labels: core

#6236 Fix for Terraform Static Code Analysis Error.
  terraform/environments/core-shared-services/ad-fixngo.tf
Labels: core

#6233 Equip PowerBi Firewall FQDN Rule
  terraform/environments/core-network-services/firewall-rules/fqdn_rules.json
Labels: core, networking

#6239 DSOS-2615: fix static analysis for fixngo domain controllers
  terraform/environments/core-shared-services/ad-fixngo.tf
Labels: core

#6243 update golive date
  environments/cdpt-chaps.json
Labels: onboarding

#6251 Add ranges and rules for syslog traffic to cortex accounts
  terraform/environments/core-network-services/cidr-ranges.tf
  terraform/environments/core-network-services/firewall-rules/development_rules.json
  terraform/environments/core-network-services/firewall-rules/production_rules.json
Labels: core, networking

#6252 Add sandbox permissions to LAA OEM development environment
  environments/laa-oem.json
Labels: onboarding

#6255 Add details for further syslog senders
  terraform/environments/core-network-services/cidr-ranges.tf
  terraform/environments/core-network-services/firewall-rules/development_rules.json
  terraform/environments/core-network-services/firewall-rules/production_rules.json
Labels: core, networking

#6263 Increment document review dates
  source/runbooks/manage-an-incident.html.md.erb
  source/user-guide/add-an-ecr-for-docker-images.html.md.erb
  source/user-guide/certificate-import-windows.html.md.erb
  source/user-guide/getting-aws-credentials.html.md.erb
  source/user-guide/how-to-configure-dns.html.md.erb
Labels: documentation

#6265 Add Dependency Between Jobs in Bootstrap-Sprinkler Workflow
  .github/workflows/bootstrap-sprinkler.yml
Labels: github-workflow

#6297 Remove firewall rules for cortex-siam
  terraform/environments/core-network-services/cidr-ranges.tf
  terraform/environments/core-network-services/firewall-rules/development_rules.json
  terraform/environments/core-network-services/firewall-rules/production_rules.json
Labels: core, networking

#6299 Date amended following a note from Daniel the manual spaniel
  source/team/ways-of-working.html.md.erb
Labels: documentation

#6341 Update electronic-monitoring-data.json
  environments/electronic-monitoring-data.json
Labels: onboarding

#6344 Remove migration level from planetfm.
  environments/planetfm.json
Labels: onboarding

#6105 Feature/dr docs
  source/runbooks/dr-process.html.md.erb
Labels: documentation

#6348 Update documentation for the account request runbook for #6338
  source/runbooks/creating-accounts-for-end-users.html.md.erb
Labels: documentation

#6353 Assign developer role to unlink group
  environments/delius-core.json
Labels: onboarding

#6354 ✨ Add GitHub Reviewer to delius-core
  environments/delius-core.json
Labels: onboarding

#6340 Add ADR for LLM hosting location
  architecture-decision-record/0030-cross-environment-network-access.md
  architecture-decision-record/0031-llms-will-be-hosted-on-the-analytical-platform.md
  architecture-decision-record/README.md
Labels: documentation

#6359 DSOS-2635: add ability to login via FleetManager
  terraform/environments/core-shared-services/ad-fixngo.tf
Labels: core

#6347 Add github_action_reviewers option from PR #6338 to the account request template
  .github/ISSUE_TEMPLATE/new-environment.yml
Labels: documentation

#6349 Update creating-environments.html.md.erb to add documentation to the guide for #6338
  source/user-guide/creating-environments.html.md.erb
Labels: documentation

#6362 DSOS-2635: add permissions for assuming ad-fixngo-ec2-access role
  terraform/environments/bootstrap/single-sign-on/policies.tf
  terraform/environments/core-shared-services/ad-fixngo.tf
Labels: core
