Repository ministryofjustice/modernisation-platform, pull requests merged in 2024-06, with the labels that each got.

#7129 DSOS-2746 | Patch schedules for domain controllers
  terraform/environments/core-shared-services/ad-fixngo.tf
Labels: core

#7141 Remove 'hmpps-intelligence-management' environments
  environments-networks/hmpps-development.json
  environments-networks/hmpps-production.json
  environments/hmpps-intelligence-management.json
  policies/environments/expected.rego
  policies/networking/expected.rego
Labels: onboarding, testing

#7143 Add patch schedules to FixNGo servers
  terraform/environments/core-shared-services/ad-fixngo.tf
Labels: core

#7161 Skip some unrequired checkov checks
  terraform/environments/core-shared-services/ad-fixngo.tf
  terraform/modules/vpc-hub/main.tf
  terraform/modules/vpc-inspection/firewall.tf
Labels: core

#7163 Improve SCA compliance of `core-shared-services`
  terraform/environments/core-shared-services/ad-fixngo.tf
Labels: core

#7166 Added observability platform
  terraform/environments/core-network-services/observability.tf
Labels: core, networking

#7171 Update AWS Shield Advanced implementation documentation
  source/runbooks/enabling-shield-advanced.html.md.erb
Labels: documentation

#7172 🐶 Review core-workflow for Daniel the spaniel
  source/concepts/sdlc/core-workflow.html.md.erb
Labels: documentation

#7173 add new site static route for Azure via MOJ TGW
  terraform/environments/core-network-services/locals.tf
Labels: core, networking

#7174 Add cache dependency path to `setup-go` step
  .github/workflows/core-logging-deployment.yml
  .github/workflows/core-network-services-deployment.yml
  .github/workflows/core-security-deployment.yml
  .github/workflows/core-shared-services-deployment.yml
Labels: github-workflow

#7177 :wrench: Exclude environment from auto-nuke
  environments/operations-engineering.json
Labels: onboarding

#7176 Removed references to the S3 replication role module
  terraform/environments/core-logging/s3_logging.tf
Labels: core

#7206 Create `genesys-call-centre-data` accounts
  environments/genesys-call-centre-data.json
  policies/environments/expected.rego
Labels: onboarding, testing

#7210 adding instance management role to cooker
  environments/cooker.json
Labels: onboarding

#7191 core-shared-services: s3 artefact fixes
  terraform/environments/core-shared-services/s3.tf
Labels: core

#7211 Replace nuke "exclude" with "rebuild" for sandbox development environments
  environments/corporate-staff-rostering.json
  environments/electronic-monitoring-data.json
  environments/oasys.json
  environments/planetfm.json
Labels: onboarding

#7212 Laws 3743
  environments/apex.json
Labels: onboarding

#7214 Remove `types` from `pull_request` in workflow template
  .github/workflows/templates/workflow-template.yml
Labels: github-workflow

#7216 Updating the user guide documentation
  source/user-guide/running-terraform-plan-locally.html.md.erb
  source/user-guide/sustainability.html.md.erb
Labels: documentation

#7218 updated docs on manual certificates
  source/user-guide/certificate-import.html.md.erb
Labels: documentation

#7222 Remove tariff account
  environments-networks/cica-development.json
  environments/tariff.json
  policies/environments/expected.rego
  policies/networking/expected.rego
Labels: onboarding, testing

#7230 Document review changes
  source/concepts/networking/networking-approach.html.md.erb
  source/concepts/networking/subnet-allocation.html.md.erb
  source/concepts/sdlc/repositories.html.md.erb
  source/runbooks/adding-wider-connectivity.html.md.erb
  source/runbooks/runbook.html.md.erb
Labels: documentation

#7234 Documents review update
  source/concepts/environments/architecture.html.md.erb
  source/concepts/environments/security.html.md.erb
  source/team/team.html.md.erb
  source/user-guide/member-read-only-core-accounts.html.md.erb
Labels: documentation

#7235 Update equip.json
  environments/equip.json
Labels: onboarding

#7238 allow James to approve Equip production runs
  environments/equip.json
Labels: onboarding

#7243 Adding data-engineer role to DPR dev/test/prod accounts
  environments/digital-prison-reporting.json
Labels: onboarding

#7245 removed exclude and replaced it with rebuild for development environment
  environments/electronic-monitoring-data.json
Labels: onboarding

#7259 Update joining-the-team.html.md.erb
  source/runbooks/joining-the-team.html.md.erb
Labels: documentation

#7263 Update index.html.md.erb
  source/getting-help/index.html.md.erb
Labels: documentation

#7267 Update electronic-monitoring-data.json
  environments/electronic-monitoring-data.json
Labels: onboarding

#7282 allow nomis combined reporting traffic in from azure
  terraform/environments/core-network-services/firewall-rules/preproduction_rules.json
Labels: core, networking

#7284 Docs/20 06 24
  source/concepts/environments/auto-nuke.html.md.erb
  source/concepts/sdlc/patching.html.md.erb
  source/concepts/sdlc/testing-strategy.html.md.erb
  source/user-guide/automated-patching.html.md.erb
Labels: documentation

#7303 Updated review dates for docs due for review
  source/runbooks/manage-an-incident.html.md.erb
  source/runbooks/revoke-network-access.html.md.erb
  source/user-guide/creating-resources.html.md.erb
  source/user-guide/integrating-alarms-with-pagerduty-with-slack.html.md.erb
Labels: documentation

#7280 Calm down OPA Validation workflow
  .github/workflows/opa-policies.yml
  terraform/github/repositories.tf
Labels: github-workflow

#7261 Test PR for OPA v1
  .github/workflows/opa-policies.yml
  policies/collaborators/collaborators.rego
  policies/collaborators/collaborators_test.rego
  policies/collaborators/utilities.rego
  policies/environments/environment-definitions.rego
  policies/environments/environment-definitions_test.rego
  policies/environments/expected.rego
  policies/environments/utilities.rego
  policies/member/environment-definitions.rego
  policies/member/environment-definitions_test.rego
  policies/member/utilities.rego
  policies/networking/core-vpc.rego
  policies/networking/core-vpc_test.rego
  policies/networking/expected.rego
  policies/networking/utilities.rego
  scripts/tests/validate/run-opa-tests.sh
Labels: testing, github-workflow

#7319 Remove duplicate targeted terraform apply in core-vpc workflows
  .github/workflows/core-vpc-development-deployment.yml
  .github/workflows/core-vpc-preproduction-deployment.yml
  .github/workflows/core-vpc-production-deployment.yml
  .github/workflows/core-vpc-test-deployment.yml
Labels: github-workflow

#7318 New environment for Panda
  environments/panda-cyber-appsec-lab.json
  policies/environments/expected.rego
Labels: onboarding, testing

#7324 Added email address for Panda
  environments/panda-cyber-appsec-lab.json
Labels: onboarding

#7326 Missed adding the infrastructure support email address
  environments/panda-cyber-appsec-lab.json
Labels: onboarding

#7329 LASB-2244: Updated crime apps access level for MLRA
  environments/mlra.json
Labels: onboarding

#7328 Update reusable workflow
  .github/workflows/core-logging-deployment.yml
  .github/workflows/core-network-services-deployment.yml
  .github/workflows/core-security-deployment.yml
  .github/workflows/core-shared-services-deployment.yml
  .github/workflows/modernisation-platform-account.yml
  .github/workflows/reusable_terraform_plan_apply.yml
  .github/workflows/terraform-github.yml
  .github/workflows/terraform-pagerduty.yml
  .github/workflows/terraform-single-sign-on.yml
Labels: github-workflow

#7331 Panda network changes
  environments-networks/platforms-development.json
  policies/networking/expected.rego
Labels: onboarding, testing

#7339 Masking account number variables as they appear in logs.
  .github/workflows/reusable_terraform_plan_apply.yml
Labels: github-workflow

#7341 Added the isolated-network true code to the Panda settings
  environments/panda-cyber-appsec-lab.json
Labels: onboarding

#7340 User Guide page reviews.
  source/runbooks/accessing-aws-accounts.html.md.erb
  source/user-guide/workflow-status.html.md.erb
Labels: documentation

#7343 Updates remaining workflows to mask account numbers in env log output.
  .github/workflows/bootstrap-sprinkler.yml
  .github/workflows/collaborator-inactivity-monitoring.yml
  .github/workflows/core-vpc-development-deployment.yml
  .github/workflows/core-vpc-preproduction-deployment.yml
  .github/workflows/core-vpc-production-deployment.yml
  .github/workflows/core-vpc-test-deployment.yml
  .github/workflows/new-environment.yml
  .github/workflows/scheduled-baseline.yml
  .github/workflows/secrets-rotation-reminder.yml
  .github/workflows/superadmin-access-key-monitoring.yml
  .github/workflows/terraform-member-environment.yml
Labels: github-workflow

#7346 feature/6888- reusable pipeline update to CI/CD document
  source/concepts/sdlc/core-workflow.html.md.erb
Labels: documentation

#7358 Daniel documentation changes
  source/concepts/sdlc/sandbox-testing-environments.html.md.erb
  source/runbooks/running-emergency-patching.html.md.erb
Labels: documentation

#7362 feature/7182 archiving modernisation platform terraform s3 bucket replication role
  README.md
  source/runbooks/dr-process.html.md.erb
  terraform/github/repositories.tf
  terraform/github/teams.tf
Labels: documentation

#7364 Redact ACCOUNT_NUMBER from logs.
  .github/workflows/collaborator-inactivity-monitoring.yml
  .github/workflows/remove-default-vpc.yml
Labels: github-workflow

#7323 Add test to validate email address in json files
  policies/environments/environment-definitions.rego
  policies/environments/environment-definitions_test.rego
  source/user-guide/creating-environments.html.md.erb
Labels: documentation, testing

#7371 Add conftest verify
  .github/workflows/opa-policies.yml
  policies/collaborators/collaborators_test.rego
  policies/networking/core-vpc_test.rego
  scripts/tests/validate/run-opa-tests.sh
Labels: testing, github-workflow
