Repository ministryofjustice/modernisation-platform, pull requests merged in 2024-07, with the labels that each got.

#7389 Add runbook for accessing OP & link to workflow dashboard
  source/index.html.md.erb
  source/runbooks/accessing-the-observability-platform.html.md.erb
  source/user-guide/workflow-status.html.md.erb
Labels: documentation

#7374 ignore markdown files (e.g. README.md) for terraform deployment workflows
  .github/workflows/bootstrap-sprinkler.yml
  .github/workflows/core-logging-deployment.yml
  .github/workflows/core-network-services-deployment.yml
  .github/workflows/core-security-deployment.yml
  .github/workflows/core-shared-services-deployment.yml
  .github/workflows/core-vpc-development-deployment.yml
  .github/workflows/core-vpc-preproduction-deployment.yml
  .github/workflows/core-vpc-production-deployment.yml
  .github/workflows/core-vpc-test-deployment.yml
  .github/workflows/modernisation-platform-account.yml
  .github/workflows/new-environment.yml
  .github/workflows/scheduled-baseline.yml
  .github/workflows/terraform-github.yml
  .github/workflows/terraform-pagerduty.yml
  .github/workflows/terraform-single-sign-on.yml
Labels: github-workflow

#7345 Minor updates to user docs - concepts
  .github/workflows/test-url-links.yml
  architecture-decision-record/0006-use-a-multi-account-strategy-for-applications.md
  architecture-decision-record/0009-use-secrets-manager-for-secrets.md
  config/lychee.toml
  source/concepts/environments/auto-nuke.html.md.erb
  source/concepts/environments/instance-scheduling.html.md.erb
  source/concepts/environments/problem-and-solution.html.md.erb
  source/concepts/environments/security.html.md.erb
  source/concepts/environments/single-sign-on.html.md.erb
  source/concepts/networking/certificate-services.html.md.erb
  source/concepts/networking/dns.html.md.erb
  source/concepts/networking/instance-access-and-bastions.html.md.erb
  source/concepts/networking/networking-approach.html.md.erb
  source/concepts/networking/subnet-allocation.html.md.erb
  source/concepts/sdlc/core-workflow.html.md.erb
  source/concepts/sdlc/repositories.html.md.erb
  source/concepts/sdlc/user-workflow.html.md.erb
  source/index.html.md.erb
  source/runbooks/accessing-aws-accounts.html.md.erb
  source/runbooks/deleting-an-environment.html.md.erb
  source/user-guide/creating-automated-terraform-documentation.html.md.erb
  source/user-guide/creating-environments.html.md.erb
  source/user-guide/how-to-configure-dns.html.md.erb
  terraform/environments/README.md
  terraform/environments/bootstrap/secure-baselines/README.md
  terraform/github/README.md
  terraform/modernisation-platform-account/README.md
Labels: documentation, github-workflow

#7392 Nit 1363 delius core pdf generator new tech get images
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#7394 Fix broken docs links
  source/concepts/environments/problem-and-solution.html.md.erb
Labels: documentation

#7396 fix: Add push principals to new tech ECRs
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#7401 add em ecr repo for lambdas
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#7408 add athena endpoint to hmpps
  environments-networks/hmpps-production.json
Labels: onboarding

#7422 Add guidance for users on creating VPC endpoints
  .github/ISSUE_TEMPLATE/new-environment.yml
  source/index.html.md.erb
  source/runbooks/removing-a-team-member.html.md.erb
  source/user-guide/adding-vpc-endpoints.html.md.erb
  source/user-guide/environments-networks-json-explained.html.md.erb
Labels: documentation

#7423 Add script and workflow to upload Cost Explorer CSV to S3
  .github/workflows/upload-cost-explorer-to-s3.yml
  scripts/upload_cost_explorer_to_s3.sh
Labels: github-workflow

#7425 added link to new guide
  source/index.html.md.erb
  source/user-guide/environments-networks-json-explained.html.md.erb
Labels: documentation

#7427 removed erb suffix from link
  source/index.html.md.erb
Labels: documentation

#7426 LAWS-3966 Add CWA developer access to CWA account
  environments/contract-work-administration.json
Labels: onboarding

#7431 Update dynamic variable for xsiam endpoint/secret in core-logging
  terraform/environments/core-logging/firehose.tf
Labels: core

#7433 Fixes issue whereby wrong xsiam endpoint & secret were used for core-security & core-shared-services.
  terraform/environments/core-security/firehose.tf
  terraform/environments/core-shared-services/firehose.tf
Labels: core, security

#7442 Update core vpc workflows to use reusable pipeline
  .github/workflows/core-vpc-development-deployment.yml
  .github/workflows/core-vpc-preproduction-deployment.yml
  .github/workflows/core-vpc-production-deployment.yml
  .github/workflows/core-vpc-test-deployment.yml
Labels: github-workflow

#7443 Add AWS_REGION Environment Variable
  .github/workflows/core-vpc-development-deployment.yml
  .github/workflows/core-vpc-preproduction-deployment.yml
  .github/workflows/core-vpc-production-deployment.yml
  .github/workflows/core-vpc-test-deployment.yml
Labels: github-workflow

#7447 Add ENVIRONMENT_MANAGEMENT env variable
  .github/workflows/core-vpc-development-deployment.yml
  .github/workflows/core-vpc-preproduction-deployment.yml
  .github/workflows/core-vpc-production-deployment.yml
  .github/workflows/core-vpc-test-deployment.yml
Labels: github-workflow

#7454 exclude nuke for contract-work-administration
  environments/contract-work-administration.json
Labels: onboarding

#7456 Adds a runbook for the AWS Firehose infrastructure.
  source/runbooks/integration-with-protective-monitoring.md.erb
Labels: documentation

#7457 Correct file extension
  source/runbooks/integration-with-protective-monitoring.html.md.erb
Labels: documentation

#7458 Fix internal link on runbook page
  source/runbooks/integration-with-protective-monitoring.html.md.erb
Labels: documentation

#7459 Adds protective monitoring page reference to runbook index.
  source/index.html.md.erb
Labels: documentation

#7465 👀 Add Observability Platform to mp core accounts
  terraform/environments/core-logging/observability.tf
  terraform/environments/core-security/observability.tf
  terraform/environments/core-shared-services/observability.tf
  terraform/environments/core-vpc/observability.tf
Labels: core, security, networking

#7471 New repo for generic data engineering images
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#7470 ADR proposal to not implement NCSC PDNS
  architecture-decision-record/0032-ncsc-pdns-not-at-platform-level.md
  architecture-decision-record/README.md
Labels: documentation

#7475 Fix markdown for runbook page
  source/user-guide/environments-networks-json-explained.html.md.erb
Labels: documentation

#7476 Create new accounts for `corporate-information-system`
  environments/corporate-information-system.json
  policies/environments/expected.rego
Labels: onboarding, testing

#7478 Second stage of new account changes for `corporate-information-system`
  environments-networks/laa-development.json
  environments-networks/laa-preproduction.json
  environments-networks/laa-production.json
  environments-networks/laa-test.json
  policies/networking/expected.rego
Labels: onboarding, testing

#7504 User Guide Doc Review.
  source/concepts/networking/network-firewall.html.md.erb
Labels: documentation

#7521 adding instance management role for testing
  environments/core-shared-services.json
Labels: onboarding

#7522 update github slug
  environments/core-shared-services.json
Labels: onboarding

#7520 Add new job for JSON change notifications via Slack and email
  .github/workflows/new-environment.yml
  scripts/json-changes-notifier.py
Labels: github-workflow

#7523 Add condition to email notification step
  .github/workflows/new-environment.yml
Labels: github-workflow

#7532 Minor changes to mention not using codeowners when creating environments
  source/user-guide/creating-environments.html.md.erb
Labels: documentation

#7529 New Documentation for abac
  source/concepts/environments/abac-resource-restrictions.html.md.erb
Labels: documentation

#7549 Refresh content of user documents pages
  source/runbooks/duty-rota.html.md.erb
  source/team/ways-of-working.html.md.erb
Labels: documentation

#7550 Updated document review dates
  source/runbooks/duty-rota.html.md.erb
  source/team/ways-of-working.html.md.erb
Labels: documentation

#7553 Updates to operational processes documentation
  source/team/operational-processes.html.md.erb
  source/team/ways-of-working.html.md.erb
  source/user-guide/our-offer-to-you.html.md.erb
Labels: documentation

#7561 Update creating-environments.html.md.erb
  source/user-guide/creating-environments.html.md.erb
Labels: documentation

#7563 Page on dedicated roles
  source/user-guide/creating-environments.html.md.erb
  source/user-guide/platform-user-roles.html.md.erb
Labels: documentation

#7564 oasys migration user
  environments/oasys.json
Labels: onboarding

#7565 Change hmpps-delius-mis team to fleet-manager role
  environments/delius-mis.json
Labels: onboarding

#7566 fix broken internal document links
  source/concepts/sdlc/sandbox-testing-environments.html.md.erb
  source/index.html.md.erb
  source/runbooks/adding-collaborators.html.md.erb
Labels: documentation

#7567 New accounts for cica tariff
  environments/cica-tariff.json
Labels: onboarding

#7572 cica-tariff networking
  environments-networks/cica-preproduction.json
  environments-networks/cica-production.json
  environments-networks/cica-test.json
  policies/networking/expected.rego
Labels: onboarding, testing

#7573 Remove slack notification step from environment_json_changes job
  .github/workflows/new-environment.yml
Labels: github-workflow

#7577 Promoted AP Engineers to Data Engineers
  environments/analytical-platform-compute.json
Labels: onboarding

#7576 Update delius-iaps CODEOWNERS for consistency
  environments/delius-iaps.json
Labels: onboarding

#7583 ♻️ Pin observability_platform_tenant version to commit hash
  terraform/environments/core-network-services/observability.tf
Labels: core, networking

#7584 added link to issues page to adding-collaborators docs page
  source/runbooks/adding-collaborators.html.md.erb
Labels: documentation

#7585 Include steps to follow before adding new collaborators
  source/runbooks/adding-collaborators.html.md.erb
  source/user-guide/working-as-a-collaborator.html.md.erb
Labels: documentation

#7586 Update document on platform users
  source/index.html.md.erb
  source/runbooks/adding-a-new-sso-user-role.html.md.erb
  source/user-guide/platform-user-roles.html.md.erb
Labels: documentation

#7593 Some small doc updates
  source/runbooks/creating-vpcs.html.md.erb
  source/user-guide/security-testing-and-ithc.html.md.erb
Labels: documentation

#7594 Update the modernisation platform vision
  source/team/vision.html.md.erb
Labels: documentation

#7598 Core shared services production runbook
  source/runbooks/core-shared-services-production.html.md.erb
Labels: documentation

#7602 fix formatting issues
  source/runbooks/core-shared-services-production.html.md.erb
Labels: documentation
