Repository ministryofjustice/modernisation-platform, pull requests merged in 2025-05, with the labels that each got.

#9900 Rename pttp attachment again
  terraform/environments/core-network-services/locals.tf
  terraform/environments/core-network-services/moved-rename-pttp-attachment.tf
  terraform/environments/core-network-services/transit_gateway_connections.tf
Labels: core, networking

#9907 Switch New-Memeber-Environmnet-Files to signed commit
  .github/workflows/new-member-environment-files.yml
Labels: github-workflow

#9919 Fixes issue with env vars not accessible to the python script.
  .github/workflows/confirm-contacts-for-environments.yml
Labels: github-workflow

#9898 Adds missing resources entry for malformed policy statement.
  terraform/environments/core-network-services/secrets.tf
Labels: core, networking

#9925 Grant delius-pdm-uplift-scripts repo access
  environments/delius-core.json
Labels: onboarding

#9927 Revert "Switch New-Memeber-Environmnet-Files to signed commit"
  .github/workflows/new-member-environment-files.yml
Labels: github-workflow

#9928 Update dummy-account.json
  environments/dummy-account.json
Labels: onboarding

#9932 Create Dummy Account for testing - Step 2
  environments-networks/platforms-development.json
  policies/networking/expected.rego
Labels: onboarding, testing

#9896 YJB Juniper vSRX VPN to MP TGW
  terraform/environments/core-network-services/vpn_attachments.json
Labels: core, networking

#9941 Minor updates to the xsoar key section.
  source/runbooks/rotating-secrets.html.md.erb
Labels: documentation

#9942 Ensure all branches are checked by adding pagination to branch listing
  .github/workflows/prune-stale-branches.yml
Labels: github-workflow

#9944 Doc Review
  source/runbooks/changing-environment-details.html.md.erb
  source/runbooks/reviewing-mp-environments-prs.html.md.erb
Labels: documentation

#9947 Added aws_ec2_transit_gateway_route_table_propagation for yjb
  terraform/environments/core-network-services/locals.tf
  terraform/environments/core-network-services/vpn.tf
Labels: core, networking

#9950 Deploy Lambda function for monitoing IP usage
  terraform/environments/core-logging/ip_utilisation.tf
  terraform/environments/core-logging/lambda/ip_utilisation/ip_usage_metrics.py
Labels: core

#9968 Update IP Monitoring Lambda config
  terraform/environments/core-logging/ip_utilisation.tf
  terraform/environments/core-logging/lambda/ip_utilisation/ip_usage_metrics.py
Labels: core

#9973 removing dummy-account-development
  environments-networks/platforms-development.json
  environments/dummy-account.json
  environments/dummy-account.tmp
  policies/environments/expected.rego
  policies/networking/expected.rego
  terraform/environments/dummy-account/backend.tf
  terraform/environments/dummy-account/base_variables.tf
  terraform/environments/dummy-account/data.tf
  terraform/environments/dummy-account/locals.tf
  terraform/environments/dummy-account/networking.auto.tfvars.json
  terraform/environments/dummy-account/providers.tf
  terraform/environments/dummy-account/secrets.tf
  terraform/environments/dummy-account/subnet_share.tf
  terraform/environments/dummy-account/versions.tf
Labels: onboarding, testing

#9969 Updates baselines to 7.13.5 and removes entry of cooker-test.
  environments-networks/house-sandbox.json
  terraform/environments/bootstrap/secure-baselines/main.tf
Labels: onboarding

#9980 Adding quicksite to yjaf
  environments/youth-justice-app-framework.json
Labels: onboarding

#9983 add daily trigger to ip usage lambda
  terraform/environments/core-logging/ip_utilisation.tf
Labels: core

#9990 Pager duty update
  source/user-guide/how-to-update-pagerduty-status-page.html.md.erb
Labels: documentation

#9994 New accounts for LAA Portal 1.5
  environments/dummy-account.tmp
  environments/laa-portal-tactical.json
  policies/environments/expected.rego
Labels: onboarding, testing

#9979 Testing latest version of terraform-static-analysis from MP-Github-Actions
  .github/workflows/terraform-static-analysis.yml
  architecture-decision-record/0022-patching-strategy.md
  source/user-guide/deploying-your-infrastructure.html.md.erb
Labels: github-workflow, documentation

#10004 Issue/9792
  source/user-guide/getting-aws-credentials.html.md.erb
Labels: documentation

#10007 Update how-to-update-pagerduty-status-page.html.md.erb
  source/user-guide/how-to-update-pagerduty-status-page.html.md.erb
Labels: documentation

#9974 Add IKE versions input and specify ike2 for yjb vpn tunnels
  terraform/environments/core-network-services/locals.tf
  terraform/environments/core-network-services/vpn.tf
  terraform/environments/core-network-services/vpn_attachments.json
Labels: core, networking

#10008 Add cloudwatch metric alarm to monitor ip usage metrics
  terraform/environments/core-logging/ip_utilisation.tf
Labels: core

#10009 Remove chatbot config
  terraform/environments/core-logging/ip_utilisation.tf
Labels: core

#10012 Add IP usage alerts SNS topic to chatbot config
  terraform/environments/core-logging/cortex_alarms.tf
Labels: core

#10014 Update ip usage alarm
  terraform/environments/core-logging/ip_utilisation.tf
Labels: core

#10018 Changed dates
  source/user-guide/cost-metrics.html.md.erb
  source/user-guide/creating-automated-terraform-documentation.html.md.erb
  source/user-guide/our-offer-to-you.html.md.erb
Labels: documentation

#10016 Feature/static routes only yjaf
  terraform/environments/core-network-services/locals.tf
  terraform/environments/core-network-services/vpn.tf
  terraform/environments/core-network-services/vpn_attachments.json
Labels: core, networking

#9996 Fixes the workflow.
  .github/workflows/ncsc-recovery-test-issue.yml
Labels: github-workflow

#10019 🛂 Give Analytical Platform Engineers Entra ID group access
  environments/analytical-platform-common.json
  environments/analytical-platform-compute.json
  environments/analytical-platform-data-engineering.json
  environments/analytical-platform-data.json
  environments/analytical-platform-ingestion.json
  environments/analytical-platform-landing.json
  environments/analytical-platform-management.json
  environments/analytical-platform.json
Labels: onboarding

#10025 Flip static route cidrs for YJAF VPN
  terraform/environments/core-network-services/locals.tf
Labels: core, networking

#10028 Add crowdstrike component to ccms-ebs and laa-portal-tactical accounts
  environments/ccms-ebs.json
  environments/laa-portal-tactical.json
Labels: onboarding

#10039 Docs/14 05 25
  source/concepts/environments/single-sign-on.html.md.erb
  source/runbooks/security-monitoring.html.md.erb
Labels: documentation

#10038 Provide tactical portal prod sandbox access
  environments/laa-portal-tactical.json
Labels: onboarding

#10040 Updated security incident reporting instructions
  source/runbooks/manage-an-incident.html.md.erb
Labels: documentation

#10044 Updates ip utilisation lambda function to publish results directly to Slack
  terraform/environments/core-logging/ip_utilisation.tf
  terraform/environments/core-logging/lambda/ip_utilisation/ip_usage_metrics.py
Labels: core

#10046 fix formatting issue
  source/runbooks/manage-an-incident.html.md.erb
Labels: documentation

#10048 Add `SSO Plan` Step for Modified JSON Files Only (Pre-review Before Apply)
  .github/workflows/new-environment.yml
  terraform/modernisation-platform-account/iam.tf
Labels: github-workflow

#10049 Implement CloudWatch Anomaly Detection for VPC Flow Logs (Pilot)
  terraform/environments/core-vpc/locals.tf
  terraform/environments/core-vpc/monitoring.tf
Labels: core, networking

#10051 fix for api error validation
  terraform/environments/core-vpc/monitoring.tf
Labels: core, networking

#10054 Update runbook.html.md.erb
  source/runbooks/runbook.html.md.erb
Labels: documentation

#10059 Add VPC peering acceptor for LAA tactical portal
  terraform/environments/core-vpc/locals.tf
  terraform/environments/core-vpc/vpc-peering.tf
Labels: core, networking

#10058 Pin Checkov
  .github/workflows/terraform-static-analysis.yml
Labels: github-workflow

#10066 LAA `portal-tactical` return routes via VPC Peering
  terraform/environments/core-vpc/vpc-peering.tf
Labels: core, networking

#10072 Update route53-laa.tf
  terraform/environments/core-vpc/route53-laa.tf
Labels: core, networking

#10075 New Port sets
  terraform/environments/core-network-services/firewall-rules/sets.json
Labels: core, networking

#10074 Disable S3 ACLs to Support Cross-Account Uploads
  terraform/environments/core-shared-services/s3.tf
Labels: core

#10077 Update format-code.yml
  .github/workflows/format-code.yml
Labels: github-workflow

#10078 Remove peering configuration for portal tactical
  terraform/environments/core-vpc/route53-laa.tf
  terraform/environments/core-vpc/vpc-peering.tf
Labels: core, networking

#10080 OEM firewall rules
  terraform/environments/core-network-services/firewall-rules/development_rules.json
  terraform/environments/core-network-services/firewall-rules/sets.json
Labels: core, networking

#10083 Grant `laa-sre-admins` group to access all `maat` accounts
  environments/maat.json
Labels: onboarding

#10085 Add crime apps team to MAAT.
  environments/maat.json
Labels: onboarding

#10082 sns topic and pagerduty service
  terraform/environments/core-vpc/monitoring.tf
Labels: core, networking

#10086 Add crime apps team to MAAT DB in dev
  environments/maatdb.json
Labels: onboarding

#10092 New accounts for maatdb
  environments/maatdb.json
Labels: onboarding

#10089 Create new account for LAA-CCMS-SOA - Step 1
  environments/laa-ccms-soa.json
  policies/environments/expected.rego
Labels: onboarding, testing

#10099 Adds access for the laa_maat_migrations github group
  environments/maatdb.json
Labels: onboarding

#10103 Updates codeowners
  environments/maatdb.json
Labels: onboarding

#10104 Update formatting to display better in the docs
  source/runbooks/integration-with-protective-monitoring.html.md.erb
Labels: documentation

#10106 New Account laa-cwa step1
  environments/laa-cwa.json
  policies/environments/expected.rego
Labels: onboarding, testing

#10114 update doc to include purpose of secrets
  source/runbooks/rotating-secrets.html.md.erb
Labels: documentation

#10116 Update planetfm.json
  environments/planetfm.json
Labels: onboarding

#10118 Adds the production route53 domain for the maat application.
  terraform/environments/core-network-services/route53.tf
Labels: core, networking

#10121 Trigger Workflow
  environments/maatdb.json
Labels: onboarding

#10123 🧪 Testing new version of signed-commit
  .github/workflows/format-code.yml
Labels: github-workflow

#10125 feat: add soa ecr repos
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#10120 Reviewing docs that are due a review
  source/concepts/environments/backups.html.md.erb
  source/runbooks/adding-a-new-team-member.html.md.erb
  source/runbooks/removing-a-team-member.html.md.erb
  source/user-guide/how-to-use-shared-kms-keys.html.md.erb
Labels: documentation

#10127 Standardised CloudWatch metric filter/alarms to use VPCFlowLogs namespace
  terraform/environments/core-vpc/monitoring.tf
Labels: core, networking

#10129 Fix ECR repository policy errors for soa-admin and soa-managed
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#10130 Remove oidc-cicd role from ecr_repo
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#10133 Update github_action_reviewer for MAATDB
  environments/maatdb.json
Labels: onboarding

#10134 Update MAAT permissions github reviewer
  environments/maat.json
Labels: onboarding

#10136 adding alarm trigger for my logs
  terraform/environments/core-vpc/monitoring.tf
Labels: core, networking

#10143 Firewall Rules for YJAF Preprod
  terraform/environments/core-network-services/cidr-ranges.tf
  terraform/environments/core-network-services/firewall-rules/preproduction_rules.json
  terraform/environments/core-network-services/firewall-rules/sets.json
Labels: core, networking

#10146 update user guides flagged by Daniel the spaniel
  source/runbooks/cloudwatch-networking-alarms.html.md.erb
  source/runbooks/how-vpcs-access-the-internet.html.md.erb
  source/runbooks/rotating-secrets.html.md.erb
  source/runbooks/terraform.html.md.erb
Labels: documentation

#10147 Update cidr-allocation.md
  cidr-allocation.md
Labels: networking

#10128 Laa firewall rules for test
  terraform/environments/core-network-services/firewall-rules/test_rules.json
Labels: core, networking

#10148 Update on call email temporarily
  source/team/operational-processes.html.md.erb
Labels: documentation

#10153 Update terraform-static-analysis.yml
  .github/workflows/terraform-static-analysis.yml
Labels: github-workflow

#10159 New Account ccms-edrms step 2
  environments-networks/laa-development.json
  environments-networks/laa-preproduction.json
  environments-networks/laa-production.json
  environments-networks/laa-test.json
  policies/networking/expected.rego
Labels: onboarding, testing

#10169 Update laa-ccms-soa.json
  environments/laa-ccms-soa.json
Labels: onboarding

#10174 Update sso team
  environments/property-cafm-data-migration.json
Labels: onboarding

#10181 CC-3621: Create VPN for NEC
  terraform/environments/core-network-services/vpn_attachments.json
Labels: core, networking

#10187 Use modernisation platform account ID for role assumption
  .github/workflows/monitor-ecs-eks-amis.yml
Labels: github-workflow

#10188 User guide reviews
  source/runbooks/adding-admin-data-lake-formation-permissions.html.md.erb
  source/team/roadmap.html.md.erb
Labels: documentation

#10178 Trigger GitHub workflow for SOA
  environments/laa-ccms-soa.json
Labels: onboarding
