Repository ministryofjustice/modernisation-platform, pull requests merged in 2025-03, with the labels that each got.

#9428 Enables sandbox access to ccms-ebs-upgrade-test
  environments/ccms-ebs-upgrade.json
Labels: onboarding

#9432 Add optional task on reviewing hard coded account IDs
  source/runbooks/duty-rota.html.md.erb
Labels: documentation

#9436 Delete cooker environments 1741008571
  environments/cooker.json
  policies/networking/expected.rego
Labels: onboarding, testing

#9442 format-code workflow to use new signed commits action.
  .github/workflows/format-code.yml
Labels: github-workflow

#9445 Issue/8757 - Fixed to v1.1.0
  .github/workflows/format-code.yml
Labels: github-workflow

#9447 Docs Update
  source/user-guide/cloud-platform-or-modernisation-platform.html.md.erb
Labels: documentation

#9433 CC-3225: Added component for anonymisation
  environments/ccms-ebs-upgrade.json
Labels: onboarding

#9443 Update Dependabot Generate File Workflow to Use Reusable Signed Commit Action
  .github/workflows/generate-dependabot-file.yml
Labels: github-workflow

#9453 Resize core-security VPCs to release IP address space
  cidr-allocation.md
  terraform/environments/core-security/vpc.tf
Labels: security, core, networking

#9452 Create `Bacway` account
  environments/bacway.json
  policies/environments/expected.rego
Labels: onboarding, testing

#9456 Fix incorrect references for additional private zones
  environments-networks/yjb-preproduction.json
  environments-networks/yjb-production.json
Labels: onboarding

#9459 `Bacway` account networking
  environments-networks/laa-development.json
  environments-networks/laa-preproduction.json
  environments-networks/laa-production.json
  policies/networking/expected.rego
Labels: onboarding, testing

#9460 Reverts 9263
  terraform/environments/core-shared-services/s3_malware_protection.tf
Labels: core

#9463 Update CIDR block allocations for youth-justice-networking
  cidr-allocation.md
Labels: networking

#9481 Fix formatting of style guide
  source/team/terraform-style-guide.html.md.erb
Labels: documentation

#9485 Adds guide to explain r53 resolver dns firewall configuration applied to MP VPCs
  source/concepts/networking/r53-resolver-dns-firewall.html.md.erb
  source/index.html.md.erb
Labels: documentation

#9491 Added component for sandbox
  environments/ccms-ebs-upgrade.json
Labels: onboarding

#9492 🛂 CICA Tariff add NATted RAS range
  terraform/environments/core-network-services/cidr-ranges.tf
  terraform/environments/core-network-services/firewall-rules/development_rules.json
  terraform/environments/core-network-services/firewall-rules/sets.json
Labels: core, networking

#9500 Issue/8757
  .github/workflows/new-environment-files.yml
  .github/workflows/new-member-environment-files.yml
  source/runbooks/useful-scripts.html.md.erb
Labels: github-workflow, documentation

#9483 Phase two
  terraform/environments/analytical-platform/providers.tf
  terraform/environments/ccms-ebs-upgrade/providers.tf
  terraform/environments/ccms-ebs/providers.tf
  terraform/environments/cdpt-chaps/providers.tf
  terraform/environments/cdpt-ifs/providers.tf
  terraform/environments/cica-copilot/providers.tf
  terraform/environments/cica-data-extraction/providers.tf
  terraform/environments/cica-tariff/providers.tf
  terraform/environments/contract-work-administration/providers.tf
  terraform/environments/cooker/providers.tf
  terraform/environments/corporate-information-system/providers.tf
  terraform/environments/dacp/providers.tf
  terraform/environments/data-platform-apps-and-tools/providers.tf
  terraform/environments/data-platform/providers.tf
  terraform/environments/delius-alfresco/providers.tf
  terraform/environments/delius-core/providers.tf
  terraform/environments/delius-iaps/providers.tf
  terraform/environments/delius-jitbit/providers.tf
  terraform/environments/delius-mis/providers.tf
  terraform/environments/digital-prison-reporting/providers.tf
  terraform/environments/edw/providers.tf
  terraform/environments/electronic-monitoring-data/providers.tf
  terraform/environments/equip/providers.tf
  terraform/environments/eric/providers.tf
  terraform/environments/genesys-call-centre-data/providers.tf
  terraform/environments/hmpps-domain-services/providers.tf
  terraform/environments/hmpps-oem/providers.tf
  terraform/environments/laa-ccms-infra-azure-ad-sso/providers.tf
  terraform/environments/laa-mail-relay/providers.tf
  terraform/environments/laa-oem/providers.tf
  terraform/environments/laa-stabilisation-cdc-poc/providers.tf
  terraform/environments/long-term-storage/providers.tf
  terraform/environments/maat/providers.tf
  terraform/environments/maatdb/providers.tf
Labels: onboarding, security, github-workflow, core, documentation, networking

#9487 set up s3 malware protection
  terraform/environments/core-shared-services/iam.tf
  terraform/environments/core-shared-services/s3_malware_protection.tf
Labels: core

#9509 Set up guardduty malware protection alerting
  .trivyignore.yaml
  terraform/environments/core-shared-services/s3_malware_protection.tf
Labels: core

#9516 update how the alerting is done
  .trivyignore.yaml
  terraform/environments/core-shared-services/s3_malware_protection.tf
Labels: core

#9519 Prevent GitHub Terraform from running during periods of degraded GitHub status
  .github/workflows/terraform-github.yml
Labels: github-workflow

#9523 updated runbook for collaborator access to repositories
  source/runbooks/adding-collaborators.html.md.erb
Labels: documentation

#9525 🛂 Add rules for CICA Dev. Remove CICA on-prem
  terraform/environments/core-network-services/firewall-rules/development_rules.json
  terraform/environments/core-network-services/firewall-rules/sets.json
Labels: core, networking

#9535 Updates the doc to reference new role created for enabling s3 malware protection
  source/runbooks/enabling-s3-malware-protection.html.md.erb
Labels: documentation

#9537 Move nuke action key
  environments/analytical-platform-compute.json
  environments/analytical-platform-ingestion.json
  environments/ccms-ebs-upgrade.json
  environments/ccms-ebs.json
  environments/cica-copilot.json
  environments/cica-data-extraction.json
  environments/contract-work-administration.json
  environments/cooker.json
  environments/corporate-information-system.json
  environments/corporate-staff-rostering.json
  environments/data-platform-apps-and-tools.json
  environments/data-platform.json
  environments/delius-alfresco.json
  environments/delius-core.json
  environments/delius-iaps.json
  environments/delius-mis.json
  environments/digital-prison-reporting.json
  environments/electronic-monitoring-data.json
  environments/example.json
  environments/laa-ccms-infra-azure-ad-sso.json
  environments/laa-mail-relay.json
  environments/laa-oem.json
  environments/laa-stabilisation-cdc-poc.json
  environments/maat.json
  environments/nomis-combined-reporting.json
  environments/oasys-national-reporting.json
  environments/oasys.json
  environments/operations-engineering.json
  environments/panda-cyber-appsec-lab.json
  environments/performance-hub.json
  environments/planetfm.json
  environments/portal.json
  environments/sprinkler.json
  environments/tipstaff.json
  terraform/environments/environments.tf
Labels: onboarding

#9540 added accidentally deleted key to zaizi devs
  environments/delius-core.json
Labels: onboarding

#9528 MP user guide - adding example for configuring AWS credentials in GHA
  source/user-guide/deploying-your-application.html.md.erb
Labels: documentation

#9546 Expand GlobalProtect CIDR range
  terraform/environments/core-network-services/cidr-ranges.tf
Labels: core, networking

#9547 User Guide & runbook review.
  source/runbooks/dos-attack.html.md.erb
  source/runbooks/migrating-an-account-into-the-modernisation-platform.html.md.erb
  source/runbooks/modifying-scps.html.md.erb
  source/runbooks/using-athena.html.md.erb
  source/user-guide/how-to-setup-code-scanning-locally.html.md.erb
Labels: documentation

#9550 Restrict Terraform Apply to Main for Preprod and Prod Environments
  .github/workflows/terraform-member-environment.yml
Labels: github-workflow

#9551 TM-946: add secrets and SG in prep for HMPP domain file share
  terraform/environments/core-shared-services/ad-fixngo.tf
Labels: core

#9554 Docs access-key-management.html.md.erb
  source/user-guide/access-key-management.html.md.erb
Labels: documentation

#9553 TM-946: add fileshare for devtest azure AD
  terraform/environments/core-shared-services/ad-fixngo.tf
Labels: core

#9541 Fetch secrets from aws-secrets-manager
  .github/workflows/new-environment.yml
Labels: github-workflow

#9560 Default tags for core sandbox
  terraform/environments/core-sandbox/providers.tf
Labels: core

#9562 Adding default tags core security
  terraform/environments/core-security/providers.tf
Labels: security, core

#9565 TM-946: add fileshare for preprod-prod hmpp AD
  terraform/environments/core-shared-services/ad-fixngo.tf
Labels: core

#9569 TM-946: azure.hmpp.root fsx fix
  terraform/environments/core-shared-services/ad-fixngo.tf
Labels: core

#9572 resolve script errors and Bump secrets action to latest
  .github/workflows/new-environment.yml
  scripts/json-changes-notifier.py
Labels: github-workflow

#9574 Docs/18-03-25-updates
  source/runbooks/manage-an-incident.html.md.erb
  source/runbooks/recreate-core-logging-production-account.html.md.erb
Labels: documentation

#9558 core network services tags
  terraform/environments/core-network-services/providers.tf
Labels: core, networking

#9568 Adding tags to core vpc environment
  terraform/environments/core-vpc/providers.tf
Labels: core, networking

#9575 TM-946: ad-fixngo terraform warning fix
  terraform/environments/core-shared-services/ad-fixngo.tf
Labels: core

#9517 Core logging default tags
  terraform/environments/core-logging/athena.tf
  terraform/environments/core-logging/cortex_alarms.tf
  terraform/environments/core-logging/providers.tf
  terraform/environments/core-logging/r53_logs.tf
  terraform/environments/core-logging/s3_logging.tf
Labels: core

#9585 🔧 add components to Analytical Platform Compute
  environments/analytical-platform-compute.json
Labels: onboarding

#9588 Bug fix for use of signed-commits.
  .github/workflows/new-member-environment-files.yml
Labels: github-workflow

#9587 documentation on how to add default tags to environments
  source/index.html.md.erb
  source/user-guide/how-to-add-default-tags.html.md.erb
Labels: documentation

#9586 Open firewall from analytical-platform-ingestion-development to Tariff UAT instance
  terraform/environments/core-network-services/cidr-ranges.tf
  terraform/environments/core-network-services/firewall-rules/development_rules.json
Labels: core, networking

#9592 Document review
  source/runbooks/recreate-core-shared-services-production.html.md.erb
  source/runbooks/recreate-modernisation-platform-account.html.md.erb
Labels: documentation

#9599 Remove sandbox access from hosting migrations applications
  environments/corporate-staff-rostering.json
  environments/delius-iaps.json
  environments/nomis-data-hub.json
  environments/oasys.json
  environments/planetfm.json
Labels: onboarding

#9600 Remove Central Digital sandbox access for migrated applications
  environments/dacp.json
  environments/ncas.json
  environments/pra-register.json
  environments/tipstaff.json
  environments/wardship.json
Labels: onboarding

#9606 Add missing YJAF accounts to environment-networks json files
  environments-networks/yjb-preproduction.json
  environments-networks/yjb-production.json
Labels: onboarding

#9612 :wrench: Create `transfer-family` component in `analytical-platform-ingestion`
  environments/analytical-platform-ingestion.json
Labels: onboarding

#9616 🏷️ Remove CNI tag from DPAT environment
  environments/data-platform-apps-and-tools.json
Labels: onboarding

#9621 Issue/8682 - Adds ecr repo to host AWS SigV4 Proxy image.
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#9623 Remove CNI tag from Data Platform App
  environments/data-platform.json
Labels: onboarding

#9632 Optimize pipeline by removing redundant `plan` step
  .github/workflows/new-environment.yml
Labels: github-workflow

#9633 Circle ci permissions
  .github/workflows/terraform-member-environment.yml
  terraform/environments/youth-justice-app-framework/iam.tf
  terraform/environments/youth-justice-app-framework/providers.tf
Labels: github-workflow

#9652 COAT Environment Step 1
  environments/coat.json
  policies/environments/expected.rego
Labels: onboarding, testing
