Repository ministryofjustice/modernisation-platform, pull requests merged in 2025-06, with the labels that each got.

#10210 Adjust Anomaly Detection Band to 3 in CloudWatch Alarms
  terraform/environments/core-vpc/monitoring.tf
Labels: core, networking

#10209 remove overly permissive rules
  terraform/environments/core-network-services/firewall-rules/development_rules.json
  terraform/environments/core-network-services/firewall-rules/test_rules.json
Labels: core, networking

#10212 CC-3639: Create ECR repo for CCMS EDRMS to host docker image
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#10184 PreProd firewall rules
  terraform/environments/core-network-services/firewall-rules/preproduction_rules.json
Labels: core, networking

#10223 Adjusted evaluation periods for the 3 alarms
  terraform/environments/core-vpc/monitoring.tf
Labels: core, networking

#10231 Software Bucket Object Ownership
  terraform/environments/core-shared-services/s3.tf
Labels: core, on-hold, draft

#10242 Shared bucket for laa use.
  terraform/environments/core-shared-services/s3-laa-shared.tf
Labels: core

#10244 Removing SNS Integration Code for VPC Flow Logs Alarms
  terraform/environments/core-vpc/monitoring.tf
Labels: core, networking

#10251 Sandbox access for hmpps-dba role in delius-core env.
  environments/delius-core.json
Labels: onboarding

#10250 Adds outgoing port 22 from laa public subnets.
  terraform/environments/core-network-services/cidr-ranges.tf
  terraform/environments/core-network-services/firewall-rules/preproduction_rules.json
Labels: core, networking

#10253 feat: add inbound nacl rules, cp to mp-laa-ccms-soa
  terraform/environments/core-network-services/firewall-rules/development_rules.json
  terraform/environments/core-network-services/firewall-rules/preproduction_rules.json
  terraform/environments/core-network-services/firewall-rules/production_rules.json
  terraform/environments/core-network-services/firewall-rules/sets.json
  terraform/environments/core-network-services/firewall-rules/test_rules.json
Labels: core, networking

#10254 Add cluster and network components to Analytical Platform Compute
  environments/analytical-platform-compute.json
Labels: onboarding

#10258 Add dashboard_service component to Analytical Platform Compute
  environments/analytical-platform-compute.json
Labels: onboarding

#10257 added reverse lookup rules
  terraform/environments/core-network-services/firewall-rules/preproduction_rules.json
Labels: core, networking

#10263 CC-3621a: Added Prod NEC VPN
  terraform/environments/core-network-services/vpn_attachments.json
Labels: core, networking

#10264 fix preprod changes
  terraform/environments/core-network-services/firewall-rules/preproduction_rules.json
Labels: core, networking

#10265 🐶 daniel the spaniel reviews
  source/concepts/networking/dns.html.md.erb
  source/runbooks/enabling-shield-advanced.html.md.erb
  source/team/operational-processes.html.md.erb
  source/user-guide/how-to-configure-dns.html.md.erb
Labels: documentation

#10269 Add secret to store Slack channel webhook URLs for Security Hub notifications
  environments/core-logging.json
  environments/core-network-services.json
  environments/core-sandbox.json
  environments/core-security.json
  environments/core-shared-services.json
  environments/core-vpc.json
  terraform/modernisation-platform-account/secrets.tf
Labels: onboarding

#10270 Updates preprod rules.
  terraform/environments/core-network-services/firewall-rules/preproduction_rules.json
Labels: core, networking

#10275 Add Slack Notification Workflow for SecurityHub Severity Summaries
  .github/workflows/securityhub-findings-notification.yml
  scripts/extract-securityhub-severity-summary.sh
Labels: github-workflow

#10273 Amends laa sets and adds private-general rules for ftp outbound.
  terraform/environments/core-network-services/cidr-ranges.tf
  terraform/environments/core-network-services/firewall-rules/development_rules.json
  terraform/environments/core-network-services/firewall-rules/inline_rules.json
  terraform/environments/core-network-services/firewall-rules/preproduction_rules.json
Labels: core, networking

#10290 Reverts recent change that removed the open rule from laa lz test to …
  terraform/environments/core-network-services/firewall-rules/test_rules.json
Labels: core, networking

#10292 Changes ALERT to PASS.
  terraform/environments/core-network-services/firewall-rules/test_rules.json
Labels: core, networking

#10293 revert dev any rule for laa
  terraform/environments/core-network-services/firewall-rules/development_rules.json
Labels: core, networking

#10295 Update xsiam logging docs and secret rotation runbook
  source/runbooks/integration-with-protective-monitoring.html.md.erb
  source/runbooks/rotating-secrets.html.md.erb
Labels: documentation

#10297 Revert "Update vSRX02 cgw IP for testing"
  terraform/environments/core-network-services/vpn_attachments.json
Labels: core, networking

#10321 remove production ICMP rule
  terraform/environments/core-network-services/firewall-rules/production_rules.json
Labels: core, networking

#10325 Upload records to core-security bucket and grant security team read-only access
  environments/core-security.json
  scripts/internal/export-route53-records.sh
  terraform/environments/core-security/s3.tf
Labels: onboarding, security, core

#10329 Docs/17 06 2025
  source/concepts/environments/architecture.html.md.erb
  source/team/team.html.md.erb
Labels: documentation

#10328 Trigger Account Creation Process
  environments/dummy1.json
  policies/environments/expected.rego
Labels: onboarding, testing

#10334 update new-member-environmnets-files workflow to use signed commits
  .github/workflows/new-member-environment-files.yml
Labels: github-workflow

#10338 New Member Environment Files Script Fix
  .github/workflows/new-member-environment-files.yml
Labels: github-workflow

#10233 soa port firewall change
  terraform/environments/core-network-services/firewall-rules/sets.json
Labels: core, networking

#10465 Update dummy1.json
  environments/dummy1.json
Labels: onboarding

#10333 Populate AWS Nuke Secrets in AWS
  .github/workflows/new-environment.yml
  terraform/modernisation-platform-account/secrets.tf
Labels: github-workflow

#10466 Test Updated version of signed commit
  .github/workflows/new-member-environment-files.yml
Labels: github-workflow

#10467 fix for kms error
  terraform/environments/core-logging/s3_logging.tf
Labels: core

#10348 Add DNS records for legalservices hostedzone
  terraform/environments/core-network-services/route53.tf
Labels: core, networking

#10472 Test Updated version of signed commit
  .github/workflows/new-member-environment-files.yml
Labels: github-workflow

#10474 fix for kms key error
  terraform/environments/core-logging/s3_logging.tf
  terraform/environments/core-logging/sqs.tf
Labels: core

#10480 Docs 200625
  source/concepts/sdlc/patching.html.md.erb
  source/concepts/sdlc/testing-strategy.html.md.erb
  source/runbooks/joining-the-team.html.md.erb
  source/user-guide/automated-patching.html.md.erb
Labels: documentation

#10482 Adds tcp 587 outbound for SES public endpoint access from MAATDB RDS.
  terraform/environments/core-network-services/cidr-ranges.tf
  terraform/environments/core-network-services/firewall-rules/development_rules.json
Labels: core, networking

#10485 Reverting Changes
  .github/workflows/new-member-environment-files.yml
Labels: github-workflow

#10486 Update dummy1.json
  environments/dummy1.json
Labels: onboarding

#10487 Fix to correct name
  terraform/environments/core-network-services/route53.tf
Labels: core, networking

#10491 Update dummy1.json
  environments/dummy1.json
Labels: onboarding

#10499 Test Updated version of signed commit
  .github/workflows/new-member-environment-files.yml
Labels: github-workflow

#10502 Add AWS Config logs to XSIAM documentation
  source/runbooks/integration-with-protective-monitoring.html.md.erb
Labels: documentation

#10507 Update dummy1.json
  environments/dummy1.json
Labels: onboarding

#10510 Update dummy1.json
  environments/dummy1.json
Labels: onboarding

#10512 Update dummy1.json
  environments/dummy1.json
Labels: onboarding

#10515 Adds a production env for property-cafm data migration
  environments/property-cafm-data-migration.json
Labels: onboarding

#10517 Minor updates to docs
  source/team/operational-processes.html.md.erb
  source/user-guide/creating-resources.html.md.erb
  source/user-guide/integrating-alarms-with-pagerduty-with-slack.html.md.erb
Labels: documentation

#10519 Adds firewall rules for SES SMTP (tcp 587) access from laa general data subnets test, preprod and prod.
  terraform/environments/core-network-services/cidr-ranges.tf
  terraform/environments/core-network-services/firewall-rules/development_rules.json
  terraform/environments/core-network-services/firewall-rules/preproduction_rules.json
  terraform/environments/core-network-services/firewall-rules/production_rules.json
  terraform/environments/core-network-services/firewall-rules/sets.json
  terraform/environments/core-network-services/firewall-rules/test_rules.json
Labels: core, networking

#10530 TM-1367 IAPS access to ACP team
  environments/delius-iaps.json
Labels: onboarding

#10521 Revert "Update vpn_attachments.json for yjaf migration"
  terraform/environments/core-network-services/vpn_attachments.json
Labels: core, networking

#10534 Update dummy1.json
  environments/dummy1.json
Labels: onboarding

#10535 Update JSON change notifications to reference PR instead of file
  .github/workflows/new-environment.yml
  environments/sprinkler.json
  scripts/json-changes-notifier.py
Labels: onboarding, github-workflow

#10537 Update dummy1.json
  environments/dummy1.json
Labels: onboarding

#10541 Update links to new location of legacy Ops Eng documentation
  source/concepts/networking/dns.html.md.erb
  source/user-guide/certificate-import.html.md.erb
  source/user-guide/how-to-configure-dns.html.md.erb
Labels: documentation

#10545 fix/reference eu-west-1 resource share
  terraform/environments/core-logging/r53_logs.tf
Labels: core

#10554 Adds GetObjectVersion permissions to the laa shared bucket.
  terraform/environments/core-shared-services/s3-laa-shared.tf
Labels: core

#10556 Increase anomaly detection threshold for rejected connections alarm
  terraform/environments/core-vpc/monitoring.tf
Labels: core, networking

#10559 New Account - Delius-Core-Training - Step 2
  environments-networks/hmpps-production.json
  policies/networking/expected.rego
Labels: onboarding, testing
