Repository ministryofjustice/modernisation-platform, pull requests merged in 2025-08, with the labels that each got.

#11190 Daniel Documents updates
  source/runbooks/adding-a-new-sso-user-role.html.md.erb
  source/runbooks/creating-vpcs.html.md.erb
Labels: documentation

#11192 Add firewall rule allowing laa prod to ecp
  terraform/environments/core-network-services/cidr-ranges.tf
  terraform/environments/core-network-services/firewall-rules/production_rules.json
Labels: core, networking

#11193 update new eip rule
  terraform/environments/core-network-services/firewall-rules/production_rules.json
Labels: core, networking

#11196 Update documentation and configuration for collaborator removal
  source/runbooks/adding-collaborators.html.md.erb
Labels: documentation

#11209 Docs Review
  source/runbooks/creating-components-for-member-applications.html.md.erb
Labels: documentation

#11212 Tighten access to ECP
  terraform/environments/core-network-services/cidr-ranges.tf
  terraform/environments/core-network-services/firewall-rules/production_rules.json
  terraform/environments/core-network-services/transit_gateway_connections.tf
Labels: core, networking

#11216 Add access for v1-hub20-developers
  environments/laa-stabilisation-cdc-poc.json
Labels: onboarding

#11206 Restrict CircleCI IAM role to specific CircleCI projects via trust policy
  source/runbooks/revoking-user-access.html.md.erb
  terraform/environments/youth-justice-app-framework/iam.tf
Labels: documentation

#11230 Allow delius-mp test 1521/1522
  terraform/environments/core-network-services/firewall-rules/test_rules.json
Labels: core, networking

#11226 Fix truncation of environment names in Slack notifications for JSON changes
  .github/workflows/new-environment.yml
Labels: github-workflow

#11229 🐶 Daniel Updates - 2025-08-08
  source/runbooks/creating-new-dns-zones.html.md.erb
  source/team/operational-processes.html.md.erb
  source/user-guide/obtaining-deployment-credentials.html.md.erb
Labels: documentation

#11231 Add CIDR range and rule allowing traffic to connection test vpc on 443
  terraform/environments/core-network-services/cidr-ranges.tf
  terraform/environments/core-network-services/firewall-rules/production_rules.json
Labels: core, networking

#11233 Add route to ECP connection test VPC
  terraform/environments/core-network-services/transit_gateway_connections.tf
Labels: core, networking

#11199 remove any rule from production
  terraform/environments/core-network-services/firewall-rules/production_rules.json
Labels: core, networking

#11251 TM-1464: remove duplicate DC rules DSO preprod
  terraform/environments/core-network-services/firewall-rules/preproduction_rules.json
Labels: core, networking

#11253 TM-1464: dso firewall rules improvements v3
  terraform/environments/core-network-services/firewall-rules/preproduction_rules.json
  terraform/environments/core-network-services/firewall-rules/production_rules.json
Labels: core, networking

#11256 TM-1464: dso firewall rules improvements v4
  terraform/environments/core-network-services/firewall-rules/preproduction_rules.json
  terraform/environments/core-network-services/firewall-rules/production_rules.json
  terraform/environments/core-network-services/firewall-rules/sets.json
Labels: core, networking

#11258 TM-1464: dso firewall rules improvements v5
  terraform/environments/core-network-services/firewall-rules/preproduction_rules.json
Labels: core, networking

#11259 TM-1464: dso firewall improvements v6
  terraform/environments/core-network-services/firewall-rules/production_rules.json
Labels: core, networking

#11234 Testing New release of signed-commit
  .github/workflows/format-code.yml
Labels: github-workflow

#11275 Revert "trigger workflow for multiple envs"
  environments/analytical-platform-common.json
  environments/analytical-platform-data-engineering.json
  environments/analytical-platform-data.json
  environments/analytical-platform-landing.json
  environments/analytical-platform-management.json
  environments/analytical-platform.json
Labels: onboarding

#11276 New Environment Request - CICA Development Sandbox - Step 1
  environments/cica-development-sandbox.json
  policies/environments/expected.rego
Labels: onboarding, testing

#11282 New Environment Request - CICA Development Sandbox - Step 1a
  environments/cica-sandbox.json
  policies/environments/expected.rego
Labels: onboarding, testing

#11302 remove oasys-national-reporting-development
  environments-networks/hmpps-development.json
  environments/oasys-national-reporting.json
  policies/networking/expected.rego
Labels: onboarding, testing

#11303 Daniel documentation review 19/08/25
  source/runbooks/backup-restore-process.html.md.erb
  source/runbooks/manage-an-incident.html.md.erb
Labels: documentation

#11310 Bump Secret Action to v3.4.2
  .github/workflows/securityhub-findings-notification.yml
Labels: github-workflow

#11309 HUB-57, adding firewall rule to allow outbound connection through por…
  .github/workflows/labeler.yml
  terraform/environments/core-network-services/firewall-rules/development_rules.json
Labels: networking

#11312 🔧 Update Publish gh-pages Workflow to Use Resuable Secrets Action
  .github/workflows/publish-gh-pages.yml
Labels: github-workflow

#11323 Update format-code.yml
  .github/workflows/format-code.yml
Labels: github-workflow

#11318 Enable legacy to MP https
  terraform/environments/core-network-services/firewall-rules/test_rules.json
Labels: networking

#11325 Added dms additional endpoint
  environments-networks/hmpps-development.json
Labels: onboarding

#11338 GH OIDC role for VPN Maintenance
  terraform/environments/core-network-services/iam.tf
  terraform/environments/core-network-services/locals.tf
  terraform/environments/core-network-services/vpn.tf
  terraform/environments/core-network-services/vpn_attachments.json
Labels: networking, core

#11353 Fix workflow condition syntax
  .github/workflows/scheduled-baseline.yml
Labels: github-workflow

#11355 Added laa-dbas to MAAT DB
  environments/maatdb.json
Labels: onboarding

#11359 Update workflow reference to `scheduled-baseline.yml`
  .github/workflows/scheduled-baseline.yml
Labels: github-workflow

#11360 ⏩ Add Analytical Platform Next component
  environments/analytical-platform-compute.json
Labels: onboarding

#11366 Update VPN OIDC role name to make it unique
  terraform/environments/core-network-services/iam.tf
Labels: networking, core

#11344 New accounts for hub2.0
  environments/laa-enterprise-service-bus.json
Labels: onboarding
