Repository ministryofjustice/modernisation-platform, pull requests merged in 2025-04, with the labels that each got.

#9674 COAT Environment Step 2 - Networking
  environments-networks/platforms-development.json
  environments-networks/platforms-production.json
  policies/networking/expected.rego
Labels: onboarding, testing

#9677 shared hmpp fsx allow azure prod
  terraform/environments/core-shared-services/ad-fixngo.tf
Labels: core

#9678 Update oasys-national-reporting.json
  environments/oasys-national-reporting.json
Labels: onboarding

#9682 Adding central-digital bedrock component for product team
  environments/analytical-platform-compute.json
Labels: onboarding

#9683 🆙 Update `tech-docs-github-pages-publisher` to `v5.1.0`
  .github/workflows/publish-gh-pages.yml
  .gitignore
  .lycheeignore
  makefile
  source/images/favicon.ico
  source/javascripts/govuk_frontend.js
Labels: github-workflow, documentation

#9693 SSM Session Access Role
  policies/collaborators/collaborators.rego
  policies/collaborators/collaborators_test.rego
  terraform/environments/bootstrap/member-bootstrap/collaborators.tf
  terraform/environments/bootstrap/single-sign-on/main.tf
  terraform/environments/bootstrap/single-sign-on/policies.tf
  terraform/single-sign-on/outputs.tf
  terraform/single-sign-on/sso-permission-sets.tf
Labels: testing

#9696 Add ssm-session-access role to sprinkler
  .github/workflows/terraform-github.yml
  environments/sprinkler.json
Labels: onboarding, github-workflow

#9697 Add documentation for new `SSM Session Access` Role
  source/user-guide/platform-user-roles.html.md.erb
Labels: documentation

#9698 Reverts new-member-envrionment-files workflow to last known working version due to issue.
  .github/workflows/new-member-environment-files.yml
Labels: github-workflow

#9701 CC-3330: Added SSO group for MOJFIN SSM users
  environments/mojfin.json
Labels: onboarding

#9712 Update test_rules.json
  terraform/environments/core-network-services/firewall-rules/test_rules.json
Labels: core, networking

#9716 issue/9024-1 - bootstrap-sprinkler
  .github/workflows/bootstrap-sprinkler.yml
Labels: github-workflow

#9717 issue/9024-2
  .github/workflows/upload-cost-explorer-to-s3.yml
Labels: github-workflow

#9719 issue/9024-4
  .github/workflows/terraform-member-environment.yml
Labels: github-workflow

#9720 issue/9024-5
  .github/workflows/remove-default-vpc.yml
Labels: github-workflow

#9734 update aws nuke refs to maintained repo
  source/concepts/environments/auto-nuke.html.md.erb
Labels: documentation

#9733 Issue/9024-8
  .github/workflows/collaborator-inactivity-monitoring.yml
  .github/workflows/failed-workflows-report.yml
  .github/workflows/modernisation-member-information.yml
  .github/workflows/publish-gh-pages.yml
  .github/workflows/terraform-github.yml
Labels: github-workflow

#9736 #9024-Bugs
  .github/workflows/access-keys-monitoring.yml
  .github/workflows/secrets-rotation-reminder.yml
Labels: github-workflow

#9740 issue/9024-9
  .github/workflows/confirm-contacts-for-environments.yml
  .github/workflows/failed-workflows-report.yml
  .github/workflows/terraform-static-analysis.yml
Labels: github-workflow

#9739 TM-1154: core-shared-services-fixngo-patching
  terraform/environments/core-shared-services/ad-fixngo.tf
Labels: core

#9745 issue/9024-10
  .github/workflows/generate-dependabot-file.yml
  .github/workflows/new-environment-files.yml
  .github/workflows/new-member-environment-files.yml
  .github/workflows/secrets-rotation-reminder.yml
Labels: github-workflow

#9754 Adds missing id-token: write permissions.
  .github/workflows/generate-dependabot-file.yml
  .github/workflows/new-environment-files.yml
  .github/workflows/new-member-environment-files.yml
Labels: github-workflow

#9759 adds new sm endpoint for yjb-development vpc
  environments-networks/yjb-development.json
Labels: onboarding

#9763 Feature 9556 auto pruning of stale branches
  .github/workflows/prune-stale-branches.yml
Labels: github-workflow

#9765 tm-1154-fixngo-instance-patching-baseline
  terraform/environments/core-shared-services/ad-fixngo.tf
Labels: core

#9776 amendment to commit workflow
  .github/workflows/reusable-signed-commit.yml
Labels: github-workflow

#9772 Fix action reviewers for Delius Alfresco
  environments/delius-alfresco.json
Labels: onboarding

#9780 reverts doc changes from pr 9764
  source/getting-help/index.html.md.erb
  source/runbooks/creating-accounts-for-end-users.html.md.erb
  source/runbooks/revoke-network-access.html.md.erb
  source/runbooks/yjaf-account-creation.html.md.erb
  source/runbooks/yjaf-delete-account.html.md.erb
  source/user-guide/creating-networking.html.md.erb
  source/user-guide/deploying-your-application.html.md.erb
Labels: documentation

#9781 Update docs to keep them up-to-date
  source/getting-help/index.html.md.erb
  source/runbooks/creating-accounts-for-end-users.html.md.erb
  source/runbooks/revoke-network-access.html.md.erb
  source/runbooks/yjaf-account-creation.html.md.erb
  source/runbooks/yjaf-delete-account.html.md.erb
  source/user-guide/creating-networking.html.md.erb
  source/user-guide/deploying-your-application.html.md.erb
Labels: documentation

#9784 Update youth-justice-app-framework.json
  environments/youth-justice-app-framework.json
Labels: onboarding

#9794 Re-adds the use of secrets management workflows.
  .github/workflows/publish-gh-pages.yml
Labels: github-workflow

#9797 Reverts back to previous version.
  .github/workflows/publish-gh-pages.yml
Labels: github-workflow

#9808 Add Entra ID group to Core-Shared-Services Account
  environments/core-shared-services.json
Labels: onboarding

#9810 Allow LAA LZ UAT Oracle access to MP Preprod for MLRA
  terraform/environments/core-network-services/firewall-rules/preproduction_rules.json
Labels: core, networking

#9813 Adds entra id group to core accounts
  environments/core-logging.json
  environments/core-network-services.json
  environments/core-security.json
  environments/core-vpc.json
Labels: onboarding

#9816 Update laa_uat_to_mp_laa_preproduction rule to allow all ports
  terraform/environments/core-network-services/firewall-rules/preproduction_rules.json
Labels: core, networking

#9815 Review of Documents which are due a review
  source/runbooks/recreate-core-network-services-account.html.md.erb
  source/runbooks/recreate-core-vpc-$environment-accounts.html.md.erb
  source/user-guide/deploying-your-infrastructure.html.md.erb
  source/user-guide/production-ready-checklist.html.md.erb
  source/user-guide/quick-start-mac-guide.html.md.erb
Labels: documentation

#9821 VPC endpoints for youth justice
  environments-networks/yjb-development.json
  environments-networks/yjb-preproduction.json
  environments-networks/yjb-production.json
  environments-networks/yjb-test.json
Labels: onboarding

#9830 Doc review
  source/runbooks/integration-with-protective-monitoring.html.md.erb
Labels: documentation

#9832 New Documentation for ami Licensing
  source/images/ami-cat.png
  source/images/ami-prodselect.png
  source/images/grantscreen.png
  source/user-guide/how-to-subscribe-to-ami.html.md.erb
Labels: documentation

#9835 Issue/9024 remove secrets
  architecture-decision-record/0010-terraform-module-strategy.md
  source/concepts/sdlc/repositories.html.md.erb
  source/concepts/sdlc/user-workflow.html.md.erb
  source/index.html.md.erb
  source/runbooks/using-secrets-in-github-workflows.html.md.erb
  source/user-guide/deploying-your-infrastructure.html.md.erb
  terraform/github/repositories.tf
Labels: documentation

#9836 TM-1190 Update CWA Test env permissions
  environments/contract-work-administration.json
Labels: onboarding

#9839 🛂 Add smtp.office365.com to fqdn rules
  terraform/environments/core-network-services/firewall-rules/fqdn_rules.json
Labels: core, networking

#9841 Removes the two existing accounts for eric.
  environments-networks/laa-production.json
  environments-networks/laa-test.json
  environments/eric.json
  policies/environments/expected.rego
  policies/networking/expected.rego
  terraform/environments/eric/backend.tf
  terraform/environments/eric/base_variables.tf
  terraform/environments/eric/data.tf
  terraform/environments/eric/locals.tf
  terraform/environments/eric/networking.auto.tfvars.json
  terraform/environments/eric/providers.tf
  terraform/environments/eric/secrets.tf
  terraform/environments/eric/subnet_share.tf
  terraform/environments/eric/versions.tf
Labels: onboarding, testing

#9843 Document review
  source/runbooks/deleting-an-environment.html.md.erb
Labels: documentation

#9845 Deleted data-platform-admin-and-tools environments.
  environments-networks/platforms-development.json
  environments-networks/platforms-production.json
  environments/data-platform-apps-and-tools.json
  policies/environments/expected.rego
  policies/networking/expected.rego
  terraform/environments/data-platform-apps-and-tools/backend.tf
  terraform/environments/data-platform-apps-and-tools/base_variables.tf
  terraform/environments/data-platform-apps-and-tools/data.tf
  terraform/environments/data-platform-apps-and-tools/locals.tf
  terraform/environments/data-platform-apps-and-tools/networking.auto.tfvars.json
  terraform/environments/data-platform-apps-and-tools/providers.tf
  terraform/environments/data-platform-apps-and-tools/secrets.tf
  terraform/environments/data-platform-apps-and-tools/subnet_share.tf
  terraform/environments/data-platform-apps-and-tools/versions.tf
Labels: onboarding, testing

#9848 Removes references to data-platform-apps-and-tools-development & production
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#9788 Bump core-logging s3 modules to `v8.2.1`
  terraform/environments/core-logging/athena.tf
  terraform/environments/core-logging/cortex.tf
  terraform/environments/core-logging/observability.tf
  terraform/environments/core-logging/s3_logging.tf
Labels: core

#9851 Deletes the mi-platform account
  environments/mi-platform.json
  policies/environments/expected.rego
  terraform/environments/mi-platform/backend.tf
  terraform/environments/mi-platform/base_variables.tf
  terraform/environments/mi-platform/data.tf
  terraform/environments/mi-platform/locals.tf
  terraform/environments/mi-platform/networking.auto.tfvars.json
  terraform/environments/mi-platform/providers.tf
  terraform/environments/mi-platform/secrets.tf
  terraform/environments/mi-platform/versions.tf
Labels: onboarding, testing

#9854 Update `core-shared-services` s3 buckets to `v8.2.1`
  terraform/environments/core-shared-services/bucket.tf
  terraform/environments/core-shared-services/s3.tf
Labels: core

#9847 Remove developer role as we have access to Admin & MP engineer role
  environments/core-logging.json
  environments/core-network-services.json
  environments/core-security.json
  environments/core-shared-services.json
  environments/core-vpc.json
Labels: onboarding

#9862 Add non prod azure team to emd
  environments/electronic-monitoring-data.json
Labels: onboarding

#9869 Adding a new PowerBI component to Analytical Platform Compute
  environments/analytical-platform-compute.json
Labels: onboarding

#9868 New runbook for Cortex Xsiam user secret.
  source/runbooks/rotating-secrets.html.md.erb
Labels: documentation

#9875 Updated deleting-an-environment runbook.
  source/runbooks/deleting-an-environment.html.md.erb
Labels: documentation

#9877 Correct workflow to be disabled.
  source/runbooks/deleting-an-environment.html.md.erb
Labels: documentation

#9880 Changed dates
  source/team/vision.html.md.erb
Labels: documentation

#9881 Remove account laa-ccms-infra-azure-ad-sso
  environments-networks/laa-development.json
  environments/laa-ccms-infra-azure-ad-sso.json
  policies/environments/expected.rego
  terraform/environments/laa-ccms-infra-azure-ad-sso/backend.tf
  terraform/environments/laa-ccms-infra-azure-ad-sso/base_variables.tf
  terraform/environments/laa-ccms-infra-azure-ad-sso/data.tf
  terraform/environments/laa-ccms-infra-azure-ad-sso/locals.tf
  terraform/environments/laa-ccms-infra-azure-ad-sso/networking.auto.tfvars.json
  terraform/environments/laa-ccms-infra-azure-ad-sso/providers.tf
  terraform/environments/laa-ccms-infra-azure-ad-sso/secrets.tf
  terraform/environments/laa-ccms-infra-azure-ad-sso/subnet_share.tf
  terraform/environments/laa-ccms-infra-azure-ad-sso/versions.tf
Labels: onboarding, testing

#9889 🔧 add new components to Analytical Platform Compute
  environments/analytical-platform-compute.json
Labels: onboarding

#9890 Add concurrency group to prevent overlapping workflow runs
  .github/workflows/scheduled-baseline.yml
Labels: github-workflow

#9891 updated Go dependencies to cover Dependabot alert
  terraform/environments/core-logging/test/go.mod
  terraform/environments/core-logging/test/go.sum
Labels: core

#9892 Rename PTTP transit gateway attachment
  terraform/environments/core-network-services/locals.tf
  terraform/environments/core-network-services/moved-rename-pttp-attachment.tf
  terraform/environments/core-network-services/transit_gateway_connections.tf
  terraform/environments/core-network-services/vpn.tf
Labels: core, networking
