Repository ministryofjustice/modernisation-platform, pull requests merged in 2025-02, with the labels that each got.

#9184 Update owner and infrastructure-support fields of dacp, tipstaff and wardship
  environments/dacp.json
  environments/tipstaff.json
  environments/wardship.json
Labels: onboarding

#9180 Updates HMPPS critical national infrastructure tags based on critical…
  environments/corporate-staff-rostering.json
  environments/planetfm.json
  environments/ppud.json
Labels: onboarding

#9186 Remove delius-nextcloud account
  environments-networks/hmpps-development.json
  environments-networks/hmpps-preproduction.json
  environments-networks/hmpps-production.json
  environments-networks/hmpps-test.json
  environments/delius-nextcloud.json
  policies/environments/expected.rego
  policies/networking/expected.rego
  terraform/environments/delius-nextcloud/backend.tf
  terraform/environments/delius-nextcloud/base_variables.tf
  terraform/environments/delius-nextcloud/data.tf
  terraform/environments/delius-nextcloud/locals.tf
  terraform/environments/delius-nextcloud/networking.auto.tfvars.json
  terraform/environments/delius-nextcloud/providers.tf
  terraform/environments/delius-nextcloud/secrets.tf
  terraform/environments/delius-nextcloud/subnet_share.tf
  terraform/environments/delius-nextcloud/versions.tf
Labels: onboarding, testing

#9188 chore: update gha reviewers for delius-mis
  environments/delius-mis.json
Labels: onboarding

#9206 Add new component request template and update destroy process to target specific components or root by default
  .github/ISSUE_TEMPLATE/new-component.yml
  .github/workflows/templates/workflow-template.yml
  terraform/templates/modernisation-platform-environments-components/platform_backend.tf
Labels: github-workflow

#9209 Add Runbook for Creating MPE Components
  source/runbooks/creating-components-for-member-applications.html.md.erb
Labels: documentation

#9211 Add ADR for Managing Environment Collaboration via Component Isolation
  architecture-decision-record/0036-managing-environment-collaboration-with-component-isolation.md
Labels: documentation

#9227 🛂 Amendments to Analytical Platform accounts
  environments/analytical-platform-common.json
  environments/analytical-platform-compute.json
  environments/analytical-platform-ingestion.json
Labels: onboarding

#9229 TM-949 Updating PCUAM CWA DEV permissions
  environments/contract-work-administration.json
Labels: onboarding

#9233 Update creating-new-dns-zones.html.md.erb
  source/runbooks/creating-new-dns-zones.html.md.erb
Labels: documentation

#9235 Update ppud.json
  environments/ppud.json
Labels: onboarding

#9236 New firewall rule for Mojo-Azure-Landing-Zone to LAA Development
  terraform/environments/core-network-services/cidr-ranges.tf
  terraform/environments/core-network-services/firewall-rules/development_rules.json
Labels: networking, core

#9244 chore: add zaizi-devs to delius-core env
  environments/delius-core.json
Labels: onboarding

#9274 Add reusable signed commit workflow
  .github/workflows/reusable-signed-commit.yml
Labels: github-workflow

#9277 Update collaborators.rego
  policies/collaborators/collaborators.rego
  policies/collaborators/collaborators_test.rego
  source/user-guide/platform-user-roles.html.md.erb
Labels: testing, documentation

#9273 Lightweight Terraform style guide
  source/index.html.md.erb
  source/team/terraform-style-guide.html.md.erb
Labels: documentation

#9279 remove secret from reusable-signed-commit.yml
  .github/workflows/reusable-signed-commit.yml
Labels: github-workflow

#9280 updated workflow for signed commits testing
  .github/workflows/generate-dependabot-signed-commits.yml
Labels: github-workflow

#9283 Update yjaf-password-reset.html.md.erb
  source/runbooks/yjaf-password-reset.html.md.erb
Labels: documentation

#9284 Update workflow
  .github/workflows/generate-dependabot-signed-commits.yml
Labels: github-workflow

#9285 Update Signed Commit Workflow
  .github/workflows/reusable-signed-commit.yml
Labels: github-workflow

#9287 #8685
  source/runbooks/backup-restore-process.html.md.erb
Labels: documentation

#9292 CC-3160: Update Firewall to allow traffic from CP to EBSDB on port 1521
  terraform/environments/core-network-services/firewall-rules/test_rules.json
Labels: networking, core

#9297 Collaborator login guidance.
  source/user-guide/working-as-a-collaborator.html.md.erb
Labels: documentation

#9298 Transit gateway circular dependency
  terraform/environments/core-network-services/versions.tf
  terraform/environments/core-vpc/8854-migrations.tf
  terraform/environments/core-vpc/transit-gateway-attachment.tf
  terraform/environments/core-vpc/versions.tf
  terraform/environments/core-vpc/vpc.tf
Labels: networking, core

#9303 Remove migrations file
  terraform/environments/core-vpc/8854-migrations.tf
Labels: networking, core

#9310 Creating additional private hosted zones for yjaf
  terraform/environments/core-network-services/route53.tf
Labels: onboarding, networking, core

#9312 Extending YJAF newly created private DNS zone
  environments-networks/yjb-preproduction.json
  environments-networks/yjb-production.json
  environments-networks/yjb-test.json
Labels: onboarding

#9313 :wrench: Update engineer access in `analytical-platform-ingestion` accounts
  environments/analytical-platform-ingestion.json
Labels: onboarding

#9319 ⏪ Revert removal of developer and sandbox access for Analytical Platform Ingestion
  environments/analytical-platform-ingestion.json
Labels: onboarding

#9335 TM-988: Enable VSS backups for DSO managed DC's
  terraform/environments/core-shared-services/ad-fixngo.tf
Labels: core

#9336 🛂 Update Analytical Platform's member account environments
  environments/analytical-platform-common.json
  environments/analytical-platform-compute.json
  environments/analytical-platform-ingestion.json
Labels: onboarding

#9337 🛂 Allow CICA devices access to Tariff.
  terraform/environments/core-network-services/cidr-ranges.tf
  terraform/environments/core-network-services/firewall-rules/development_rules.json
Labels: networking, core

#9338 Create `youth-justice-networking` account
  environments/youth-justice-networking.json
  policies/environments/expected.rego
Labels: onboarding, testing

#9340 Fix incorrect variable reference in source_ip
  terraform/environments/core-network-services/firewall-rules/development_rules.json
Labels: networking, core

#9342 Update to documentation
  source/user-guide/add-an-ecr-for-docker-images.html.md.erb
  source/user-guide/certificate-import.html.md.erb
  source/user-guide/getting-aws-credentials.html.md.erb
  source/user-guide/how-to-setup-secure-commit.html.md.erb
Labels: documentation

#9343 Remove data-and-insights-wepi
  environments-networks/hq-development.json
  environments-networks/hq-preproduction.json
  environments-networks/hq-production.json
  environments/data-and-insights-wepi.json
  policies/environments/expected.rego
  policies/networking/expected.rego
  scripts/account-deletion/example-config.txt
  terraform/environments/data-and-insights-wepi/additional_subnet_share.tf
  terraform/environments/data-and-insights-wepi/backend.tf
  terraform/environments/data-and-insights-wepi/base_variables.tf
  terraform/environments/data-and-insights-wepi/data.tf
  terraform/environments/data-and-insights-wepi/locals.tf
  terraform/environments/data-and-insights-wepi/networking.auto.tfvars.json
  terraform/environments/data-and-insights-wepi/providers.tf
  terraform/environments/data-and-insights-wepi/secrets.tf
  terraform/environments/data-and-insights-wepi/subnet_share.tf
  terraform/environments/data-and-insights-wepi/versions.tf
Labels: onboarding, testing

#9356 🐶 Daniel Docs Updates
  source/concepts/networking/subnet-nacls.html.md.erb
  source/runbooks/reviewing-dependabot-prs.html.md.erb
  source/runbooks/useful-scripts.html.md.erb
  source/user-guide/certificate-import-windows.html.md.erb
Labels: documentation

#9358 #9238 - create cooker-test
  environments/cooker.json
Labels: onboarding

#9263 enabling s3 malware protection for buckets in core-shared services
  terraform/environments/core-shared-services/s3_malware_protection.tf
Labels: core

#9363 New RAM assignment for cooker-test
  environments-networks/house-sandbox.json
  environments-networks/platforms-test.json
  policies/networking/expected.rego
Labels: onboarding, testing

#9370 Update Duty Rota responsibilities
  source/runbooks/duty-rota.html.md.erb
Labels: documentation

#9372 Switch to GitHub action from workflow
  .github/workflows/generate-dependabot-signed-commits.yml
Labels: github-workflow

#9352 Creation of docs and template on github
  source/team/operational-processes.html.md.erb
Labels: documentation

#9385 Update youth-justice-networking.json
  environments/youth-justice-networking.json
Labels: onboarding

#9388 Update user doc
  source/runbooks/adding-collaborators.html.md.erb
Labels: documentation

#9401 Provide sandbox access to MAAT account
  environments/maat.json
Labels: onboarding

#9387 Update r53 zone names
  terraform/environments/core-network-services/route53.tf
Labels: core, networking

#9402 How-to guide for state management GH action
  source/images/manage-tf-state-gh-action.png
  source/index.html.md.erb
  source/user-guide/managing-terraform-state.html.md.erb
Labels: documentation

#9405 Update workflow for testing with updated action
  .github/workflows/generate-dependabot-signed-commits.yml
Labels: github-workflow
