Repository ministryofjustice/modernisation-platform, pull requests merged in 2025-09, with the labels that each got.

#11367 Docs review 290825
  source/runbooks/slack-webhook-setup-guide.html.md.erb
  source/user-guide/managing-terraform-state.html.md.erb
Labels: documentation

#11401 ppud fix
  terraform/environments/core-network-services/locals.tf
Labels: networking, core

#11412 Retro experiment - Add kanban label to issues automatically
  .github/ISSUE_TEMPLATE/new-collaborator.yml
  .github/ISSUE_TEMPLATE/new-environment.yml
  .github/workflows/secrets-rotation-reminder.yml
  scripts/confirm-environment-owner/create-confirm-owner-issue.sh
  scripts/iam-monitoring/collaborators-inactivity-monitoring/collaborator_user_deletion_issue.sh
Labels: github-workflow

#11421 TM-1338 allow training account to pull and push images
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#11426 SASE static route test
  terraform/environments/core-network-services/locals.tf
Labels: networking, core

#11425 TM-1234: Removing-custom-alert-channel
  environments/hmpps-domain-services.json
Labels: onboarding

#11427 additional roles for laa-enterprise-service-bus-development account
  environments/laa-enterprise-service-bus.json
Labels: onboarding

#11423 New code for new accounts
  .github/workflows/create-newenv.yml
  scripts/amend-accounts.py
  scripts/create-account.py
Labels: github-workflow

#11437 🛂 Gives Data Platform Engineering access to environments and state
  environments/data-platform.json
  terraform/modernisation-platform-account/s3.tf
Labels: onboarding

#11443 Fixup - correct commit sha
  .github/workflows/publish-gh-pages.yml
  makefile
Labels: github-workflow

#11433 revert change as this static route did not fix the issue
  terraform/environments/core-network-services/locals.tf
Labels: networking, core

#11449 Revert "Amends cloudtrail bucket policy to fix PutObject AccessDenied errors."
  terraform/environments/core-logging/s3_logging.tf
Labels: core

#11453 Allow access between cp and house-sandbox vpc on mp
  terraform/environments/core-network-services/firewall-rules/sandbox_rules.json
  terraform/environments/core-network-services/locals.tf
Labels: networking, core

#11459 🔧 Fix IAM Policy for CloudTrail Central Log Bucket
  terraform/environments/core-logging/s3_logging.tf
Labels: core

#11465 Test network access between the sandboxes
  terraform/environments/core-network-services/firewall-rules/sandbox_rules.json
Labels: networking, core

#11478 Docs/10 09 25
  source/concepts/networking/r53-resolver-dns-firewall.html.md.erb
  source/team/operational-processes.html.md.erb
  source/user-guide/environment-diagram.html.md.erb
  source/user-guide/wider-moj-connectivity.html.md.erb
Labels: documentation

#11499 Fix sso_group_name typo
  environments/maatdb.json
Labels: onboarding

#11500 [HUB-148] added hub2-prod slack channel for Security Hub Slack Notifications
  environments/laa-enterprise-service-bus.json
Labels: onboarding

#11511 Create a Secure Browser Component in CCMS EBS Account
  environments/ccms-ebs.json
Labels: onboarding

#11517 add vcms access for civica developers
  environments/vcms.json
Labels: onboarding

#11521 Update ccms-oia.json
  environments/ccms-oia.json
Labels: onboarding

#11526 New Environment Request - CCMS-PUI - Step 2 Networking
  environments-networks/laa-development.json
  environments-networks/laa-preproduction.json
  environments-networks/laa-production.json
  environments-networks/laa-test.json
  policies/networking/expected.rego
Labels: onboarding, testing

#11529 added extra skips to workflow steps
  .github/workflows/account-network-update.yml
Labels: github-workflow

#11533 New Environment Request - CCMS-PUI-INTERNAL - Step 2 Networking
  environments-networks/laa-development.json
  environments-networks/laa-preproduction.json
  environments-networks/laa-production.json
  environments-networks/laa-test.json
  policies/networking/expected.rego
Labels: onboarding, testing

#11497 Major update to revoke network access runbook
  source/runbooks/revoke-network-access.html.md.erb
Labels: documentation

#11538 Updating owner as per ticket #11378
  environments/hmpps-domain-services.json
Labels: onboarding

#11540 Add delius test access for hmpps-community-payback
  environments/delius-core.json
Labels: onboarding

#11536 Update create-newenv.yml
  .github/workflows/create-newenv.yml
Labels: github-workflow

#11547 workflow change to fix the removal of issue body
  .github/workflows/create-newenv.yml
Labels: github-workflow

#11554 ✳️ Add Data Platform components
  environments/data-platform.json
Labels: onboarding

#11555 Docs reviews 18/09/2025
  source/runbooks/dos-attack.html.md.erb
  source/runbooks/modifying-scps.html.md.erb
  source/user-guide/access-key-management.html.md.erb
  source/user-guide/accessing-ec2s.html.md.erb
  source/user-guide/accessing-the-aws-console.html.md.erb
Labels: documentation

#11557 Add FQDN rule allowing all hosts to access PUI frontend
  terraform/environments/core-network-services/firewall-rules/fqdn_rules.json
Labels: networking, core

#11552 adding permissions to workflow
  .github/workflows/create-newenv.yml
Labels: github-workflow

#11574 document review
  source/runbooks/recreate-core-shared-services-production.html.md.erb
  source/runbooks/recreate-modernisation-platform-account.html.md.erb
  source/user-guide/how-to-add-default-tags.html.md.erb
Labels: documentation

#11590 Update hmpps-development.json - add lambda endpoint
  environments-networks/hmpps-development.json
Labels: onboarding

#11589 Add stephenhobden as reviewer for yjaf networking account
  environments/youth-justice-networking.json
Labels: onboarding

#11591 Update hmpps-test.json
  environments-networks/hmpps-test.json
Labels: onboarding

#11593 implementing codeowenrs to json file
  .github/workflows/create-newenv.yml
  scripts/create-account.py
Labels: github-workflow

#11601 change to how the script is run
  .github/workflows/create-newenv.yml
Labels: github-workflow

#11597 TM-1575 allow ldaps connections from legacy to MP
  terraform/environments/core-network-services/firewall-rules/production_rules.json
Labels: networking, core

#11619 Monitor and delete expired aws backup recovery points
  .github/workflows/delete-expired-recovery-points.yml
  scripts/delete-expired-backup-recovery-points.sh
Labels: github-workflow

#11588 New account for HMCTS
  environments/hmcts-claude-provider.json
  policies/environments/expected.rego
Labels: onboarding, testing

#11625 update firewall rules to allow mojfin to speak to cp
  terraform/environments/core-network-services/firewall-rules/preproduction_rules.json
  terraform/environments/core-network-services/firewall-rules/production_rules.json
Labels: networking, core

#11630 Create new ECR repos for CCMS applications
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#11641 Add additional reviewer to hmcts-claude-provider.json
  environments/hmcts-claude-provider.json
Labels: onboarding

#11642 Equip - Whitelisting for NinjaOne
  terraform/environments/core-network-services/firewall-rules/fqdn_rules.json
Labels: networking, core
