Repository ministryofjustice/modernisation-platform, pull requests merged in 2025-10, with the labels that each got.

#11657 New environment for hub2.0
  environments/laa-enterprise-service-bus.json
Labels: onboarding

#11665 Fix log group name and update KMS encryption context for public DNS query logging
  terraform/environments/core-network-services/logging.tf
Labels: networking, core

#11664 bug fix for firewall rules
  terraform/environments/core-network-services/firewall-rules/fqdn_rules.json
  terraform/modules/firewall-policy/main.tf
Labels: networking, core

#11676 Fix label formatting in issue creation for workflows
  .github/workflows/secrets-rotation-reminder.yml
  scripts/iam-monitoring/collaborators-inactivity-monitoring/collaborator_user_deletion_issue.sh
Labels: github-workflow

#11682 Fix typo in architecture decision log
  architecture-decision-record/README.md
Labels: documentation

#11684 Add rules and association to allow laa-test to ecp
  environments-networks/laa-test.json
  terraform/environments/core-network-services/firewall-rules/test_rules.json
Labels: onboarding, networking, core

#11688 Add cloudwatch log subscription filter for r53 public DNS logs
  terraform/environments/core-logging/logs_r53_public_dns_firehose.tf
  terraform/environments/core-logging/providers.tf
  terraform/environments/core-network-services/logging.tf
Labels: networking, core

#11693 🔧 Build CW Log Destination in `us-east-1`
  terraform/environments/core-logging/logs_r53_public_dns_cloudwatch.tf
Labels: core

#11696 Fix/11061 CW Logs subscription filter
  terraform/environments/core-logging/logs_r53_public_dns_cloudwatch.tf
  terraform/environments/core-logging/logs_r53_public_dns_firehose.tf
  terraform/environments/core-network-services/logging.tf
Labels: networking, core
