Repository ministryofjustice/modernisation-platform, pull requests merged in 2025-01, with the labels that each got.

#8836 New Environment Step 1 - laa-stabilisation-cdc-poc
  environments/laa-stabilisation-cdc-poc.json
  policies/environments/expected.rego
Labels: onboarding, testing

#8838 Docs Update
  source/concepts/environments/auto-nuke.html.md.erb
  source/concepts/environments/instance-scheduling.html.md.erb
  source/concepts/environments/security.html.md.erb
  source/concepts/sdlc/core-workflow.html.md.erb
  source/concepts/sdlc/user-workflow.html.md.erb
Labels: documentation

#8839 New Environment Step 2 - laa-stabilisation-cdc-poc
  environments-networks/laa-development.json
  policies/networking/expected.rego
Labels: onboarding, testing

#8842 Use `aws_vpc_endpoint_route_table_association` resource
  terraform/environments/core-shared-services/vpc.tf
Labels: core

#8843 Create new environments for YJAF
  environments/youth-justice-app-framework.json
Labels: onboarding

#8844 Add private DNS zone `development.yjaf` for internal use
  terraform/environments/core-network-services/iam.tf
  terraform/environments/core-network-services/route53.tf
Labels: core, networking

#8849 Add support for extending private DNS zone to relevant VPC
  environments-networks/yjb-development.json
Labels: onboarding

#8856 Update cooker.json
  environments/cooker.json
Labels: onboarding

#8861 Add Athena Setup for Querying Member Information
  .github/workflows/modernisation-member-information.yml
  scripts/internal/modernisation-member-information.sh
  terraform/modernisation-platform-account/athena.tf
Labels: github-workflow

#8864 Remove `MoJRedTeam` and grant`tvm-purple-team` access to cooker
  environments/cooker.json
Labels: onboarding

#8869 TM-844: update nart role to enable patching
  environments/nomis-combined-reporting.json
Labels: onboarding

#8792 adding check for no issue number
  .github/workflows/reusable_terraform_plan_apply.yml
Labels: github-workflow

#8870 Remove macie permissions and runbook
  source/index.html.md.erb
  source/runbooks/set-up-macie.html.md.erb
  terraform/environments/bootstrap/member-bootstrap/iam.tf
Labels: documentation

#8881 Update youth-justice-app-framework.json
  environments/youth-justice-app-framework.json
Labels: onboarding

#8879 :wrench: Add push/pull principals
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#8885 Update ecr_repos.tf
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#8888 :adhesive_bandage: Fix `arn:aws:iam` -> `arn:aws:lambda`
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#8891 add oracle access for delius core + mis
  terraform/environments/core-network-services/firewall-rules/development_rules.json
Labels: core, networking

#8892 Update ecr_repos.tf
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#8894 Revert "Update ecr_repos.tf"
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#8909 Force full principal for data-platform-jml-extract-lambda ECR policy
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#8897 Feature/tm 877
  terraform/environments/core-network-services/firewall-rules/preproduction_rules.json
Labels: core, networking

#8910 Issue/8674 - Production deployment dependency.
  environments/nomis.json
Labels: onboarding

#8911 Reverting JML Changes to fix core-shared-services workflows
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#8913 delius-alfresco - Create New Environment Step 1
  environments/delius-alfresco.json
  policies/environments/expected.rego
Labels: onboarding, testing

#8916 delius-alfresco - Create New Environment Networking
  environments-networks/hmpps-development.json
  environments-networks/hmpps-preproduction.json
  environments-networks/hmpps-production.json
  environments-networks/hmpps-test.json
  policies/networking/expected.rego
Labels: onboarding, testing

#8932 Update dacp.json
  environments/dacp.json
Labels: onboarding

#8937 Docs Update
  source/concepts/networking/network-firewall.html.md.erb
Labels: documentation

#8928 Update ecr_repos.tf
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#8935 new TGW code
  terraform/environments/core-network-services/providers.tf
  terraform/environments/core-network-services/transit-gateway.tf
Labels: core, networking

#8940 Correction to the provider
  terraform/environments/core-network-services/providers.tf
  terraform/environments/core-network-services/transit-gateway.tf
Labels: core, networking

#8956 add Entra group for nomis-access SSO
  environments/nomis.json
Labels: onboarding

#8963 Adds additional accounts to skip instance-scheduler.
  environments/analytical-platform-compute.json
  environments/analytical-platform-ingestion.json
  environments/cooker.json
Labels: onboarding

#8970 Issue/8674-tidyup
  terraform/environments/core-shared-services/instance-scheduler-lambda-function.tf
Labels: core

#8985 Update ADR list and add ADR for workspace use
  architecture-decision-record/0032-ncsc-pdns-not-at-platform-level.md
  architecture-decision-record/0034-use-cloud-map.md
  architecture-decision-record/0035-terraform-workspaces.md
  architecture-decision-record/README.md
Labels: documentation

#8971 Issue 8674 - Runbook for Excluding accounts from Instance Scheduler.
  source/concepts/environments/instance-scheduling.html.md.erb
Labels: documentation

#8989 Update Confirm contacts notification to use generic template
  .github/workflows/confirm-contacts-for-environments.yml
  scripts/confirm-environment-owner/owner-notification.py
Labels: github-workflow

#8996 Update Access Monitoring to use generic template
  .github/workflows/access-keys-monitoring.yml
  scripts/iam-monitoring/access-key-monitoring/notify_access_key_deletion.py
Labels: github-workflow

#9006 Issue/8617
  source/concepts/environments/backups.html.md.erb
  terraform/environments/bootstrap/single-sign-on/data.tf
  terraform/environments/bootstrap/single-sign-on/policies.tf
Labels: documentation

#8992 Validate Template Version
  .github/workflows/confirm-contacts-for-environments.yml
Labels: github-workflow

#9007 Update Workflow to Retrieve Secrets from AWS Secrets Manager
  .github/workflows/core-logging-deployment.yml
  .github/workflows/core-network-services-deployment.yml
  .github/workflows/core-security-deployment.yml
  .github/workflows/core-shared-services-deployment.yml
  .github/workflows/core-vpc-development-deployment.yml
  .github/workflows/core-vpc-preproduction-deployment.yml
  .github/workflows/core-vpc-production-deployment.yml
  .github/workflows/core-vpc-test-deployment.yml
  .github/workflows/modernisation-platform-account.yml
  .github/workflows/reusable_terraform_plan_apply.yml
  .github/workflows/terraform-github.yml
  .github/workflows/terraform-pagerduty.yml
  .github/workflows/terraform-single-sign-on.yml
Labels: github-workflow

#9011 Add reusable workflow for member account RAM association
  .github/workflows/core-vpc-development-deployment.yml
  .github/workflows/core-vpc-preproduction-deployment.yml
  .github/workflows/core-vpc-production-deployment.yml
  .github/workflows/core-vpc-test-deployment.yml
  .github/workflows/reusable-member-account-ram-association.yml
Labels: github-workflow

#9012 Add Template Validation to workflow
  .github/workflows/access-keys-monitoring.yml
Labels: github-workflow

#9013 Update workflows to use centralised secrets management references
  .github/actions/decrypt-secrets/action.yml
  .github/workflows/scheduled-baseline.yml
  .github/workflows/secrets-retrieval.yml
Labels: github-workflow

#9018 Add Template Validation to workflow
  .github/workflows/collaborator-inactivity-monitoring.yml
Labels: github-workflow

#9022 Docs
  source/concepts/environments/abac-resource-restrictions.html.md.erb
  source/runbooks/duty-rota.html.md.erb
  source/team/operational-processes.html.md.erb
Labels: documentation

#9026 Update `json-changes-notifier` to use generic template
  .github/workflows/new-environment.yml
  scripts/json-changes-notifier.py
Labels: github-workflow

#9032 add hosting-migrations team to their environments
  environments/delius-core.json
  environments/delius-iaps.json
  environments/delius-jitbit.json
  environments/delius-mis.json
  environments/delius-nextcloud.json
Labels: onboarding

#9031 Additional reviewers for YJAF
  environments/youth-justice-app-framework.json
Labels: onboarding

#9035 Create CI/CD role for Oracle CDC replacement repo
  environments/laa-stabilisation-cdc-poc.json
Labels: onboarding

#8917 Enable R53 DNS Firewall in ALERT mode
  terraform/environments/core-vpc/vpc.tf
  terraform/modules/r53-dns-firewall/README.md
  terraform/modules/r53-dns-firewall/fetch-aws-managed-domain-lists.sh
  terraform/modules/r53-dns-firewall/main.tf
  terraform/modules/r53-dns-firewall/outputs.tf
  terraform/modules/r53-dns-firewall/variables.tf
  terraform/modules/r53-dns-firewall/versions.tf
Labels: networking

#9040 Update CIDR block for `global-protect`
  terraform/environments/core-network-services/cidr-ranges.tf
Labels: networking

#9041 Remove logging/monitoring config from `r53-dns-firewall` module
  .github/workflows/core-vpc-development-deployment.yml
  .github/workflows/core-vpc-preproduction-deployment.yml
  .github/workflows/core-vpc-production-deployment.yml
  .github/workflows/core-vpc-test-deployment.yml
  terraform/modules/r53-dns-firewall/README.md
  terraform/modules/r53-dns-firewall/main.tf
Labels: github-workflow

#9029 Add Template Validation to workflow
  .github/workflows/new-environment.yml
Labels: github-workflow

#9051 chore: add zaizi-devs to delius-core-dev
  environments/delius-core.json
Labels: onboarding

#9049 Associate non-prod VPCs with cloudwatch rqlc-only and r53 dns firewall monitoring
  terraform/environments/core-logging/logging.tf
  terraform/environments/core-logging/r53_logs.tf
  terraform/environments/core-vpc/logging.tf
Labels: networking

#9078 TM-893 Add new role for MojFin lower envs for SSM users
  environments/mojfin.json
Labels: onboarding

#9077 Create GitHub Environments - Fix Pagination
  environments/sprinkler.json
  scripts/git-create-environments.sh
Labels: onboarding

#9098 issue/8695
  .github/workflows/reusable_terraform_plan_apply.yml
  scripts/get-terraform-destroy-count.sh
Labels: github-workflow

#9102 Update script to filter Azure Teams from GitHub
  environments/sprinkler.json
  scripts/git-create-environments.sh
Labels: onboarding

#8933 allow legacy eng dev to connect to mp dev oracle
  terraform/environments/core-network-services/firewall-rules/development_rules.json
Labels: networking

#9122 revised the date to keep docs up to date
  source/runbooks/adding-a-new-sso-user-role.html.md.erb
  source/runbooks/creating-vpcs.html.md.erb
Labels: documentation

#9123 feature#8739-excluding example account from nuke & adding green-ops sso
  environments/example.json
Labels: onboarding

#9125 Update repo name in OIDC role
  environments/laa-stabilisation-cdc-poc.json
Labels: onboarding

#9128 Introduce Component-Based Subfolder Structure in Modernisation Platform Environments
  .github/workflows/new-environment.yml
  scripts/provision-member-component-workspaces.sh
  scripts/provision-member-directories.sh
  terraform/templates/modernisation-platform-environments-components/platform_backend.tf
  terraform/templates/modernisation-platform-environments-components/platform_base_variables.tf
  terraform/templates/modernisation-platform-environments-components/platform_data.tf
  terraform/templates/modernisation-platform-environments-components/platform_locals.tf
  terraform/templates/modernisation-platform-environments-components/platform_providers.tf
  terraform/templates/modernisation-platform-environments-components/platform_secrets.tf
  terraform/templates/modernisation-platform-environments-components/versions.tf
Labels: github-workflow

#9130 csr add migration role
  environments/corporate-staff-rostering.json
Labels: onboarding

#9145 Update template workflow to support components in environments
  .github/workflows/templates/workflow-template.yml
Labels: github-workflow

#9149 Add components to the JSON configuration
  environments/sprinkler.json
Labels: onboarding
