Repository ministryofjustice/modernisation-platform, pull requests merged in 2025-07, with the labels that each got.

#10582 Changing dev any rule to alert
  terraform/environments/core-network-services/firewall-rules/development_rules.json
Labels: core, networking

#10584 Updating laa crime apps email contact address
  environments/maat.json
  environments/mlra.json
Labels: onboarding

#10586 Centralized WAF logging
  terraform/environments/core-logging/s3_logging.tf
Labels: core

#10587 TM-1378: Update-dc-rules-and-tags
  terraform/environments/core-shared-services/ad-fixngo.tf
Labels: core

#10585 Revert "Revert "Update vpn_attachments.json for yjaf migration""
  terraform/environments/core-network-services/vpn_attachments.json
Labels: core, networking

#10593 Revert "Revert "Revert "Update vpn_attachments.json for yjaf migration"""
  terraform/environments/core-network-services/vpn_attachments.json
Labels: core, networking

#10592 new port sets for appstream and workspaces
  terraform/environments/core-network-services/firewall-rules/sets.json
Labels: core, networking

#10602 Add AWS_REGION env and OIDC permissions to GitHub Actions workflow
  .github/workflows/update-securityhub-slack-secret.yml
Labels: github-workflow

#10717 Additional port for appstream
  terraform/environments/core-network-services/firewall-rules/sets.json
Labels: core, networking

#10738 add ecr repo for vcms
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#10737 update firewall rules to allow traffic between laa ccms vpc and nec o…
  terraform/environments/core-network-services/cidr-ranges.tf
  terraform/environments/core-network-services/firewall-rules/preproduction_rules.json
  terraform/environments/core-network-services/firewall-rules/production_rules.json
  terraform/environments/core-network-services/firewall-rules/sets.json
Labels: core, networking

#10740 chore: add github auth for laa-ccms-soa docker builds
  environments/laa-ccms-soa.json
Labels: onboarding

#10744 Putting back AWS Mannaged Key
  terraform/environments/core-logging/sqs.tf
Labels: core

#10747 changing the threshold back after successful testing
  terraform/environments/core-vpc/monitoring.tf
Labels: core, networking

#10750 Securely mask Slack webhook input in GitHub Actions
  .github/workflows/update-securityhub-slack-secret.yml
Labels: github-workflow

#10734 Production rules for appstream and shared service
  terraform/environments/core-network-services/firewall-rules/production_rules.json
Labels: core, networking

#10753 Change the thresholds back after successful testing
  terraform/environments/core-vpc/monitoring.tf
Labels: core, networking

#10763 New Environment Request - JDDH - Step 2
  environments-networks/platforms-development.json
  policies/networking/expected.rego
Labels: onboarding, testing

#10768 chore: widen soa ecr iam further
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#10771 change to uncompress firehose logs
  terraform/environments/core-logging/s3_logging.tf
Labels: core

#10779 Add legalservices.gov.uk ses validation records
  terraform/environments/core-network-services/route53.tf
Labels: core, networking

#10781 New Environment Request - APNH - Step 1
  environments/analytical-platform-next-poc-hub.json
  policies/environments/expected.rego
Labels: onboarding, testing

#10787 New Environment Request - APNP - Step 1
  environments/analytical-platform-next-poc-producer.json
  policies/environments/expected.rego
Labels: onboarding, testing

#10921 ♻️ Refactor Cloud Trail S3 Logging Bucket to Use Bucket Policy Instead of ACLs
  terraform/environments/core-logging/s3_logging.tf
Labels: core

#10924 additional port for laa port sets
  terraform/environments/core-network-services/firewall-rules/sets.json
Labels: core, networking

#10930 added example account to be nuked
  environments/example.json
Labels: onboarding

#10926 rule correction for development
  terraform/environments/core-network-services/firewall-rules/development_rules.json
Labels: core, networking

#10939 added new group for instance management permissions
  environments/ccms-ebs.json
Labels: onboarding

#10942 chore: grant sre access to mojfin
  environments/mojfin.json
Labels: onboarding

#10947 🆙 Update `tech-docs-github-pages-publisher` to `v6.0.1`
  .github/workflows/publish-gh-pages.yml
  makefile
Labels: github-workflow

#10949 deleteting laa-cwa accounts
  environments-networks/laa-development.json
  environments-networks/laa-preproduction.json
  environments-networks/laa-production.json
  environments-networks/laa-test.json
  environments/laa-cwa.json
  policies/environments/expected.rego
  policies/networking/expected.rego
  terraform/environments/laa-cwa/backend.tf
  terraform/environments/laa-cwa/base_variables.tf
  terraform/environments/laa-cwa/data.tf
  terraform/environments/laa-cwa/locals.tf
  terraform/environments/laa-cwa/networking.auto.tfvars.json
  terraform/environments/laa-cwa/providers.tf
  terraform/environments/laa-cwa/secrets.tf
  terraform/environments/laa-cwa/subnet_share.tf
  terraform/environments/laa-cwa/versions.tf
Labels: onboarding, testing

#10951 DBA-1010
  environments/delius-core.json
  environments/delius-mis.json
Labels: onboarding

#10953 Removing powerbi component
  environments/analytical-platform-compute.json
Labels: onboarding

#10954 Document review
  source/concepts/environments/problem-and-solution.html.md.erb
  source/concepts/networking/certificate-services.html.md.erb
  source/concepts/networking/instance-access-and-bastions.html.md.erb
  source/concepts/networking/networking-approach.html.md.erb
  source/concepts/networking/subnet-allocation.html.md.erb
Labels: documentation

#10955 deletion of edw aws account from MP
  environments-networks/laa-development.json
  environments-networks/laa-preproduction.json
  environments-networks/laa-production.json
  environments-networks/laa-test.json
  environments/edw.json
  policies/environments/expected.rego
  policies/networking/expected.rego
  terraform/environments/edw/backend.tf
  terraform/environments/edw/base_variables.tf
  terraform/environments/edw/data.tf
  terraform/environments/edw/locals.tf
  terraform/environments/edw/networking.auto.tfvars.json
  terraform/environments/edw/providers.tf
  terraform/environments/edw/secrets.tf
  terraform/environments/edw/subnet_share.tf
  terraform/environments/edw/versions.tf
Labels: onboarding, testing

#10956 adding rule for soa
  terraform/environments/core-network-services/firewall-rules/development_rules.json
Labels: core, networking

#10962 Deleting corporate-information-system Accounts
  environments-networks/laa-development.json
  environments-networks/laa-preproduction.json
  environments-networks/laa-production.json
  environments-networks/laa-test.json
  environments/corporate-information-system.json
  policies/environments/expected.rego
  policies/networking/expected.rego
  terraform/environments/corporate-information-system/backend.tf
  terraform/environments/corporate-information-system/base_variables.tf
  terraform/environments/corporate-information-system/data.tf
  terraform/environments/corporate-information-system/locals.tf
  terraform/environments/corporate-information-system/networking.auto.tfvars.json
  terraform/environments/corporate-information-system/providers.tf
  terraform/environments/corporate-information-system/secrets.tf
  terraform/environments/corporate-information-system/subnet_share.tf
  terraform/environments/corporate-information-system/versions.tf
Labels: onboarding, testing

#10968 Add GitHub Actions workflow for automated Terraform state unlock with environment and workspace support
  .github/workflows/terraform-unlock-state.yml
Labels: github-workflow

#10969 🔧 Fix Broken Doc Links
  source/concepts/environments/security.html.md.erb
  source/user-guide/creating-environments.html.md.erb
  source/user-guide/deploying-your-infrastructure.html.md.erb
Labels: documentation

#10963 Docs review 1707
  source/concepts/environments/auto-nuke.html.md.erb
  source/concepts/environments/instance-scheduling.html.md.erb
  source/concepts/environments/security.html.md.erb
  source/concepts/sdlc/core-workflow.html.md.erb
  source/runbooks/running-emergency-patching.html.md.erb
Labels: documentation

#11072 Remove any rule for appstream/shared services
  terraform/environments/core-network-services/firewall-rules/development_rules.json
  terraform/environments/core-network-services/firewall-rules/preproduction_rules.json
Labels: core, networking

#11079 account deletion - laa-portal-tactical
  environments/laa-portal-tactical.json
  policies/environments/expected.rego
  terraform/environments/laa-portal-tactical/backend.tf
  terraform/environments/laa-portal-tactical/base_variables.tf
  terraform/environments/laa-portal-tactical/data.tf
  terraform/environments/laa-portal-tactical/locals.tf
  terraform/environments/laa-portal-tactical/networking.auto.tfvars.json
  terraform/environments/laa-portal-tactical/providers.tf
  terraform/environments/laa-portal-tactical/secrets.tf
  terraform/environments/laa-portal-tactical/subnet_share.tf
  terraform/environments/laa-portal-tactical/versions.tf
Labels: onboarding, testing

#11080 add permissions to soa and edrms
  environments/ccms-edrms.json
  environments/laa-ccms-soa.json
Labels: onboarding

#11082 adding rules for uat to test
  terraform/environments/core-network-services/firewall-rules/test_rules.json
Labels: core, networking

#11084 Docs review 23-07
  source/concepts/sdlc/user-workflow.html.md.erb
  source/runbooks/accessing-the-observability-platform.html.md.erb
  source/runbooks/running-emergency-patching.html.md.erb
  source/user-guide/adding-vpc-endpoints.html.md.erb
  source/user-guide/environments-networks-json-explained.html.md.erb
Labels: documentation

#11086 Update ccms Thirdparty FTP eckoh ip for whitelisting
  terraform/environments/core-network-services/firewall-rules/sets.json
Labels: core, networking

#11091 new app - laa-enterprise-service-bus
  environments/laa-enterprise-service-bus.json
  policies/environments/expected.rego
Labels: onboarding, testing

#11074 remove production any rules
  terraform/environments/core-network-services/firewall-rules/production_rules.json
Labels: core, networking

#11087 development any rule removed
  terraform/environments/core-network-services/firewall-rules/development_rules.json
Labels: core, networking

#11104 🐶 Daniel the spaniel reviews
  source/concepts/networking/network-firewall.html.md.erb
  source/concepts/sdlc/repositories.html.md.erb
  source/index.html.md.erb
  source/runbooks/revoke-network-access.html.md.erb
  source/team/operational-processes.html.md.erb
Labels: documentation

#11109 Update laa-enterprise-service-bus.json
  environments/laa-enterprise-service-bus.json
Labels: onboarding

#11117 re-trigger New Environment creation for laa-service-bus account
  environments/laa-enterprise-service-bus.json
Labels: onboarding

#11119 Remove command to select workspace as already set in TF_WORKSPACE env var
  .github/workflows/terraform-unlock-state.yml
Labels: github-workflow

#11123 data-scientist role documentation
  source/user-guide/platform-user-roles.html.md.erb
Labels: documentation

#11122 New Account setup laa-enterprise-service-bus step 2
  environments-networks/laa-development.json
  policies/networking/expected.rego
Labels: onboarding, testing

#11128 Docs Update
  README.md
  source/user-guide/deploying-your-infrastructure.html.md.erb
Labels: documentation

#11136 Added SSO group `azure-aws-sso-OSPT` with read-only access
  environments/long-term-storage.json
Labels: onboarding

#11139 Granting dev access to v1-hub20-developers
  environments/laa-enterprise-service-bus.json
Labels: onboarding

#11151 Document reviews
  source/concepts/environments/abac-resource-restrictions.html.md.erb
  source/runbooks/duty-rota.html.md.erb
  source/runbooks/yjaf-account-creation.html.md.erb
  source/runbooks/yjaf-delete-account.html.md.erb
  source/runbooks/yjaf-password-reset.html.md.erb
  source/user-guide/workflow-status.html.md.erb
Labels: documentation

#11137 laa preproduction changes
  terraform/environments/core-network-services/firewall-rules/preproduction_rules.json
Labels: core, networking

#11154 🔐 Fix: Use Secure GitHub Token for Signed Commits and PR Creation
  .github/workflows/format-code.yml
Labels: github-workflow

#11152 Bump to latest release of signed-commit
  .github/workflows/new-environment-files.yml
  .github/workflows/new-member-environment-files.yml
Labels: github-workflow

#11162 Added fetch-secrets dependency
  .github/workflows/collaborator-inactivity-monitoring.yml
Labels: github-workflow

#11171 Update yjaf ecr push/pull permissions
  terraform/environments/core-shared-services/ecr_repos.tf
Labels: core

#11172 Doc updates 31/07/25
  source/runbooks/dr-process.html.md.erb
  source/team/vision.html.md.erb
  source/user-guide/creating-environments.html.md.erb
  source/user-guide/platform-user-roles.html.md.erb
  source/user-guide/security-testing-and-ithc.html.md.erb
Labels: documentation
